<table cellpadding="0" cellspacing="0" style="width:100%;">
  <tr><td style="padding:10px 0 0 0;">Hi <b style="color:#000000;"><%= @user.name_or_email %></b></td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td style="border-bottom:1px dashed; padding-bottom:10px;"><b>Here are some new updates for you on Zigzeg.</b></td></tr>
  <tr><td style="border-bottom:1px dashed; padding-bottom:10px;">
	<table style="width:100%; font-weight:900; padding-top:10px;">

      	<tr><td>You have  <a style="color:#00C6FF; font-weight:bold;"> <%= @user.messages.unread.length %> <%= link_to "new message(s)", "#{Yetting.domain}/business/messages" %></a> in your Message box</td></tr>
        <% latest_updates =  @user.latest_updates(true, 100) %>
        <% if latest_updates.length > 0 %>
          <tr><td>You have  <a style="color:#00C6FF; font-weight:bold;"> <%= @user.latest_updates(true, 100).length %> <%= link_to "new updates(s)", "#{Yetting.domain}/business/ziglist" %></a> in My Ziglist</td></tr>
          <%
            grouped = latest_updates.group_by(&:action_name)
            unless grouped['starting'].nil? %>
             <tr><td>You have  <a style="color:#00C6FF; font-weight:bold;"> <%= grouped['starting'].length %> <%= link_to "event(s)", "#{Yetting.domain}/business/ziglist" %></a> in My Ziglist that starts 2 days</td></tr>
            <% end
            unless grouped['expiring'].nil? %>
             <tr><td>You have  <a style="color:#00C6FF; font-weight:bold;"> <%= grouped['expiring'].length %> <%= link_to "offer(s)", "#{Yetting.domain}/business/ziglist" %></a> in My Ziglist that ends 2 days</td></tr>
            <% end %>
        <% end %>

      </table>
  </td></tr>
  <tr><td style="padding:10px 0;">Here are some new <span style="color:#AFD500;">Places</span>, <span style="color:#0099FF;">Events</span> and <span style="color:#FFB400;">Offers</span> which you may like…</td></tr>
  
  <div class="list ">
  <% @latest_listings.take(5).each do |listing| %>
      <% if listing.listable_type == 'Event' %>
      <tr>
  		<td style="padding:5px 0;"><a href="<%= listing.endpage_url %>"><div style="background:#0099FF;font-weight:bold; padding:5px 0; width:80px; text-align:center; float:left; color:#FFF">Event</div><div style="float:left;padding:5px 5px;"><%= listing.name rescue ''%></div></a></td>
  		</tr>
      <% elsif listing.listable_type == 'Deal' %>
      <tr>
  		<td style="padding:5px 0;"><a href="<%= listing.endpage_url %>"><div style="background:#FFB400;font-weight:bold; padding:5px 0; width:80px; text-align:center; float:left; color:#FFF">Offer</div><div style="float:left;padding:5px 5px;"><%= listing.name rescue ''%></div></a></td>
  		</tr>
      <% else %>
      <tr>
  		<td style="padding:5px 0;"><a href="<%= listing.endpage_url %>"><div style="background:#AFD500;font-weight:bold; padding:5px 0; width:80px; text-align:center; float:left; color:#FFF">Place</div><div style="float:left;padding:5px 5px;"><%= listing.name rescue ''%></div></a></td>
  </tr>
      <% end %>
 <% end %>
</table>

 
