<p><span style="font-weight:bold;">Hi </span><b style="color:#000000;"><%= @user.name_or_email %></b>,<br><br></p>
          <p>We would like to inform you that your Zigzeg for Business account has been suspended due to your violation of the terms stipulated in our <a href="<%= terms_url %>" style="font-weight:bold;">Business Service Agreement (BSA)</a>.<br><br><br></p>
					<p>We apologise for any inconvenience caused and would like to stress that we do not suspend any account based simply on complaints received. Your account was suspended based on evidence collected after an internal investigation by our team. Our customer care officers will be in touch to provide assistance and guidance to help you resolve this issue.<br><br>

Your account will be reactivated immediately once all issues have been resolved.<br><br><br></p>
          <p style="font-weight:bold;">In the meantime, if required, you may <a href="<%= Yetting.domain %>/contacts">get in touch with us</a> immediately to learn 
more.<br><br><br><br></p>
      		
