<ul>
  <li><%= link_to "Friends", contacts_path%></li>
  <li><%= link_to "Friends of Friends", friends_contacts_path %></li>
  <li><%= link_to "Your Requests", your_requests_contacts_path %></li>
  <li><%= link_to "Friend Requests", friend_requests_contacts_path %></li>
</ul>
