<div class="contact_box" id="contact_box_id_<%=user.id%>">
<a id="<%=user.id%>" href="/<%= user.username%>">
  <div style="float: left;">
    <%= image_tag user.avatar.url(:thumb), :size => "25x25", :style => "float: left;" %>
    <span class="name"><%= user.fullname.titleize %></span><div class="clr"></div>
    <span class="expertise" style="margin-left: 5px" ><%= user.expertise %></span>
  </div>
</a>
</div>