<% if current_user.is_admin? %>
  <ul style="list-style-type: none">
    <li style="float: left; padding: 5px"><%= link_to "Dashboard", dashboards_path %></li>
    <li style="float: left; padding: 5px"> | </li>
    <li style="float: left; padding: 5px"><%= link_to "Map", cms_maps_path %></li>
    <li style="float: left; padding: 5px"> | </li>
    <li style="float: left; padding: 5px"><%= link_to "Advert & Promo", cms_advertisements_path %></li>
    <li style="float: left; padding: 5px"> | </li>
    <li style="float: left; padding: 5px"><%= link_to "Users", cms_users_path %></li>
    <li style="float: left; padding: 5px"> | </li>
    <li style="float: left; padding: 5px"><%= link_to "Categories", cms_categories_path %></li>
    <li style="float: left; padding: 5px"> | </li>
    <li style="float: left; padding: 5px"><%= link_to "Communications", cms_communications_path %></li>
    <li style="float: left; padding: 5px"> | </li>
    <li style="float: left; padding: 5px"><%= link_to "Rates", cms_rates_path %></li>
  </ul>
<% elsif current_user.is_advertiser? %>
  <ul style="list-style-type: none">
    <li style="float: left; padding: 3px"><%= link_to "Dashboard", dashboards_path %></li>
  </ul>
<% else %>
  <div class="leftSidebar">
    <ul class="menu">
      <li><%= link_to "Overview", account_path, :class=> (action_name == "show" ? 'menuLink selected': 'menuLink') %></li>
      <li><%= link_to "MY ZIGLIST", ziglist_account_path, :class => (action_name == "ziglist" ? 'menuLink selected': 'menuLink') %></li>
      <li><%= link_to "MESSAGE BOX", account_messages_path, :class=> (controller_name == "messages" ? 'menuLink selected': 'menuLink') %></li>
      <li><%= link_to "PROFILE & SETTINGS", settings_account_path, :class=> (action_name == "settings" ? 'menuLink selected': 'menuLink') %></li>
    </ul>
  </div>
<% end %>

