							<div class="grid_12 detailedInfo pad_bot20">
                		<div class="grid_2 imgC radius5"><img src="/images/1.png" /></div>
                    <div class="grid_10">
                    		<div class="grid_12 bold"><b class="blue">eMERAL sQUARE</b> - BUILDING</div>
                        <div class="grid_12 dsc">Placerat cursus in ultricies, nunc in eur eokld tcurss Placerat cursus in ultricies, nunc in eur eokld tcurss Placerat cursus in ultricies, nunc in eur eokld tcurss. lajgcerat cursusj in ultricies, nunc in e Plajgcerat cursusj in ultricies, nunc in eu Plajgcerat cursusj in</div>
                    </div>
                    <div class="grid_2">&nbsp;</div><div class="grid_10 pd">&nbsp;</div>
                    <div class="grid_2 address">&nbsp;</div>
                    <div class="grid_10 no_margin">Lot 3-2F, 1st floor, Tower 7, 56, Jalan SS21/37, Section SS21 Damansara Utama, 47400  Petaling Jaya, Selangor</div>
										
               </div>
								
               