<div class="grid_12 detailedInfo pad_bot20">  
  		<div class="grid_2 imgC radius5"><img class="radius5" src="<%= @listing.listable.pictures.first.image.url(:thumb) rescue get_missing_image(@listing.listable, 't') %>" />&nbsp;</div>
      <div class="grid_10">
      		<div class="grid_12 bold ttl"><a class="no_pad" href="<%= form_url(@listing) %>"><%= truncate(@listing.name, :length => 120, :omission => "...") rescue '' %>&nbsp;</a></div>
          <div class="grid_12 dsc"><%= truncate(@listing.description, :length => 150, :omission => "...") rescue ''%></div>
      </div>
      <div class="clearfix"></div> 
      <div class="grid_2">&nbsp;</div><div class="grid_10 pd">&nbsp;</div>
      <div class="grid_2">&nbsp;</div>
      <div class="grid_10 no_margin bold ital">How to get this offer</div>
      <div class="grid_2">&nbsp;</div>
      <div class="grid_10 no_margin"><%= truncate(@listing.listable.extra_info, :length => 200, :omission => "...") rescue ''%></div>
      <div class="clearfix"></div> 
      <div class="grid_2">&nbsp;</div><div class="grid_10 pd">&nbsp;</div>
      
      <% if @listing.listable.shouts.length > 0 %>
      <% @listing.listable.shouts.order("created_at desc").take(1).each do |s|%>
      <div class="grid_2">&nbsp;<div class="shoutIcon">&nbsp;</div></div>
      <div class="grid_10 no_margin ital bold">Shout posted on <%= s.created_at.time.strftime("%a, %d %b %Y @ %I:%M%p")%></div>
      <div class="grid_2">&nbsp;</div>
      <div class="grid_10 no_margin"><%= truncate(s.content, :length => 250, :omission => "...") rescue ''%></div>
      <% end %>
      <div class="clearfix"></div> 
      <div class="grid_2">&nbsp;</div><div class="grid_10 pd">&nbsp;</div>
      <% end %>
      
      <div class="grid_2" align="right"><img src="/images/address.png" title="Address"/></div>
      <div class="grid_10 no_margin"><%= @listing.listable.map_address.complete_address rescue ''%></div>
			<div class="grid_12 space">&nbsp;</div>
      <div class="grid_2 phone" title="Contact Number">&nbsp;</div>
      <div class="grid_10 no_margin"><%= @listing.listable.telno rescue ''%></div>
      
      <% if @listing.total_rates > 0%>
      <div class="grid_12 space">&nbsp;</div>
      <div class="grid_2 rating" title="Rating">&nbsp;</div>
      <div class="grid_10 no_margin">
      <%= if @listing.total_rates > 1
              "Rated #{@listing.rating} out of 10 by #{@listing.total_rates} persons"
          else
              "Rate #{@listing.rating} out of 10 by #{@listing.total_rates} person"
          end %>
     </div>
     <% end %>
			<div class="grid_12 space">&nbsp;</div>
      <div class="grid_2 time" title="Offer duration">&nbsp;</div>
      <div class="grid_10 no_margin">
        <% unless @listing.listable.end.nil? %>
          <% if @listing.listable.ongoing %>
            On-going Offer
          <% elsif @listing.listable.end.to_time > Time.now %>
            <% difference = @listing.listable.end.to_time - Time.now %>
            <% days = (difference.round / 86400) %>
            <% hours = (difference.round / 3600) / 60 %>
            <% minutes = (difference.round / 3600) % 60 %>
            <%= days%> days : <%= hours%> hours : <%= minutes%> minutes till end of offer
          <%else%>
            Offer ended already.
          <% end%>
        <% else %>
            <% if @listing.listable.ongoing %>
              Daily Offer
            <% end %>
        <% end %>
      </div>
      <div class="clearfix"></div>
     
 </div>

