<div class="grid_12 detailedInfo pad_bot20">
  <div class="grid_2 imgC radius5">
    <img class="radius5" src="<%= @listing.listable.pictures.first.image.url(:thumb) rescue get_missing_image(@listing.listable, 't') %>" />
  </div>
  <div class="grid_10">
    <div class="grid_12 bold ttl"><a class="no_pad" href="<%= form_url(@listing) %>">
    <%= truncate(@listing.name, :length => 120, :omission => "...") rescue '' %>&nbsp;</a></div>
    <div class="grid_12 dsc"> <%= truncate(@listing.description, :length => 150, :omission => "...") %></div>
  </div>
  <div class="clearfix"></div>
  <div class="grid_2">&nbsp;</div><div class="grid_10 pd">&nbsp;</div>
  
  <% if @listing.listable.shouts.length > 0 %>
    <% @listing.listable.shouts.order('created_at desc').take(1).each do |s|%>
      <div class="grid_2">&nbsp;<div class="shoutIcon">&nbsp;</div> </div>
      <div class="grid_10 no_margin ital bold">Shout posted on <%= s.created_at.strftime("%a, %d %b %Y @ %I:%M%p")%></div>
      <div class="grid_2">&nbsp;</div>
      <div class="grid_10 no_margin"><%= truncate(s.content, :length => 250, :omission => "...") %></div>
    <% end %>
    <div class="clearfix"></div> 
    <div class="grid_2">&nbsp;</div> <div class="grid_10 pd">&nbsp;</div>
  <% end %>
  
  <div class="grid_2 address" title="Address">&nbsp;</div>
  <div class="grid_10 no_margin"><%= @listing.listable.map_address.complete_address rescue ''%></div>
  <div class="grid_12 space">&nbsp;</div>
  <div class="grid_2 phone" title="Contact Number">&nbsp;</div>
    
  <% unless @listing.listable.telno.nil?%>
  <div class="grid_10 no_margin"><%= @listing.listable.telno %></div>
  <% end%>
  
    <% if @listing.total_rates > 0%>
    <div class="grid_12 space">&nbsp;</div>
    <div class="grid_2 rating" title="Rating">&nbsp;</div>
    <div class="grid_10 no_margin">
     	<%= 	if @listing.total_rates > 1
              "Rated #{@listing.rating} out of 10 by #{@listing.total_rates} persons"
            else
              "Rated #{@listing.rating} out of 10 by #{@listing.total_rates} person"
            end %>
  
    </div>
    <% end %>

    <div class="grid_12 space">&nbsp;</div>
    <div class="grid_2 date" title="Event duration">&nbsp;</div>
    <div class="grid_10 no_margin">
      <% unless @listing.listable.event_type.nil? %>
        <% case @listing.listable.event_type.to_s 
           when "3", "4"
              if @listing.listable.event_type.to_s == "3"%>
             Every <%= @listing.listable.event_day.titleize %> of the week
             <% else %>
             Every <%= @listing.listable.event_day.to_i.ordinalize.titleize %> of the month
             <% end%>
        <% when "1", "2"%>
            <% if @listing.listable.event_type.to_s == "1"%>
              <%= @listing.listable.start_date.strftime("%d %b %Y") rescue ''%> to <%= @listing.listable.start_date.strftime("%d %b %Y") rescue ''%>
            <% else %>
              <%= @listing.listable.start_date.strftime("%d %b %Y") rescue ''%> to <%= @listing.listable.end_date.strftime("%d %b %Y") rescue ''%>
            <% end%>
        <% end %>  
      <% end %>
    </div>
 
    <% unless @listing.listable.start_time.nil? %>
      <div class="grid_12 space">&nbsp;</div>
      <div class="grid_2 time" title="Event time">&nbsp;</div>
      <div class="grid_10 no_margin">
        <%= formatted_time(@listing.listable.start_time) %> to
        <% unless @listing.listable.end_time.nil? %>
          <%= formatted_time(@listing.listable.end_time) %>
        <% end %>
      </div>
    <% end %>

</div>
