<div class="mapFooter">
  <div class="container_12">
 
    <div class="grid_12" align="center">
      <div class="slideC" align="left">
        <div id="depSlide">
          <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" >
            <%= image_tag "buttonbar.png"%>
          </a>
        </div>
      </div>
    </div>
    <div class="grid_12 pad_top mapS" align="left">
     <% if !params[:id].nil? %>
     	<div class="absolute floatSearch pad emptyBg"></div>
     <% end %>
      <div class="grid_2 prefix_1 sa" align="center"><h1 class="bold">
<% if !params[:id].nil? or !params[:search].nil? %>
Result
<% else %>
Latest
<% end %>

       </h1>
       <% unless params[:btnSearch].blank? %>
       <span class="bubble" id="counter_all"><%= @listings.total_entries %></span>
       <% end %>
      </div>
      <div class="grid_3 pl" align="center"><h1 class="bold">Places</h1>
       <% unless params[:btnSearch].blank? %>
        <span class="bubble" id="counter_places"><%= @group_listings['place'].length rescue 0%></span>
       <% end %>
      </div>
      <div class="grid_3 of"><h1 class="bold">Offers</h1>
       <% unless params[:btnSearch].blank? %>
        <span class="bubble" id="counter_deals"><%= @group_listings['deal'].length rescue 0%></span>
       <% end %>
      </div>
      <div class="grid_2 ev pad_top30"><h1 class="bold">Events</h1>
       <% unless params[:btnSearch].blank? %>
        <span class="bubble" id="counter_events"><%= @group_listings['event'].length rescue 0%></span>
       <% end %>
      </div>
    </div>
  </div>

  <div class="footerLnk">
    <div class="container_12 full">
      <div class="grid_8">
        <ul class="footerNav">
          <li><a href="/">Home</a></li>
          <li><a href="/contacts">Contact Us</a><!--<a id="zigzegcontactM" href="#zigzegcontactModal">Contact Us</a>--></li>
          <li><a href="/careers">Career</a></li>
          <li><a href="/help">Help</a></li>
        </ul>
      </div>
      <div class="grid_4 align_right pad_top gray"> Copyright © <%= Time.now.year %> ZIGZEG.COM</div>
    </div>
  </div>
</div>
