 							<div class="grid_12 detailedInfo pad_bot20">
                		<div class="grid_2 imgC radius5"><img class="radius5" src="<%= @listing.listable.profile_image.image.url(:thumb) rescue get_missing_image(@listing.listable, 't') %>" />&nbsp;</div>
                    <div class="grid_10">
                    		<div class="grid_12 ttl bold"><a href="<%= form_url(@listing) %>" target="_new" class="no_pad">
                        <%= truncate(@listing.name, :length => 120, :omission => "...") rescue '' %></a> </div>
                        <div class="grid_12 dsc"><%= truncate(@listing.description, :length => 200, :omission => "...") rescue '' %></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="grid_2">&nbsp;</div><div class="grid_10 pd">&nbsp;</div>
                    <% if @listing.listable.shouts.length > 0 %>
                      <% @listing.listable.shouts.order("created_at desc").take(1).each do |s|%>
                        <div class="grid_2">&nbsp;<div class="shoutIcon">&nbsp;</div></div>
                        <div class="grid_10 no_margin ital bold">Shout posted on <%= s.created_at.strftime("%a, %d %b %Y @ %I:%M%p")%></div>
                        <div class="grid_2">&nbsp;</div>
                        <div class="grid_10 no_margin"><%= truncate(s.content, :length => 250, :omission => "...") rescue ''%></div>
                      <% end %>
                      <div class="clearfix"></div>
                      <div class="grid_2">&nbsp;</div><div class="grid_10 pd">&nbsp;</div>
                    <% end %>
                    
                    <div class="grid_2 address" title="Address">&nbsp;</div>
                    <div class="grid_10 no_margin"><%= @listing.listable.address.complete_address rescue ''%>&nbsp;</div>
										<div class="grid_12 space">&nbsp;</div>
                    <div class="grid_2 phone" title="Contact Number">&nbsp;</div>
                    <div class="grid_10 no_margin"><%= @listing.listable.telephone_numbers rescue ''%></div>
                    <% if @listing.total_rates > 0%>
                    <div class="grid_12 space">&nbsp;</div>
                    <div class="grid_2 rating" title="Rating">&nbsp;</div>
                    <div class="grid_10 no_margin">
                    <%= 	if @listing.total_rates > 1
                      "Rated #{@listing.rating} out of 10 by #{@listing.total_rates} persons"
                    else
                      "Rated #{@listing.rating} out of 10 by #{@listing.total_rates} person"
                    end %>
                    </div>
                    <% end %>
										<div class="grid_12 space pad_top5">&nbsp;</div>
                    <div class="grid_2">&nbsp;</div>
                    <div class="grid_2 blue margin_left_10 width20"><div class="ctr pl">&nbsp;</div><a class="no_pad noCursor noDecor noHover"><span class="num">0 Place</span></a></div>
                    
                    <div class="grid_2 width20"><div class="ctr of">&nbsp;</div>
                    <% if @listing.listable.pub_deals.length > 0 %>
                    		<a target="_blank"  href="<%= form_url(@listing) %>#offersTitle" class="no_pad">
                    <% else %>
                    		<a class="no_pad noCursor noDecor noHover">
                    <% end %>
                    <span class="num"><%= @listing.listable.pub_deals.length rescue 0%> 
                    Offer<% if @listing.listable.pub_deals.length > 1 %>s<% end %></span></a></div>
                    
                    <div class="grid_2 suffix_2 width20"><div class="ctr ev">&nbsp;</div>
                    <% if @listing.listable.pub_events.length > 0 %>
                    		<a target="_blank"  href="<%= form_url(@listing) %>#eventsTitle" class="no_pad">
                    <% else %>
                    		<a class="no_pad noCursor noDecor noHover">
                    <% end %>
                    
                    <span class="num"><%= @listing.listable.pub_events.length rescue 0%> 
                    Event<% if @listing.listable.pub_events.length > 1 %>s<% end %></span></a></div>
                   
                    
               </div>
								
               
