<%
lat = 3.108200
lng = 101.699409

unless params[:id].blank?
  zoom = 16
else
  zoom = 12
end
%>
<script type="text/javascript">

 page_params = "<%= raw(formatted_params(params) ) %>"
var search_str = "<%= params[:search]%>";
var initial_load_number = <%= Constant::MAP_INITIAL_NUMBER %>
var more_load_number = <%= Constant::MAP_MORE_NUMBER %>
var  markersArray = [];
var page = 1;
var listing_type = '';
var search_str = "<%= params[:search] %>";
function doSomething() {
		//$('.sResult .result .resultList').css('height',$('.sResult .result').height()-$('#titleContain').height()-70);
		<% unless params[:search].nil? %>
				$('.sResult .result .resultList').css('max-height',$(window).height()-390-$('#titleContain').height());
		<% else %>
        $('.sResult .result .resultList').css('max-height',$(window).height()-380-$('#titleContain').height());
    <% end %>
};
var resizeTimer;
$(window).resize(function() {
    clearTimeout(resizeTimer);
    resizeTimer = setTimeout(doSomething, 0);
});
  
	function initialize() {
	// Create an array of styles.
    var pinkParksStyles = [{featureType: "poi", stylers: [{ saturation: -80 }, { visibility: "off"}]}, {featureType: "all", stylers: [{ saturation: -80 }]} ];
  
    var pinkMapType = new google.maps.StyledMapType(pinkParksStyles, {name: "Map"});
    var myLatlng = new google.maps.LatLng(<%= lat %>, <%= lng %>);
    var myOptions = {
      zoom: <%= zoom %>,
      center: myLatlng,
      minZoom: 6,
      mapTypeControl: true,
      scaleControl: false,
      zoomControl: false,
			disableDefaultUI: true,
      panControl: false,
      streetViewControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControlOptions: {
        mapTypeIds: ['pink_parks' ,google.maps.MapTypeId.SATELLITE],
  	position: google.maps.ControlPosition.BOTTOM_LEFT
    	}
    };
    map = new google.maps.Map(document.getElementById('map_view'), myOptions);
    map.mapTypes.set('pink_parks', pinkMapType);
    map.setMapTypeId('pink_parks');
    <% unless params[:id].nil? %>
    map.panTo(myLatlng);
    map.panBy(-570,-430);
    <% end %>
		
    google.maps.event.addListener(map, 'zoom_changed', function() {
      var zmLvl= map.getZoom()-5;
	$('.pan.zoom h1').text(zmLvl+'x');
	$( "#zoomSlide" ).slider( "option", "value", map.getZoom() );
     });

    <% @listings.each do |listing| %>
      <%
      unless listing.listable.nil?
        image_path = case listing.listing_type
        when "deal", "event"
          listing.listable.pictures.first.image.url(:thumb) rescue get_missing_image(listing.listable, 't')
        when "place"
          listing.listable.profile_image.image.url(:thumb) rescue get_missing_image(listing.listable, 't') 
        else
        ''
        end

        unless listing.listable.map_address.nil?
          unless listing.listable.map_address.lat.nil?
      %>
          markersArray.push(
            { 
              latLng: new google.maps.LatLng(<%= listing.listable.map_address.lat %>, <%= listing.listable.map_address.lng%>),
						  id: "<%= listing.id %>", 
						  name: "<%= truncate(listing.name, :length => 73, :omission => "...") rescue '' %>",
						  type:"<%= listing.listing_type rescue '' %>",
						  markImg:'/images/<%= listing.listing_type %>s_32.png', 
						  linkA:"<%= form_url(listing) %>",
						  imgSrc:'<%= image_path%>'
					  });
				  <% end %>
				<% end %>
			<% end %>
		<% end %>

    // initialize markers
    markers = initMarkers(map, markersArray);
    <% unless params[:id].blank? %>
    	map.panTo(markersArray[0]['latLng'])
    <% end %>
  }
  google.maps.event.addDomListener(window, 'load', initialize);
	$(function(){
		$('.pan.pn_u').click(function(e) {map.panBy(0,-500);});
		$('.pan.pn_d').click(function(e) {map.panBy(0,500);});
		$('.pan.pn_l').click(function(e) {map.panBy(-500,0);});
		$('.pan.pn_r').click(function(e) {map.panBy(500,0);});
		$('.pan.zoomP').click(function(e){	map.setZoom(map.getZoom()+1); });
		$('.pan.zoomM').click(function(e){ map.setZoom(map.getZoom()-1); });
		$('#zoomSlide').slider({
			orientation: "horizontal",
			range: "min",	min: 5,max: 20,step: 1, value:11,
			stop: function(event, ui) {
					var zoom = $(this).slider( "option", "value" );
					map.setZoom(zoom);
			}
		});
		$( "#depSlide" ).slider({
			max: 100,	value:0,
			stop: function(event, ui) { 
					var val = $( "#depSlide" ).slider( "option", "value" );
						var setVal = 0;
						if(val >= 84){setVal = 100;}
						else if(val >= 50 && val <= 83){	setVal = 66;}
						else if(val >= 17 && val <= 49){	setVal = 32;}
						else{setVal = 0;}
				$( "#depSlide" ).slider( "option", "value", setVal );
			},change: function(event,ui){
			//$('.resultList').jScrollPane();
			$('#resultDock').click();
				
			var val = $( "#depSlide" ).slider( "option", "value" );
				if(val == 32){
                                  load_listing("place", initial_load_number, search_str);
				}else if(val == 66){
                                  //offers
                                  load_listing("deal", initial_load_number, search_str);
				}else if(val == 100){
                                  //events
                                  load_listing("event", initial_load_number, search_str);
				}else{
                                  load_listing("all", initial_load_number, search_str);
				}
			if($('#counter_all_search').text() > 1)
				$('#resultTxt').text('results');
			else
				$('#resultTxt').text('result');
			
			if($('#counter_all_search').text() == 0)
				$('#noListing').show();
			else
				$('#noListing').hide();
			}
		});
		<% if params[:id].nil? %>
		$('.sResult .result .resultList').css('height',$('.sResult .result').height()-$('#titleContain').height()-70);
		$('.mapS .sa').click(function(e) { $("#depSlide").slider("option", "value", 0);  });
		$('.mapS .ev').click(function(e) { $("#depSlide").slider("option", "value", 100);  });
		$('.mapS .of').click(function(e) { $("#depSlide").slider("option", "value", 66);  });
		$('.mapS .pl').click(function(e) { $("#depSlide").slider("option", "value", 32);  });
		<% else %>
			/*$("#depSlide").slider( "disable" );*/
			$(".ui-slider-handle").remove();
		<% end %>
		$('#resultDock').click(function(e) {
      $('#resultDock').hide();
			$('#resultUndock').fadeIn();
    	 doSomething()
		});
		$('.mapCntrl').mouseenter(function(e) {
      $('.controlP').animate({width: 240,left:'-10%',opacity:1});
    });
		$('.mapCntrl').mouseleave(function(e) {
      $('.controlP').animate({width: 0,left:'10%',opacity:0});
    });
		$('.sResult .closeBtn').click(function(e) {
      $('#resultDock').show();
			$('#resultUndock').fadeOut();
    });
    $("#resultDock").click();
    $(".map_listing_row").live('click', function(e){
      var listing_id = $(this).attr('data-id')
      for(var i in newMarkers){
        var result = newMarkers[i];
        if (listing_id == result.id){
          clearBoxes();
          google.maps.event.trigger(result.marker, 'click');
        }
      }
    });
		<% unless params[:search].nil? %>
				$('.sResult .result .resultList').css('max-height',$(window).height()-390-$('#titleContain').height());
		<% else %>
        $('.sResult .result .resultList').css('max-height',$(window).height()-380-$('#titleContain').height());
    <% end %>
		var settings = {
			autoReinitialise: true
		};
		$('.resultList').jScrollPane(settings);
	});
</script> 

<div class="sResult" >
<% if params[:id].nil? %>
  <div id="resultDock" class="icon cursor">
    <div class="radius15" id="counter_all_dock"><%= @listings.length%></div>
  </div>
  <div id="resultUndock" class="result radius5 dispNone">
    <a class="closeBtn cursor"><div>&nbsp;</div></a>
    <div id="titleContain" class="title"><h1 class="bold"><div class="bubble" id="counter_all_search">
    <% if params[:search].blank? %>
      <%= @listings.length %>
    <% else %>
      <%= @listings.total_entries%>
    <% end %>
    </div>
    <% unless params[:search].blank? %>
        Search <span id="resultTxt">result<% if @listings.length > 1 %>s<% end %></span> <span id="typeList"></span>
        <% else %>
        Latest <span id="typeList"></span>
        <% end %>
    </h1> 
    <% if params[:search] %>
    <div ><h1 class="bold">for "<span class="clrCh"><%= params[:search] %></span>"</h1></div>
    <div id="counter_status"></div>
    <% end %>
   </div>
    <div class="container_12 pad_top full_width rCon">
      <div class="grid_12 resultList">
      <% if @listings.length > 0 %>      
        <% @listings.each do |listing|%>
          <%= render :partial => "listing_row", :locals => { :listing => listing }%>
        <% end %>
      <% else %>      		
          <div class="grid_11 margin_left_10 bold white ">Your search for <span class="underline bWord"><%= params[:search] %></span> returned 0 matches.</div>
					<div class="grid_11 prefix_1 white">Suggestions</div>
          <div class="grid_11 prefix_1 white">- recheck your spelling</div>
          <div class="grid_11 prefix_1 white">- try to search using more general keywords</div>          
			<% end %>
      <div id="noListing" class="grid_12 dispNone bold white pad_top30" align="center">There are no listings available</div>
      </div>
     <% if @listings.total_entries > Constant::MAP_INITIAL_NUMBER %>
      <div class="pad_top pad_bot" align="center">
        <a name="load_more" class="cursor blueHover marginTop5 inlineB" id="load_more">show more</a> &nbsp;
      </div>
     	<% else %>
      <div class="clearfix">&nbsp;</div>
      <% end %>
      <% unless params[:search].nil? %>
      <a href="/maps" class="cursor radius5 fright mapLatest hoverBlue bold">Show latest listings</a>
      <% end %>
    </div>
  </div>
<% else %>
 <div id="resultDock" class="icon cursor">
    <div class="radius15" id="counter_all_dock">1</div>
  </div>
  <div id="resultUndock" class="result radius5 dispNone">
    <a class="closeBtn cursor"><div>&nbsp;</div></a>
    <div id="titleContain" class="title"><h1 class="bold"><div class="bubble" id="counter_all_search">1</div>
    Result
    </h1> 
    </div>
    <div class="container_12 pad_top full_width rCon">
      <div class="grid_12 resultList">
      <% if @listings.length > 0 %>      
        <% @listings.each do |listing|%>
          <%= render :partial => "listing_row", :locals => { :listing => listing }%>
        <% end %>     
			<% end %>     
      </div>
      <br />
<br />
      <div class="clearfix">&nbsp;</div>
      <a href="/maps" class="cursor radius5 fright mapLatest hoverBlue bold">Show latest listings</a>
     </div>
  </div>
  
<% end %>
</div>
<%= render :partial => "zoom_control", :locals => { :zoom => zoom } %>
<div id="map_view" class="mapP" style="height:90%; width:100%;"></div>
<%= render("footer")%>
