/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


input[type="text"].width {
  width: 130px;
}

#company-info {
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #EEE;
  padding: 2em 0;
}
.row {
  zoom: 1;
  margin-left: -20px;
}

.adr .fn {
  color: black;
  font: 400 1.5em/1em "Lato",Verdana,sans-serif;
}

.adr .tag-line {
  font: 300 1.1em/1.4em "Lato",Verdana,sans-serif;
}
.center {
  text-align: center;
}