<div id="looking_for">
  <div id="lf1" class="left"></div>
  <div id="lf2" class="left">
    <form method="post" >
      <%= text_field_tag("search_str", nil, :class => "rounded bigtextfield longer", :placeholder => "jobs, people, housing, items for sale, deals") %>
      <%= submit_tag("Search", :class => "rounded greybutton") %>
    </form>
  </div>
  <div id="lf3" class="right"></div>
  <div class="clr"></div>
</div>
