%div{:style => "margin-left: auto; margin-right: auto"}

#mp2
  %h1
    Personals
  - grouped_opps = @opportunities.group_by(&:created_at)
  - grouped_opps.keys.each do |key|
    %div{:style => "margin-bottom: 30px; margin-top: 10px"}
      %h2
        = "#{key.strftime('%a %B %e, %Y')}"
      = render( :partial => "opportunities/list", :locals => { :opps => grouped_opps[key] } )


%div.clr

:javascript

  function open_opp_details(opp_id) {
    $.fancybox.showActivity();
    
    $.ajax({
      url   : "/opportunities/view/",
      type	: "POST",
      data	: 'id=' + opp_id,
      success: function(data) {
        $.fancybox.hideActivity();
        $.fancybox(data, 
        {
          'autoDimensions'	: false,
    			'width'         		: 890,
    			'height'          : 450,
    			'transitionIn'		: 'none',
    			'transitionOut'		: 'none',
    			'scrolling' : 'auto'
        });
      }
    });
  };
