#remMe{ position:relative !important; padding:2px !important;}
.dpEndPage{ width:66.9%;}.dateBox{width:98% !important;}.dateEventBox{margin-left:13px;}
input[type=radio]{display:inline;}
#reportFrm ul{ margin-top:10px;}
#reportFrm ul li{padding-left:15px;}
#reportFrm ul li input[type=radio]{position:absolute; left:18px; margin-top:2px;}
.loginBar.pgTop #searchsubmit{ right:0px !important;}