.contentListView{padding-left:20px; float:left; width:80%}
.contentListView a:hover{color:#01C5FF; text-decoration:underline !important;}
.contentListView a.hover h4{color:#01C5FF;}
.contentListView p{margin-top:0 !important; margin-bottom:10px; max-height:40px; overflow:hidden;}
.contentListView h4{margin-bottom:0; word-wrap:break-word;}
.contentListView a:hover h4{color:#00BCEE;}
.contentListView div.tel{background:url("/images/tel.png") no-repeat scroll left center transparent; padding:0 15px;}
.contentListView div.address{background:url("/images/address.png") no-repeat scroll left center transparent; padding-left:15px;}
.listViewArea .premium{top:0px; left:auto; right:0px !important;}
.deals .listViewArea .premium{background:url(/images/premiumDi.png) top left no-repeat}
.events .listViewArea .premium{background:url(/images/premiumI.png) top left no-repeat}
.places .listViewArea .premium{background:url(/images/premiumPi.png) top left no-repeat}
