#featBtn{ background:url(/images/btnFeat.png) no-repeat; text-align:center; padding:5px 0; cursor:pointer; width:159px; height:24px; color:#FFFFFF;}
#featBtn:hover{ color:#4d4d4d;}
.shoutMod div{ font-weight:normal !important; float:left; width:50px; background-color:#b0d400; padding:0 5px; cursor:pointer; color:#FFFFFF !important; text-align:center; margin-left:5px;}
.shoutMod div:hover{ color:#666666 !important;}