.previewCon{position:absolute; z-index:10;}
.previewFloat{background:#000000; position:fixed; padding:17px 0 8px 0; top:0;}
#closePrev{ padding:4px 8px; background-color:#727171; color:#FFFFFF;}
#closePrev:hover{ color:#01c5ff;}