#example_previous,#example_first,#example_next,#example_last,#example_length{ display:none;}
table.display thead th:first-child,table.display tbody td:first-child{ padding-left:26px;background-position:10px 50%;}
.dataTables_info {position:absolute; color:#FFFFFF; left:26px; margin-top:10px;}
table.display thead th {	padding: 3px 18px 3px 15px;	background-color:#4D4D4D;	color:#FFFFFF;	font-weight: bold;	cursor: pointer;	* cursor: hand; background-position:0 50%;}
.dataTables_paginate {	width: 44px;	* width: 50px;	float: left;	text-align: left;}
.paging_full_numbers {	height: 22px;	line-height: 22px;	float:left;}
#example_paginate{	width:100%;	background:#4d4d4d; 	padding:9px 0; float:left;}
.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {	color:#FFFFFF;	padding: 2px 5px;	margin: 0 3px;	cursor: pointer;	*cursor: hand;}
.paging_full_numbers span:first-child {	margin:0 0 0 60px;}
.paging_full_numbers span.paginate_button:hover {	background-color: #000000;	-webkit-border-radius: 15px;	-moz-border-radius: 15px;}
.paging_full_numbers span.paginate_active {	background-color: #000000;	-webkit-border-radius: 15px;	-moz-border-radius: 15px;}
.sorting_asc {	background: url('/images/sort_asc.png') no-repeat center left;}
.sorting_desc {	background: url('/images/sort_desc.png') no-repeat center left;}
.sorting {	background: url('/images/sort_both.png') no-repeat center left;}
table.display tr {	background-color: #f8f8f8;}table.display{ width:100%;}
table.display tr.new {	background-color: #e1e1e1;}
#example_filter{ position:absolute; top:-100px; width:60%; margin:0 auto; text-align:left;}
.userTbl #example_filter{top:-80px; }
.userTbl #example_filter input{ width:80%;}
#example_filter input{ border: 1px solid #999999; height: 22px;-moz-border-radius: 5px;	-webkit-border-radius: 5px;border-radius: 5px;	behavior: url(PIE.htc);padding:9px;	outline:0;font-size:11px;	border:1px solid #d2d2d2;-moz-box-shadow:inset 0 0 5px #E9E9E9;
  -webkit-box-shadow:inset 0 0 5px #E9E9E9;  box-shadow:inset 0 0 5px #E9E9E9; margin-left:26px; width:85%;border: 1px solid #999999;}
#example_length{ position:absolute; bottom:-60px;}table.display tr td a{ color:#4d4d4d; cursor:pointer; margin-left:3px;}
table.display tr td a:hover{ color:#f29b1a; cursor:pointer;}.hide{ display:none;}
#filterSelect{ float:right; margin:-21px 0 12px 0;} #filterSelect select{ width:215px; margin-top:5px; padding:5px; background:#FFFFFF;}
#cmsTitle{position:absolute; margin:50px 0 0 13px; z-index:-1;}#cmsTitle .name{ margin-left:13px;}#cmsTitle .accounts{margin-right:140px;}
table.display tbody tr td:first-child span{ padding:6px;background:#FF0000;}
table.display tbody tr td:first-child span.overdue{background:url(/images/overdue.png) center no-repeat;}
table.display tbody tr td:first-child span.callback{background:url(/images/callback.png) center no-repeat;}
table.display tbody tr td:first-child span.suspend{background:url(/images/suspend.png) center no-repeat;}
table.display tbody tr td:first-child span.new{background:url(/images/new.png) center no-repeat;}
