<!DOCTYPE HTML>
<html lang="en" >
<head>
<meta charset="utf-8" />
<title>Zigzeg</title>
<meta name="robots" content="noindex">
<meta name="keywords" content="">
<meta name="description" content="">

<!-- favicon -->
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css">
  <!--[if IE]>
    <%= javascript_include_tag "ie-fix" %>
  <![endif]-->
</head>

<body>
<noscript><div class="ns">Your browser does not support JavaScript!</div></noscript> 
<%= yield %>

</body>
</html>
