#main.pgGal{ width:58.8%;}
.pgGal,.pgSide,.pgPlace,.pgTop,.pgPlace h6,.pgTop a,.pgRate{ font-size:13px;}
.pdT28{ padding-top:28px;}.pdT16{ padding-top:16px;}.pdT12{ padding-top:12px;}.pdT22{ padding-top:22px;}
.z10{ z-index:10;}.z15{ z-index:15 !important;}.pdT4{ padding-top:4px;}.pdT14{ padding-top:14px;}.pdT24{ padding-top:24px;}
.pgHead{ background:#525252; color:#FFFFFF; padding:28px 0 19px 0; }
.pgPlace{ background:#b0c747; padding-bottom:8px;}
.pgPlace.deal .pgHead,.pgPlace.event .pgHead{padding:28px 0 28px 0;}
.pgPlace.deal{background:#ffb400;}
.pgPlace.event{background:#0099ff;}
.pgTtl{ margin-left:15px;}.lh135{line-height:1.35em}
.pgTtl h1,.pgTtl h6{ color:#FFFFFF; margin:0; }
.pgTtl h1{ font-size:30px; line-height:30px; margin-top:-4px;}
.pgGal .ad-gallery .ad-image-wrapper{ margin:0 auto;}
.pgGal #gallery .ad-thumb-list li a img{ width:120px !important; height:88px;}
.pgGal #shoutContent li:hover{ background-color:#dedede;}
#featBtn{ background:url(/images/btnFeat.png) no-repeat; text-align:center; padding:5px 0; cursor:pointer; width:159px; height:24px; color:#FFFFFF;}
#featBtn:hover{ color:#4d4d4d;}
.shoutMod div{ font-weight:normal !important; float:left; width:50px; background-color:#b0d400; padding:0 5px; cursor:pointer; color:#FFFFFF !important; text-align:center; margin-left:5px;}
.shoutMod div:hover{ color:#666666 !important;}
.shoutMod{ display:none;}
.pgGal #shoutContent li:hover .shoutMod{ display:block;}
.pgGal .pgList a{ color:#000;}
.pgGal .pgList a:hover{ color:#01C5FF;} 
.pgGal .pgList{ background-color:#ececec; width:100%; margin:0 0 10px 0;}
.pgGal .pgImg{ width: 64px; height:64px; margin:0;}
.pgGal .pgList.deals{ background:url(/images/dealsWhite.png) no-repeat #ececec 97% 50%;}
.pgGal .pgList.events{ background:url(/images/eventsWhite.png) no-repeat #ececec 97% 50%;}
.pgHr{ height:7px; width:100%; background-color:#b0c747;}
.pgdeal .pgHr{background-color:#ffb400;}
.pgevent .pgHr{background-color:#0099ff;}
.pgGal .tag-links a{ padding:2px 7px; color:#000000; margin:8px 0 0 0; display:inline-block;}
.pgGal .tag-links a:hover{ background-color:#b0c747; color:#FFFFFF;}
.pgGal.pgdeal .tag-links a:hover{background:#ffb400;}
.pgGal.pgevent .tag-links a:hover{background:#0099ff;}
.pgSide#sidebar{ top:0; position:relative; clear:none; float:right; margin:0; width:39.6%;}
.addTop .addthis_toolbox.top a{margin:0;}
.addTop .addthis_toolbox a.addthis_button_tweet iframe{ width:100px !important; }
.addTop .addthis_button_facebook_like iframe{width:80px !important;}
.addTop .addthis_button_google_plusone div{width:70px !important;}
a .pgZig{ margin-right:10px; background:url(/images/zigBg.png) no-repeat;}
a.zigged .pgZig{ background:none;}
.pgZig div{width:50px; text-align:center; padding:0 10px 0 28px; background:url(/images/zig.png) no-repeat 14% 50%; color:#ea434a;}
.pgZig:hover div{ color:#000;}
.pgZig.noHover div{ color:#ea434a !important; cursor:default;}
.pgSide #pgSideHt{ max-height:420px; display:block;}
.pgSide .jspTrack{ background:#FFFFFF;}.pgSide .jspDrag{ background:#bbbbbb;}
.pgSide .pgContact .grid_2{ width:25%;}
.pgSide .pgLocMap div{ background:url(/images/pgLoc.png) repeat-x; padding:18px 0; color:#FFF; font-size:18px;}
.pgSide.pgevent .pgLocMap div{ background:url(/images/pgLocE.png) repeat-x;}
.pgSide.pgdeal .pgLocMap div{ background:url(/images/pgLocO.png) repeat-x;}
.pgSide .pgLocMap:hover div{ color:#000;}
#shoutTxt{width:96.5% !important;}
.pgBox{ margin:-7px 0 0 53px;}
.pgSide .addthis_toolbox{ width:77%;}
.pgSide .addthis_toolbox a{margin:0 5px 10px 0;}
.pgSide #star_value{ padding-top:10px;}
.pgSide .pre{white-space: pre-line;}
.pgSide .featIcon{ width:65px; height:48px; margin-right:10px;  background-repeat:no-repeat !important; background-position:center center !important;}.pgSide .pLft7{ padding-left:7px;}
.pgW75{ width:75%;}
.pgPlace.event .pgHead .pgTime{ background:url(/images/eventTbg.png); width:277px; height:85px;}
.pgPlace.deal .pgHead .pgTime{ background:url(/images/timeBxO.png); width:277px; height:85px;}
.pgHead .pgTimeBx{ top:-16px; left:49px;}
.pgPlace .pgBlkBx{background:url(/images/pgBox.png); width:258px; height:44px; font-size:32px; position:absolute; top:20px; left:10px;}
.pgPlace .pgBlkBx .dOffer{ padding:10px 0;}
.pgPlace .pgTimeBx .line{ top:50%; width:99%;}
.pgTime #dashboardEvent{ padding-top:16px !important;}
.pgTime #dashboardEvent #counter{ margin:0 0 0 8px !important;}
.previewFloat h1{ font-size:32px;}