@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background-color:#ffffff;
	background:url(../images/bg-home.jpg);
	}
img {
  border: 0px;
}

.left {float:left;}
.right {float:right;}
.clr {clear:both; font-size:0; height:0px; line-height:0;}

* {
	margin:0;	
	padding:0;
	}
	
h1 {
	font-size: 18px;
	font-weight: bold;
	color: #007099;
	}
	
h2 {
	font-size: 14px;
	font-weight: bold;
	color: #18576e;
	}
h4 {
	font-size: 15px;
	font-weight: bold;
	color: #007099;
	}
	
h4 span{
	font-size: 15px;
	font-weight: normal;
	color: #007099;
	}
	
h3 {font-size:12px; font-weight:bold; color:#00639c;}

.bigtextfield {
	border: 1px solid #90a4ab;
	padding: 7px 8px;
	}
.small {font-size:11px;}

.longer {
	width: 585px;
	}

.bluebutton {
	cursor: pointer;
	border: none;
	color: #fff;
	margin: 6px;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 20px;
	background: #3c9bd3; /* Old browsers */
	background: -moz-linear-gradient(top, #3c9bd3 0%, #157bab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c9bd3), color-stop(100%,#157bab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3c9bd3 0%,#157bab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3c9bd3 0%,#157bab 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #3c9bd3 0%,#157bab 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3C9BD3', endColorstr='#157BAB',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #3c9bd3 0%,#157bab 100%); /* W3C */
	}
	
.solidbluebutton {
	cursor: pointer;
	border: 1px solid#006b86;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 20px;
	background-color:#007a99;
	}

.greybutton {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	color: #0080af;
	font-size: 17px;
	font-weight: bold;
	padding: 4px 20px;
	border: 1px solid #90a4ab;
	background: #f5f7f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f7f8 17%, #d6e1ec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,#f5f7f8), color-stop(100%,#d6e1ec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f7f8 17%,#d6e1ec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f7f8 17%,#d6e1ec 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f5f7f8 17%,#d6e1ec 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F7F8', endColorstr='#D6E1EC',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f5f7f8 17%,#d6e1ec 100%); /* W3C */
	}
	
thead tr td {
	color: #5a5a5a;
	font-weight: bold;
	font-size:12px;
	text-align: left;
	background-color: #e9eaeb;
	border-top: 1px solid #dadbdd;
	border-bottom: 1px solid #dadbdd;
	padding: 8px;
	}

tbody tr td {
	padding: 0 8px;
	text-align: left;
	color: #1A1A1A;
	border-bottom: 1px dotted #c2c3c4;
	}

.rounded {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
	}

.packer {
	margin:auto;
	width: 880px;
	}
	
#page_wrap {
  background: url(../images/bg-home-header.jpg) repeat-x top;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	}
	
#header {
	height: 70px;
	padding-top: 15px;
	}

.menu {
	margin-top: 10px;
	}
	.menu ul li {
	display: inline-block;
	list-style-type: none;
	float: left;
	}
	.menu ul li a{
	padding: 4px 10px;
	text-decoration: none;
	color: #57595b;
	background:url(../images/bg-home-menu.jpg) left no-repeat;
	}
	.menu ul li a span{
	padding: 4px 5px;
	text-decoration: none;
	color: #57595b;
	background:url(../images/bg-home-menu.jpg) right no-repeat;
	}
	.menu ul li a:hover, .menu ul li a.active {
	color: #0085b6;
	}
	
#looking_for {
	text-align: center;
	margin-bottom: 20px;
	}
	#lf1 {
	display:block;
	height: 112px;
	width: 7px;
	background:url(../images/bg-lookingfor.jpg) top no-repeat;	
	}
	#lf2 {
	padding-top: 24px;
	display:block;
	height: 112px;
	width: 947px;
	background:url(../images/bg-lookingfor2.jpg) top repeat-x;	
	}
	#lf3 {
	display:block;
	height: 112px;
	width: 6px;
	background:url(../images/bg-lookingfor3.jpg) top no-repeat;	
	}
	
#most_popular {
	text-align: center;
	}
	#mp1 {
	display: block;
	height: 285px;
	width: 7px;
	background:url(../images/bg-most-popular.jpg) top no-repeat;	
	}
	#mp2 {
	padding: 10px 16px 0px 1px;
	display: block;
	min-height: 280px;
	background:url(../images/bg-most-popular2.jpg) top repeat-x;	
	margin-top: 8px;
	}
	#mp3 {
	display: block;
	height: 305px;
	width: 7px;
	background:url(../images/bg-most-popular3.jpg) top no-repeat;
	}

#footer {
  background:url(../images/bg-footer.jpg) repeat-x;
  width: 100% !important;
  clear: both;
	text-align: center;
	color: #005472;
	font-weight: bold;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}
 
.footer_menu {
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 880px;
}
.footer_menu ul {
  list-style-type: none;
  text-align: center;
}

.footer_menu ul li{
  list-style-type: none;
  float: left;
  font-size: 11px;
  font-weight: normal;
  padding: 0 10px;
  line-height: 50px;
}
.footer_menu ul li a {
  color: #1690d6;
}


input[type="checkbox"] {margin:0 4px; vertical-align:middle;}
fieldset {border:none;}
#front_signin .signin input {padding: 0px; width: 110px; font-size:11px; height: 20px}
#front_signin .signin #subfield {padding-top:1px; width: 380px; font-size: 10px; color:#777; text-align: left; position: relative}
#front_signin .signin #subfield span#fgt {padding-left:20px; }

#home_content {padding:10px 0;}
#home_content .mostpopular {width:880px; padding:10px 10px;  text-align: center; }
.home_register h4 {padding:6px 0 10px 0;}
.home_register p {padding:6px 0;}
.home_register input {width:280px;}

.searchicon {
  background: url(/images/icon-search.png) 500px 6px no-repeat white;
}

#footer_inner {
  border: 1px solid #ccc;
  width: 100% !important;
	color: #005472;
	font-weight: bold;
	font-size: 12px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
}


#footer_inner a {	
  color: #1690d6;
}
 
#footer_inner ul{
  list-style-type: none;
  text-align: center;
  position: relative;
}

#footer_inner ul li{
  list-style: none;
  float: left;
  font-size: 11px;
  font-weight: normal;
  padding: 20px;
}

#watch_demo_container {
  float: right;
  margin-right: 6px;
}
#watch_demo_container a {
  color: #1690D6;
  font-size: 14px;
  font-weight: bold
}
#watch_demo_container a:hover {
  color: red;
  font-size: 14px;
  font-weight: bold
}
#welcome {
  width: 880px;
}
.hide {
  display: none;
}

#right-pane {
  width: 300px;
  float: right;
}

#send_button a {
  float: right;
  padding: 5px 8px;
  background-color: #069;
  color: white;
  text-decoration: none;
}

.normal_ul {
  padding: 2px 10px;
  list-style: none;
  list-style-type: none;  
}

.normal_ul li {
  list-style: none;
  list-style-type: none;
  margin: 4px 4px;
}

.normal_ul li a {
  color: white;
  text-decoration: none;
  font-size: 11px;
}
.normal_button {
  position: relative;
  padding: 2px 10px;
  background-color: #007099;
  color: white;
}

.white {
  color: white;
}

.blue {
  color: #069;
}
.red {
  color: red;
}

#footer_etro {
  float: right;
  line-height: 40px;
  font-size: 10px;
  padding-right: 10px;
  padding-top: 10px;
}