#reply-message {
  margin-top: 20px;
}

#messages_list {
  margin: 0 0 0 15px;
  padding: 0;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 10px;
}

#messages_list ul {
  list-style-type: none;
  font-size: 12px;
  margin: 0;  
  display: list-item;
}

#messages_list ul li {
  margin: 10px 0px;
  border-bottom: 1px solid #ccc;
}