.session_signin {
  padding: 0 45px;
  margin: 0 auto; 0 auto;
}
.session_signin h4 {
  font-size: 16px;
  margin-bottom: 9px;
}
.username {
  display: block;
  padding-bottom: 8px;
}
.username span {
  display: block;
  font-size: 11px;
  color: #999;
  padding-bottom: 4px;
}
.username input {
  width: 296px;
  font-size: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font: 13px Arial, sans-serif;
  padding: 6px 6px 4px;
}

.password {
  display: block;
  padding-bottom: 8px;
}
.password span {
  display: block;
  font-size: 11px;
  color: #999;
  padding-bottom: 4px;
}
.password input {
  width: 296px;
  font-size: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font: 13px Arial, sans-serif;
  padding: 6px 6px 4px;
}

.signup {
  padding: 2em;
  text-align: center;
}

.subchck {
  position: relative;
  text-align: right;
  padding: 9px 0;
}
.remember {
  position: absolute;
  text-align: left; 
  left: 0;
  white-space: nowrap;
}
}