<script>
$(function() {
	$("#announcementFrm").validate({
			submitHandler: function(form) {
        form.submit();
			  $('.grayLoader').show();
			} 
	});
		var dates = $("#start_date,#end_date").datepicker({
				dateFormat:'dd/mm/yy',
        minDate: 0,
				onSelect: function( selectedDate ) {
					var option = this.id == "start_date" ? "minDate" : "maxDate",
						instance = $( this ).data( "datepicker" ),
						date = $.datepicker.parseDate(
							instance.settings.dateFormat ||
							$.datepicker._defaults.dateFormat,
							selectedDate, instance.settings );
					dates.not( this ).datepicker( "option", option, date );
				}
			}
		);
		$('#start_icon').live('click',function(){$("#start_date").datepicker( "show" )});
		$('#end_icon').live('click',function(){$("#end_date").datepicker( "show" )});
});
</script>
<div class="simpleBox clearfix">
		<h6 class="bold no_margin orange">ANNOUNCEMENT DETAILS</h6>

<%= form_for @announcement, :url => admin_announcement_path(@announcement), :html => { :id => "announcementFrm", :class => "packageFrm", :multipart => true } do |f| %>

    <div class="margin_left_20">
    <ul class="cform">
     	 <li>
         <label class="clearfix">Announcement title</label>
         <input type="text" name="announcement[title]" id="announce_title" placeholder="Announcement Title" class="required text-input fancyinput" value="<%= @announcement.title %>" />
         <div class="clearfix"><label for="announce_title" generated="false" class="error clearfix"></label></div>
       </li>
       <li>
         <label class="clearfix">Type</label>
        <select name="announcement[announce_type]" class="radius5 dob required">
         		<option value="user" <%= @announcement.announce_type == 'user' ? "selected" : "" %>>User</option>
            <option value="business" <%= @announcement.announce_type == 'business' ? "selected" : "" %>>Business</option>
         		<option value="all" <%= @announcement.announce_type == 'all' ? "selected" : "" %>>All</option>
         </select>
         <div class="clearfix"><label for="announce_type" generated="false" class="error clearfix"></label></div>
       </li>
       <li>
         <label class="clearfix">URL Link</label>
         <input type="text" name="announcement[url_link]" id="announce_url" placeholder="URL Link" class="required url text-input fancyinput" value="<%= @announcement.url_link %>"/>
         <div class="clearfix"><label for="announce_url" generated="false" class="error clearfix"></label></div>
       </li>
       <li>
         <label class="clearfix">Announcement Body</label>
        <textarea name="announcement[contents]" id="announce_body" class="required" rows="10" placeholder="Content description here..."><%= @announcement.contents %></textarea>
         <div class="clearfix"><label for="announce_body" generated="false" class="error clearfix"></label></div>
       </li>
       <li>
         <label class="clearfix">Enter start date (DDMM/YYYY)</label>
        <input type="text" readonly="readonly" name="announcement[start_date]" value="<%= formatted_date(@announcement.start_date,'yyyymmdd') rescue '' %>" id="start_date" placeholder="start date" class="required text-input fancyinput narrower" /><img src="/images/calendar.gif" id="end_icon" class="margin_left_10"/> </span>
         <div class="clearfix"><label for="start_date" generated="false" class="error clearfix"></label></div>
       </li>
       <li>
         <label class="clearfix">Enter end date (DDMM/YYYY)</label>
        <input type="text" readonly="readonly" name="announcement[end_date]" value="<%= formatted_date(@announcement.end_date, 'yyyymmdd') rescue ''%>" id="end_date" placeholder="end date" class="required text-input fancyinput narrower" /><img src="/images/calendar.gif" id="end_icon" class="margin_left_10"/> </span>
         <div class="clearfix"><label for="end_date" generated="false" class="error clearfix"></label></div>
       </li>
      </ul>
     </div>
    <div class="margin_left_20">	
      <ul class="cform category_list">
     	 	<li><label class="clearfix">Add Banner (optional)</label>
         <input type="file" name="banner" id="sub_cat0" class="text-input fancyinput" />
          <div class="clearfix"><label for="sub_cat0" generated="false" class="error clearfix"></label></div>
         </li>   
         <% if @announcement.banner.exists? %>
           <li>
             <%= image_tag @announcement.banner.url %>
           </li>
         <% end %>
     	</ul>
      <ul class="cform">
      <li><input type="submit" value="Update profile" id="userSubmitBtn" class="radius5 userButton cursor fleft" name="submit_save"/>
           <div class="grayLoader">Saving data</div></li>
      </ul>
     </div>
     
    <% end %>
</div>
