<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @user.fullname.titleize%>  - Etroduce</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="stylesheets/global.css" type="text/css" rel="stylesheet" media="screen" />
<%= stylesheet_link_tag "sessions" %>
<%= stylesheet_link_tag "opportunities" %>
<%= stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4.css" %>
<%= javascript_include_tag "jquery-1.4.1.min.js" %>

<%= javascript_include_tag "jquery.validate.min.js" %>
  
<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack.js" %>
<%= javascript_include_tag "fancybox/jquery.easing-1.3.pack.js" %>
<%= javascript_include_tag "fancybox/jquery.mousewheel-3.0.4.pack.js" %>

<!--[if lte IE 6]>
<style type="text/css">
body {behavior: url("css/csshover3.htc");}
div, a, li, input { behavior: url(css/iepngfix.htc) }
</style> 
<script type="text/javascript" src="js/png.js"></script>
<![endif]-->

</head>
<body>

<div id="page_wrap">
  <div class="packer">
    <div id="home_content">
      <%= yield -%>
    </div>
  </div>
</div>

</body>
</html>