<div id="admin-left-sidebar">
  <%= render "/cms/sidebar" %>
</div>

<h3> Add new category </h3>
<%= form_for :category, :url => cms_categories_path do |f| %>
<table style="width: 750px">
  <tr>
    <td> Category name </td>
    <td> <%= f.text_field :name %></td>
  </tr>
  <tr>
    <td> Category code </td>
    <td> <%= f.text_field :code %></td>
  </tr>
  <tr>
    <td> Parent Category </td>
    <td> <%= f.select :parent_id, @category_select, :include_blank => :true %> </td>
  </tr>
  <tr>
    <td> </td>
    <td> <%= submit_tag "Submit" %> or <%= link_to "Cancel", cms_categories_path %></td>
  </tr>
</table>
<% end %>

<div class="clear"></div>
