<%
lat = 3.13
lng = 101.62
zoom = 11
%>
<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= lat %>, <%= lng %>);
    var myOptions = {
      zoom: <%= zoom %>,
      center: myLatlng,
      panControl: false,
      zoomControl: true,
      zoomControlOptions: {
          style: google.maps.ZoomControlStyle.LARGE,
          position: google.maps.ControlPosition.LEFT_CENTER
        },
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      overviewMapControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    <% @listings.each do |listing| %>
      <% unless listing.listable.address.nil? %>
        <% 
          lng = listing.listable.address.longitude
          lat = listing.listable.address.latitude
        %>
          var thePost = new Object();
          thePost['latlng'] = new google.maps.LatLng(<%= lat %>, <%= lng %>);
          thePost['id'] = "<%= listing.id %>";
          thePost['name'] = "<%= listing.name.titleize %>";
          listings.push(thePost);
      <% end %>
    <% end %>

    map = new google.maps.Map(document.getElementById('map_view'), myOptions);

    //drop the markers
    drop_markers();
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map_view" style="height: 95%; width: 99.9%;" class="borderGray"></div>