<div class="fright">
  <div class="qlContainer">
    <div class="quicklinks alphabet container_12"> 
  		<a class="filterLetter selected" data-id=""><div class="grid_12">All</div></a>
  		<a class="filterLetter" data-id="a"><div class="grid_12">A</div></a>
      <a class="filterLetter" data-id="b"><div class="grid_12">B</div></a>
      <a class="filterLetter" data-id="c"><div class="grid_12">C</div></a>
      <a class="filterLetter" data-id="d"><div class="grid_12">D</div></a>
      <a class="filterLetter" data-id="e"><div class="grid_12">E</div></a>
      <a class="filterLetter" data-id="f"><div class="grid_12">F</div></a>
      <a class="filterLetter" data-id="g"><div class="grid_12">G</div></a>
      <a class="filterLetter" data-id="h"><div class="grid_12">H</div></a>
      <a class="filterLetter" data-id="i"><div class="grid_12">I</div></a>
      <a class="filterLetter" data-id="j"><div class="grid_12">J</div></a>
      <a class="filterLetter" data-id="k"><div class="grid_12">K</div></a>
      <a class="filterLetter" data-id="l"><div class="grid_12">L</div></a>
      <a class="filterLetter" data-id="m"><div class="grid_12">M</div></a>            
    </div>
    <div class="quicklinks alphabet container_12 set2">
      <a class="filterLetter" data-id="\d"><div class="grid_12">#</div></a> 
 			<a class="filterLetter" data-id="n"><div class="grid_12">N</div></a>
      <a class="filterLetter" data-id="o"><div class="grid_12">O</div></a>
      <a class="filterLetter" data-id="p"><div class="grid_12">P</div></a>
      <a class="filterLetter" data-id="q"><div class="grid_12">Q</div></a>
      <a class="filterLetter" data-id="r"><div class="grid_12">R</div></a>
      <a class="filterLetter" data-id="s"><div class="grid_12">S</div></a>
      <a class="filterLetter" data-id="t"><div class="grid_12">T</div></a>
      <a class="filterLetter" data-id="u"><div class="grid_12">U</div></a>
      <a class="filterLetter" data-id="v"><div class="grid_12">V</div></a>
      <a class="filterLetter" data-id="w"><div class="grid_12">W</div></a>
      <a class="filterLetter" data-id="x"><div class="grid_12">X</div></a>
      <a class="filterLetter" data-id="y"><div class="grid_12">Y</div></a>
      <a class="filterLetter" data-id="z"><div class="grid_12">Z</div></a>
    </div>
  </div>
</div>

<!--start content-->
<%
# CODES sync at lib/constant.rb

#FREE_ACCOUNTS      = 0
#SUSPENDED_ACCOUNTS = 2
#BASIC_ACCOUNTS     = 5
#PREMIUM_ACCOUNTS   = 6
#OVERDUE_ACCOUNTS   = 7
#NEW_ACCOUNTS       = 9

%>
<div id="filterSelect">
  <div class="select" data-id="Show all accounts">
    <select id="accounts_filter" class="fancyinput radius5">
			<option value="">Show all accounts</option>
      <option value="<%= Constant::FREE_ACCOUNTS %>">Show all Suspended accounts</option>
      <option value="<%= Constant::NEW_ACCOUNTS %>">Show all New accounts</option>
      <option value="<%= Constant::FREE_ACCOUNTS %>">Show all Free accounts</option>
      <option value="<%= Constant::BASIC_ACCOUNTS %>">Show all Basic accounts</option>
      <option value="<%= Constant::PREMIUM_ACCOUNTS %>">Show all Premium accounts</option>
      <option value="<%= Constant::OVERDUE_ACCOUNTS %>">Show all Overdue accounts</option>
    </select>
  </div>
  <div class="select" data-id="Show all category">
		<select id="category_filter" class="fancyinput radius5">
			<option value="">Show all category</option>
			<% Category.parent_categories.each do |cat|%>
      <option value="<%= cat.id%>"><%= cat.name.titleize %></option>
      <% end %>
    </select>
    <%=  show_loader("category") %>
  </div>
  <div class="select" data-id="Show all sub-category">
  	<select id="sub_filter" class="fancyinput radius5">
			<option value="">Show all sub-category</option>
    </select>
  </div>
</div>
<div id="page_wrap" class="fcontainer_12 clearfix adminUser">
  <div id="cmsTitle" class="clearfix full container_12" align="center"> 
    <h6 class="bold fleft name">BUSINESS ACCOUNT LIST </h6>
    <h6 class="bold orange accounts"><%= @users_count %> account(s)</h6>
  </div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
<thead>
	<tr>
		<th>Business Name</th>
		<th>Type</th>
		<th>Cat/Subcat</th>
		<th>Contacts</th>
		<th>Address</th>
		<th class="center"><img src="/images/sm_deals.png" title="Offers"></th>
    <th class="center"><img src="/images/sm_events.png" title="Events"></th>
    <th class="center"><img src="/images/sm_deals.png" title="Shouts"></th>
    <th class="center"><img src="/images/sm_events.png" title="Gallery"></th>
    <th class="hide"></th><!-- THIS IS HIDDEN ACCOUNTS FOR FILTERING USAGE -->
    <th class="hide"></th><!-- THIS IS HIDDEN CATEGORY FOR FILTERING USAGE -->
    <th class="hide"></th><!-- THIS IS HIDDEN SUB-CATEGORY FOR FILTERING USAGE -->
	</tr>
</thead>
<tbody>
  
  
  <% @users.each do |user|%>
  <tr class="<%= show_new_class(user) %>">
		<td>
		  <% unless user.has_callbacks?%>
		  <span class="callback" title="Call back"></span>
		  <% end %>
		  <% if user.has_overdue? %>
		  <span class="overdue" title="Overdue"></span>
		  <% end %>
		  <span class="<%= show_new_class(user) %>"></span>
		  <a href="<%= businessdetails_admin_advertiser_path(user) %>"><%= user.advert_company_name.titleize %></a></td>
		<td><%= show_subscription_type(user) %></td>
		<td><%= show_user_category(user) %></td>
		<td><%= show_user_contactinfo(user)%><br><%= user.email %> <strong><%= (user.status==1 ? 'active' : 'not active') %></strong> </td>
		<td><%= user.places.first.address.complete_address rescue ''%></td>
		<td class="center"><%= user.deals.length %></td>
    <td class="center"><%= user.events.length %></td>
    <td class="center"><%= user.announcements.length %></td>
    <td class="center"><%= user.places.first.pictures.length rescue 0%></td>
    <td class="hide"><%= (Time.now.year - user.created_at.year.to_i) > 0 ? "" : Constant::NEW_ACCOUNTS %></td> 
    <td class="hide">Food</td>
    <td class="hide">ddd</td>
	</tr>
	<% end %>

</tbody>
</table>

 
  </div>
  <!--end content-->
<div class="clear pad_bot"></div>
 

<script>

$("#category_filter").change(function() {
  var cat_id = $("#category_filter").val();
  $("#loader_category").show();
  $.ajax({
    type: "GET",
    cache: false,
    url: "/admin/load_select_subcategories?cat_id=" + cat_id,
    data: $(this).serializeArray(),
    success: function(data) {
      $("#sub_filter").empty();
      $("#sub_filter").append(data).fadeIn();
      $("#loader_category").hide();
    }
  });
});

</script>
