<section id="" class="fgrid_12 clearfix">
    	<div id="main" class="full_width alpha pad welcomeStep">
			<h2 class="bold">Congratulations, <span class="blue"> <%= @place.name %></span></h2>
        <p class="width90 pad_bot lh1">You have successfully registered a Zigzeg for Business Account and created your first Zigzeg Places page.<br /><br />

Below are some links which educate you on what you can do with your Zigzeg for Business account and how to fully utilise all its awesome features in order to promote your business.</p>
       			   <div class="full container_12 no_margin completeBox">
                		<a href="http://biz.zigzeg.com/" target="_new"><div class="grid_3 box tips"><h5 class="bold">Why Zigzeg?</h5></div></a>
                    <a href="/help_biz" target="_new"><div class="grid_3 box preview"><h5 class="bold">Got questions?</h5></div></a>
                    <a href="/contactus" target="_new"><div class="grid_3 box help"><h5 class="bold">Contact us</h5> </div></a>
                    <a href="/business/settings"><div class="grid_3 box do"><h5 class="bold">Go to account page</h5></div></a>
                </div>
       </div>
</section>
             
