<div id="imageDesc" class="imagePopup">
		<script type="text/javascript">
					$(function() {
						$('#galform').validate({
							submitHandler: function(form) {
									form.submit();
							}
						});
					});
		</script>
  <!--contact form-->
  <h4 class="bold">Image detail</h4>
  <%= form_tag upload_gallery_business_path, :id => "galform", :method => "post", :class => "validateform", :multipart => true do
-%>
  <%= hidden_field_tag :id, @picture.id %>
  <%= hidden_field_tag :ret_url, gallery_page_welcome_url %>
    <input type="hidden" name="image_id" id="image_id" value="<%= @picture.id%>" />
    <div class="container_12 no_margin full">
      <div class="grid_12 autowidth"><input type="file" name="upload_image" id="btnFileHidden" class="opacity0 absolute"></div>
      <div class="grid_6 no_margin" >
        <div  class="imageArea radius5 imgThumb noCursor" style="background:url(<%=  @picture.image.url((:thumb)) %>) no-repeat center">
          <a href="#companyImagex" id="profilePopx" class="imagePlusx noCursor"></a>
        </div>
      </div>
      <div class="grid_6">
      <div class="margin_left_10">
      <!--<input type="button" class="radius5 pad10 fancybutton blkBg bold btnImageUpload cursor white no_margin" value="CHOOSE
FROM PC" id="btnFileShow" name="uploadeImage">
      <p>* Please note that images larger than 2MB are not allowed.<br />* Only images in JPEG, PNG & GIF formats are
allowed.</p>-->
      </div>
      </div>
      
      <!--<div class="grid_12 pad_top bold">Image Type</div>
      <div class="grid_12">
        <select class="fancyinput radius5 full required" name="photo_type">
          <option value="">Select an image type</option>
          <option value="product" <%= @picture.picture_type == "product" ? "selected" : "" %>>Product</option>
          <option value="service" <%= @picture.picture_type == "service" ? "selected" : "" %>>Service</option>
          <option value="brand" <%= @picture.picture_type == "brand" ? "selected" : "" %>>Brand</option>
          <option value="misc" <%= @picture.picture_type == "misc" ? "selected" : "" %>>Other images</option>
        </select>
      </div>-->
      <div class="grid_12 pad_top bold">Image Title</div>
      <div class="grid_12">
        <input type="text" value="<%= @picture.name rescue '' %>" name="title" maxlength="50" id="cname" class="radius5 fancyinput
">
      </div>
      <div class="grid_12 pad_top bold">Image Description</div>
      <div class="grid_12 pad_bot"><textarea name="description" class="radius5 fancyinput" maxlength="250" rows="5"><%=
@picture.description rescue ''%></textarea></div>
      <div class="grid_12 fright pad_bot30" align="right">
        <input type="submit" class="radius5 pad10 fancybutton bold btnImageUpload cursor white no_margin
modalSave"name="uploadeImage" value='SAVE' >
        <%= show_loader("gallery") %>
        </div>
  </div>
<% end %>
<!--end form-->

<script>
$("#galformx").submit(function() {
  var id = $("#id").val();
  if (id == '')
    return false;
  $("#loader_gallery").show();
  
  $.ajax({
    type: "POST",
    cache: false,
    url: "/business/update_gallery?id=" + id,
    data: $("#galform").serializeArray(),
    success: function(data) {
      //$(".galleryThumb").append(data).fadeIn();
      $("#loader_gallery").hide();
      //$("#gallery_notifier").empty().show();
      //$("#gallery_notifier").append("Saved").fadeOut(1000);
    }
  });
});
</script>
