<div id="admin-left-sidebar">
  <%= render "/favorites/sidebar" %>
</div>

<div id="admin-center">
  <%= render "/favorites/recent" %>
</div>

<div id="admin-right">
  <%= render "/dashboards/sidebar_right" %>
</div>
