
<h3> Regular Users </h3>

<table>
  <tr>
    <td> Name </td>
    <td> Email </td>
    <td> Gender </td>
    <td> Company Name </td>
    <td> </td>
  </tr>

  <% @users.each do |u| %>
  <tr>
    <td> <%= link_to u.fullname, edit_cms_user_path(u) %> <%= (u.status) ? nil : "(disabled)" %> </td>
    <td> <%= u.username %> </td>
    <td> <%= u.gender %> </td>
    <td> <%= u.company_name %>  </td>
    <td> <%= link_to "Edit", edit_cms_user_path(u) %>  | 
      <%= link_to (u.status? ? "Disable" : "Enable"), toggle_status_cms_user_path(u) %> |
      <%= link_to "Delete", cms_user_path(u), :confirm => "Are you sure you want to delete this?", :method => :delete unless u.super_admin? %>  </td>
  </tr>
  <% end %>
</table>

