<div id="admin-left-sidebar">
  <%= render "/cms/sidebar" %>
</div>

<div id="admin-center">
  <%= render "search" %>

  <% if params[:tab].nil? %>
  <ul style="list-style-type: none">
    <li>  Members: <%= @all_users["regular"].length rescue 0%> </li>
    <li>  Advertisers: <%= @all_users["advertisers"].length rescue 0%> </li>
    <li>  Administrators: <%= @all_users["administrator"].length rescue 0 %> </li>
    <li>  Normal Administrators: <%= @all_users["normal_admin"].length rescue 0%> </li>
  </ul>
  <% else %>
  <%= render("users") %>
  <% end %>
</div>
