<div id="admin-left-sidebar">
  <%= render "/cms/sidebar" %>
</div>

<%= form_for :user, :url => cms_users_path do |f| %>
<table style="width: 750px">
  <tr>
    <td> Email address: </td>
    <td> <%= f.text_field :username %>
      <%= show_loader("check_username") %>
    </td>
  </tr>
  <tr>
    <td> Firstname </td>
    <td> <%= f.text_field :firstname %> </td>
  </tr>
  <tr>
    <td> Lastname </td>
    <td> <%= f.text_field :lastname %> </td>
  </tr>
  <tr>
    <td> Middle name </td>
    <td> <%= f.text_field :middlename %> </td>
  </tr>
  <tr>
    <td> Gender </td>
    <td> <%= f.text_field :gender %> </td>
  </tr>
  <tr>
    <td> DOB </td>
    <td> <%= f.text_field :dob %> </td>
  </tr>
  <tr>
    <td> User Type </td>
    <td> <%= f.select :user_type,  Constant::USER_TYPES %> </td>
  </tr>
  <tr>
    <td> Religion </td>
    <td> <%= f.text_field :religion %> </td>
  </tr>
  <tr>
    <td> Race </td>
    <td> <%= f.text_field :race %> </td>
  </tr>
  <tr>
    <td> Nationality </td>
    <td> <%= f.text_field :nationality %> </td>
  </tr>
  <tr>
    <td> Company name </td>
    <td> <%= f.text_field :company_name %> </td>
  </tr>
  <tr>
    <td> </td>
    <td> <%= submit_tag "Submit" %> or <%= link_to "Cancel", cms_users_path(:tab => params[:tab]) %></td>
  </tr>
</table>
<% end %>

<div class="clear"></div>

<script>

  //check if username is unique
  $("#user_username").blur(function() {
    var s = $("#user_username").val();
    if (s.length > 3) {
      $("#loader_check_username").show();
      $.ajax({
        url: "/cms/users/check_username",
        type: 'get',
        data: "email=" + $("#user_username").val(),
        success: function(data) {
          if (data == "1") {
            alert('success');
          }else{

          }
        }
      });
     }
  });

  $("#user_username").keyup(function() { 
    var s = $("#user_username").val();
    if (s.length > 3) {
      $("#loader_check_username").show();
    }
  });
</script>
