  <% unless updates.empty? %>
    <ul class="sideList new" id="whatsnew_ziglist">
    <% updates.each_with_index do |l, index| %>
      <% unless l.updateable.nil? %>
      <%  class_name = case l.updateable_type
            when "Place"
              "places"
            when "Deal"
              "deals"
            when "Event"
              "events"
            when "Shout"
              if l.updateable.shoutable.class.name == "Event"
                "events"
              elsif l.updateable.shoutable.class.name == "Deal"
                "deals"
              else
                "places"
              end
            else
              "places"
            end
      %>

      <li class="<%= class_name%> <%= (index > 9) ? "dispNone hidden_row" : "" %>">

        <% time_str = "<span>" %>
        <% time_str += distance_of_time_in_words_to_now(l.created_at) %>
        <% time_str += " ago" %>
        <% time_str += "</span>" %>

        <% if l.updateable.class.name == "Shout" %>
				  <% unless l.updateable.shoutable.nil? %>
          <% plink = "onclick=\"location.href='#{form_url(l.updateable.shoutable, {:lupt => l.id })}'\" " %>
          <%= link_to raw("<div #{plink}> #{ziglist_description(l)} #{time_str}</div>" ), form_url(l.updateable.shoutable, {:lupt => l.id }), :title => l.updateable.shoutable.name %> 
					<% end %>
        <% else %>
          <% plink = "onclick=\"location.href='#{form_url(l.updateable, {:lupt => l.id })}'\" " %>
          <%= link_to raw("<div #{plink}> #{ziglist_description(l)} #{time_str}</div>" ), form_url(l.updateable, {:lupt => l.id
}), :title => l.updateable.name %> 
        <% end %>
      </li>
    <% end %>
    <% end %>
    </ul>
  <% end %>
