<div class="container_12 pad_top" style="">
  <div class="bar"></div>
	<!--start footer-->
  <footer id="footer" class="grid_12">
    <div class="grid_6 alpha ">
      <ul class="footerNav">
        <li><a href="">About zigzeg</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Career </a></li>
      </ul>
    </div>
       
    <div class="grid_6 omega align_right">	
    	<p>Copyright © <%= Time.now.year %> Zigzeg.com</p>
    </div>
  </footer>
  <!--end footer-->
</div> 
