<div class="loginBar pages">
 		<div class="fcontainer_12" id="topArea">
      <%= render "/globals/top_admin" %>
    </div>
</div>
<div class="advertheader adminheader">

  <form action="" method="post" > 
    <div class="fcontainer_12 pad_top pad_bot">
        <!--start header-->
          <header id="header" class="fgrid_12 clearfix ">
            <!--start logo-->
            <div id="logow" class="grid_3 alpha push_3">
                <a href="<%= admin_url %>">&nbsp;</a>      	
            </div>
              <!--end logo-->
        <!--start navigation-->
              <div id="nav" class="grid_9 omega fright width90" align="right">
               <input type="text" name="search" class=""  id="search" placeholder="Search..."> 
               <input type="submit" name="btnSearch" class="fancybutton wider small_shadow margin_left_20 blkBg radius5" value="search">
              </div>
              <!--end navigation-->
          </header>
      </div>
      <div class="clearfix"></div>
  </form>

  <%= render :partial => "/admin/top_menu"%>
</div>

