<div class="messageBox clearfix">
  <h6 class="bold grid_7">ALERTS LIST</h6>
  <div class="fright filter">
    <select id="filterAlert">
      <option value="">Show All Alert</option>
      <option value="error" <%= params[:type] == 'error' ? "selected":""%>>Show only System Error</option>
      <option value="report" <%= params[:type] == "report" ? "selected" : "" %>>Show only Report Page</option>
      <option value="call" <%= params[:type] == "call" ? "selected" : "" %>>Show only Call Back</option>
      <option value="payment" <%= params[:type] == "payment" ? "selected" : "" %>>Show only Payment Alert</option>
    </select>
  </div>

  <div class="container_12 alert">
          <div class="header">
              <div class="grid_7">Alerts</div>
              <div class="grid_2">From</div>
              <div class="grid_2">Type</div>
              <div class="grid_1">Status</div>
              <div class="">&nbsp;</div>
          </div>


          <div class="body full fleft">
           <!-- NOTE: please add a class list plus the alert id of the row ex.list10 FOR CHECKING ON THE WHAT ROW TO CHANGE THE BG--> 
         <% @alerts.each do |alert| %>
           <% unless alert.reportable.nil? %>
          <div class="row  list<%= alert.id %> <%= alert.status%>">
          	  <div class="grid_7">&nbsp;<a data-id="<%= alert.id %>" <%= alert.status == 'pending' ? "class='alertDetails'" : '' %> ><%= alert.description %></a></div>
              <div class="grid_2">&nbsp;<a><%= alert.sender.name_or_email rescue '' %></a></div>
              <div class="grid_2 type"><%= alert.alert_type %></div>
              <div class="status">&nbsp;<%= alert.status %></div>
              <!-- NOTE: THIS APPEND AREA IS BASING ON THE DATA-ID NUMBER OF THE SPECIFIC ALERT --> 
              <div class="clearfix"></div>
              <div id="appendArea<%= alert.id %>"></div>
          </div>
           <% end %>
         <% end %>

        <!-- <%= "No records found." if @alerts.empty? %>-->

         </div><!-- end body -->
 
         
         <% if @alerts.length > 10 %>
         <div class="footer">
           <div class="grid_12">
             <span>Page</span>
             <ul class="pagination">
               <li><a>1</a></li>
               <li><a href=""  class="selected">2</a></li>
               <li><a href="">3</a></li>
             </ul>
           </div>
         </div>
         <% end %>

      </div>
</div>
