<div class="messageBox clearfix">
  <div class="box first"><h5 class="bold"><strong><%= @alert_hash['call'].length  rescue 0%></strong> new 'Call me back' notifications. <a href="<%= alerts_admin_path(:type => 'call') %>" data-id="3"  >Go to 'Call me back' section</a></h5></div>
  <div class="box"><h5 class="bold"><strong><%= @alert_hash['error'].length rescue 0 %></strong> new 'System error' notifications. <a href="<%= alerts_admin_path(:type => 'error') %>" data-id="1" >Go to 'System error' section</a></h5></div>
  <div class="box"><h5 class="bold"><strong><%= @messages %></strong> new 'new messages'. <a href="<%= admin_messages_path %>" class="gotomsg">Go to Message Box</a></h5></div>
  <div class="box"><h5 class="bold"><strong><%= @alert_hash['report'].length rescue 0 %></strong> new 'Report this page' notifications. <a href="<%= alerts_admin_path(:type => 'report') %>" data-id="2">Go to 'Report this page' section</a></h5></div>
            
  <div class="pad">
  <h5 class="bold orange">Site traffic load</h5>
  <img src="/images/graph.jpg">
  </div>
</div>
