

<div class="row">
  <div class="container">
    <div class="span5">
      
      <img src="/images/team.jpg" style="padding-top: 70px" width="386" height="338">
    </div>

    <div class="span6" style="width: 375px !important; padding-left: 6px !important;" id='aboutus'>
      <p >
        We're like the perfect shutter speed in the natural lighting condition with the beautiful angle. In short, we clicked. We capture our best angles - me taphorically, of course - and we developed good friendships and working relationships over coffee, reflectors and dusty and reliable DSLRs.</p>

        <p>
        But in the real world, we're not this serious.
        </p>

        <p>
        We're just a nice combination of rowdy-crazy-laugh-out-loud friends who meet for regular photo sessions. Four of us - Ann, Allen, Basti, Edwin - may seem like a careless, happy-go-lucky bunch but we are serious about our photography. Thus, when we met Roma, our model, we decided to get our act together and formed our group: KUATROMEDYA, which is loosely translated Spanish for "four and a half". We are four photographers, and the 'half' alludes to Roma's height ( or shortness thereof).</p>

        <p>
        Despite the hilarity we associate with our name, KUATROMEDYA is an up-and-coming photography group serious about our craft. We inject fun in our photo shoots, we are passionate in what we do. Enjoy browsing our website and we hope to share the fun (and the photoshoots) of KUATROMEDYA to all of you soon.
        </p>

        <p>
        Say cheese!
      </p>
      <br/>
      
      <p> Cheese and cheers,</p>
      <p style="color: #367588; font-family: 'Avenir Medium', Arial, Tahoma; font-size: 16px; font-weight: bold">KUATROMEDYA</p>

    </div>
    
  </div>
</div>