<div class="row">
  <div class="container">
    <div class="span6">
      <img src="/images/contact-team.jpg" width="420" height="358">
    </div>
    
    <div class="span5">
      <div class="bickham teal">We'd like to hear from you...</div>
      <br/>
      <% unless flash[:notice].nil?%>
      <div class="alert alert-success" style="width: 235px"><%= flash[:notice]%></div>
      <% end %>

    
      <div style="margin-left: -5px">
      <%= form_tag contactus_path do -%>
        <label class="white">info@kuatromedya.com</label>
        <input type="text" class="span3 " style="width: 280px;" name="name" placeholder="Name:">
        <input type="text" class="span3" style="width: 280px;" name="email" placeholder="Email Address:">
        <input type="text" class="span3" style="width: 280px;" name="telno" placeholder="Telephone/Mobile Number:">
        <textarea class="span3" placeholder="Message:" style="width: 280px;" name="message" rows="5" cols="5"></textarea>
        <br/>
<!--        <input type="image" class="btn" src="/images/contact-send.jpg" value=""> -->
        <input type="submit" name="submit" value="Send" class="bickham teal" style="padding: 4px; background-color: #333333; border: 0px !important">
      <% end %>
      </div>
      
    </div>
  </div>
</div>
