<p>Forgot your password? We can help you remind you by sending us your email.</p>

<div id="error">
    <%= flash[:error]%>
</div>
<div id="notice">
    <%= flash[:notice]%>
</div>

<% form_tag forgotpassword_path :method => :post do %>
Enter your email address: <%= text_field_tag "email", nil, :style => "width: 180px" %>
<%= submit_tag "Send"%>
<% end %>
  