<script type="text/javascript">
$(document).ready(function() {
	
  /*
  $('.slideshow').after('<ul id="slidenav">').cycle({ 
      fx:     'fade', 
      speed:  'slow', 
      timeout: 0, 
      pager:  '#slidenav', 

      // callback fn that creates a thumbnail to use as pager anchor 
      pagerAnchorBuilder: function(idx, slide) { 
        thumbsrc = $(slide).attr("data-id");
          return '<li><a href="#"><img src="' + thumbsrc + '" width="72" height="67" /></a></li>'; 
      } 
  });
  */

  $('.slideshow').cycle({
	fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
  });

  	
});


</script>

<div id="myCarousel" class="" style="width: 616px; margin: 0 auto;">

    <div class="slideshow">
      <% @featured.shuffle.each do |pic|%>
    		<img src="<%= pic.fimage.url(:medium) %>" width="616" height="370"  data-id="<%= pic.fimage.url(:small) %>">
    	<% end %>
    </div>

  
  </div>

</div>


<style>
#slidenav { width: 616px; margin: 10px 0px 0px 0px; background-color: red}
#slidenav li {float: left; margin: 2px; list-style: none }
#slidenav a { display: block;}
#slidenav li.activeSlide a { background: #88f; }
#slidenav a:focus { outline: none; }
#slidenav img { border: none; display: block; height: 67px; width: 72px; }
</style>