<div>
  <h3 class="avenir teal" style="font-size: 1.4em"> Basic Photography Service </h3>
  <p>
  Inclusions:
  <ul>
    <li> 2 to 3 hours</li>
    <li> photos - 20 edited / processed</li>
    <li> photos - 100 unprocessed</li>
    <li> digital photos on DVD (high resolution ready to print)</li>
  </ul>
  </p>
  <h3 style="color: #FFFFFF !important; font-weight: bold !important; font-size: 1.4em !important" class="avenir">S$300</h3>
  <br/>
</div>

<div>
  <h3 class="avenir teal" style="font-size: 1.4em"> Engagement and Wedding Package </h3>
  <table border=1 style="border-color: #333333; border-style: none">
    <tr>
      <td style="padding-right: 10px">
        <h5>Engagement Session </h5>
        <p>
        Inclusions:
        </p>
        <ul>
          <li> within 2 locations in Singapore</li>
          <li> 5 to 6 hours of photography</li>
          <li> photos - 40 processed/edited</li>
          <li> photos - 200 unprocessed</li>
          <li> all digital photos in DVD (high resolution - ready to print)</li>
        </ul>
        <br/>
        <p>Additional Fees </p>
        <ul>
          <li> 3 to 5 minutes of video highlights </li>
          <li> hair and makeup </li>
        </ul>
        
        <h3 style="color: #FFFFFF !important; font-weight: bold !important; font-size: 1.4em !important" class="avenir">S$500</h3>
        
      </td>
      <td style="padding-right: 20px">
        <h5>Wedding</h5>
        <p>
        Inclusions:
        </p>
        <ul>
          <li> within 2 locations in Singapore</li>
          <li> 5 to 6 hours of photography</li>
          <li> photos - 40 processed/edited</li>
          <li> photos - 200 unprocessed</li>
          <li> all digital photos in DVD (high resolution - ready to print)</li>
        </ul>
        <br/>
        <p>Additional Fees </p>
        <ul>
          <li> 20 pages of 8x10 inches digital photo album </li>
          <li> 3 to 5 minutes video highlights</li>
        </ul>
        <h3 style="color: #FFFFFF !important; font-weight: bold !important; font-size: 1.4em !important" class="avenir">S$800</h3>
        
      </td>
      <td>
        <h5>Wedding</h5>
        <p>
        Inclusions:
        </p>
        <ul>
          <li> engagement session - within 2 locations in Singapore</li>
          <li> 5 to 6 hours of photography</li>
          <li> photos - 40 processed/edited</li>
          <li> photos - 200 unprocessed</li>
          <li> all digital photos in DVD (high resolution - ready to print)</li>
        </ul>
        <p>Additional Fees </p>
        <ul>
          <li> 3 to 5 minutes of video highlights </li>
          <li> hair and makeup </li>
        </ul>
        <h3 style="color: #FFFFFF !important; font-weight: bold !important; font-size: 1.4em !important" class="avenir">S$1,300</h3>
      
      </td>
    </tr>
  </table>
  
  <br/>
</div>

<div>
  <h3 class="avenir teal" style="font-size: 1.4em"> Terms of Payment</h3>
  <ul>
    <li> 50% downpayment upon confirmation</li>
    <li> rest of balance - 3 to 4 weeks after assignment / coverate</li>
  </ul>


</div>
