<div style="padding-left: 0px">
  
  <div style="font-size: 16px; font-weight:bold; padding-bottom: 10px; padding-top: 10px">Our Social Commitment </div>

  <center>
    <% unless @social_image.nil? %>
      <%= image_tag(@social_image.public_filename) %>
    <% end %>
  </center>

  <%= @social.content %>

</div>
