<div class="messageBox clearfix">
      		<div class="container_12" align="center">
      <div class="prefix_1 grid_10 suffix_1"><input type="search" name="search" class="search grid_10"/><a class="adminSearch fleft"></a></div>
      </div>
<h6 class="bold grid_7">MESSAGE BOX <a class="blue normal"><%= @unread_messages.length > 0 ? "(#{@unread_messages.length} new messages)" : "" %></a></h6>
			<div class="container_12">
          <div class="header">
              <div class="grid_7">Message Title</div>
              <div class="grid_3">Sender</div>
              <div class="grid_2">Date</div>
              <div class="">&nbsp;</div>
          </div>

          <div class="body">


  <% @messages.each do |msg| %>
  <% span = "" %>
    <div class="row <%= msg.is_viewed? ? "" : "new" %> message_row_<%= msg.id%>">
      <div class="grid_7">
        <% unless msg.is_viewed? %>
          <% span = content_tag(:span, "NEW!", :class => "new") %>
        <% end %>
        <%= link_to raw("#{span}#{msg.subject}"), admin_message_path(msg), :class => ((msg.is_viewed?) ? "getDetails" : "getDetails bold" ), :id => msg.id %>
      </div>
      <div class="grid_3"><a><%= msg.sender.sender_name %></a></div>
      <div class="grid_2"><%= formatted_date(msg.created_at, 'ddmmyyyyhm') %></div>
      <div class=""><input type="checkbox" name="checkZig" value="<%= msg.id %>" /></div>
      </div>
  <% end %>


          </div><!-- end body -->


  <% if @messages.empty? %>
      <div style="margin-left:26px">
       You have no messages. 
      </div>
  <% else %>
  <div class="footer">
    <div class="grid_7">
      <% if @messages.total_pages > 1 %>
      <span>Page</span>
      <% end %>
      <%= will_paginate @messages %>
    </div>
    <div class="grid_4 align_right fright">
      <a class="checkButton cursor removeSelected" href="/admin/messages/remove_messages" class="checkButton cursor removeSelected">Delete messages</a></div>
    </div>
  </div>
  <% end %> 



</div>


<style>
span.previous_page, a.next_page {
  display: none;
}
</style>
