<%= form_tag "/admin/messages/", :id => "newMessageForm" do %>
<div class="messageBox clearfix">
  <h6 class="bold">SEND MESSAGE TO <%= @receiver.advert_company_name rescue '' %></h6>
			<div class="container_12">

         <div class="compose">
           <div class="grid_12"><span>Subject :</span></div>
           <div class="grid_12 blue">
             <%= text_field_tag :subject, nil, :class => "required"%>
             <label class="error dispNone" id="subjectError">Subject must not be empty</label>
           </div>
           <div class="grid_12"><span>Type here to reply:</span></div>
           <div class="grid_12 blue">
             <textarea name="content" id="content" class="required"></textarea>
             <label class="error dispNone" id="replyMsgError">Reply message must not be empty</label>
             <%= hidden_field_tag :receiver_id, @receiver.id %>
             <%= hidden_field_tag :new_message, "1" %>             
           </div>
           <div class="grid_12 "><a class="checkButton cursor fright" id="submitMsg">Send</a></div>
           <div class="body marginTop30">
           </div><!-- end 2nd body-->
         </div>
</div>
<% end %>