<% 
appended_class = ""
unless appended.nil?
  appended_class = "appended"
end
%>
          <% if whatsnew.class.name == "Shout" %>
            
          <% else%>
            <div class="grid_12 pgList <%= whatsnew.class.name.downcase%>s <%= appended_class %>">
    <div class="grid_1 pgImg"><a href="<%= form_url(whatsnew) %>" title="<%= whatsnew.title.titleize rescue ''%>">
    			<img src="<%= whatsnew.pictures.first.image.url(:thumb) rescue  get_missing_image_pg(whatsnew.class.name,'t') %>" width="64" height="64"/>
          </a>			
    </div>
    <div class="grid_9">
      <div class="grid_12 bold black pad_top5"> <a href="<%= form_url(whatsnew) %>" title="<%= whatsnew.title.titleize rescue ''%>">
                <%= truncate(whatsnew.name.titleize, :length => 55, :omission => "...") rescue '' %>
                </a></div>
      <div class="grid_12 lh13"><%= truncate(whatsnew.description, :length => 130, :omission => "...") rescue '' %></div>
    </div>
</div>  
          <% end %>

          

