<% unless place.pictures.empty? %>
<script>
$(function() {
    
    var galleries = $('.ad-gallery').adGallery();
    $('#switch-effect').change(
      function() {
        galleries[0].settings.effect = $(this).val();
        return false;
      }
    );
    $('#toggle-slideshow').click(
      function() {
        galleries[0].slideshow.toggle();
        return false;
      }
    );
    $('#toggle-description').click(
      function() {
        if(!galleries[0].settings.description_wrapper) {
          galleries[0].settings.description_wrapper = $('#descriptions');
        } else {
          galleries[0].settings.description_wrapper = false;
        }
        return false;
      }
    );
		
  });
</script>
<div class="dpEndPage">
<div id="gallery" class="ad-gallery radius10">
      <div class="ad-image-wrapper ">
      </div>
         <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
             <% cnt = 0 %>
    <% place.pictures.each do |picture| %>
            <li>
              <a href="<%= picture.image.url(:offer) %>">
                <img src="<%= picture.image.url(:edthumb) %>" title="<%= picture.name%>" alt="<%= picture.description rescue '' %>" longdesc="<%= picture.image.url(:offer) %>">
                <p><%= picture.name%></p>
              </a>
              
            </li>
             <% end %>
          </ul>
        </div>
      </div>
    </div>
<div class="dispNone">
<% place.pictures.each do |picture| %>
<a href="<%= picture.image.url(:large) %>" rel="product_group" title="<%= picture.description rescue '' %>" name="<span class='bold'><%= picture.name%></span><br><%= picture.description rescue '' %>">&nbsp;</a>
<% end %>    
</div>
</div>
<div class="dpEndPagePad"></div>
<% else %> 
<div class="dpEndPage">
	<div class="clearfix"></div>
</div>
<% end %>
