<form>
  <input class="hover-star" type="radio" name="star" value="1" title="Super poor" disabled="disabled"/>
  <input class="hover-star" type="radio" name="star" value="2" title="Very Poor"/>
  <input class="hover-star" type="radio" name="star" value="3" title="Very Poor"/>
  <input class="hover-star" type="radio" name="star" value="4" title="Very Poor"/>
  <input class="hover-star" type="radio" name="star" value="5" title="Very Poor"/>
  <input class="hover-star" type="radio" name="star" value="6" title="Very Poor"/>
  <input class="hover-star" type="radio" name="star" value="7" title="Very Poor"/>
  <input class="hover-star" type="radio" name="star" value="8" title="Very Poor"/>
  <input class="hover-star" type="radio" name="star" value="9" title="Very Poor"/>
  <input class="hover-star" type="radio" name="star" value="10" title="Very Poor"/>
</form>
<p id="star_value">0/10</p>
