<li class="shout shoutList<%= shout.id %>">
  <div class="margin_left_10 full_width">
   <b class="black fleft shoutTitle<%= shout.id %>">Posted on <%= formatted_date(shout.created_at)%> @ <%= shout.created_at.time.strftime("%I:%M%p")%></b><% unless current_user.nil?%>
                <% if current_user.is_advertiser? && current_user.id == @place.user_id %>
                	<a data-id="<%= shout.id %>" class="shoutMod editShout"><div class="radius5">Edit</div></a>
                  <a data-id="<%= shout.id %>" class="shoutMod delShout"><div class="radius5">Delete</div></a><div class="imageLoader shoutL load<%= shout.id %>">&nbsp;</div>
                <% end %><% end %>
               <div class="clearfix"></div>
     <p class="shoutContent<%= shout.id %>">
      <%= strip_tags(shout.content) %>
    </p>
  </div>
</li>