<%
lat = place.address.latitude rescue 3.13
lng = place.address.longitude rescue 101.62
zoom = 14

image = Yetting.domain + '/images/places_64s.png' 
%>
<!--start sidebar-->
<aside id="sidebar" class="page sidebar absolute">
  <!-- Start gray box-->
        <div class="gray_box">
            <!--sidebar widget-->
            <div class="sidebar-widget">
        		<h3 class="segoe gray pad_bot aboutPlace" align="center">ABOUT THIS PLACE</h3>
<a class="map radius5 cursor" target="_blank" href="/maps?id=<%=place.id %>&type=<%= place.class.name.downcase %>">
<img class="borderGray" src="http://maps.googleapis.com/maps/api/staticmap?markers=icon:<%= image%>%7Csize:mid%7Ccolor:red%7C<%=lat%>,<%= lng%>&zoom=14&size=245x208&maptype=roadmap&sensor=false&style=saturation:-80">
</a>
<div class="clearfix"></div>

<ul id="contactDetails">
  <% if place.telephone_numbers.length > 0 %>
  <li class="tel" title="Contact telephone number"><%= place.telephone_numbers %></li>
  <% end %>
  <% if place.fax_numbers.length > 0 %>
  <li class="fax" title="Company fax number"><%= place.fax_numbers %></li>
  <% end %>
	      
  <% if place.email.length > 0 %>
  <li class="email" title="Email address"><%= place.email %></li>
  <% end %>
  <li class="address" title="Address"><%= place.address.complete_address rescue '' %></li>       
  <% if place.website_url.length > 0 %>
  <li class="site" title="Company website"><%= link_to place.website_url.gsub(/^(http):\/\//, ''), place.website_url, :class => "gray hoverBlue", :target => "_new" %></li>
  <% end %>
  <% if place.facebook.length > 0 %>
  <li class="fb" title="Facebook account"><%= link_to place.facebook.gsub(/^(http):\/\/|www.|facebook|.com|\//, ''), place.facebook, :class => "gray hoverBlue", :target => "_new" %></li> 
  <% end %>
  <% if place.twitter.length > 0 %>
  <li class="twit" title="Twitter account"><%= link_to place.twitter.gsub(/^(http):\/\/|www.|twitter|.com|\//, ''), place.twitter, :class => "gray hoverBlue", :target => "_new" %></li>  
  <% end %>  		
</ul>
</div>

        <% unless @listing.category.nil? %>
          <div class="sidehr"></div>
            <div class="container_12 full">

              	<div class="grid_4"><h6 class='no_margin dGray fleft'>Category</h6></div>
              	<div class="grid_8"><h6 class="fleft gray">
                  <%= @listing.category.name rescue ''%>
                 </h6></div>
                <div class="clearfix"></div>
                <% unless @listing.listable.place.sub_category.nil? %>
                  <% sub_ids = @listing.listable.place.sub_category.split(",")
                     subcategory = Category.find(sub_ids)

                  %>
                  <% subcategory.each do |subc| %>
                    <% if subcategory.index(subc) == 0 %>
                      <div class="grid_4"><h6 class='fleft dGray no_margin'>Subcategory</h6></div>
                    <% else %>
                      <div class="grid_4"><h6 class='fleft dGray no_margin'>&nbsp;</h6></div>
                    <% end %>

                    <div class="grid_8"><h6 class="fleft gray"><%= " #{subc.name} " %></h6></div>
                  <% end %>
                <% end %>

              <div class="sidehr"></div>
            </div>
            
        <% end %>  
 

    <% unless @listing.listable.highlights.empty? %>
<%
hc_ids = @listing.listable.highlights.map(&:highlight_category_id)
hc_ids.uniq!
highlights = HighlightCategory.find(hc_ids).group_by(&:group_name)
%>
      <!--sidebar widget-->
      <div class="clearfix"></div>
     <div id="sideFeatures" class="sidebar-widget dispNone">
      <div class="container_12 full inlineB">


       <% unless highlights['payment'].nil? %>
         <% unless highlights['payment'].empty? %>
           <div class="grid_12 pad_bot dGray">This place allows you to pay using</div>
           <% highlights['payment'].each do |h| %>
             <div class="grid_3 pad_bot no_margin" align="center">
               <%= show_highlight2(h) %>
             </div>
           <% end %>
         <% end %>
       <% end %>
          
       <% unless highlights['parking'].nil? %>
         <% unless highlights['parking'].empty? %>
           <div class="grid_12 pad_bot dGray pad_top5">Parking information for this place</div>
           <% highlights['parking'].each do |h| %>
             <div class="grid_3 pad_bot no_margin" align="center"><%= show_highlight2(h) %></div>
           <% end %>
         <% end %>
       <% end %>
        	
       <% unless highlights['provides'].nil? %>
         <% unless highlights['provides'].empty? %>
           <div class="grid_12 pad_bot dGray pad_top5">This place provides the following</div>
            <% highlights['provides'].each do |h| %>
              <div class="grid_3 pad_bot no_margin" align="center"><%= show_highlight2(h) %></div>
            <% end %>
         <% end %>
       <% end %>
    
    	 <% unless @listing.listable.category_features.nil? %>
      <% cat_features = CategoryFeature.where("code IN (?)", @listing.listable.category_features) %>
      <% unless cat_features.empty? %>
        <div class="grid_12 dGray pad_top5">Features specific to this place</div>
          <% cat_features.each do |h| %>
            <div class="grid_3 pad_top no_margin" align="center"><%= show_category_feature(h) %></div>
          <% end %>
      <% end %>        
    <% end %>        

        </div>
        
      </div>
      <center><div id="featBtn" class="bold">SHOW FEATURES</div></center>
     
      <div class="sidehr"></div>
    <% end %>
           
            <!--sidebar widget-->
            <div class="sidebar-widget marginTop">
	      <h6 class="black">User Rating: <span class="fright gray" id="listing_total_rates"> <%= show_rates_number(place.listing) %></span></h6>
            <div class="pad_bot">
	      <div class="width90 fleft relative">
		<%= render :partial => "/events/rating", :locals => { :listing => @listing } %>
					<a href="#loginMessage" id="ratingMessagePop" class="opacity0" name="modal"></a>
            </div>
            
            </div>
            <div class="clearfix pad_top"></div>
            <div class="sidehr"></div>
            <div class="sidebar-widget pad_bot">
        		<!--SOCIAL AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style fleft">
            <a class="addthis_button_facebook first"></a>
            <a class="addthis_button_twitter"></a>
            <a  class="addthis_button_google_plusone" g:plusone:count="false"></a>
            <a class="addthis_button_email"></a>
            <a class="addthis_button last" id="noHoverF" href="http://www.addthis.com/bookmark.php?v=250&amp;username=quickbutton">
        				<img src="/images/share_more.png" width="32" height="32" border="0" alt="Share" />
            </a>
            </div></h6>
            <!-- SOCIAL AddThis Button END -->
        		</div>
            
           <div class="clearfix pad_top"></div>
            <div class="sidehr no_margin"></div>

<% if @listing.listable.user == current_user %>
<script>
$(function() {
  preview_only = true;
})
</script>
<% modal = "" %>
<% else %>
  <% modal = "modal" %>
<% end %>

            <div class="container_12 full sideContact">
              <div class="grid_6">
                <a href="#loginMessage" id="contactPop" name="modal"></a><a id="contact_form_link" href="#contactModal"></a>
                <a id="contactM" href="" title="Ask a question" class="sideReport bold">ASK A QUESTION</a>
              </div>
              <div class="grid_6 divide">
                <a class="cursor sideReport" href="#reportDialog" id="reportPage" name="<%= modal %>">REPORT THIS PAGE</a>
              </div>
            </div>

          </div>
        </div>
           <!-- end gray box --> 
						 <!--sidebar widget-->
            
           <% unless place.listing.related_listings.empty? %>
            <!--sidebar widget-->
            <div class="sidebar-widget marginTop gray_box">
            <div class="fleft"><h6 class="segoe gray">RELATED LISTINGS </h6></div>
            <div class="sidehr"></div>
            <ul class="sideList">
               <% place.listing.related_listings.each do |l| %>
            	<li title="<%= l.name.titleize %>" class="<%= l.listing_type%>s"><%= link_to truncate(l.name.titleize, :length => 40, :omission => "..."), form_url(l)%></li>
               <% end %>
            </ul>
            </div>
          <% end %>

            
          <% unless Listing.latest(@listing).empty? %>
            <!--sidebar widget-->
            <div class="sidebar-widget gray_box marginTop">
              <div class="fleft"><h6 class="segoe gray">NEW STUFFS</h6></div>
              <div class="sidehr"></div>
              <ul class="sideList">
                <% Listing.latest(@listing).each do |l| %>
                  <li title="<%= l.name.titleize%>" class="<%= l.listing_type%>s"><%= link_to truncate(l.name.titleize, :length => 40, :omission => "..."), form_url(l)%></li>
                <% end %>
              </ul>
            </div>
          <% end %>
             
  </aside>
<!--end sidebar-->
