<hr><!--horizontal line-->
<div class="alpha pad_top30">
  <!--blog header-->    
  <% unless place.tags.nil? %>
  <h3 class="segoe">TAGS</h3>  
  <div class="hr"></div>
  <!--start tags-footer-->
    <span class="tag-links">
    <% place.tags.gsub(',','').split(" ").each do |tag| %>
      <% if action_name == "preview" %>
        <%= link_to tag, "#" %>
      <% else %>
        <%= link_to tag, "/?search=#{tag}&btnSearch=search" %>
      <% end %>
    <% end %>
    </span>
  <!--end blog footer-->
  <% end %>
</div>
