<script>
$(document).ready(function(e) {
  $("#wnShowall").click(function() {
    var place_id = $(this).attr('data-id');
    $.ajax({
      type: "GET",
      url: "/places/all_whatsnew",
      data: "id=" + place_id,
      success: function(data){
        $("#wnShowall").hide();
        $("#tabHide").show();
        $(".contentList").append(data);
      }
    });
  });
  $("#tabHide").click(function() {
    $("#wnShowall").show();
    $("#tabHide").hide();
    $(".appended").remove();
  });
				$('#shoutFrm').validate({
						submitHandler: function(form) {
							form.submit();
						} 
					});
});
</script>
<div id="main" class="width70 alpha pgGal">
<% if @place.pictures.length > 0 %>
<script>
$(function() {
    
    var galleries = $('.ad-gallery').adGallery();
    $('#switch-effect').change(
      function() {
        galleries[0].settings.effect = $(this).val();
        return false;
      }
    );
    $('#toggle-slideshow').click(
      function() {
        galleries[0].slideshow.toggle();
        return false;
      }
    );
    $('#toggle-description').click(
      function() {
        if(!galleries[0].settings.description_wrapper) {
          galleries[0].settings.description_wrapper = $('#descriptions');
        } else {
          galleries[0].settings.description_wrapper = false;
        }
        return false;
      }
    );
		
  });
</script>
		<div id="gallery" class="ad-gallery fullS">
      <div class="ad-image-wrapper ">
      </div>
         <div class="ad-nav">
           <div class="ad-thumbs">
            <ul class="ad-thumb-list">
               <% cnt = 0 %>
      <% @place.pictures.each do |picture| %>
              <li>
                <a href="<%= picture.image.url(:offer) %>">
                  <img src="<%= picture.image.url(:edthumb) %>" title="<%= picture.name%>" alt="<%= picture.description rescue '' %>" longdesc="<%= picture.image.url(:offer) %>">
                  <p><%= picture.name%></p>
                </a>
                
              </li>
               <% end %>
            </ul>
          </div>
      	</div>
    </div>
    <div class="dispNone">
        <% @place.pictures.each do |picture| %>
        <a href="<%= picture.image.url(:large) %>" rel="product_group" title="<%= picture.description rescue '' %>" name="<span class='bold'><%= picture.name%></span><br><%= picture.description rescue '' %>">&nbsp;</a>
        <% end %>    
    </div>
<% end %> 
<div class="fullS bgGray inlineB">
<div class="grid_12 pad_top20"><h6 class="bold">SHOUT!!</h6></div>

</div>
 
  <!--start page post-->
  <article class="clearfix">
    <div class="relative">
      <!--header--> 
      <div id="depTabMain">
        <ul class="tabs">
          <li class="ui-tabs-selected"><a href="#wnTab"><h3 class="segoe">WHAT'S NEW - <%= @latest.length %> 
          LISTING<% if @latest.length > 1 %>S<% end %></h3></a></li>
        </ul>
        <div class="imageLoader tabLoader posRight dispNone"></div> 
        <% if @latest.length > 5 %>
        <h6 class="lgray right posRight" >
          <a id="wnShowall" data-id="<%= @place.id %>" class="gray showAll cursor">SHOW ALL</a>
          <a id="tabHide" class="gray hideAll cursor dispNone">HIDE</a>
        </h6>
        <% end %>      
	<div class="panes">
  <div class="hr"></div>
    <!-- start whats new tab -->
	  <div id="wnTab" class="">
      <ul class="contentList">
        <% if @latest.empty? %>
            <li class="places">
              <div class="margin_left_10">
                <b class="black">Welcome!</b>
                	<p><%= @place.name.titleize %> joined Zigzeg on <%= @place.user.created_at.strftime("%B %d, %Y") %></p>
              </div>
            </li>
        <% end %>
        <% @latest.take(5).each do |a| %>
          <%= render :partial => "whatsnew", :locals => { :whatsnew => a, :appended => nil } %>
        <% end %>
      </ul>
			<% unless current_user.nil?%>
        <% if current_user.is_advertiser? && current_user.id == @place.user_id%>
          <div class="container_12 bgGray inlineB full pad_bot radius5">
            <%= form_tag "/listings/create_shout",  :id => "shoutFrm" do%>
              <%= hidden_field_tag :ref_url, request.url%>
              <%= hidden_field_tag :id, @place.listing.id%>
              <div class="prefix_1 grid_11 pad_top"><h3 class="segoe no_margin shoutAction">Post a Shout!</h3></div>
            <div class="push_1 grid_10"><textarea name="content" rows="5" id="shoutTxt" class="full fancyinput radius5 required"></textarea>
            <div id="shoutChar">remaining characters: <span id="countChar">250</span></div>
            </div> 
              <div class="push_1 grid_11">
                <input type="submit" value="Post a shout" class="radius5 shout white bold hoverBlack cursor fleft width20" name="submit21">
                <div class="grayLoader">Saving data</div>
                <div class="grid_6 pad_top5">
                	<div class="grid_4 bold autowidth">Share on :</div>
                  <div class="grid_8 no_margin socShout">
                  	<div class="grid_4 fb" title="Share on Facebook"><input type="checkbox" /></div>
                    <div class="grid_4 twit" title="Share on Twitter"><input type="checkbox" /></div>
                    <div class="grid_4 google" title="Share on Google+"><input type="checkbox" /></div>                 
                  </div>
                  
                </div>
              </div>
            <% end %>
          </div>
          <div class="clearfix"></div>
          <br/>
        <% end %>
      <% end %>
  

	    <!-- start tab appending area -->
            <div id="newTabAppend" class="dispNone">
              <div id="newAppendarea" class="pad_bot"> </div>
              <div class="clearfix"></div>
              <div class="gray_box tabClickHide cursor" align="center"> &nbsp;click to hide</div>
            </div>
            <!-- end tab appending area -->
          </div>
	  <!-- start whats new tab -->
    </div>
    <!-- end tab panes -->
  </div>
</div>
<hr>
<a id="announcementBox" href="#announceDialog" class="dispNone"></a>
<div class="alpha relative leftContent">
  <!--blog header-->    
  <div>
    <div class="imageLoader aboutLoader posRight dispNone"></div> 
    <h3 class="segoe">ABOUT US</h3>  
      		<h6 class="lgray right posRight"><a id="aboutLink" class="gray showAll cursor dispNone">SHOW ALL</a></h6> 
    
  </div>
  <div class=" hr"></div>
  <!--page description-->
  <div id="divAbountCon">
  	<p id="aboutPlace" class="AboutP" align="justify"><%= @place.description %> </p>
  </div>
</div>
<div class="clear"></div>


  <% if @place.pictures.length > 0 %>
  <div id="tabMain" class="leftContent">
      <ul class="tabs">
        <li class="ui-tabs-selected"><a href="#productTab"><h3 class="segoe">GALLERY - <%= @place.pictures.length %> 
        image<% if @place.pictures.length > 1 %>s<% end %></h3></a></li>
      </ul>
      <div class="imageLoaderGallery tabLoader posRight dispNone"></div> 
      <% if @place.pictures.length > 4 %>
        <h6 class="lgray right posRight" >
          <a id="tabShow" class="gray showAll cursor">SHOW ALL</a>
        </h6>
      <% end %>
    
    <div class="panes">
      <div class=" hr pad_bot"></div>
      <!-- start product tab -->
      <div id="productTab" class="">
        <% @place.pictures.take(4).each do |photo| %>
          <div class="grid_3 alpha portfolio">
	    <a rel="product_group" title="<%= photo.name %>" name="<span class='bold'><%= photo.name %></span><br><%= photo.description %>" href="<%= photo.image.url(:large)%>" >
              <div class="zig">
		<img alt="<%= photo.name.titleize rescue ''%>" src="<%= photo.image.url(:gallery) %>" class="radius5">
              </div>       
	      <div><h6 class="fleft"><%= truncate(photo.name, :length => 20, :omission => "...")  %></h6></div>   
            </a>
	  </div>
        <% end %>
        <div class="clearfix"></div>

        <!-- start tab appending area -->
        <div id="prodContain" class="dispNone">
          <div id="prodAppendarea" class="pad_bot">
          <% if @place.pictures.length > 4 %>
            <% @place.pictures[4..-1].each do |photo| %>
              <div class="grid_3 alpha portfolio">

                 <a rel="product_group" title="<%= photo.name %>" name="<span class='bold'><%= photo.name %></span><br><%= photo.description %>" href="<%= photo.image.url(:large)%>" >
                 <div class="zig">
                   <img alt="<%= photo.name.titleize rescue ''%>" src="<%= photo.image.url(:gallery) %>" class="radius5">
                 </div>       
                 <div><h6 class="fleft"><%= truncate(photo.name, :length => 20, :omission => "..." ) %> &nbsp;</h6></div>   
                 </a>
              </div>
            <% end %>
          <% end %>
          </div>
          <div class="clearfix"></div>
          <div class="gray_box tabClickHide cursor" align="center"> &nbsp;click to hide</div>
        </div>
        <!-- end tab appending area -->
      </div>
      <!-- start product tab -->
    </div>
  <% end %>

 <div class="clearfix"></div>
 <div class="alpha relative leftContent">

  <!--blog header--> 
  <!--
  <div>
    <h6 class="lgray right posRight" >
      <a href="ajax link" data-id="#branchesListingAppends" class="lgray showAll listingShow cursor">SHOW ALL</a>
    </h6>
    <h3 class="segoe capital branches" id="branchesTitle"><%= @place.name.titleize %> HAS <strong>NO BRANCHESxx</strong></h3> 
     
  </div>
  <div class="hr"></div>
      <ul class="mainList listing pad_top">
       <div id="branchesListingAppends"></div>
      </ul>
  </div>
  -->
<div class="clearfix"></div> 
<% if @place.pub_deals.length > 0 %>   
<div class="alpha relative leftContent">
  <!--blog header-->    
  <div>
    <% if @place.pub_deals.length > 2 %>
    <h6 class="lgray right posRight" >
      <a id="offersTitleLink" href="ajax link" data-id="#dealsListingAppends" class="gray showAll listingShow cursor">SHOW ALL</a>
    </h6>
    <% end %>
    <h3 class="segoe capital deals" id="offersTitle"><%= truncate(@place.name.titleize, :length => 50, :omission => "...")  %> HAS <strong>
    <% if @place.pub_deals.length > 0 %>
      <%= @place.pub_deals.length %> OFFER<% if @place.deals.length > 1 %>S<% end %>
    <% else %>
      NO OFFERS
    <% end %>     
    </strong></h3>  
  </div>
  <div class="hr"></div>
  <ul class="mainList listing pad_top">
      <% @place.pub_deals.reverse.take(2).each do |deal| %>
        <li class="deals radius5">
        <span><a class="cursor" href="<%= form_url(deal) %>"><%= truncate(deal.name, :length => 75, :omission => "...") %></a></span>
	    	<p><%= truncate(deal.description, :length => 150, :omission => "...") %></p>
     	 <a class="map radius5 fright marginRight cursor" href="/maps?id=<%=deal.id %>&type=deal" target="_new">Go to Map</a>
        </li>
      <% end %>
      <div id="dealsListingAppends" class="dispNone">
      <% if @place.pub_deals.length > 2 %>
        <% @place.pub_deals.reverse[2..-1].each do |deal| %>
        <li class="deals radius5">
          <span><a class="cursor" href="<%= form_url(deal) %>"><%= truncate(deal.name, :length => 75, :omission => "...") %></a></span>
          <p><%= truncate(deal.description, :length => 150, :omission => "...") %></p>
          <a class="map radius5 fright marginRight cursor" href="/maps?id=<%=deal.id%>&type=deal" target="_new">Go to Map</a>
        </li>
        <% end %>
      <% end %>
      </div>
      </ul>
</div>

<% end %>

<% if @place.pub_events.length > 0 %>
<div class="alpha relative leftContent">
  <!--blog header-->    
  <div>
   <% if @place.pub_events.length > 2 %>
    <h6 class="lgray right posRight" ><a id="eventsTitleLink" href="ajax link" data-id="#eventsListingAppends" class="gray showAll listingShow cursor">SHOW ALL</a></h6>
   <% end %>       
    <h3 class="segoe capital events" id="eventsTitle"><%= truncate(@place.name.titleize, :length => 50, :omission => "...")  %> HAS <strong>
     <% if @place.pub_events.length > 0 %>
    			<%= @place.pub_events.length %> EVENT<% if @place.pub_events.length > 1 %>S<% end %>
      <% else %>
    			NO EVENTS
    <% end %>      
    </strong></h3> 
     
  </div>
  <div class="hr"></div>
  <ul class="mainList listing pad_top">
        <% @place.pub_events.reverse.take(2).each do |event| %>
        <li class="events radius5">
          <span><a class="cursor" href="<%= form_url(event) %>"><%= truncate(event.name, :length => 75, :omission => "...") %></a></span>
          <p><%= truncate(event.description, :length => 150, :omission => "...") %></p>
          <a class="map radius5 fright marginRight cursor" href="/maps?id=<%= event.id %>&type=event" target="_new">Go to Map</a>
        </li>
      <% end %>
       <div id="eventsListingAppends" class="dispNone">
       <% if @place.pub_events.length > 2 %>
        <% @place.pub_events.reverse[2..-1].each do |event| %>
        <li class="events radius5">
          <span><a class="cursor" href="<%= form_url(event) %>"><%=  truncate(event.name, :length => 75, :omission => "...") %></a></span>
          <p><%= truncate(event.description, :length => 150, :omission => "...") %></p>
          <a class="map radius5 fright marginRight cursor" href="/maps?id=<%= event.id %>&type=event" target="_new">Go to Map</a>
        </li>
          <% end %>
        <% end %>
       </div>
      </ul>
      
  </div>
<% end %>
  <!-- end tab panes -->
   <%= render :partial => "/globals/tags", :locals => { :listing => @listing } %>

</div>
</article>
<!--end blog post 1--> 
</div>
<!--end main-->

<script>
$("a.view_announcement_modal").fancybox({
  ajax : {
    type: "GET",
  }
});
</script>
