
<div class="packageBox pad_top20 pad_bot20 full">
 <script>
 $(function() {
 	var checkEventType = function(val){
 		$('.typeWrap').hide();
 		$('.typeWrap .required').removeClass('required');	
 			if(val == 1){
 					$('#eventC_one').show();
 					$('#eventC_endD').hide();
 					$('#eventC_one input#start_date').addClass('required');

 			}else if(val == 2){
 					$('#eventC_one, #eventC_endD').show();
 					$('#eventC_one input').addClass('required');
 			}else if(val == 3){
 					$('#eventC_day').show();
 					$('#eventC_day select').addClass('required');

 			}else if(val == 4){
 					$('#eventC_date').show();
 					$('#eventC_date select').addClass('required');
 			}
 		$("#eventFrm").validate({
		 rules:{
					to_price:{
					   required:function(element){
						 		return $('#paid_pricing_type').is(':checked');
						 }
					},from_price:{
						 required:function(element){
						 		return $('#paid_pricing_type').is(':checked');
						 }
					}
			}
		});
 	}
 	$('.rEventType').change(function(e) {
     var val = $(this).val();
 		checkEventType(val);
   });	
 	checkEventType($(".rEventType:checked").val());					
 	var dates = $("#start_date,#end_date").datepicker({
 				dateFormat:'dd/mm/yy',
 				minDate: 0,
 				ampm: true,
 				onSelect: function( selectedDate ) {
 					var option = this.id == "start_date" ? "minDate" : "maxDate",
 						instance = $( this ).data( "datepicker" ),
 						date = $.datepicker.parseDate(
 							instance.settings.dateFormat ||
 							$.datepicker._defaults.dateFormat,
 							selectedDate, instance.settings );
 					dates.not( this ).datepicker( "option", option, date );
 				}
 			}
 		);
 		$('#start_icon').live('click',function(){$("#start_date").datepicker( "show" );});
 		$('#end_icon').live('click',function(){$("#end_date").datepicker( "show" )});
 		$('#start_time').timepicker({});$('#end_time').timepicker({});
 		$('#paid_pricing_type,#free_pricing_type').change(function(){
 				if($('#paid_pricing_type').is(':checked'))
 					$('.pricingForm').slideDown();
 				else
 					$('.pricingForm').slideUp();
 		});
 });
 

</script>

<%= form_for @event, :url => business_event_path(@event),  :html => { :id => "eventFrm", :class => "packageFrm" } do -%>
                <input type="hidden" name="hidden_image_name" id="hidden_image_name">
                	
								  
                  <div class="container_12 no_margin full pad_top">
										<div class="grid_9">
                  <!-- status classes: expired, notlive, inc, complete, published, deleted
-->										  
                    <% if ["notlive", "complete", "published"].include?(@event.mystatus) %>
                      <ul class="advertBc margin_left_20">
                    		<li><h6 class="bold">EDIT THIS EVENT</h6></li>
                        <li><h6 class="bold"><%= truncate(@event.name, :length => 50, :omission => "...") %></h6></li>
                      </ul>
                    <% else %>
                      <ul class="advertBc margin_left_20">
                    		<li><h6 class="bold">CREATE EVENT</h6></li>
                        <li><h6 class="bold">STEP <div class="bubble"> 01 </div></h6></li>
                      </ul>
                    <% end %>
                    </div>
                    
                    
                  </div>
                  
                <div class="full stepBar relative" style="">
                  <ul class="stepBarUL">
                      <% if ["notlive", "complete", "published"].include?(@event.mystatus) %>
                      <li class="selected"><div class="absolute border_bar" id="border_bar"></div><a  class="menuBar"
href="#">EVENT DETAILS</a><div class="right_arrow"></div></li>
                      <li class=""><a class="menuBar" href="<%= locations_business_event_path(@event) %>">EVENT
LOCATION</a><div
class="right_arrow"></div></li>
                      <li class=""><a  class="menuBar" href="<%= gallery_business_event_path(@event) %>">GALLERY</a><div
class="right_arrow"></div></li>
                      <% else %>
                      <li class="selected"><div class="absolute border_bar" id="border_bar"></div><a  class="menuBar
noCursor
noDecor">EVENT DETAILS</a><div class="right_arrow"></div></li>
                      <li class=""><a class="menuBar noCursor noDecor">EVENT LOCATION</a><div
class="right_arrow"></div></li>
                      <li class=""><a  class="menuBar noCursor noDecor">GALLERY</a><div class="right_arrow"></div></li>
                      <% end %>
                  </ul>
                </div>
               
                	<div class="container_12 inputs pad_top">
                  
                  <!-- FOR NEXT STEP GOING TO THE LOCATION PAGE... -->
                  <a class="getDetails" data-id="1" href="appends/createOffers_location.html" id="locationForm"></a>
										<div class="grid_3 align_right marginTop5"><label>Event name</label></div><div
class="grid_9"><input type="text" class="radius5 fancyinput required" id="event_title" name="event[name]" value="<%=
@event.name rescue '' %>"><br>
                    <label for="event_title" generated="false" class="error" ></label>
                    </div>
                    <div class="grid_3 align_right pad_top marginTop5"><label>What's happening</label></div><div
class="grid_9
pad_top"><textarea  class="radius5 fancyinput required cmsTextarea autowidth" id="aboutOffer" cols="48"
name="event[description]"> <%= @event.description rescue '' %></textarea><br>
                    <label for="aboutOffer" generated="false" class="error" ></label>
                    </div>
                    

                    <div class="grid_3 align_right marginTop5"><label>Event type</label></div>
                      <div class="grid_9 marginTop5">
                      			<input type="radio" name="eventType" class="absolute rEventType required" value="1"
id="rEventType1" <%= (@event.event_type == "1") ? "checked" : '' %> />
                            <span class="margin_left_20">One day event</span><br />
                            <input type="radio" name="eventType" class="absolute rEventType" value="2" id="rEventType2"
<%=
(@event.event_type == "2") ? "checked" : '' %>/>
                            <span class="margin_left_20">Multi-day event</span><br />
                            <input type="radio" name="eventType" class="absolute rEventType" value="3" id="rEventType3"
<%=
(@event.event_type == "3") ? "checked" : '' %>/>
                            <span class="margin_left_20">Weekly event</span><br />
                            <input type="radio" name="eventType" class="absolute rEventType" value="4" id="rEventType4"
<%=
(@event.event_type == "4") ? "checked" : '' %>/>
                            <span class="margin_left_20">Monthly event</span>
                      </div>
                      <div class="prefix_3 grid_9"><label for="eventType" generated="false" class="error"></label></div>
                    </div>
                   <div class="full_width borderBot"></div>
                       
                  <div class="container_12 inputs pad_top">
                    	<!----------------- FOR MULTI DATES CONTAINER ------------------------>
                      <div id="eventC_one" class="typeWrap">
                        <div class="container_12 inputs">
                          <div class="grid_3 align_right pad_top20"><label>Event Start Date</label></div>
                          <div class="grid_9 pad_top"><input type="text" class="required text-input fancyinput narrower"
id="start_date" name="event[start_date]" readonly="readonly" value="<%= formatted_date(@event.start_date, 'ddmmyyyy')
%>"><span
class="margin_left_10"><img src="/images/cal.gif" id="start_icon"/> </span><br />
                            <label for="start_date" generated="false" class="error" ></label>
                          </div>
                          <div id="eventC_endD">
                            <div class="grid_3 align_right pad_top20"><label>Event End Date</label></div>
                            <div class="grid_9 pad_top"><input type="text" class="required text-input fancyinput
narrower"
id="end_date" readonly="readonly" name="event[end_date]" value="<%= formatted_date(@event.end_date, 'ddmmyyyy')
%>"><span
class="margin_left_10"><img src="/images/cal.gif" id="end_icon"/> </span><br />
                              <label for="end_date" generated="false" class="error" ></label>
                            </div>
                          </div><!-- end container of end date -->
                        </div> 
                      </div>
                    <!----------------- FOR WEEKLY EVENT TYPE CONTAINER ------------------------>
                    <div id="eventC_day" class="typeWrap">
                      	<div class="container_12 inputs">
                        <div class="grid_3 align_right pad_top20"><label>Event Day</label></div>
                        <div class="grid_9 pad_top">
                        				<select name="event_weekly" class="autowidth radius5">
                                <option value="">Select a day</option>
                                <option value="mon" <%= (@event.event_day == "mon") ? "selected" : '' rescue ''
%>>Monday</option>
                                <option value="tue" <%= (@event.event_day == "tue") ? "selected" : '' rescue ''
%>>Tueday</option>
                                <option value="wed" <%= (@event.event_day == "wed") ? "selected" : '' rescue ''
%>>Wednesday</option>
                                <option value="thu" <%= (@event.event_day == "thu") ? "selected" : '' rescue ''
%>>Thursday</option>
                                <option value="fri" <%= (@event.event_day == "fri") ? "selected" : '' rescue ''
%>>Friday</option>
                                <option value="sat" <%= (@event.event_day == "sat") ? "selected" : '' rescue ''
%>>Saturday</option>
                                <option value="sun" <%= (@event.event_day == "sun") ? "selected" : '' rescue ''
%>>Sunday</option>
                                </select><span> of every week</span></div>
                        <div class="prefix_3 grid_9"><label for="event_weekly" generated="false"
class="error"></label></div>     
 
                      	</div>
                    </div>  
                      <!----------------- FOR MONTHLY EVENT TYPE CONTAINER ------------------------>
                    <div id="eventC_date" class="typeWrap">  
                      	<div class="container_12 inputs">
                        <div class="grid_3 align_right pad_top20"><label>Event Day</label></div>
                        <div class="grid_9 pad_top">
                        				<select name="event_monthly" class="autowidth radius5">
                                <option value="">Select a date</option>
                                <% 31.times do |day|%>
                                <option value="<%= day+1 %>" <%= (@event.event_day.to_i == (day+1)) ? "selected" : '' rescue '' %>><%= day+1 %></option>
                                <% end %>
                                </select><span> of every month</span></div>
                         <div class="prefix_3 grid_9"><label for="event_monthly" generated="false"
class="error"></label></div>   
   
                      </div>
                    </div>                    
									

                   <div class="container_12 inputs pad_top5">
  										<div class="grid_3 align_right pad_top7"><label>Event Time</label></div>
                      <div class="grid_4 autowidth">from&nbsp;&nbsp;<input type="text" class="required text-input
fancyinput
narrower autowidth" id="start_time" name="event[start_time]" size="10" value="<%= @event.start_time %>"><br />
                      <label for="start_time" generated="false" class="error" ></label>
                      </div>
                      <div class="grid_5">to&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="required text-input
fancyinput
autowidth" id="end_time" name="event[end_time]" size="10" value="<%= @event.end_time %>"><br />
                      <label for="end_time" generated="false" class="error" ></label>
                      </div>
                    </div>


                  	<div class="full_width borderBot pad_top20"></div>
                 		<div class="container_12 inputs pad_top">
  										<div class="grid_3 align_right marginTop5 pad_top5 clearfix"><label>Pricing
type</label></div>
                      <div class="grid_3 autowidth pad_top">

                        <input type="radio" id="free_pricing_type" name="pricing_type" value="free" <%= @event.pricing_type == 'free' ? "checked" : "" %> /><label for="free_pricing_type">Free</label></div>
                      <div class="grid_6 pad_top"><input type="radio" id="paid_pricing_type" name="pricing_type" value="paid" class="" <%= @event.pricing_type=='paid' ? "checked" : "" %> ><label for="paid_pricing_type">Pay</label></div>

                    </div>
                    <div class="pricingForm pad_top pad_bot <%= @event.pricing_type =='paid' ? '' : 'dispNone' %> ">
                      <div class="container_12 inputs">
                        <div class="grid_3 align_right clearfix pad_top7 bold">Price</div>
                        <div class="grid_3 autowidth" >from RM &nbsp;<input type="text" name="from_price"
class="text-input
fancyinput narrow  " value="<%= @event.from_price rescue ''  %>"/><br /><label for="from_price" generated="false"
class="error"></label></div>
                        <div class="grid_3" >to RM &nbsp;<input type="text" name="to_price" class="text-input fancyinput
narrow "
value="<%= @event.to_price rescue ''  %>" /><span class="absolute pad_top7 margin_left_10 pad_bot30"><a
href="#eventPricingH"
name="help" class="blue example cursor desc no_margin">&nbsp;</a></span><br /><label for="to_price" generated="false"
class="error"></label></div>
                      	
                      </div>
                    </div>
                    <div class="full_width borderBot pad_top"></div>
                   		<div class="container_12 inputs pad_top">
    										<div class="grid_3 align_right marginTop5 lh1"><label>Tags</label><br />(optional)<br /><a class="blue example cursor"  name="helpInfo" href="#cmpDialog" title="click to view more information..." data-id="<h6>Tags</h6>A tag is a keyword or term assigned to a piece of information (such as an Internet bookmark, digital image, or computer file). This kind of data helps describe an item and allows it to be found again by browsing or searching. <br /><br />In Zigzeg, Tags allow you to associate your account with relevant keywords related to your business. Tags have a higher search priority ranking than normal words in our search engine and as such, allow your business better search ranking when used correctly.<br /><br />
<span class='white underline'>Example</span><br />
Let’s say you are in the coffee shop business. Keywords associated with your business may be words like <span class='ital'>coffee, coffee bean, cafe, shop, drink, beverage, latte, mocha, espresso, cappuccino</span> and so on. You can input these keywords into the Tags field.">view example</a></div><div
class="grid_9"><input type="text" class="radius5 fancyinput" id="tagsVal" name="event[tags]" value="<%= @event.tags rescue ''%>" autocomplete="off">
    										  <%= show_loader("tags")%>
                        </div>
                        <div id="tagContainer" class="dispNone">
                              <div class="prefix_3 grid_1 pad_top"><label>Suggestions:</label></div>
                              <div class="grid_5 suffix_2 margin_left_20">
                    							<ul id="tagClick" class="tagList">
                        			</ul>
                    					</div>
                    		</div>
                    			<div class="grid_9 prefix_3">Separate each tag using commas. Example: city, web,
zigzeg</div>
                    		</div> 
                    <div class="full_width borderBot pad_top"></div>
                    <div class="container_12 inputs pad_top"></div>
                    <div class="container_12 inputs pad_top20">
                      <div class="prefix_3 grid_6 suffix_3 ">
                        <input type="submit" name="submit_save" class="radius5 userButton white cursor fleft half"
id="userSubmitBtn" value="Save and Next">
                        <input type="button" name="submit_cancel" class="radius5 bgGray margin_left_10 gray cursor fleft
width30"
id="userSubmitBtn" value="Cancel" onClick="location.replace('<%= myevents_business_path %>')">
                        <div class="grayLoader">Saving data</div>
                      </div>
                    </div>
                                        
                  </div>
  
<% end %>
</div>

<script>

$("#event_category_id").change(function() {
  var cat_id = $("#event_category_id").val();
  $("#loader_category").show();
  $.ajax({
    type: "GET",
    cache: false,
    url: "/welcome/load_select_subcategories?cat_id=" + cat_id,
    data: $(this).serializeArray(),
    success: function(data) {
      $("#subcategory_id").empty();
      $("#subcategory_id").append(data).fadeIn();
      $("#loader_category").hide();
    }
  });
});

$("#tagsVal").keyup(function(){
  $("#loader_tags").show();  
  tags = $("#tagsVal").val();
  cat = "<%= current_user.place.category.parent_id rescue 0%>"
  subcat = "<%= current_user.place.category_id rescue 0%>"

  $.ajax({
    type: "GET",
    cache: false,
    url: "/business/tag_suggestions?tag=" + tags + "&cat=" + cat + "&scat=" + subcat + "&type=place",
    data: $(this).serializeArray(),
    success: function(data) {
      if(data!='')
					$('#tagContainer').show();
			else
					$('#tagContainer').hide();
			$("#tagClick").empty().append(data);
      $("#loader_tags").hide();
    }      
  });
});
</script>
