<div class="simpleBox clearfix">
		<h6 class="bold no_margin orange">ADMINISTRATOR PROFILE FOR <span class="black">ADMIN_NAME</span></h6>
    <div class="margin_left_20">
    			<h6 class="bold no_margin">PROFILE INFORMATION</h6>

<%= form_for :user, :url => admin_administrators_path, :html => { :id => "profileFrm" }  do |f| %>
    <ul class="cform">
     	 <li>
         <label class="clearfix">Administrator Name</label>
         <input type="text" value="" name="user[username]" id="username" placeholder="Username" class="required text-input fancyinput" />
         <div class="clearfix"><label for="username" generated="false" class="error clearfix"></label></div>
       </li>
       <li>
         <label class="clearfix">Email address</label>
         <input type="text" value="" name="user[email]" id="email" placeholder="Email Address" class="required email text-input fancyinput" />
         <div class="clearfix"><label for="email" generated="false" class="error clearfix"></label></div>
       </li>
       <li>
         <label class="clearfix">Administrtor type</label>
         <%= f.select :user_type, options_for_select(Constant::ADMIN_USER_TYPES, nil), :include_blank => true, :id => "adminType", :class => "radius5 notify required" %>
         </select>
       </li>
      </ul>
    	<h6 class="bold">ADMINISTRATOR ACCESS</h6>
			<ul class="cform access">
     	 <li>
         <p class="width70">Limits adminstrator access to selected areas only. Click on checkbox to allow access.
Administrators without access priviledge will only be allowed to view information only.</p>
       </li>
       <li class="half"><input type="checkbox" name="user[settings][access][]" value="systems" class="systemCheck"><span>Systems</span>
       <a class="checkButton cursor checkAll fright">Select all options</a>
       </li>
       <li class="no_margin"><input type="checkbox" name="user[settings][access][]" value="package" class="sub"> Package/Rates</li>
       <li class="no_margin"><input type="checkbox" name="user[settings][access][]" value="promotion" class="sub"> Promotions</li>
       <li class="no_margin"><input type="checkbox" name="user[settings][access][]" value="announcements" class="sub"> Announcements</li>
       <li class="no_margin"><input type="checkbox" name="user[settings][access][]" value="map"><span>Map</span></li>
       <li class="no_margin"><input type="checkbox" name="user[settings][access][]" value="business"><span>Business</span></li>
       <li class="no_margin"><input type="checkbox" name="user[settings][access][]" value="user"><span>User</span></li>
       </ul>
    <h6 class="bold clearfix">CHANGE PASSWORD</h6>
			<ul class="cform">
     	 <li>
         <label class="clearfix">Enter new password</label>
         <input type="password" value="" name="user[password]" id="password" placeholder="password" class="required text-input fancyinput" />
         <div class="clearfix"><label for="password" generated="false" class="error clearfix"></label></div>
       </li>
       <li>
         <label class="clearfix">Re-type password</label>
         <input type="password" value="" name="user[password_confirmation]" id="password_conf" placeholder="Re-type password" class="required text-input fancyinput" />
         <div class="clearfix"><label for="password_conf" generated="false" class="error"></label></div>
       </li>
       <li>
       		<input type="submit" value="Update profile" id="userSubmitBtn" class="radius5 userButton cursor fleft" name="submit_save"/>
           <div class="grayLoader profile">Saving data</div>
       </li>
      </ul>
<% end %>

    </div>
</div>
