<script>
jQuery(document).ready(function(){

    $("#cname").blur(function() {
      $.ajax({
        url: "/registration/validate_cname?name=" + $("#cname").val(),
        type: "GET",
        async: false,
        success: function(data) {
          if (data == "true") {
            $("label[for=cname]").html("Company name already exist.");
            $("label[for=cname]").show();
          }
        }
      });    
    })


    $("#addemail").blur(function() {
      $.ajax({
        url: "/registration/validate_email?email=" + $("#addemail").val(),
        type: "GET",
        async: false,
        success: function(data) {
          if (data == "true") {
            $("label[for=addemail]").html('Email address already in use.<br>Please use a different email.');
            $("label[for=addemail]").show();
          }
        }
     });    
		})
		$("#signAdvertFrm").validate({
			messages: {
					"user[advert_company_name]": {
							required: 'Company name must not be empty!'
					},
					"user[advert_company_name_registered]": {
							required: 'Registered company name is required!'
					},
					"user[advert_company_reg_number]": {
							required: 'Company registration number field is required!'
					},
					"user[email]": {
							required: 'Email field is required!'
					},
					"user[password]": {
							required: 'Password field is required!'
					},
					"user[password_conf]": {
							required: 'Password Confirmation field is required!'
					}					
			},
       submitHandler: function(form) {
  $("#advert_submit_btn").attr("disabled","disabled");

				 jQuery.post("/signup",
				   $("#signAdvertFrm").serialize(),
					 function(data){
             if (data == "success") {
               location.href="/signup_success?signup=advert&email="+$('#addemail').val();
             }else{
               if (data.indexOf('email')  >= 0) {
                 $("label[for=addemail]").show();
                 $("label[for=addemail]").text(data);
               }else if (data.indexOf('Company') >= 0) {
                 $("label[for=cname]").show();
                 $("label[for=cname]").text(data);
               }else{
                 $("#error_handler").text(data);
                 $("#error_handler").show();
               }
             }
           }
         );
			 }
  });                
	$("#adPwc").rules("add", {minlength: 6,equalTo:"#addPassword"});
	$("#addPassword").rules("add", {minlength: 6});
								
});
</script>
<form id="signAdvertFrm" method="post" action="">  
  <%= hidden_field_tag "user[user_type]", "advertiser"%>
  <div id="stepAReg" class="">
    <h2 class="bold">REGISTRATION</h2>
    <p class="width90 pad_bot lh1">Your Zigzeg For Business Account gives you access to Zigzeg's Business services and features.
      <br/>
      <br/>
      <%= link_to "Click here", "login"%> to sign in if you already have a Zigzeg Business account.
    </p>
    <label class="error" id="error_handler"></label>
    

    <div class="container_12 full no_margin pad_top20">
    	<div class="grid_12"><label class="pad_bot5">Company Name  <a href="#cmpTooltip" name="tTip" rel="Company Name/Brand Name"
title="The
name of your company or brand. This name will be used in all your Zigzeg listings." class="blue example cursor
desc">&nbsp;</a></label></div>
      <div class="grid_12"><input type="text" value="" name="user[advert_company_name]" id="cname" class="fancyinput required"><br
/><label for="cname" generated="false" class="error"></label></div>      
      <div class="grid_5 pad_top autowidth"><label class="pad_bot5">Registered Company Name (optional) <a href="#cmpTooltip" name="tTip"
rel="Registered Company Name" title="Name of your company logged with the company registrar department of your country. NOTE:
Leave this field empty if your company name & registered company name are the same."
class="blue example cursor desc">&nbsp;</a></label><div class="clearfix"></div><input type="text" value=""
name="user[advert_company_name_registered]" id="regcname" title="Input a Name of company registered" class="tTip
fancyinput "/><br /><label for="regcname" generated="false" class="error"></label></div>
      <div class="grid_7 pad_top"><label class="pad_bot5">Company Registration Number (not made public) <a href="#cmpTooltip" name="tTip"
rel="Company Registration Number" title="The registration number of your company as provided by the company registrar department
of your country." class="blue example cursor desc">&nbsp;</a></label><br /><input type="text"
value="" name="user[advert_company_reg_number]" id="regcnum" title="You need to key in the companies registration number"
class="tTip fancyinput required" /><br /><label for="regcnum" generated="false" class="error"></label></div>
    	<div class="grid_12"><div class="border"></div></div>
      <div class="grid_12"><label class="pad_bot5">Email Address</label></div>
      <div class="grid_12"><input type="text" value="" name="user[email]" id="addemail" class="fancyinput required email" /><br
/><label for="addemail" generated="false" class="error"></label></div>
       
      <div class="grid_5 pad_top autowidth"><label class="pad_bot5">Password (mininum 6 characters)</label><div class="clearfix"></div><input
type="password" value="" name="user[password]"  id="addPassword" class="fancyinput required "/><br /><label for="addPassword"
generated="false" class="error"></label></div>
      <div class="grid_7 pad_top"><label class="pad_bot5 full">Re-enter Password</label><input type="password" value=""
name="user[password_conf]" id="adPwc" class="fancyinput required"/><br /><label for="adPwc" generated="generated"
class="error"></label></div>
      
      <div class="grid_12 pad_top"><label class="pad_bot5">How did you find out about ZIGZEG? </label></div>
      <div class="grid_12"><select id="find_out" name="find_out" class="required radius5 fancyinput gray full">
            <option value=""></option>
            <option value="Word of mouth">Word of mouth/friends</option>
            <option value="Email">Email</option>
            <option value="Fax">Fax</option>
            <option value="Online ads">Online ads</option>
            <option value="Search engine">Search engine</option>
            <option value="Our printed flyers and brochures">Our printed flyers and brochures</option>
            <option value="Our box-set">Our box-set</option>
            <option value="others">Others</option>
          </select>
          <div id="others" class="dispNone pad_top">
            <input type="text" name="find_out_other" value="" class="text-input fancyinput">
          </div><br /><label for="find_out" generated="false" class="error"></label></div>
      
      <div class="grid_12 pad_top"><p class="pad_top">By clicking '<span class="bold">Register</span>', you confirm that you
accept the terms stipulated in our <%= link_to "Business Service Agreement", terms_path, :target => "_blank" %>.</p></div>
      <div class="grid_12 pad_top20"> <input type="submit" id="advert_submit_btn" value="REGISTER" class="radius5 bigbutton
advertButton white simple small_shadow " name="register"/>
          &nbsp;&nbsp;
          <input type="button" value="BACK" class="radius5 bigbutton bgGray white  cursor simple hoverBlack small_shadow btnBack"
name="back" onclick="window.location.href = '<%= signup_path(:signup => 'advert') %>'"/></div>
      
     
    </div>
    
    
  </div>
</form>
