<!--advert form-->
<div id="advertFrmContent" class="grid_8 alpha ">
<form id="signAdvertFrm" method="post" action="">
  <input type="hidden" name="packageType" id="packageType" value="">
  <div id="packageSelect">
    <div class="container_12 full packageCompare pad_bot20">
    <div class="cheat">&nbsp;</div>
    					<div class="head clearfix">
              		<div class="grid_7"><h2 class="bold pad_top margin_left_20">CHOOSE YOUR ACCOUNT</h2></div>
                  <div class="grid_3 freeP"><h1 class="bold">FREE</h1></div>
                  <div class="grid_3 basicP"><h1 class="bold">BASIC</h1></div>   
                  <div class="grid_3 premiumP"><h1 class="bold">PREMIUM</h1></div> 
              </div>
              <div class="row first">
              <div class="grid_7">Comprehensive business information <a class="blue example cursor desc" name="tTip"
href="#cmpBizInfo" >&nbsp;</a></div>  
              <div class="grid_3 check">&nbsp;</div><div class="grid_3 check">&nbsp;</div><div class="grid_3
check">&nbsp;</div>  
              </div>
              <div class="row">

              <div class="grid_7"><div class="soon left">&nbsp;</div>Twitter & Facebook integration <a class="blue example cursor desc"
name="tTip" href="#cmpSocInteg">&nbsp;</a></div>  
              <div class="grid_3 check">&nbsp;</div><div class="grid_3 check">&nbsp;</div><div class="grid_3 check">&nbsp;</div>  
				</div>
              <div class="row">
              <div class="grid_7">Mark your business with our interactive map<a class="blue example cursor desc"
name="tTip" href="#cmpInterMap"></a></div>  
              <div class="grid_3 check">&nbsp;</div><div class="grid_3 check">&nbsp;</div><div class="grid_3
check">&nbsp;</div>  
              </div>
              <div class="row">
              <div class="grid_7">Complete Content Management System<a class="blue example cursor desc" name="tTip"
href="#cmpCMS"></a></div>  
              <div class="grid_3 check">&nbsp;</div><div class="grid_3 check">&nbsp;</div><div class="grid_3
check">&nbsp;</div>  
              </div>
              <div class="row">

              <div class="grid_7"><div class="soon left">&nbsp;</div>Link your businesses<a class="blue example cursor desc"
name="tTip" href="#cmpBizLink"></a></div>  
              <div class="grid_3 check">&nbsp;</div><div class="grid_3 check">&nbsp;</div><div class="grid_3 check">&nbsp;</div>  
              </div>
              <div class="row">
              <div class="grid_7">Products, Services & Brands Gallery<a class="blue example cursor desc" name="tTip"
href="#cmpGallery"></a></div>  
              <div class="grid_3"><a class="black noDecor" title="Limited to 5 images">Limited</a></div><div
class="grid_3"><a class="black noDecor" title="Limited to
60 images">Limited</a></div><div class="grid_3">Unlimited</div>  
              </div>
              <div class="row">
	          <div class="grid_7"><div class="soon left">&nbsp;</div>Business Statistics Monitoring Solution via ZEUS<a class="blue
example cursor desc" name="tTip" href="#cmpZeus"></a></div>  
              <div class="grid_3">Simple</div><div class="grid_3">Advanced</div><div class="grid_3">Advanced</div>  
              </div>
              <div class="row">
              <div class="grid_7">Listing priority & exposure level<a class="blue example cursor desc" name="tTip"
href="#cmpListings"></a></div>  
              <div class="grid_3"><span class="check"></span></div><div class="grid_3"><span class="check"></span><span
class="check"></span><span
class="check"></span></div><div class="grid_3"><span class="check"></span><span class="check"></span><span
class="check"></span><span class="check"></span><span
class="check"></span></div>   
              </div>
              <div class="row">
              <div class="grid_7">Create Offers<a class="blue example cursor desc" name="tTip"
href="#cmpOffers"></a></div>  
              <div class="grid_3"><a class=" black" title="3 listings/year">Limited</a></div>
              <div class="grid_3"><a class="black" title="combined 60 listings/year with Zigzeg
Events">Limited</a></div><div class="grid_3">Unlimited</div>  
              </div>
              <div class="row"> 
              <div class="grid_7">Create Events<a class="blue example cursor desc" name="tTip"
href="#cmpEvents"></a></div>  
              <div class="grid_3">&nbsp;</div><div class="grid_3"><a class="black" title="combined 60 listings/year with
Zigzeg Offers">Limited</a></div><div
class="grid_3">Unlimited</div>  
              </div>
              <div class="row">
              <div class="grid_7">Your logo on our maps<a class="blue example cursor desc" name="tTip"
href="#cmpLogoMap"></a></div>  
              <div class="grid_3">&nbsp;</div><div class="grid_3">&nbsp;</div><div class="grid_3 check">&nbsp;</div>  
              </div>
              <div class="row last">
              <div class="grid_7 last">Premium Customer Care & Data Service<a class="blue example cursor desc"
name="tTip" href="#cmpService"></a></div>  
              <div class="grid_3">&nbsp;</div><div class="grid_3">&nbsp;</div><div class="grid_3 check">&nbsp;</div>  
              </div>
                    <div class="footer clearfix">
                        <div class="grid_7 no_pad " align="right">
                            <div class="tax bgGray">
                              <div class="grid_1 align_right">*</div>
                              <div class="grid_11 align_left">Price indicated does not include government <br />tax (if
applicable)</div>
                              <div class="grid_1 align_right">**</div>
                              <div class="grid_11 align_left">Each Subscription lasts for a period of 12 <br />months</div>
                            </div>
                        </div>
                        <a href="<%= signup_path(:signup => 'advert', :page => 'reg', :package => 'free') %>" name=""
class="cursor ">
                        <div class="grid_3 freeP"></div></a>
                        
                        <div class="grid_3 basicP"></div>
                       
												<div class="grid_3 premiumP"></div>

                    </div>
                </div>
               <div class="dispNone">
               <div class="container_12 pad_top30 pad_bot20 marginTop30 exception full ">
               		<div class="prefix_1 grid_5 first"><span class="bold">FREE-FOR-LIFE BASIC ACCOUNT</span>
                      <p class="">Charities, Foundations, Associations, Non-profit educational 
                      institutions & other non-profit organisations are eligible for a 
                      free-for-life basic account.</p><br>
                      <a href="" class="blue radius15 userButton white bold create nextStep">Get It now! <span
class="arrow"></span></a>
                      </div>
                  <div class="grid_5 suffix_1"><span class="bold">LOOKING FOR A CUSTOMISED SOLUTION?</span>
                      <p class="">Are you a large corporation? Do you have a large 
                      number of branches & offices? Need a customised solution? 
                      Let us help you.</p><br>
                      <a href="" class="blue radius15 userButton white bold create nextStep">Get us to call you back
<span class="arrow"></span></a>
                      </div>
               </div>
              	</div>
              <div>
              </div>
            </div>
	</form>
  <div class="successMessage dispNone">
    <h2 class="bold">THANK YOU!</h2>
    <p class="width90 pad_bot lh1">Thank you here.</p>
    <ul class="listSuccess">
      <li>A verification email has been sent to <a class="cursor emailReg">business@info.com</a>. </li>
      <li>Check your inbox, and verify via the link from the verifaction email.</li>
      <li>If you do not received the email, do contact our support team at <a href="mailto:info@zigzeg.com"
class="cursor">info@zigzeg.com</a>.</li>
    </ul>
  </div>

</div>
  	 <div id="boxes">
        <div id="cmpBizInfo" class="window comparison" >
       				<div class="lgray">
              <h6 class="white">Comprehensive Business Information</h6>
              <p>Zigzeg’s ‘Your Place’ page allows you to impart a myriad of information and communications about your 
              company to your customers.</p>
              <p><img src="/images/compare/bizInfo.png">It is the heart of your Zigzeg Account and is the conduit that
connects your customers to your business.</p>
							<p>You can let the city know what your company does, why is it special and why they should
take notice.</p>
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpSocInteg" class="window comparison" >
       				<div class="lgray">
              <h6 class="white">Twitter & Facebook Integration</h6>
             	<p align="justify">Your Zigzeg for Business account can be synchronized with your company’s Twitter and
Facebook accounts.</p>
              <p align="justify">All your Zigzeg Offers, Zigzeg Events and Zigzeg Shout postings will be appear on your
Facebook & Twitter accounts.</p>
							<p align="justify">Save time, energy and maximise your exposure by having your postings
appear on Twitter, Facebook & Zigzeg with just one
click of your mouse!</p>
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpInterMap" class="window comparison" >
          	<div class="lgray">
              <h6 class="white">Zigzeg’s Interactive Urban Map</h6>
             	<p align="justify">Our 'Total Urban Awareness System' combines a modified version of Google Maps with
our city information system. It lets users know how to find you, where to get your offers and how to get to your
events.</p>
              
              <center><img src="/images/compare/interMap.png" align="middle" class="center"></center>
							
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpCMS" class="window comparison" >
          	<div class="lgray">
            	<h6 class="white">Complete Content Management system</h6>
             	<p>This is your Zigzeg account control panel. Control and watch over all aspects of your account online without fuss.</p>
              <p>This easy-to-use system lets you update, post, fiddle with account settings, communicate with your customers and more. We even have our
built-in help feature to assist you.</p>
             	<img src="/images/compare/cms.png">
              <p>You are of course still welcomed to contact us for further assistance.</p>
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpBizLink" class="window comparison" >
        	<div class="lgray">
            	<h6 class="white">Link your businesses</h6>
             	<p>Handle your business branches efficiently on Zigzeg. Link them together so your customers know where else to find you.</p>
             	<center><img src="/images/compare/bizLink.png" class="center pad_top20"></center>
              
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpGallery" class="window comparison" >
        	<div class="lgray">
          		<h6 class="white">Products, Services & Brands Gallery</h6>
             	<p>Get your products out there! Plus your services &amp; brands noticed! Promote all of them using 
Zigzeg's Gallery feature.</p>
             	<center><img src="/images/compare/gallery.png" class="center pad_top20"></center>
              
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpZeus" class="window comparison" >
        			<div class="lgray">
          		<h6 class="white">Zigzeg End-user Statistics (ZEUS) Tool</h6>
             	<p>Monitor your business’ exposure  and numbers via our Zigzeg End-user Statistics (ZEUS) Tool. </p>
             	<p>Get a bird's eye view of your business exposure and statistics via our ZEUS Tool. ZEUS lets you in on vital information such as page visits,
time-spent per visit, impressions and more. It gives you valuable insight on what works and what didn't with your marketing campaigns <img
src="/images/compare/zeus.png"></p>
             	</div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpListings" class="window comparison" >
        			<div class="lgray">
          		<h6 class="white">Listing priority & exposure level</h6>
             	<p>Different Zigzeg for Business acounts provide different levels of priority listing and exposure to
your business.</p>
             	<p>Naturally our Premium account for business provides the highest level of priority listing and
premium markings to make your business standout while a Basic account provides a lower one. And of course the free account, the lowest. <img
src="/images/compare/listings.png"></p>
             	</div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpOffers" class="window comparison" >
        			<div class="lgray">
              <h6 class="white">Zigzeg Offers</h6>
             	<p>Got something to offer? Be it discount, promotion or a good ol' fashion sale, you can create a Zigzeg Offer and
tell the city all about it.</p>
             	<p>Yes, we're different from the deals sites. That's because we figured it'd be best for you to save on marketing costs. Zigzeg Offers require
minimal payment & no commissions. So you can create as many offers as you can handle!* We are even giving it to you for free in our Free account!**</p>
              <small>* dependent upon account type | ** limited to 3 postings/year</small>
             	<img src="/images/compare/offers.png">
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpEvents" class="window comparison" >
        			<div class="lgray">
              <h6 class="white">Zigzeg Events</h6>
             	<p>Holding an event? Then spread the word by using Zigzeg Events*. Get the city to know about the kind of event you're holding, what's so cool
about it, and of course specific event details. And just like our Offers, Zigzeg Events too require minimal payment*.</p>
              <small>* requires a Zigzeg for Business Basic or Premium account</small>
             	<img src="/images/compare/events.png">
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpLogoMap" class="window comparison" >
        			<div class="lgray">
          		<h6 class="white">Your logo on our maps*</h6>
             	<p>Get a larger custom marker with your logo on it instead of our generic map marker. This way, you'll get instant brand exposure and
recognition.</p>
             	<small>* requires a Zigzeg for Business Premium account</small>
              <center><img src="/images/compare/logoMap.png" class="center"></center>
              </div>
             <div class="arrowLeft"></div>     
        </div>
        <div id="cmpService" class="window comparison" >
        			<div class="lgray">
              <h6 class="white">Premium Customer Care & Data Service</h6>
             	<p>Want a hassle-free Zigzeg experience? Sign-up for a Zigzeg for Business Premium account. Because we assign a customer care officer who will
provide a full-time customer support and data processing services. To put it simply, the customer care officer will handle your account on your behalf.</p>
             	</div>
             <div class="arrowLeft"></div>     
        </div>
   </div>
<div id="mask"></div>  
<!--end form-->