<div id="headerSignup" class="userheader relative">
  <div class="fcontainer_12 pad_top">
    <div class="container_12 clearfix full ">
 		<!--start slider-->
   	<div id="slider_wrap" class="grid_12 user">
    	 <ul id="slider2" class="">
				<li class="user">
						<div class="grid_6 no_margin">
							<h3 class="script dmw">The city at your fingertips</h3>
              <h1 class="white segoe">&nbsp;</h1>
             <p align="justify" class="white">
              Want to know what your city has to offer? Zigzeg provides you with insights into the latest and hottest places, offers & events all around you! And if you have no idea where a place, event or offer might be, let our interactive urban map guide you there!  
<br/><br/>Sign-up for a FREE user account now & get updates, news & more on what's happening daily in locations all around your city.<br/>
              </p>
            </div>
         			<div class="grid_6 userImageBoard fright" align="center" >         
              </div>
        </li>
        <li class="advert">
						<div class="grid_6 no_margin">
							<h3 class="script be pad_bot5">Because  business can always be 
better!</h3>
              <h1 class="white segoe pad_top">&nbsp;</h1>
							<p align="justify" class="white lh1">
              Let people in your city know what your business is all about. Now you can have your business info, offers, events, updates, location etc. all under one account. 
<br/>
<br/> 
Sign up for an account now and find out what Zigzeg can do for your business.
<br/>
<br/>
              <a href="http://biz.zigzeg.com/" target="_new" class="white explore">Explore more <span class="more"></span></a><br><br>
              </p>
						</div>
         			<div class="grid_6 advertImageBoard fright" align="center" >
              </div>
        </li>
			</ul>
   
    </div>
     <ul id="signupTabs" class="tabs">
		<li><a id="" href="<%= signup_path %>"  class="<%= params[:signup].blank? ? "current" : "" %>">Public User</a></li>
		<li><a id="" href="<%= signup_path(:signup => 'advert') %>" class="<%= params[:signup] == 'advert' ? "current" : "" %>">Business</a></li>
		</ul>
    <!--end slider-->
		</div>
  </div> 
</div>
<!--start page_wrap-->
