<% total = 0 %>
<% govtax = GlobalSetting.bycode("GOVTAX") %>

<% if package.package_code == 'basic_monthly'%>
  <% total = total + package.price_per_month %>
<div class="packageReg pad marginTop20 width80 align_left">
  <h6 class="bold no_margin">PAYMENT OVERVIEW</h6>
	<div class="container_12 full pad_bot inlineB overviewInfo">
    <div class="grid_9"></div>
    <div class="grid_3"></div>
    <div class="grid_9">Zigzeg for Business Basic Package - 1 monthly payment<br>(Preiod of contract: <%= formatted_date(Time.now.to_date, 'dd mm yyyy')%> to <%= formatted_date(Time.now + 1.month, 'dd mm yyyy') %> )</div>
    <div class="grid_3"><span class="bold"><%= number_to_currency(package.price_per_month, :unit => '')%></span></div>

    <% unless  govtax.nil?%>
      <% if govtax.option_value.to_i > 0 %>
        <% total = total + package.sales_tax %>
        <div class="grid_9">Government Sales Tax : <%= number_to_currency(govtax.option_value, :unit => '') %>%</div>
        <div class="grid_3"><span class="bold"><%= number_to_currency(package.sales_tax, :unit => '') %></span></div>
      <% end%>
    <% end %>
        <div class="grid_12 marginTop align_right bgGray pad_v10 "><span class="bold">TOTAL(RM) : <%= number_to_currency(total, :unit => '') %></span></div>
  </div>
</div>

<% elsif package.package_code == "basic_yearly"%>
 <% total = total + package.price_per_year %>
<div class="packageReg pad marginTop20 width80 align_left">
  <h6 class="bold no_margin">PAYMENT OVERVIEW</h6>
	<div class="container_12 full pad_bot inlineB overviewInfo">
    <div class="grid_9"></div>
    <div class="grid_3"></div>
    <div class="grid_9">Zigzeg for Business Basic Package - 1 time payment<br>(Period of contract: <%= formatted_date(Time.now.to_date, 'dd mm yyyy')%> to <%= formatted_date(Time.now + 12.months, 'dd mm yyyy')%> )</div>
    <div class="grid_3"><span class="bold"><%= number_to_currency(package.price_per_year, :unit => '') %></span></div>


    <% unless  govtax.nil?%>
      <% if govtax.option_value.to_i > 0 %>
        <% total = total + package.sales_tax %>
        <div class="grid_9">Government Sales Tax : <%= number_to_currency(govtax.option_value, :unit => '') %>%</div>
        <div class="grid_3"><span class="bold"><%= number_to_currency(package.sales_tax, :unit => '') %></span></div>
      <% end %>
    <% end %>
    <div class="grid_12 marginTop align_right bgGray pad_v10 "><span class="bold">TOTAL(RM) : <%= number_to_currency(total, :unit => '') %></span></div>
  </div>
</div>

<% elsif package.package_code == "premium_monthly"%>
  <% total = total + package.price_per_month %>
<div class="packageReg pad marginTop20 width80 align_left">
  <h6 class="bold no_margin">PAYMENT  OVERVIEW</h6>
	<div class="container_12 full pad_bot inlineB overviewInfo">
    <div class="grid_9"></div>
    <div class="grid_3"></div>
    <div class="grid_9">Zigzeg for Business Premium Package - 1 month payment<br>(Period of contract <%= formatted_date(Time.now.to_date, 'dd mm yyyy')%> to <%= formatted_date(Time.now + 1.month, 'dd mm yyyy')%>)</div>
    <div class="grid_3"><span class="bold"><%= number_to_currency(package.price_per_month, :unit => '') %></span></div>

    <% unless  govtax.nil?%>
      <% if govtax.option_value.to_i > 0 %>
        <% total = total + package.sales_tax %>
        <div class="grid_9">Government Sales Tax : <%= number_to_currency(govtax.option_value, :unit => '') %>%</div>
        <div class="grid_3"><span class="bold"><%= number_to_currency(package.sales_tax, :unit => '') %></span></div>
      <% end %>
    <% end %>
        <div class="grid_12 marginTop align_right bgGray pad_v10 "><span class="bold">TOTAL(RM) : <%= number_to_currency(total, :unit => '') %></span></div>
  </div>
</div>
<% elsif package.package_code == "premium_yearly"%>
  <% total = total + package.price_per_year %>
<div class="packageReg pad marginTop20 width80 align_left">
  <h6 class="bold no_margin">PAYMENT OVERVIEW</h6>
	<div class="container_12 full pad_bot inlineB overviewInfo">
    <div class="grid_9"></div>
    <div class="grid_3"></div>
    <div class="grid_9">Zigzeg for Business Premium Package - 1 time payment<br>(Period of contract: <%= formatted_date(Time.now.to_date, 'dd mm yyyy')%> to <%= formatted_date(Time.now + 12.months, 'dd mm yyyy')%>)</div>
    <div class="grid_3"><span class="bold"><%= number_to_currency(package.price_per_year, :unit => '') %></span></div>

    <% unless  govtax.nil?%>
      <% if govtax.option_value.to_i > 0 %>
        <% total = total + package.sales_tax %>
        <div class="grid_9">Government Sales Tax : <%= number_to_currency(govtax.option_value, :unit => '') %>%</div>
        <div class="grid_3"><span class="bold"><%= number_to_currency(package.sales_tax, :unit => '') %></span></div>
      <% end %>
    <% end %>
        <div class="grid_12 marginTop align_right bgGray pad_v10 "><span class="bold">TOTAL(RM) : <%= number_to_currency(total, :unit => '') %></span></div>
  </div>
</div>
<% end %>

<%= hidden_field_tag :total_amount, total %>

<!--
<div class="packageReg pad marginTop20 width80 align_left">
  <h6 class="bold no_margin">OVERVIEW FOR <span class="">ZIGZEG FOR BUSINESS PREMIUM - 1-TIME FULL PAYMENT</span></h6>
	<div class="container_12 full pad_bot inlineB overviewInfo">
    <div class="grid_9">Zigzeg for Business Basic Package pro-rated rate<br>(From 31 January, 2012 to 15 June, 2012)</div>
    <div class="grid_3"><span class="bold">623.00</span></div>
    <div class="grid_9">Zigzeg for Business Premium Package - 1 time payment<br>(From 16 June, 2012 to 15 June, 2013)</div>
    <div class="grid_3"><span class="bold">623.00</span></div>
    <div class="grid_9">Payment paid for Zigzeg for Business Basic Package <br>Zigzeg Invoice No.ZZ-012345</div>
    <div class="grid_3"><span class="bold">-1,1270.00</span></div>
    <div class="grid_9">Discount : 15%</div>
    <div class="grid_3"><span class="bold">-570.00</span></div>
    <div class="grid_9">Government Sales Tax : 6%</div>
    <div class="grid_3"><span class="bold">70.00</span></div>
    <div class="grid_12 marginTop align_right bgGray pad_v10 "><span class="bold">TOTAL(RM) : 3,230.00</span></div>
  </div>
</div>
-->
