<script>
jQuery(document).ready(function(){

    $("#cname").keyup(function() {
      if ($("#cname").val() == "") {
        $("#cname_error").val('none');
      }
    });

    $("#cname").blur(function() {
      $("#cname_error").val('none');
      $.ajax({
        url: "/registration/validate_cname?name=" + $("#cname").val(),
        type: "GET",
        async: false,
        success: function(data) {
          if (data == "true") {
            $("#cname_error").val('');
            $("label[for=cname_error]").html("Company name already exist.");
            $("label[for=cname_error]").show();
          }else{
            $("#cname_error").val('none');
            $("label[for=cname_error]").hide();
          }
        }
      });    
    })


  $("#find_out").change(function(){if ($("#find_out").val() == "others"){$("#others").show();}else{$("#others").hide();}});  
  
  $("#addemail").blur(function() {
    $.ajax({
      url: "/registration/validate_email?email=" + $("#addemail").val(),
      type: "GET",
      async: false,
      success: function(data) {
        if (data == "true") {
          $("label[for=addemail]").html('Email address already in use.<br>Please use a different email.');
          $("label[for=addemail]").show();
        }
      }
    });    
  })
	$("#signAdvertFrm").validate({
		rules:{
					"user[password_conf]":{
								equalTo:"#addPassword"
					},
					"user[password]":{
								minlength: 6
					}
		},messages: {
                    "cname_error": {
                      required: "Company name already exist.",
                    },

					"payment_method": {
							required: 'Please select a payment method'
					},"user[advert_company_name]": {
							required: 'Company name is required'
					},
					"user[advert_company_name_registered]": {
							required: 'Registered company name is required'
					},
					"user[advert_company_reg_number]": {
							required: 'Company registration number is required'
					},
					"user[email]": {
							required: 'Email is required'
					},
					"user[password]": {
							required: 'Password is required'
					},
					"user[password_conf]": {
							required: 'Password Confirmation is required',
							equalTo:'Entered passwords do not match'
					}},
       submitHandler: function(form) {
				 jQuery.post("/signup",
				   $("#signAdvertFrm").serialize(),
					 function(data){
             if (data == "success") {
               location.href="/signup_success?signup=advert&email="+$('#addemail').val();
             }else{
               if (data.indexOf('email')  > 0) {
                 $("label[for=addemail]").show();
                 $("label[for=addemail]").text(data);
               }else{
                 $("#error_handler").text(data);
                 $("#error_handler").show();
               }
             }
           }
         );
       }
     });
}); 

</script>
<div id="page_wrap" class="fcontainer_12 clearfix top">

    <!--start content-->
    <section id="" class="fgrid_12 clearfix">
    	<div id="main" class="full_width alpha pad signUp ">


        <!--advert form-->
        <div id="advertFrmContent" class="grid_8 alpha">
        
		<form id="signAdvertFrm" method="post" action="">
    <!-- <input type="hidden" name="packageType" id="packageType" value=""> -->
    <input type="hidden" name="user[user_type]" id="user_type" value="advertiser">
    
    <!-- CLASS EITHER : 'premiumP' or 'basicP' for changing of the header color -->
    	<div id="stepAReg" class="packageReg <%= params[:package] =='premium' ? "premiumP" : "basicP"%> ">
     	<div class="packHead">PAYMENT & REGISTRATION 
         <% if params[:package] == "premium" %>
           FOR PREMIUM ACCOUNT
         <% else %>
           FOR BASIC ACCOUNT
         <% end %>


         </div>
      	<div class="packRegContent container_12">	
        <p class="top">You have selected our <span class="packName">Zigzeg for Business <span id='package_name_span'><%=
params[:package] =='premium' ? "Premium" : "Basic" %></span> Package</span>, which provides you with  
<span id="full_enhanced"><%= params[:package] =='premium' ? "full" : "enhanced" %></span> access to Zigzeg’s business services and
features</p>
        <h6 class="bold pad_top10">Select a payment option & payment method</h6>
        <div class="no_margin border"></div>
        <div class="container_12 full no_margin clearfix pad_top">
             	<div class="grid_3 no_margin bold">Package & Payment Options</div>
              <div class="grid_4"><input type="radio" onclick="updatePackageInformation('basic_yearly')"  name="packageType"
value="basic_yearly" <%= params[:package] == "basic" ? "checked":nil %>><span class="absolute pad_left">BASIC - 1 year full
payment </span></div>
             	<div class="grid_2">RM <%= @packages['basic_yearly'].first.price_per_month %>/mth </div>
              <div class="grid_3 pull_1 pad_left20"><a href="#cmpTooltip" name="tTip" rel="Package & Payment Options" title="The
Package & Payment Options." class="blue example cursor desc ">&nbsp;</a></div>
              <div class="clearfix"></div>
              <div class="grid_3 no_margin">&nbsp;</div>
              <div class="grid_4"><input type="radio" onclick="updatePackageInformation('basic_monthly')" name="packageType"
value="basic_monthly"><span class="absolute pad_left">BASIC - 12 monthly payments</span></div>
              <div class="grid_5">RM <%= @packages['basic_monthly'].first.price_per_month %>/mth</div>
              <div class="clearfix"></div>
              <div class="grid_3 no_margin">&nbsp;</div>
              <div class="grid_4"><input type="radio" onclick="updatePackageInformation('premium_yearly')"  name="packageType"
value="premium_yearly" <%= params[:package] == "premium" ? "checked":nil %>><span class="absolute pad_left">PREMIUM - 1 year full
payment </span></div>
              <div class="grid_5">RM <%= @packages['premium_yearly'].first.price_per_month %>/mth</div>
              <div class="clearfix"></div>
              <div class="grid_3 no_margin">&nbsp;</div>
              <div class="grid_4"><input type="radio" onclick="updatePackageInformation('premium_monthly')"  name="packageType"
value="premium_monthly"><span class="absolute pad_left">PREMIUM - 12 monthly payments </span></div>
             	<div class="grid_5">RM <%= @packages['premium_monthly'].first.price_per_month %>/mth</div>
              <div class="grid_12 clearfix pad_top20"></div>
              <div class="grid_3 no_margin bold pad_top">Payment method</div>
              <div class="grid_5">
              		<select class="fancyinput required radius5" name="payment_method" id="payment_method">
                  		<option value="">Please select a payment method -------------</option>
                			<option value="creditcard">Credit Card</option>
                			<option value="online">Online bank transfer</option>
                      <option value="manual">Manual bank transfer</option>
                  </select>
                  <label for="payment_method" generated="false" class="error"></label>
              </div>
              <div class="grid_3 pad_left pad_top">&nbsp;<a href="#cmpTooltip" name="tTip" rel="Payment method" title="Payment
method" class="blue example cursor desc ">&nbsp;</a></div>
        </div>

        <div align="center" id="package_pricing">
          <%= render :partial => "package_pricing", :locals => { :package => @package } %>
       </div>
          
        

        <h6 class="bold pad_top20">Zigzeg for Business Account Registration</h6><div class="no_margin border"></div>
        <ul class="cform">
        <li class="">
        <div class="clearfix">
             <div class="label">Company Name</div>
             <div class="fleft">
               <input type="text" value="" name="user[advert_company_name]" id="cname" class="fancyinput required"><br />
               <%= hidden_field_tag "cname_error", 'none', :class => "required" %>
               <label for="cname_error" generated="false" class="error"></label>
               <label for="cname" generated="false" class="error"></label>
             </div> <div class="pad_top7"><a href="#cmpTooltip" name="tTip" rel="Company Name/Brand Name" title="The
name of your company or brand. This name will be used in all your Zigzeg listings."
class="blue example cursor desc ">&nbsp;</a></div>
         </div>
        </li>
				<li class="">
        <div class="clearfix">
             <div class="label">Registered Company Name</div>
             <div class="fleft">
             			 <input type="text" value="" name="user[advert_company_name_registered]" id="regcname" title="Input a
Name of company registered" class="tTip fancyinput required"/><br>
             			<label for="regcname" generated="false" class="error width70"></label>
             </div><div class="pad_top7"><a href="#cmpTooltip" name="tTip" rel="Registered Company Name" title="Name of your company logged with the company registrar department of your country. NOTE:
Leave this field empty if your company name & registered company name are the same." class="blue example cursor desc">&nbsp;</a></div>
         </div>
        </li>
        <li class="">
        <div class="clearfix">
             <div class="label">Company Registration Number</div>
             <div class="fleft">
             			 <input type="text" value="" name="user[advert_company_reg_number]" id="regcnum" title="You need to key
in the companies registration number" class="tTip fancyinput required " /><br>
             			<label for="regcnum" generated="false" class="error"></label>
             </div><div class="pad_top7"><a href="#cmpTooltip" name="tTip" rel="Company Registration Number" title="The
registration number of your company as provided by the company registrar department of your country." class="blue example cursor desc">&nbsp;</a></div>
         </div>
        </li>
				 <li class="">
        <div class="clearfix">
             <div class="label">Email Address</div>
             <div class="fleft">
             			<input type="text" value="" name="user[email]" id="addemail" class="fancyinput required email" /><br>
             			<label for="addemail" generated="false" class="error"></label>
             </div>
         </div>
        </li>
				 <li class="">
        <div class="clearfix">
             <div class="label">Password (mininum 6 characters)</div>
             <div class="fleft">
             			<input type="password" value="" name="user[password]" id="addPassword" class="fancyinput required "/><br>
             			<label for="addPassword" generated="false" class="error"></label>
             </div>
         </div>
        </li>
				 <li class="">
        <div class="clearfix">
             <div class="label">Re-enter Password</div>
             <div class="fleft">
             			<input type="password" value="" name="user[password_conf]" id="adPwc" class=" fancyinput required "/><br>
             			<label for="adPwc" generated="false" class="error"></label>
             </div>
         </div>
        </li>
				<li>
        <div class="label">How did you find out about Zigzeg? </div>
      	<div class="fleft"><select id="find_out" name="find_out" class="required radius5 fancyinput gray full">
            <option value=""></option>
            <option value="Word of mouth">Word of mouth</option>
            <option value="Email">Email</option>
            <option value="Fax">Fax</option>
            <option value="Online ads">Online ads</option>
            <option value="Search engine">Search engine</option>
            <option value="Our printed flyers and brochures">Our printed flyers and brochures</option>
            <option value="Our box-set">Our box-set</option>
            <option value="others">Others</option>
          </select>
          <div id="others" class="dispNone pad_top">
            <input type="text" name="find_out_other" value="" class="text-input fancyinput">
          </div><br /><label for="find_out" generated="false" class="error"></label></div>
      
        </li>
			</ul>
      <div class="clearfix pad_top20"></div>
      <div id="package_information">
      <%= render :partial => "package_information", :locals => { :package => @package } %>
      </div>
      	<div class="clearfix pad_top20"></div>
      	<div class="no_margin border "></div>
       
       <div class="container_12 pad_bot20 full">
       	<div class="grid_6 pad_top">
        <p class="pad_top pad_right">
       By clicking 'Register & Pay', you confirm that you accept the terms stipulated in our Business Service Agreement. </p>
       <p>
       If you chose to pay via 'Credit Card' or 'Online Bank Transfer', you will be sent to our payment provider's site for
payment. Once payment has been confirmed, you will be sent back to Zigzeg.com to complete your registration. </p>
       <p>
       For payment via 'Offline Bank Transfer', payment & bank account details  will be emailed to you.
       </p>
        
        </div>
        <div class="grid_6 pad_top30 marginTop20" align="right">
        <input type="submit" value="&nbsp; &nbsp; &nbsp;REGISTER & PAY&nbsp; &nbsp; &nbsp;" class="radius5 bigbutton advertButton
cursor white small_shadow margin_left_20" name="submit_form"/>
          <input type="button" value="BACK" class="radius5 bigbutton bgGray white  cursor simple hoverBlack small_shadow btnBack
margin_left_10" name="back" onclick="window.location.href = '<%= signup_path(:signup => 'advert') %>'"/>
       </div>
       </div>
       </div>
       
        <div class="clearfix pad_bot30"></div>
      </div>
       <div class="relative">
       <div class="regBtn pad_top30 margin_left_20">
       </div>
       
       <ul class="cform">
        <li>
        </li>
        </ul>
        
				</div>
    </form>
		<div class="successMessage dispNone">
    <h2 class="bold">THANK YOU!</h2>
    <p class="width90 pad_bot lh1">Placerat cursus in ultricies, nunc in eu magna aenean. In enim rhoncus, egestas, enim, aliquam
cras, sed lacus mattis aliquet, mus! Rhoncus magna urna purus ut sed lundium! Tempor risus? Lacus turpis dapibus pellentesque
phasellus parturient in egestas.</p>
    <ul class="listSuccess">
    <li>A verification email has been sent to <a class="cursor emailReg">business@info.com</a>. </li>
		<li>Check your inbox, and verify via the link from the verifaction email.</li>
		<li>If you do not received the email, do contact our support team at <a class="cursor">info@zigzeg.com</a>.</li>
    </ul>
    
    </div>
  </div>
  <!--end form-->
  </div>
  <!--end main-->
  <div class="clear pad_bot"></div>
</div>
<script>
  function updatePackageInformation(package_code)
  {
    pkg_array = package_code.split("_")
    firstLetter = pkg_array[0].substring(0,1);
    remainingLetters = pkg_array[0].substring(1);
    $("#package_name_span").text(firstLetter.toUpperCase() + remainingLetters);

    if (package_code.indexOf('premium') > -1) {
      $("#full_enhanced").text("full");
      document.title = "Payment & Registration for Premium account";
      $(".packHead").text("PAYMENT & REGISTRATION FOR PREMIUM ACCOUNT");
      $("#stepAReg").removeClass("basicP")
      $("#stepAReg").addClass("premiumP")
    }else{
      document.title = "Payment & Registration for Basic account";
      $(".packHead").text("PAYMENT & REGISTRATION FOR BASIC ACCOUNT");
      $("#stepAReg").addClass("basicP")
      $("#stepAReg").removeClass("premiumP")      
      $("#full_enhanced").text("enhanced");
    }
    
    if (package_code.indexOf('monthly') > 0) {
      $("#payment_method").empty();
      $("#payment_method").append('<option value="">Please select a payment method -------------</option><option
value="creditcard" selected>Credit Card</option>');
    }else{
      $("#payment_method").empty();
      $("#payment_method").append('<option value="">Please select a payment method -------------</option><option
value="creditcard">Credit Card</option><option value="online">Online bank transfer</option><option value="manual">Manual bank
transfer</option>');
    }
    
    $.ajax({
     type: "GET",
     url: "/registration/update_package_information",
     data: "package_code=" + package_code,
     success: function(data){
       $("#package_information").empty();
       $("#package_information").hide();
       $("#package_information").append(data).fadeIn();
     }
    });

		 $.ajax({
     type: "GET",
     url: "/registration/update_pricing_information",
     data: "package_code=" + package_code,
     success: function(data){
       $("#package_pricing").empty();
       $("#package_pricing").hide();
       $("#package_pricing").append(data).fadeIn();
     }
    });


  }
</script>
