<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix top">

  <!--start content-->
  <section id="" class="fgrid_12 clearfix">
    <div id="main" class="full_width alpha pad signUp">
      <div id="advertFrmContent" class="grid_8 alpha dispNone">
       <div class="successMessage regSuccessMsg">
    <h2 class="bold">REGISTRATION SUCCESSFUL!</h2>
    <ul class="listSuccess">
    <li>You have successfully registered a ZIGZEG for Business account.</li>
    <li>&nbsp;</li>
    <li><b>Verification email sent to <%= link_to @user.email, "mailto:#{@user.email}" %></b></li>
    <% if @user.latest_subscription.package_code != 'free' %>
      <li><b>Payment confirmation email sent to <%= link_to @user.email, "mailto:#{@user.email}" %></b></li>
    <% end %>
     <br />
    <li><b>Click on the verify link present in your verification email and you will be sent back to zigzeg's account creation widget
to continue your business account setup.</b></li>
    <li>&nbsp;</li>
    <li>If you did not receive a verification email, please check your spam mailbox as the verification email may have been
erroneously sent there.</li>
    <li><br />Alternatively, you can log-in using your registered email &amp; password and have a new verification email
sent to you or you may <a class="blue" href="/contacts#bizInq">contact us</a> if you have any difficulty with your account
verification.</li>
    <li>&nbsp;</li>
    <li>Do enjoy Zigzeg & have a nice day!</li>

    </ul>
    
    </div>
      </div>

      <div id="userFrmContent" class="grid_8 alpha" align="left">
        <div id="ordUserFrm" class="regSuccessMsg">
          <h2 class="bold">REGISTRATION SUCCESSFUL!</h2>
          <p>You have successfully registered a ZIGZEG User account. A verification email has been sent to your email. Click on
the verify link present within the verification email in order to validate your registration.</p>
          <br />
          <b>Account verification email sent to  <%= link_to params[:email], "mailto:#{params[:email]}", :class => "cursor
emailReg"
%>.</b> 
          <br /><br />
		  <b>If you did not receive an email, please check your mailbox's spam folder as the verification email may have been
erroneously sent
there.</b> <br /><br />Alternatively, you can log-in using your registered email &amp; password and have a new verification email
sent to you or
you may <a class="blue" href="/contacts#userInq">contact us</a> for any difficulties in validating your ZIGZEG account.<br
/><br />
          Do enjoy ZIGZEG & have a nice day!
          
	      </div>
      </div>
    </div>
    <!--end main-->
    <div class="margin_left_20 signUpLoader absolute width20 dispNone"></div>
  </section>
  <!--end content-->


   <div class="clear pad_bot"></div>
</div>
<!--end page_wrap-->

<script language="javascript">
$(document).ready(function() {
		$('.emailReg').text(url('email'));
		
});
</script>
