<!--user form-->
<div id="userFrmContent" class="grid_8 alpha" align="left">
<h2 class="segoe">SIGN IN WITH FACEBOOK</h2>
<p class=" width90 lh1">By signing up, you agree to our Terms of Service and Privacy Policy. We will never post to your wall without permission. Promise.</p>  
<a class="fbReg cursor"> &nbsp;</a>		
<div id="ordUserFrm">
<div class="pad10"></div>
<form id="signUserFrm" class="pad_top" method="post" onSubmit="return validateUser()" action="">
<div id="errormessage">
</div>
<div id="sendmessage">
Your message has been sent. Thank you!
</div>
<h4 class="segoe pad_top">CREATE A ZIGZEG ACCOUNT</h4>
<p class=" width90 lh1">Your Zigzeg account gives you access to Zigeg’s services & features. <br/>You may <a>click here to log-in</a> if you already have a Zigzeg account.</p>
<ul class="cform">

<li>
<input type="text" value="" name="user[email]" id="email" placeholder="Email Address" class="required email text-input fancyinput" />
<div class="clearfix"><label for="email" generated="false" class="error clearfix"></label></div>
</li>
<li>
  <input type="password" value="" name="user[password]" placeholder="Password" id="password" class="required fancyinput"/>
	<input type="password" value="" name="user[password_conf]" placeholder="Re-enter Password" id="passwordconf" class="required text-input margin_left_20 fancyinput"/>
<div class="clearfix"><div class="errorArea"><label for="password" generated="false" class="error"></label>&nbsp;</div><div class="errorArea"><label for="passwordconf" generated="false" class="error"></label>&nbsp;</div></div></li>
<li><p class="pad_top">By clicking "Join" you confirm that you accept the terms stipulated in our <a href="/terms" class=" blue">End-user Service Agreement</a>.
</p></li>
<li>
<input type="submit" value="Join" id="userSubmitBtn" class="radius5 bigbutton advertButton white simple small_shadow" name="submit"/>
</li></ul>

</form>
</div>
<div id="fbUserFrm" class="dispNone pad_top">
  <iframe src="https://www.facebook.com/plugins/registration.php?
       client_id=113869198637480&
       redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fecho%2F&
       fields=name,birthday,gender,email,password"
  scrolling="auto"
  frameborder="no"
  style="border:none"
  allowTransparency="true"
  width="90%;"
  height="400">
  </iframe>
</div>
</div>
<!--end form-->