<div class="messageBox clearfix">
<h6 class="bold grid_7">EMAIL TEMPLATES LIST</a></h6>
			<div class="container_12">
          <div class="header">
              <div class="grid_9">Message Title</div>
              <div class="grid_3">Date created</div>
              <div class="">&nbsp;</div>
          </div>
          <div class="body">
            <div class="row">
                <div class="grid_9"><a href="appends/editTemplates.html" data-id="1" class="getDetails">Email Template 1</a></div>
                <div class="grid_3"><a>30/10/2011</a></div>
                <div></div>
            </div>
            <div class="row">
                <div class="grid_9"><a href="appends/editTemplates.html" data-id="2" class="getDetails">Email Template 2</a></div>
                <div class="grid_3"><a>30/10/2011</a></div>
                <div></div>
            </div>
            <div class="row">
                <div class="grid_9"><a href="appends/editTemplates.html" data-id="3" class="getDetails">Email Template 3</a></div>
                <div class="grid_3"><a>30/10/2011</a></div>
                <div></div>
            </div>
            <div class="row">
                <div class="grid_9"><a href="appends/editTemplates.html" data-id="4" class="getDetails">Email Template 4</a></div>
                <div class="grid_3"><a>30/10/2011</a></div>
                <div></div>
            </div>
            <div class="row">
                <div class="grid_9"><a href="appends/editTemplates.html" data-id="5" class="getDetails">Email Template 5</a></div>
                <div class="grid_3"><a>30/10/2011</a></div>
                <div></div>
            </div>
            <div class="row">
                <div class="grid_9"><a href="appends/editTemplates.html" data-id="6" class="getDetails">Email Template 6</a></div>
                <div class="grid_3"><a>30/10/2011</a></div>
                <div></div>
            </div>
            <div class="row">
                <div class="grid_9"><a href="appends/editTemplates.html" data-id="7" class="getDetails">Email Template 7</a></div>
                <div class="grid_3"><a>30/10/2011</a></div>
                <div></div>
            </div>
          </div><!-- end body -->
      </div>
</div>
