<h3>New Testimony:</h3>

<%= form_for :letter, :url => add_letter_admins_path, :html => { :multipart => true, :class => "well" } do |f|%>
  <label>Name: </label>
  <%= f.text_field :author, :class => "input-xxlarge"%>
  <label>Contents: </label>
  <textarea rows="10" cols="8" class="input-xxlarge" name="letter[contents]"></textarea>
  <label>Image Alignment: </label>
  <%= f.radio_button :alignment, "left", :checked => true %> Left
  <%= f.radio_button :alignment, "right" %> Right
  <label>Image: </label>
  <%= f.file_field :limage %>
  <label>&nbsp;</label>
  <button type="submit" class="btn">Submit</button>
<% end %>
