<h3>Edit Testimony:</h3>

<%= form_for :letter, :url => edit_letter_admins_path(:id => params[:id]), :html => { :multipart => true, :class => "well" } do |f|%>
  <label>Name: </label>
  <%= f.text_field :author, :class => "input-xxlarge"%>
  <label>Contents: </label>
  <textarea rows="10" cols="8" class="input-xxlarge" name="letter[contents]"><%= @letter.contents %></textarea>

  <label>Image Alignment: </label>
  <%= f.radio_button :alignment, "left", :checked => true %> Left
  <%= f.radio_button :alignment, "right" %> Right
  
  <label>Image: </label>
  <%= f.file_field :limage %>
  <br/>
  <%= image_tag @letter.limage.url(:thumb)%>
  <label>&nbsp;</label>
  <button type="submit" class="btn">Submit</button>
<% end %>
