<%= form_for :featured_image, :url => feature_admins_path, :html => { :multipart => true, :class => "well form-search" } do |f|%>
  Upload new featured image(900px x 611px): <br/>
  <%= f.file_field :fimage %>
  <button type="submit" class="btn">Upload</button>
<% end %>

<ul class="thumbnails">
  <% @featured.each do |pic| %>
  <li class="">
    <a href="<%= pic.fimage.url(:large) %> " class="thumbnail" rel="fancybox">
      <img src="<%= pic.fimage.url(:thumb) %>" alt="">
    </a>
    <a href="<%= delete_featured_admins_path(:id => pic.id) %>">Delete</a>
  </li>
  <% end %>
</ul>
