<a href="/admins/add_letter">Add new</a>

<% unless @letters.empty? %>
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Added on</th>
    </tr>
  </thead>
  <tbody>

   <% @letters.each do |letter| %>
    <tr>
      <td><a href="<%= letter.limage.url(:medium) %>" rel="fancybox"><img src="<%= letter.limage.url(:thumb)%>" width="60" height="60"> </a></td>
      <td><%= letter.author%></td>
      <td><%= letter.created_at.strftime("%Y-%m-%d") %>
        <span style="padding-left: 15px">
          <%= link_to "Edit",  edit_letter_admins_path(:id => letter.id) %> | 
        <%= link_to "Delete",  delete_letter_admins_path(:id => letter.id) %>
        </span>
      </td>
    </tr>
   <% end %>

  </tbody>
</table>

<% else %>
<br/>
<br/>
<p>no records found...</p>
<% end %>
