<h2> Edit Rate </h2>
<%= form_for @rate, :url => cms_rate_path(@rate) do |f| %>
<table style="width: 750px">
  <tr>
    <td> Name </td>
    <td> <%= f.text_field :name %></td>
  </tr>
  <tr>
    <td> Per day rate </td>
    <td> <%= f.text_field :per_day %></td>
  </tr>
  <tr>
    <td> Per month rate </td>
    <td> <%= f.text_field :per_month %></td>
  </tr>
  <tr>
    <td> Per year rate </td>
    <td> <%= f.text_field :per_year %></td>
  </tr>
  <tr>
    <td> Monthly subscription rate </td>
    <td> <%= f.text_field :monthly_subscription_rate %></td>
  </tr>
  <tr>
    <td> Government sales tax </td>
    <td> <%= f.text_field :govt_tax %></td>
  </tr>
  <tr>
    <td> Freebies value </td>
    <td> <%= f.text_field :freebies_value %></td>
  </tr>
  <tr>
    <td> Free deals and events credits </td>
    <td> <%= f.text_field :deals_credits %></td>
  </tr>
  <tr>
    <td> Extra discounts  </td>
    <td> <%= f.text_field :deal_discounts %></td>
  </tr>
  <tr>
    <td> Customer service </td>
    <td> <%= f.text_field :customer_service %></td>
  </tr>
  <tr>
    <td> Display logo on map </td>
    <td> <%= f.text_field :logo_display_onmap %></td>
  </tr>
  <tr>
    <td> Exposure </td>
    <td> <%= f.text_field :exposure %></td>
  </tr>
  <tr>
    <td> No. of images/photo </td>
    <td> <%= f.text_field :image_limit %></td>
  </tr>
  <tr>
    <td> No. of products </td>
    <td> <%= f.text_field :products_limit %></td>
  </tr>
  <tr>
    <td> No. of services</td>
    <td> <%= f.text_field :services_limit %></td>
  </tr>
  <tr>
    <td> No. of brands </td>
    <td> <%= f.text_field :brands_limit %></td>
  </tr>
  <tr>
    <td> No. of jobs </td>
    <td> <%= f.text_field :jobs_limit %></td>
  </tr>

  <tr>
    <td> </td>
    <td> <%= submit_tag "Submit" %> or <%= link_to "Cancel", cms_rates_path %></td>
  </tr>
</table>
<% end %>

<div class="clear"></div>
