%ul
  %li
    = link_to "How does it work", "http://www.youtube.com/watch?v=Q5ckarikZxM&autoplay=1", :id => "youtube"
  %li
    = link_to "About us", "#aboutus", :id => "aboutus_link"
  %li
    = link_to "Contact us", "#contactus", :id => "contactus_link"

:javascript

  $("#youtube").click(function() {
  		$.fancybox({
  			'padding'		: 0,
  			'autoScale'		: false,
  			'transitionIn'	: 'none',
  			'transitionOut'	: 'none',
  			'title'			: this.title,
  			'width'			: 680,
  			'height'		: 495,
  			'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
  			'type'			: 'swf',
  			'swf'			: {
  			    'wmode'				: 'transparent',
  				'allowfullscreen'	: 'true'
  			}
  		});

  		return false;
  	});    