%form{ :method => "post"}
  = text_field_tag("search_str", nil, :class => "rounded bigtextfield longer", :placeholder => "jobs, people, housing, items for sale, deals")
  = submit_tag("Search", :class => "rounded greybutton")
%div.clr