<div class="fcontainer_12 pad_top30">  
    <!--end header-->
  <div class="container_12 clearfix top banner full pad_top5">
 		<!--start slider-->
   	<div class="grid_6 bannerMsg about pad_top20">
    		<span class="query"></span>
        <h1 class="bold">&nbsp;</h1>
        <p class="black pad_top" align="justify"><br />Ever had difficulty looking for a shop or location in your city?<br /><br />Ever wondered
what services & products are on offer in your city?<br /><br />Ever felt bored and don't know what to do but would like to know what is on
your city's menu?<br /><br />
Well, we at Zigzeg would like to help. We bring the city to you via our city information system. We call it the  ‘Total Urban
Awareness System’. So what is it actually? 
</p>    </div>
    <div class="grid_6 bgabout pad_bot30"></div>
    <!--end slider-->
		</div>
	</div>
</div>
<!-- end gray boxes -->
<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix">
    <!--start content-->
    <div class="container_12 banner pad_bot30 full">
    		<div class="grid_12 "><h4 class="bold">INTRODUCING ZIGZEG</h4></div>
        <div class="grid_6 suffix_6 pad_top"><p align="justify">We at Zigzeg are online users as well. We know very well that the
web is huge and at times it gets very difficult to find quality information about ‘stuffs’ in a city.<br /><br />
With this in mind, Zigzeg is designed to allow people living in a city access to a city’s ever-changing and every-growing
cityscape. Zigzeg combines an interactive urban map and a growing-by-day city information network to give people living in modern
fast-paced cities insight into the constant changes, updates & happenings that are occurring in their cities.<br /><br />
Look forward to more products, services & feature from us at Zigzeg as we continually update & improve our ‘Total Urban Awareness
System’ and strive to literally put the city @ your fingertips!
</p></div>
				<div class="grid_6 suffix_6 nTouC">
          <!-- <a href="" class="nTour radius10">Take an interactive tour</a>-->&nbsp;
        </div>
    </div>
    <!--end content-->
    <div class="clear"></div>
</div>
<!--end page_wrap-->