<div class="fcontainer_12 pad_top20">  
    <!--end header-->
  <div class="container_12 clearfix top banner full">
 		<!--start slider-->
   	<div class="grid_6 bannerMsg jobs pad_top20">
    		<span class="query"></span>
        <h1 class="bold">&nbsp;</h1>
        <p class="black"><br />A modern city never stands still. Thousands upon tens of thousands of changes happen daily in a modern 
city.<br><br>
We build products & services that change the way people get information, explore and interact with their city by allowing them
insights into the constant changes, updates & happenings that occur to the city they live in.<br><br>
<span class="bold"><br />Join us in our bid to bring the city ‘literally’ to the fingertips of urbanites living in cities around the
world.</span></p>
    </div>
    <div class="grid_6 bgjobs"></div>
    <!--end slider-->
		</div>
	</div>
</div> 
<!-- end gray boxes -->
<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix " >
    <!--start content-->
    <div class="container_12 banner pad_bot30" >
    		<div class="grid_12 "><h2 class="bold">WE ARE HIRING & WOULD LIKE TO HEAR FROM YOU</h2></div>
        <div class="grid_12"><p align="justify">Send your resume to <%= mail_to "hr@zigzeg.com" %>. However, don’t just send us a
mere resume though. Do show us your creativity, your uniqueness. Send us a link to your blog, online portfolio or something you’ve
done. Be creative, be different and make yourself standout!</p></div>
        <div class="clearfix pad_bot30"></div>
        <div class="grid_12 pad_bot30 packageBox"><div class=" pad_top pad_bot20 full" style="display:block;" align="center">
          <div class="container_12 career"  align="left"> 
          	 <div class="grid_12">
          		<h4 class="bold">CURRENT JOB OPENINGS</h4>
                <ul id="helpList" class="pad_top full">

            		<li class="radius5"><div class="full" id="pos1"><h6 class="bold no_margin">Junior Web Developer &nbsp;</h6></div>
              				<ul class="jobDesc"><li><h4 class="bold"><a href="#pos1">JUNIOR WEB DEVELOPER</a>
                      <a href="http://www.addthis.com/bookmark.php" class="addthis_button_email email_to">
        <img src="http://s7.addthis.com/button1-email.gif" width="54" height="16" border="0" alt="Forward to a friend" /></a></h4>
                      <p>
As a member of our development team, we want you to bring your creativity to the table, to help us create innovative products from
the ground up for our city information system. The ZIGZEG development team plays a key role in the development of our products, so
be prepared to let your creative juices flow and bring your ideas to the table as we perpetually strive to introduce new &
innovative features to our products. And most importantly, you should possess the right attitude & have fun doing the things you
do as at ZIGZEG, we work hard but also play hard! <br /><br />
</p>
<h6 class="bold">Requirements for the role </h6>
<p>
- Ruby-on-Rails (competent level)<br />
- JavaScript version 1.8+ & AJAX coding, including jQuery (competent level)<br />
- MySQL version 5.5+ (competent level)<br />
- Delivers clean, W3C-strict compliant, secure- & performance-oriented codes<br />
- HTML5 & CSS3 (competent level)<br /><br />
</p>
<h6 class="bold">Location</h6>
<p>This role is based in our development office at Uptown Damansara (Damansara Utama)<br /><br /></p>
<h6 class="bold">Remuneration & Benefits</h6>
<p>RM2,200 per month (1-2 years experience) + medical insurance<br />Fresh graduates are welcomed.</p>
</li></ul></li>

                 </ul>  
             </div> 
          </div> 
        </div></div>
        <div class="clearfix"></div>
    </div>
    <!--end content-->
    <div class="clearfix"></div>
</div>
<!--end page_wrap-->