<script>
$(function() {
  $("#contactFrm").validate({
    submitHandler: function(form) {
      $('.grayLoader').show();
      form.submit();
    } 
  });
	if(window.location.hash == '#userInq') {
		$('#contactType').val('User account inquiries');
	}else if(window.location.hash == '#bizInq') {
		$('#contactType').val('business');
	}
	
});
</script>
<div class="fcontainer_12 pad_top20">  
    <!--end header-->
  <div class="container_12 clearfix top banner full">
 		<!--start slider-->
   	<div class="grid_6 bannerMsg contact pad_top20">
    		<span class="query"></span>
        <h1 class="bold">&nbsp;</h1>
        <p><br />Have questions to ask? Complaints to submit? Suggestions to offer? Features to request? Or to send us
some love?</br></br>Just drop us a message! We would love to hear from you.</p>
    </div>
    <div class="grid_6 bgcontact pad_bot30"><a href="" class="bold">CLICK HERE</a></div>
    <!--end slider-->
		</div>
	</div>
</div>
<!-- end gray boxes -->
<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix footerPage">
  <!--start content-->
  <div class="container_12 banner">
    <div class="clearfix"></div>
    <div style="padding-left:10px; color: green; font-weight: bold;"><%= flash[:notice] %></div>
    <%= form_tag "/pages/contacts", :id => "contactFrm" do -%>
      <div class="grid_4"><label>Name</label></div>
      <div class="grid_4 suffix_4"><label>Contact Number (optional)</label></div>
      <div class="grid_4">
        <input type="text" class="required text-input fancyinput" id="contact_name" name="contact[name]" value="<%=
current_user.name_or_email rescue '' %>">
      </div>
      <div class="grid_4 suffix_4">
        <input type="text" class="validTelno text-input fancyinput" id="number" name="contact[number]" value="<%=
current_user.places.first.telephone_numbers rescue '' %>">
      </div>
      <div class="clearfix"></div> 
      <div class="grid_4"><label>Email</label></div>
      <div class="grid_4 suffix_4"><label>Message type</label></div>
      <div class="grid_4">
        <input type="text" class="required email text-input fancyinput" id="contact_email" name="contact[email]" value="<%=
current_user.email rescue '' %>">
      </div>
      <div class="grid_4 suffix_4">
        <select id="contactType" name="contact[type]" class="required text-input fancyinput radius5">	
          <option value="">select a message type</option>
          <option value="General Inquiries">General inquiries</option>	
          <option value="User account inquiries">User account inquiries</option>
          <option value="business">Zigzeg for Business inquiries</option>
          <option value="Feedback / Suggestions">Feedbacks / Suggestions</option>
          <option value="Press Inquiries">Press inquiries</option>
          <option value="Legal Inquiries">Legal inquiries</option>
          <option value="Other inquiries">Other inquiries</option>		
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="grid_4 suffix_8"><label>Your Message</label></div>
      <div class="grid_8 suffix_4"><textarea id="contact_msg" name="contact[msg]" class="required fancyinput radius5 full_width"
rows="5"></textarea></div>
      <div class="grid_4 suffix_8 pad_top20 pad_bot30">
    <input type="submit" name="send_message" class="radius5 bigbutton advertButton white simple small_shadow" id="userSubmitBtn"
value="Submit">
      </div>
    <% end %>
        
    </div>
    <!--end content-->
    <div class="clear"></div>
    
</div>
<!--end page_wrap-->
