<script>
$(function() {
		$('.scrollto').click(function(){
				var href = $(this).attr('href');	
				$('html, body').animate({
         scrollTop: $(href).offset().top
  }, 500);	
		});
		$('#helpHeader a,.linkA').click(function(e){
			e.preventDefault();
			var href = $(this).attr('href');
			$('#helpHeader a').removeClass('selected');
			if(href =="#userFaq")
				document.title = "ZIGZEG – Help Central – User FAQ" 
      else if(href =="#eusa")
				document.title = "ZIGZEG – Help Central – End-user Service Agreement (EuSA)" 
      else
				document.title = "ZIGZEG – Help Central – Privacy Policy" 
				
      $(href+'Show').addClass('selected');
			$('#contentArea div.grid_12').hide();
			$(href).slideDown();
    });
		
});
</script>
<div class="fcontainer_12 pad_top30">  
    <!--end header-->
  <div class="container_12 clearfix top banner pad_bot30" >
 		<!--start slider-->
   	<div class="grid_5 bannerMsg help">
    		<span class="query"></span>
        <h1 class="bold">&nbsp;</h1>
        <p><br />Would like to know what services and features Zigzeg offers or how to use them?<br /><br />You have
come to the
right place. Browse through our FAQ section, our service agreement and our privacy policy to get a better understanding
of ZIGZEG.</p>
    </div>
    <div class="grid_7 bgHelp"></div>
    
    <!--end slider-->
		</div>
	</div>
</div>
<!-- end gray boxes -->
<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix">
    <!--start content-->
    <div class="container_12">
    		 <div class="grid_12 pad_bot30 packageBox margin_left_10">
        	 <div style="display:block;" id="helpConList">
             <div>
             <div class="grid_12 no_margin full" id="helpHeader">
                 <a href="#faq" id="faqShow" class="selected"><div>FAQ</div></a>
                 <a href="#terms" id="termsShow"><div>Business Service Agreement</div></a>
                 <a href="#pPolicy" id="pPolicyShow"><div>Privacy Policy</div></a>
                 <!--<a href="#azfu"><div>About Zigzeg for users</div></a>-->
             </div>
             <div class="clearfix"></div>
             <div id="contentArea">
             <div id="faq" class="grid_12 full no_margin">
            	 <ul class="pad_bot30 ">
              <li class="clearfix">
              <p class="bold" id="genQ">General Questions</p>
                            <p class="ttl"><b>What is Zigzeg?</b></p>
                            <p>Zigzeg is designed to allow people living in a city access to a city’s ever-changing and every-growing cityscape. Zigzeg’s ‘Total Urban Awareness System’ combines an interactive urban map and a city information database to give people in a modern fast-paced city insight into the constant changes, updates, happenings & improvements that are occurring daily to their city.</p>
                            <p class="ttl"><b>How can I learn more about Zigzeg for Business?</b></p>
                            <p>You can learn more about Zigzeg for Business here: <a href="http://biz.zigzeg.com">http://biz.zigzeg.com</a></p>
                            
                            
                            <p class="bold" id="regQ">Registration Questions</p>
                            <p class="ttl"><b>Can I use my Facebook account to register a Zigzeg for Business account?</b></p>
                            <p> No, you cannot use your Facebook account to register for a Zigzeg for Business account.</p>
                                                                                    
                            <!--p class="ttl"><b>What are the payment types you accept?</b></p>                          
                            <p>We currently accept payments via credit card for online payments. We also accept payment via offline wire transfer into our bank account.</p>
                            
                            <h1>I would like to pay using cheque. Can you send me your payment information?</p>                          
                        	<p>Certainly. Click here and we will send you the required payment information to your email and to your account’s message box. You need to have a valid Zigzeg for Business account in order to receive the information.</p>
                            
                            <!p class="ttl"><b>I would like to pay using wire transfer. Can you send me your bank account information?</b></p>
                        	<p> Certainly. <a>Click here</a> and we will send you the required bank account information to your email and to your account’s message box. You need to have a valid Zigzeg for Business account and you need to be logged into your account.</p>
                              
                            <p class="ttl"><b>I am new to online payments. Can I trust Zigzeg with my payment information?</b></p>
                    		<p>You most certainly can. We assign our payment collection to reputable payment gateway companies which ensure your transactions are fully secure. To safeguard yourself when making online transactions, never purchase or initiate any online transactions when using a public computer or another person’s computer; Use your own computer instead.</p>

                            <p class="ttl"><b>Does Zigzeg store my credit card or payment information?</b></p>
                            <p>No, we dont. Zigzeg does not have access to and will not store your credit card information in any of our servers. Our payment gateway companies do not store your credit card information either unless you have chosen the option of automatic account renewal. However do keep in mind that our payment gatway companies utilises the latest in credit card security to safe guard your payment information.</p>

                            <p class="ttl"><b>How long is the subscription period for a Zigzeg for Business Basic or Premium account?</b></p>                          
                            <p>The minimum subscription period for a Zigzeg for Business Basic or Premium account is 12 months. Each account needs to be renewed after 12 months.</p>

                            <p class="ttl"><b>Do you provide an option to pay monthly instead of a 1-time full payment for a Zigzeg for Business paid account?</b></p>                          
                            <p> Yes, we allow you to pay 12 monthly payments instead of 1-time full payment for your Zigzeg for Business Basic or Premium account. You will however receive a substantial discount if you opt for the 1-time full payment option.</p-->

                            <p class="ttl"><b>Is there a free account which I can sign up to?</b></p>                          
                            <p>Yes, We have a Zigzeg for Business Free account which you can sign up to. Some features and services will of course not be available for the free accounts.</p>

                            <!--p class="ttl"><b>Will I receive confirmation and invoices for payments I made?</b></p>                          
                            <p>Yes, you will receive an email for all confirmed payments and a link to a print-friendly invoice. You can also view all your transactions by going to your Zigzeg for Business account page and clicking on the ‘My Account’ tab and within which you will find your ‘payment history’ section.</p-->
                            
                            
                             
                            <p class="bold" id="zeusQ">Zigzeg for Business Account questions</p>                         
                            <p class="ttl"><b>I can’t log-in to my account. Why?</b></p>                        
                            <p>You may have entered an incorrect email address and password during log-in or you have not validated your account.</p>

                            <p class="ttl"><b>I forgot my password. How can I retrieve it?</b></p>
                            <p>For security reasons, we do not allow you to retrieve your password. You can however create a new password for your account. In order to do that, click on the “log-in” link located at the top right hand side of any Zigzeg page, select “Forgot password”. You then enter your email address and follow the instructions provided to create a new password for your account.</p>
                            
                            <p class="ttl"><b>I did not receive any email updates from Zigzeg. Why?</b></p>
                            <p>The emails may have been sent into the spam folder of your email account. To avoid future emails from being sent to your spam folder, please add “helper@zigzeg.com” to your safe list.</p>
                            
                            <!--p class="ttl"><b>Will there be discounts and promotions from time to time for Zigzeg for Business accounts?</b></p>
                            <p>Yes, there will be discounts and promotions from time to time from Zigzeg. You will be notified via email or your account’s update section.</p>

                            <h1>Can I assign multiple log-in profiles to my Zigzeg for Business account?</p>
                            <p>No, there are currently no plans to implement this feature.</p>

                            <p class="ttl"><b>Why should I upgrade my Zigzeg for Business Free account to a Basic or Premium paid account?</b></p>
                            <p>A Zigzeg for Business Basic & Premium account offers a lot more services and features which are not available in a free account. You can learn more about what Zigzeg for Business can do for you by clicking here > <a href="http://biz.zigzeg.com">http://biz.zigzeg.com</a></p>

                            <p class="ttl"><b>We are a not-for profit organisation. Are we eligible for a Free-for-life Zigzeg for Business Basic account?</b></p>
                            <p>Yes! All charities, foundations, associations, non-profit educational institutions & other non-profit organisations are eligible for a Free-for-life Zigzeg for Business Basic account. <a href="/signup?signup=advert">Click here to apply.</a></p-->

                            <p class="ttl"><b>How can I change my password?</b></p>
                            <p>In your account control page, click on the ‘Profile & Settings’ tab. You will find the ‘Change Password’ section at the end of the page.</p>

                            <p class="ttl"><b>Can I reduce the number of times I receive email notifications from my Zigzeg for Business account?</b></p>
                            <p>Yes, you can. In your account’s ‘Profile & Settings’ tab, you will find a section called 'Account Preference'. You can select whether to receive individual email notifications or to receive all your notifications in a daily email digest or to not receive any email notifications at all.</p>

                            <p class="ttl"><b>Can I change the email I use to log-in to my account?</b></p>
                            <p>No, you are not allowed to change your email once it has been registered. You will need to register a new account using a new email address if you wish to use another email to log-in to your Zigzeg account.</p>

                            <!--p class="ttl"><b>Why is my Zigzeg for Business Basic or Premium account downgraded to a free account?</b></p>
                            <p>Your Zigzeg for Business Basic or Premium account may be downgraded to a free account because of the following reasons:</p>
                        	<p class="p_top m_left30">Your subscription period for a Basic or Premium account has lapsed. This happens if you did not renew your subscription before it expired. All paid accounts have a minimum subscription period of 12 months. Once you renew your subscription, your account will be automatically reactivated to a basic or premium, depending on the account you signed up to.</p>
                            <p class="p_top m_left30">You signed up to a basic or premium account but we have yet to receive your payment after a grace period of 2 weeks. This can happen if you chose to pay via wire transfer. Once payment has been received, your account will be reactivated to a basic or premium account.</p>
                            <p class="p_top">All information contained within your basic or premium account will be retained in our servers and will be reactivated once you renew your account or when your payment has been received.</p-->
                            
                            

                            <p class="bold" id="featQ">Features Questions</p>
                            <p class="ttl"><b>What are ‘Shouts’?</b></p>                        
                            <p>‘Shouts’ is a feature which allows you to post quick and short updates to your Zigzeg Place, Offer or Event page. It allows you to update people viewing your pages on anything you would like them know in real time.</p>

                            <p class="ttl"><b>Can I list the products and/or services which my company offers?</b></p>
                            <p>Yes, you can use our 'Zigzeg Gallery' feature to list all your product, services, location and even images of brands you carry. Zigzeg Gallery allows you to create a name & a description for each of your image. The Zigzeg Gallery for Places can be accessed via your account page in the ‘My Place’ tab.</p>

                            <p class="ttl"><b>Is the Zigzeg Gallery feature available for Offers and Events as well?</b></p>
                            <p>Yes, each Zigzeg Offer and Zigzeg Event which you create will have its own image gallery which allows you to upload images specific to your offers & events.</p>

                            <p class="ttl"><b>What can I use Zigzeg Offers for?</b></p>                        
                            <p>You can use Zigzeg Offers to post any of your discounts, promotions, special packages and so on which offers your customers products and/or services at a discounted rate. You can post any type of offer you wish and include any requirements in order to obtain the listed offer. It is all very open-ended. Do note however that Zigzeg reserves the right to remove or request you to amend an offer if we deem that the said offer is in violation of Zigzeg's Business Service Agreement.</p>

                            <p class="ttl"><b>Will you be allowing businesses to create offers whereby only a limited number of people can grab that offer?</b></p>                        
                            <p>Yes, this is a coming-soon feature. We are working on a an update to our offers where a business can set a maximum number of people who can obtain the discount, promotion or package on offer. You will be the first to get all the juicy details when this feature is about to go live.</p>

                            <p class="ttl"><b>What can I use Zigzeg Events for?</b></p>
                            <p>You can use Zigzeg Offers to post any events or happenings which your business will be holding. An event may be a concert, a sporting event, a seminar, a talk, a fair, a convention, a public product launch, a competition and so on. Basically anything that is for public consumption and requires people to attend or partake in, be it for free or paid.</p>

                            <!--p class="ttl"><b>What is Zigzeg ZEUS?</b></p>
                            <p> ZEUS is an acronym for ‘Zigzeg End-user Statistics’. It tells you how many views or viewers your pages are getting. It also tells you which of your pages are garnering more views and helps you identify messages/promotions that are effective from those that are not. Zigzeg for Business Free account uses a simplified version of ZEUS whereas Basic and Premium accounts will have access to an advanced version of ZEUS.</p>

                            <p class="ttl"><b>What is a CCO?</b></p>
                            <p>A CCO is an acronym for “Customer Care Officer” and is a person assigned to handle a particular Zigzeg for Business Premium account. A CCO will provide a Premium account with Premium Customer Care service and Full Data service.</p>
 
                            <p class="ttl"><b>What is Premium Customer Care Service?</b></p>
                            <p>Premium Customer Care Service is only available to Zigzeg for Business Premium accounts. A Zigzeg Customer Care Officer is assigned to the premium account and personally handles all customer-care related servicing of that account.</p>

                            <p class="ttl"><b>What is Full Data Service?</b></p>
                            <p>Full Data Service is only available to Zigzeg for Business Premium accounts. The assigned Customer Care Officer will handle all data entry, editing & updating jobs for a premium account.</p>

                            <p class="ttl"><b>What is a “Get us to call you” feature?</b></p>
                            <p>A Zigzeg for Business Premium account can click on the “Get us to call you” button and the Customer Care Officer assigned to that premium account will call the account holder back.</p-->

                            <p class="ttl"><b>Will there be new features and services from Zigzeg?</b></p>
                            <p>Yes, Zigzeg and its development team will continually update Zigzeg’s ‘Total Urban Awareness System’ with new and awesome features and services. We will inform you of new updates, features and services via your Zigzeg for Business account</p>

                            

                            <p class="bold" id="helpQ">Help Questions</p>
	    					<p class="ttl"><b>How can I get help from Zigzeg?</b></p>
						    <p>You can learn more about what Zigzeg for Business and how to use its features here: <a href="http://biz.zigzeg.com">http://biz.zigzeg.com</a> or you can send us a message with specific questions and our team will get back to you as soon as possible.</p>

						    <p class="ttl"><b>Where can I view a copy of your Terms of Service?</b></p>
						    <p>You can access our Business Service Agreement (BSA) here > <a href="#terms" class="linkA">http://www.zigzeg.com/help_biz#termsShow</a></p>

						    <p class="ttl"><b>Where can I view a copy of your Privacy Policy?</b></p>
						    <p>You can access our Business Privacy Policy here > <a href="#pPolicy" class="linkA">http://www.zigzeg.com/help_biz#pPolicy</a></p>

							                     

              </li></ul>
         		 </div>
         		 <div id="terms" class="grid_12 no_margin dispNone">
             		<ul>
                <li>
<p class="ttl"><b>Acceptance of Terms & Definitions</b></p>
    <p>Welcome to Zigzeg.com (“Zigzeg”). In perusing Zigzeg’s website (“Site”), you are subjected to our Business Service Agreement (“BSA”), which may be updated from time to time. By accessing and making use of this Site, you acknowledge and agree to accept the terms & conditions stipulated within this BSA.</p>

    <p class="">Definitions of terms used on the Site and this agreement.</p>
			<ul class="alphabet p_top">
        <li><p>“Account” also refers to “Zigzeg for Business Account”</p></li>

        <li><p>“Basic Account” also refers to “Zigzeg for Business Basic Account”.</p></li>

        <li><p>“Free Account” also refers to “Zigzeg for Business Free Account” is a free-to-use, non-paying Account.</p></li>

        <li><p>“Paid account” refers to Accounts which requires payment.</p></li>

        <li><p>“Premium Account” also refers to “Zigzeg for Business Premium Account”.</p></li>

        <li><p>“Services” refers to any and all products, services, features & so on and so forth of the Site, whether already developed, currently in development or will be developed in the future by Zigzeg and placed on the Site and made available to a User.</p></li>

        <li><p>“User” is a natural person or a legal entity that is not under any legal disability to enter into a legally binding contract</p></li>

        <li><p>Zigzeg for Business Account” is an account assigned to a User after registration showing all relevant information pertinent to that particular User</p></li>

        <li><p>“Zigzeg for Business Basic Account” is a type of “Paid account”.</p></li>

        <li><p>“Zigzeg for Business Premium Account” is a type of “Paid account”.</p></li>
				</ul>

		<p class="ttl"><b>Registration requirements, Zigzeg for Business Account, Password & Security</b></p>

    <p class="first">In conjunction with your use of the Site,</p>

    <p>You hereby:</p>
        <p>- affirm that you are a person of legal age to form a binding contract and are not barred from receiving services under the laws of any applicable jurisdiction.</p>
        <p>- agree to provide accurate and current information about your company as required by our registration form for the opening of an Account for the purpose accessing Services provided by the Site.</p>
<br />
    <p class="p_top30">Zigzeg collects the following data from a User when a User registers for an Account:</p>
        <ul class="alphabet">
        <li><p>- Email address</p></li>
        <li><p>- Company name</p></li>
        <li><p>- Registered company name</p></li>
        <li><p>- Company registration number</p></li>
        </ul>
<br />
    <p class="p_top20">Zigzeg reserves the right to suspend or terminate your Account and to refuse access to any of our Services if Zigzeg has reasonable grounds to suspect that the information provided by you and contained within your Account is false, inaccurate, not current or incomplete.</p>
<br />
    <p class="p_top20">An account activation email will be sent to your specified email address upon a successful registration. You are required to activate your Account by clicking on the activation link within the email. You are required to maintain the confidentiality of the password of your Account. You are deemed to be fully responsible for all and any activities occurring under your Account.</p>
<br />
    <p class="p_top20">You agree to notify Zigzeg with haste when you notice any unauthorized access & use of your password, your Account or any other breaches of security. Zigzeg hereby declares that it cannot and will not be held liable for any losses or damages arising from your inability to comply with the above directives.</p>
<br />
    <p class="p_top20">You agree that the following conducts are not permitted within the Site:</p>
        <ul class="alphabet">
        <li><p>- the posting, emailing or otherwise making accessible any content that is considered harmful, illegal, abusive, vulgar, libelous, or otherwise objectionable.</p></li>
        <li><p>- the posting, emailing or otherwise making accessible any content that infringes upon any trademark, copyright, patent or other proprietary rights of any person or entity.</p></li>
        <li><p>- the posting, emailing or otherwise making accessible any unauthorized advertising, promotional material or any other form of solicitation.</p></li>
        <li><p>- causing interference to the service or servers or networks connected to it.</p></li>
        <li><p>- The contravention of any law, statutes, ordinance or regulation.</p></li></ul>
<br />
   <p class="p_top20"> You recognize that Zigzeg reserves the right to or not to pre-screen any contents posted by Zigzeg or by any User on the Site. Zigzeg also reserves the right to refuse the posting or to remove any content from the Site. You agree that you are responsible for the evaluation and for the use of any content posted on the Site, including any reliance on accuracy, completeness or usefulness of the contents. You agree that you will bear all risk associated with the usage of content from the Site and that you will indemnify Zigzeg from any damages, financial or otherwise, due to your usage of information or content posted on the Site.</p>
<br />
   <p class="p_top20"> You acknowledge, consent and agree that:</p>
        <ul class="alphabet">
        <li><p>- in compliance with legal proceedings;</p></li>
        <li><p>- the enforcement of this BSA;</p></li>
        <li><p>- in response to claims of any violation of third party rights;</p></li>
        <li><p>- in response to request for customer service by you;</p></li>
        <li><p>- to protect the property, rights or personal safety of Zigzeg, it’s Users and the public;</p></li></ul>

    <p class="p_top20">Zigzeg may be allowed to access, preserve and disclose your Account information and content if required to do so by law.</p>
<br />
    <p>You recognize that when you register an Account with Zigzeg, use Services offered by Zigzeg and receive communications from Zigzeg including, but not limited to, browsing the Site, email, search queries, uploading comments, and other Internet activities, that communications initiated by you will be sent through Zigzeg’s computer networks which are located in various parts of the world. You will thus acknowledge that the use of our service might result in intrastate transmission of data.</p>
<br />
    <p>You agree that Zigzeg may, under certain conditions and without prior notice, immediately terminate your Account and your access to Zigzeg’s Services if Zigzeg has reasonable grounds to believe that you are in breach of Sections 2.01, 2.04, 2.05 and 2.08. Furthermore, cause for termination of your Account shall also include, but not be limited to:</p>
        <ul class="alphabet">
        <li><p>- breaches or violations of this BSA or any other agreements or guidelines of Zigzeg not contained within this BSA.</p></li>
        <li><p>- requests by law enforcement agencies or other government agencies.</p></li>
        <li><p>- a self-initiated Account deletion request from you.</p></li>
        <li><p>- unexpected technical and/or security problems.</p></li>
        <li><p>- any non-payment of invoices or payments owed by you to Zigzeg in conjunction with your use of the Site.</p></li>
		</ul>

    <p>Upon termination of your Account, you will no longer have to access your Account, including access to any Services which require a valid Account. Any related information, files and contents associated with your Account will be kept on records on an off-site server for a period of 7 years due to statutory requirements. In addition, you agree that any terminations for cause shall be made in Zigzeg’s sole discretion and that Zigzeg will neither be held liable to you nor any third party for the termination of your Account nor for your inability to access the Site or its Services.</p>

<p class="ttl"><b>Description of Service</b></p>

    <p class="first">Zigzeg, a company specialized in map-based, information-driven city information system, develops Services that changes the way people get information, explore and interact with their city by allowing them insights into the constant changes, updates, happenings & improvements that occur daily to the city they live in. Services developed by Zigzeg are offered to Users as a way to promote their products and services via digital means.</p>
<br />
    <p>Zigzeg will continually development and update new and existing Services within the Site. Users will be notified of these updates and development via their Account or via email.</p>
<br />
    <p>Paid accounts have a minimum subscription period of 12 months.</p>
<br />
    <p>You acknowledge and agree that your Account is non-transferable.</p>
<br />
    <p>Zigzeg reserves the right to suspend or discontinue any Services of the Site, for whatever reason, with or without prior notice.</p>
<br />
    <p>User will be given a grace period of 2 weeks for all payments pertaining to a Paid account if User chooses to pay via cheque or manual bank transfer. Zigzeg reserves the right to suspend a Paid account, to prevent it from accessing the Services reserved for a Paid account and to downgrade said paid account to a free account until full payment has been received. Zigzeg will reactivate an Account to full status upon the receipt of full payment from User.</p>
<br />
    <p>The subscription for a Paid account, which is suspended due to non-payment of fees and is downgraded to a Free account, is considered on-going even if a User is unable to access Services reserved for a Paid account. User will still be responsible for payment of Services rendered even if User is unable to access said Services due to non-payment of fees.</p>

<p class="ttl"><b>Links to External Websites & Dealings with Advertisers</b></p>

    <p class="first">Zigzeg may provide links to other World Wide Web sites and/or resources. As Zigzeg has no control over the contents of such sites and resources, you agree that Zigzeg can neither be held responsible nor liable for any contents, advertising, products or other materials made available on such sites and resources.</p>
<br />
    <p>You agree that Zigzeg cannot be held liable, directly or indirectly, for any loss or damage caused or alleged to be caused by the use or reliance on any contents, advertising, products or material made available on such sites and resources as stated in section 4-1.</p>
<br />
    <p>You agree that Zigzeg cannot be held responsible or liable for any loss or damage resulting from your correspondence or dealing with any advertisers found on or through the Site. Any and all dealings or correspondence with the advertisers are solely between you and such advertisers.</p>

<p class="ttl"><b>Your Contribution to Us</b></p>
<p class="first">You recognize and agree that by submitting ideas, documents, proposals and/or suggestions to Zigzeg through its suggestion or feedback pages or via email that:</p>
        <ul class="alphabet">
    	<li><p>- Zigzeg shall be at liberty to make use of or disclose (or choose not to make use of or disclose) such contributions for any purpose and in any way;</p></li>
    	<li><p>- Zigzeg might already have something similar under development;</p></li>
    	<li><p>- Zigzeg does not owe you any reimbursement or compensation for your contributions under whichever circumstances;</p></li>
	    <li><p>- Your contribution becomes a property of Zigzeg without any obligation from Zigzeg to you.</p></li>
		</ul>
		
<p class="ttl"><b>Indemnity</b></p>
<p class="first">You agree to indemnify Zigzeg and its subsidiaries, affiliates, employees, partners, agents & officers against any claim or demand made by any third party due to or arising out of content submitted, posted, transmitted or otherwise made available through the Site (a) by you, (b) by your use of Zigzeg’s Services, (c) by your violation of the BSA, or (d) by your violation of any local and/or international laws.</p>

<p class="ttl"><b>Modifications to Services</b></p>
<p>Zigzeg reserves the right to modify or discontinue, temporarily or permanently, any Service (or part thereof) at any time and from time to time, with or without the issuance of a notice. You agree not to hold Zigzeg liable for any modification, suspension or discontinuance of any Service.</p>

<p class="ttl"><b>Zigzeg’s Privacy Policy</b></p>
<p class="first">Your registration data and other information provided by you during registration are subject to our privacy policy.</p>

<p class="ttl"><b>Intellectual Property & Copyrights of Zigzeg & other third parties</b></p>
    <p>You agree that Zigzeg’s & other third parties’ products and services and any software used in connection with the Site contain proprietary information that is protected by intellectual property and other applicable laws and you further agree that such proprietary information cannot be modified, distributed, sold or used to create derivative works based on Zigzeg’s & other third parties’ products and services, in whole or in part.</p>
<br />
    <p>The Zigzeg logo, other Zigzeg logos, Place icon, Event icon, Offers icon, other icons, contents, products, services & features of the Site are properties of Zigzeg. As such, you agree to refrain from displaying, using, modifying, altering, copying or reproducing the above mentioned logos, icons, contents, products, services & features in any manner without prior consent or permission from Zigzeg.</p>

<p class="ttl"><b>Communications & Notices</b></p>
<p class="first">Zigzeg may, from time to time, provide you with communications or notices in regards to any changes, amendments, announcements, promotions & updates in relation to the Site via, but not limited to, email, regular mail, posting on the Zigzeg website, or other reasonable means now known or thereafter developed.</p>

<p class="ttl"><b>Third Party Beneficiaries</b></p>
<p>Unless otherwise expressly stated in this BSA, you agree that there shall be no third party beneficiaries to this agreement.</p>

<p class="ttl"><b>Disclaimer of Warranties</b></p>
    <p class="first">You acknowledge and agree that:-</p>
    <p>Your use of Services developed by Zigzeg is at your sole discretion & risk. The Services are provided on an “as is” and “as available” basis.</p>
<br />
    <p>No information or advice, whether through written form or given orally, obtained by you from Zigzeg or through the Site shall create any warranty not expressly declared in the BSA.</p>
<br />
    <p>Zigzeg and its affiliates, employees and partners will make no guarantee that</p>
        <ul class="alphabet">
        <li><p>- The Services developed by Zigzeg will meet your requirements.</p></li>
        <li><p>- The information contained within the Site will be accurate or reliable.</p></li>
        <li><p>- Any software errors will be corrected.</p></li>
        <li><p>- The quality of any Services, information or other materials made available to you or purchased by you from the Site will meet your requirements or your expectations.</p></li>
        <li><p>- The Site will be uninterrupted, secure, timely or error-free.</p></li>
		</ul>
<br />
    <p>Zigzeg is not an authorized reseller, agent or dealer of any manufacturer, supplier or distributor whose products and services are advertised or listed on the Zigzeg Site.</p>

<p class="ttl"><b>Health Notice</b></p>
    <p class="first">It is well known that a small percentage of users may experience epileptic seizures when exposed to certain background images or light patterns displayed on a computer screen. Certain conditions may induce previously undetected epileptic seizures even in users who have no previous history of such seizures. If you experience the following symptoms while using the Site: dizziness, altered vision, loss of awareness, involuntary movement, convulsion, eye or muscle twitches or disorientation, immediately discontinue the use of the website and consult your physician. </p>

<p class="ttl"><b>General Information</b></p>
    <p class="first">This BSA constitutes the entire agreement between Zigzeg and you and governs your usage of the Site & the Services it offers.</p>
<br />
    <p>You agree that Zigzeg reserves the right to modify or update this BSA at any time and from time to time.</p>
<br />
    <p>The laws of the Country of Malaysia shall govern this BSA.</p>
<br />
    <p>You agree that your Account is non-transferable and any rights you have towards your account terminate upon your death. Your Account will be terminated and all contents contained within shall be deleted upon the receipt of a copy of a death certificate.</p>
<br />
    <p>You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of Zigzeg’s Services or BSA must be filed within one (1) year after such claim or cause of action arose or be barred to do so forever.</p>
<br />
    <p>The failure of Zigzeg to exercise or enforce any provision of the BSA shall not constitute a waiver of such provision.</p>
<br />
    <p>Zigzeg values your continued observance of this BSA. You acknowledge and agree to indemnify Zigzeg, its employees, directors, assigns and successors against any loss or damage that Zigzeg suffers from and/or incurs in connection to any infringement of the BSA by you.</p>
<br />
    <p>The section titles within this BSA have no legal or contractual effect and are for convenience only.</p>

<p class="ttl"><b>Violation of the BSA</b></p>
    <p class="first">If you come across any violation of this BSA, please report it to us. </p>  
                </li>
              </ul>
             </div>
             <div id="pPolicy" class="grid_12 no_margin dispNone">
             		<ul>
                <li><p class="bold underline">Zigzeg Business Privacy Policy</p>
<p>Here at Zigzeg, we respect your privacy & treat your personal information with the utmost diligence. We collect information about you and use it to facilitate and improve our services.</p>

<p>This Privacy Policy explains the type of information we collect, how we use it, who we share it with, how shared information is used and the tracking technologies used to collect information.</p>

<p>Zigzeg may make changes to this privacy policy from time to time. We will inform you of any changes to this policy via the “Zigzeg Updates” section of your Zigzeg account. If you have any questions, do send us a message.</p>

<p class="bold underline">Company Information</p>
<p>Zigzeg collects information about your company when you register an account for the purpose of perusing our products & services at Zigzeg.com (“Site”) or via our mobile applications (“apps”). Your company information refers to information about your company, which is deemed private and is not available in the public domain. Registration of an account is required in order to use certain services and features of the Site.</p>

<p><br /><span class="bold">Company Information collected during registration includes:</span></p>
<p>a. Your company name<br>
b. Your registered company name<br>
c. Your company registration number<br>
d. Your email address</p>

<p><span class="bold">Company name</span>: A company name is collected for the purpose of identifying your account & for posting
purposes in the <i>Site</i> only.</p>

<p><span class="bold">Email Address</span>: We use your email address only to allow you to log in to your account, send you confirmations (of your registration, account updates, etc.), and to send you messages as part of our services. You may choose to stop receiving these emails by adjusting your email settings in your account’s ‘profile & settings’ section.</p>

<p><span class="bold">Company Registration Number</span>: We collect your company’s registration number to verify that your company is an entity duly registered with the company registration authority of your country as stipulated within our Business Service Agreement (BSA).</p>

<p>Due to the nature of a business account registered with Zigzeg, we consider all information contained within your business account to be suitably allowed for public viewing in your public pages except for the following:<br><br> 
    a. Your company registration number<br />
    b. Your payment & credit card information<br />
    c. Access to your Zigzeg Business Account<br />
    d. Your messages<br />
	e. Your account information, invoices & payment history</p>

<p>Zigzeg does not condone any acts of sharing, distributing, renting or selling of your company information provided to us in your Zigzeg account. Exception is given under the following circumstances:</p>
<p>a. In response to subpoenas, court orders, legal process, or to establish or exercise our legal rights or in
defense against legal claims.<br><br>
b. Whenever illegal activity necessitates the sharing of information with the relevant authorities for the
investigation,
prevention or action of such activities as otherwise required by law, including the violation of our term of service</p>

<p>Zigzeg has in place physical, electronic and procedural safeguards to protect your information. Furthermore, we do not, in any way, store your credit card or bank account information on our servers, be it online or offline.</p>
<p>All credit card & payment transactions with Zigzeg will be handled by our payment gateway solutions provider. All credit card & payment transactions are protected by the latest 128-bit Secure Socket Layer (SSL) encryption technology. All payment transactions with in our site comply with PCI (Payment Card Industry) standards. Our payment gateway solutions provider will use your credit card & payment information only to process your orders and to detect and prevent fraud. Our payment gateway solutions provider may store your credit card & payment information depending on the payment & option type selected when purchasing a business package.</p>
<p>We place very high importance to the integrity of your information within our servers and thus only employees whom we deem require the necessary access to your information will be allowed such access so as to provide you with the necessary assistance and/or to do their jobs.</p>

<p class="bold underline">Technical Information</p>
<p>Zigzeg automatically collects & stores technical information about your computer, mobile devices, your activities and
usage
habits when you visit our site and use our apps. Technical information collected includes:<br><br>
a. Your PC’s IP address<br>
b. Information of your PC or mobile device (type of device, web browser and operating system)<br>
c. Your mobile device’s unique ID number<br>
d. Your mobile device's geo location (specific geographic location if you've enabled collection of that information, or
general location)<br>
e. The URL of the last web page you visited before coming to our Site<br>
f. The pages you visited when on our Site<br>
g. Your searches and results you selected<br>
h. Advertisements you clicked on<br>
i. How long you visited our sites or used our apps and which services and features you used<br>
j. Your online or offline status<br> 
k. Your account activities</p>

<p>Zigzeg uses the collected technical information for the following purposes:<br><br>
a. To improve our services & products<br>
b. To offer you a personalized browsing experience with targeted content and to provide data for internal company
research & reporting.</p>

<p>Zigzeg may share the collected technical information with other companies for various reasons. What information we
make available to other companies depends on the nature of our relationships with them.</p>
<p><span class="bold">Service Providers</span> : We may share all of the types of information we collect with vendors
who provide services (such as email and SMS messaging, and payment processing), conduct surveys, and run sweepstakes on
our behalf.</p>
<p><span class="bold">Analytics Companies</span> : We allow analytics companies to use tracking technologies to collect
information about our users' computers or mobile devices and their online activities. These companies analyze this
information to help us understand how our sites and apps are being used. Certain versions of our App permits you to opt
out of being
tracked by third party analytics companies.</p>
<p><span class="bold">Aggregated Information</span> : We may publicly disclose aggregated information about our users,
such as the total number of our users and their overall demographics.</p>

<p class="bold underline">Tracking technologies</p>
<p>We, as well as other companies, use tracking technologies to collect and store data about your computer or mobile
device and your activities on our sites and apps.</p>
<p><span class="bold">Cookies</span> : When you visit our sites, we place "cookies" (small text files) on your computer
to recognize you. We do this to store your preferences and track your use of our sites. Our cookies expire when you log out of our system. Ad companies place cookies on your computer to track your activities across various sites so
that they can display targeted ads.</p>
<p><span class="bold">Pixel tags</span> : We embed pixel tags (also called web beacons or clear GIFs) on web pages, ads,
and emails. These tiny, invisible graphics are used to access cookies and track user activities (such as how many times
a page is viewed). We use pixel tags to measure the popularity of our features and services. Ad companies use pixel tags
to measure the number of ads displayed and their performance (such as how many people clicked on an ad).</p>
<p><span class="bold">Mobile Device IDs</span>: If you're using an app, we use mobile device IDs (the unique identifier
assigned to a device by the manufacturer), instead of cookies, to recognize you. We do this to store your preferences
and track your use of our apps. Unlike cookies, device IDs cannot be deleted. Ad companies use device IDs to track your
use of the app, track the number of ads displayed, measure ad performance and display ads that are more relevant to you.
Analytics companies use device IDs to track information about app usage.</p> 

<p class="bold underline">Editing of Your Account Information & Preferences</p>
<p>Registered businesses may access their account to edit profile information & preference settings at any time.<br><br>
Zigzeg may, from time to time, send you communications relating to Zigzeg such as new features & services, newsletters,
site & system updates etc. You may choose not to receive updates from Zigzeg; however you may not choose to opt-out of
critical update notifications which pertain to the status of your account.<br><br>
Information pertaining to your transactions and your activities within Zigzeg will remain in our archives after the
deletion of your Zigzeg account for seven (7) years due to regulatory requirements.</p>

</li>

              </ul>
             </div>
             <div id="azfu" class="grid_12 no_margin dispNone">
             		&nbsp;
             </div>
         		 </div>

         </div>
         <div class="clearfix"></div>
         
				</div>
    </div>
    <!--end content-->
    <div class="clear"></div>
    
   </div>
    <div class="clearfix pad_top20"></div>
</div>
<!--end page_wrap-->
<div class="clearfix pad_top20"></div>