<script>
$(function() {
		$('.scrollto').click(function(){
				var href = $(this).attr('href');	
				$('html, body').animate({
         scrollTop: $(href).offset().top
  }, 500);	
		});
		$('#helpHeader a,.linkA').click(function(e){
			e.preventDefault();
			var href = $(this).attr('href');
			$('#helpHeader a').removeClass('selected');
			if(href =="#userFaq")
				document.title = "ZIGZEG – Help Central – User FAQ" 
      else if(href =="#eusa")
				document.title = "ZIGZEG – Help Central – End-user Service Agreement (EuSA)" 
      else
				document.title = "ZIGZEG – Help Central – Privacy Policy" 
				
      $(href+'Show').addClass('selected');
			$('#contentArea div.grid_12').hide();
			$(href).slideDown();
    });
		$(window.location.hash).click();
});
</script>
<div class="fcontainer_12 pad_top30">  
    <!--end header-->
  <div class="container_12 clearfix top banner pad_bot30" >
 		<!--start slider-->
   	<div class="grid_5 bannerMsg help">
    		<span class="query"></span>
        <h1 class="bold">&nbsp;</h1>
        <p><br />Would like to know what services and features Zigzeg offers or how to use them?<br /><br />You have
come to the
right place. Browse through our FAQ section, our service agreement and our privacy policy to get a better understanding
of ZIGZEG.</p>
    </div>
    <div class="grid_7 bgHelp"></div>
    
    <!--end slider-->
		</div>
	</div>
</div>
<!-- end gray boxes -->
<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix">
    <!--start content-->
    <div class="container_12">
    		 <div class="grid_12 pad_bot30 packageBox margin_left_10">
        	 <div style="display:block;" id="helpConList">
             <div>
             <div class="grid_12 no_margin full" id="helpHeader">
                 <a href="#userFaq" id="userFaqShow" class="selected"><div>User FAQ</div></a>
                 <a href="#eusa" id="eusaShow"><div>End-user Service Agreement</div></a>
                 <a href="#pPolicy" id="pPolicyShow"><div>Privacy Policy</div></a>
                 <!--<a href="#azfu"><div>About Zigzeg for users</div></a>-->
             </div>
             <div class="clearfix"></div>
             <div id="contentArea">
             <div id="userFaq" class="grid_12 full no_margin">
            	 <ul class="pad_bot30 ">
              <li class="clearfix">
              
              <p class="bold" id="generalQ">i. General questions </p>
<p class="ttl"><b>What is ZIGZEG?</b></p><p>
ZIGZEG is designed to allow people living in a city access to a city’s ever-changing and every-growing cityscape.
ZIGZEG’s ‘Total
Urban Awareness System’ combines an interactive urban map and a city information database to give people in a modern
fast-paced
city insight into the constant changes, updates, happenings & improvements that are occurring daily to their city.</p>

<!--p class="ttl"><b>How can I learn more about ZIGZEG and its features?</b></p><p>
You can learn more about ZIGZEG and its features here: <a>http://user.zigzeg.com</a></p-->


<p class="ttl"><b>Will there be new features and services from ZIGZEG?</b></p><p>
Yes, ZIGZEG and its development team will continually update ZIGZEG’s ‘Total Urban Awareness System’ with new and
awesome features
and services. We will inform you of new updates, features and services via your ZIGZEG user account.</p>

<p class="ttl"><b>Can I trust the information listed in ZIGZEG?</b></p><p>
You can never fully trust any information provided online (or anywhere else for that matter) without first verifying the
information you obtained. <!--However, in order to improve the quality of information provided in our system, a ‘Trusted’
badge icon will be displayed on the companies’ pages if they meet one of the following conditions:
<br /><br />
a. These companies have been verified by ZIGZEG; <br />
b. These companies have been vouched for by a minimum of 30 users.--></p>

 
<p class="bold" id="regQ">ii. Registration questions | <a href="#helpConList" class="scrollto normal">back to
top</a></p>
<p class="ttl"><b>Can I use my Facebook account to log-in to ZIGZEG?</b></p><p>
Yes, ZIGZEG is ‘Facebook sign-in’ enabled.</p>

<p class="ttl"><b>What information about me does ZIGZEG collect when I log-in using my Facebook account?</b></p><p>
ZIGZEG collects the following information when you log-in to Zigzeg using your Facebook account:<br /><br />
a. Your username<br>
b. Your email address<br>
c. Your location (only city/town, state/region & country information will be collected, if and when available)<br>
d. Your date of birth<br>
e. Your gender</p>

<p>No other personal information will be collected. Do have a look at <a href="http://biz.zigzeg.com">our privacy policy</a> for more information on
how we handle data collected from you.</p>


<p class="bold" id="zeusQ">iii. ZIGZEG User Account questions | <a href="#helpConList" class="scrollto normal">back to
top</a></p>
<p class="ttl"><b>I can’t log-in to my account. Why?</b></p><p>
You may have entered an incorrect email address and password during log-in or you have not validated your account.</p>

<p class="ttl"><b>I forgot my password. How can I retrieve it?</b></p><p>
For security reasons, we do not allow you to retrieve your password. You can however create a new password for your
account. In
order to do that, you click on the “log-in” link located at the top right hand side of any ZIGZEG page, click on the
“Forgot password?” link. You then enter your email address and follow the instructions provided to create a new password
for
your account.</p>

<p class="ttl"><b>I did not receive any email updates from ZIGZEG. Why?</b></p><p>
The emails may have been sent into the spam folder of your email account. To avoid future emails from being sent to your
spam folder, please add “helper@zigzeg.com” to your safe list.</p>


<p class="ttl"><b>How can I change my password?</b></p><p>
From within your user account page, click on the ‘Profile & Settings’ tab. You will find the ‘change password’ section at
the end of the page.</p>

<p class="ttl"><b>Can I change the number of times I receive email notifications from my ZIGZEG user account?</b></p><p>
Yes, you can. In your user account’s ‘Profile & Settings’ tab, you will find a section called 'Account Preference'. You can
select whether to receive individual email notifications or to receive all your notifications in a daily email
digest or not to receive any email notifications at all.</p>

<p class="ttl"><b>Can I change the email I use to log-in to my account?</b></p><p>
No, you are not allowed to change your email once it has been registered. You will need to register a new account using a new email address if you wish to use another email to log-in to your Zigzeg account.</p>



<p class="bold" id="featureQ">iv. Features questions | <a href="#helpConList" class="scrollto normal">back to
top</a></p>
<p class="ttl"><b>How is ZIGZEG Offers different from other deal sites?</b></p><p>
ZIGZEG Offers differ from other deal sites in that you do not have to pay to get the deal. It is basically promotions
and discounts offered by businesses daily all around your city.</p>

<p class="ttl"><b>I like a ZIGZEG Offer I see. How can I get it?</b></p><p>
To get a ZIGZEG Offer, all you have to do is read the instructions written in the ‘How to get this offer’ section in the
ZIGZEG offer page. Some may have more elaborate requirements but most should be simple ‘turn up and buy’ type of offers, it
all depends on the business itself.</p>

<p class="ttl"><b>Do ZIGZEG Offers have a validity period?</b></p><p>
In short, yes & no. An offer’s validity is set by a business that offered said offer. ZIGZEG has no control over the
validity period of an offer.</p>

<p class="ttl"><b>What are ‘Shouts’?</b></p><p>
‘Shouts’ are short messages which allows businesses to communicate in real-time with ZIGZEG users.</p>

<p class="ttl"><b>How does the slider in the Home page and MapView work?</b></p><p>
The slider in the Homepage and MapView works as a filter to your results. Moving the slider to the 'Place' position 
will show you all places in your city. 'Offers' & 'Events' work the same.</p>

<p class="ttl"><b>How can I get updates to places, offers and events in my city?</b></p><p>
If you come across a place, an offer or an event which you like, you can receive updates from it by clicking on the ‘Zig
this’ button located in a Place, Offer or Event page. </p>

<p class="ttl"><b>What is ‘Zig this’?</b></p><p>
By clicking on the ‘Zig this’ button or ‘zigging a page’ as we call it, you will add a Place, an Offer or an Event you like to
your ‘My Ziglist’. Once a page is 'zigged', you will receive updates from that page.</p>

<p class="ttl"><b>What is ‘My Ziglist’?</b></p><p>
‘My Ziglist’ is a list of all the places, offers and events you have ‘zigged’. It is basically a list of your
favourite places, offers & events. ‘My Ziglist’ is accessible from your user account page and you can manage your
‘zigged’ listings from your ‘My Ziglist’ page.</p>

<p class="ttl"><b>Can I get reminders to Zigzeg Offers and Events before they start and before they end?</b></p><p>
Yes, you can. If you have added an Offer or an Event to your ‘Ziglist’, you will receive a reminder when an event is
about to start and when an offer is about to end. You add an event of an offer to your ‘My Ziglist’ by clicking on the
‘Zig this’ button in an event or offer page.</p>

<p class="ttl"><b>How can I recommend a place, an offer or an event to my friends?</b></p><p>
You can share a place, an offer or an event you like using Facebook, Twitter, Google+ or a host of other social
networking sites. In addition, you can personally send your recommendations to your friends via email.</p>

<p class="ttl"><b>I can’t rate a place, an offer or an event. Why?</b></p><p>
You have to be logged-in before you can rate a place, an offer or an event.</p>

<p class="ttl"><b>How can I report errors or suspicious activities in a page?</b></p><p>
You can click on the ‘Report this page’ link to report errors or suspicious activities.</p>

<p class="bold" id="helpQ">v. Help questions | <a href="#helpConList" class="scrollto normal">back to top</a></p>
<p class="ttl"><b>Where can I view a copy of your terms of service?</b></p><p>
You can access our End-user Service Agreement (EuSA) here > <a href="#eusa" class="linkA">http://zigzeg.com/help#eusa</a></p>

<p class="ttl"><b>Where can I view a copy of your privacy policy?</b></p><p>
You can access our User Privacy Policy here > <a href="#pPolicy" class="linkA">http://zigzeg.com/help#pPolicy</a></p>

<p class="ttl"><b>Are there any openings in Zigzeg? Are you hiring? How can I get more information?</b></p><p>
We are always looking for dynamic and qualified individuals to join us. For more information, check out our career page
here > <a href="/careers">http://user.zigzeg.com/career</a></p>
              </li></ul>
         		 </div>
         		 <div id="eusa" class="grid_12 no_margin dispNone">
             		<ul>
                <li>
<p class="bold underline">Section 1. Acceptance of Terms & Definitions</p>

<p class="pad_top"><span class="bold">1.1</span> Welcome to Zigzeg.com (“<span class="bold">Zigzeg</span>”). In perusing
<i>Zigzeg’s</i> website (“<span class="bold">Site</span>”), you are subjected to our End-user Service Agreement (“<span
class="bold">EuSA</span>”), which may be updated from time to time. By accessing and making use of this Site,
you acknowledge and agree to accept the terms & conditions stipulated within this <i>EuSA</i>.</p>

<p class="pad_top"><span class="bold">1.2</span> Definitions of terms used on the Site and this agreement.</p>
<p class="indent"><span class="bold">a.  “Account”</span> also refers to “<span class="bold">Public User
Account</span>”;</p>

<p class="indent"><span class="bold">b.  “Public User Account”</span> is an account assigned to a <i>User</i> after
registration showing all relevant information pertinent to that particular <i>User</i>;

<p class="indent"><span class="bold">c. “User”</span> is a natural person or a legal entity that is not under any legal
disability to enter into a legally binding contract;</p>

<p class="indent"><span class="bold">d. “Services”</span> refers to any and all products, services, features & so on and
so forth of the <i>Site</i>, whether already developed, currently in development or will be developed in the
future by <si>Zigzeg</i> and placed on the Site and made available to a <i>User</i>.</p>


<p class="bold underline">Section 2. Registration requirements, Zigzeg Public User Account, Password & Security</p>
<p class="pad_top"><span class="bold">2.01</span>  In conjunction with your use of the <i>Site</i>,
</p>

<p class="indent">You hereby:</p> 
<p class="indent">a. Affirm that you are a person of legal age to form a binding contract and are not barred from
receiving services under the laws of any applicable jurisdiction. </p>
<p class="indent">b. Agree to provide accurate and current information about yourself as required by our registration
form for the opening of an <i>Account</i> for the purpose accessing <i>Services</i> provided by the <si>Site</i>.</p> 

<p class="pad_top"><span class="bold">2.02</span> Alternatively, <i>Zigzeg</i> allows a User to log-in to the
<i>Site</i>
using a Facebook account. By logging-in using a Facebook account, the <i>User</i> is deemed to have agreed to be bound
to the terms and conditions stipulated in this <i>EuSA</i>.

<p class="pad_top"><span class="bold">2.03</span> <i>Zigzeg</i> collects the following data from a <i>User’s</i>
Facebook
account when a <i>User</i> logs in to <i>Site</i> using the <i>User’s</i> Facebook account: </p>
	<p class="indent">a. Email address</p>
	<p class="indent">b. Username</p>
	<p class="indent">c. Gender</p>
	<p class="indent">d. Date of Birth</p>
	<p class="indent">e. Location info</p>

<p class="indent"><i>Zigzeg</i> will not collect any other information present within a User’s Facebook account. Do have
a look at <i>Zigzeg’s</i> privacy policy for more information on how <i>Zigzeg</i> handles data collected from a
<i>User</i>.</p>

<p class="pad_top"><span class="bold">2.04</span> <i>Zigzeg</i> reserves the right to suspend or terminate your
<i>Account</i> and to refuse you access to any of our <i>Services</i> if <i>Zigzeg</i> has reasonable grounds to suspect
that the information provided by you and contained within your <i>Account</i> is false, inaccurate, not current or
incomplete.</p>

<p class="pad_top"><span class="bold">2.05</span> <i>Zigzeg</i> requires that you be of at least 13 years of age and
above
before you are eligible to register to become a <i<User</i>. Registering an account with <i>Zigzeg</i> allows you
access to all <i>Services</i> provided by <i>Zigzeg</i>.</p>

<p class="pad_top"><span class="bold">2.06</span>   An account activation email will be sent to your specified email
address upon a successful registration. You are required to activate your <i>Account</i> by clicking on the activation
link
within the email. You are required to maintain the confidentiality of the password of your <i>Account</i>. You are
deemed to be fully responsible for all and any activities occurring under your <i>Account</i>.</p> 

<p class="pad_top"><span class="bold">2.7</span> You agree to notify <i>Zigzeg</i> with haste when you notice
any unauthorized access & use of your password, your <i>Account</i> or any other breaches of
security. <i>Zigzeg</i> hereby declares that it cannot and will not be held liable for any losses or damages arising
from your inability to comply with the above directives.</p>

<p class="pad_top"><span class="bold">2.8</span> You agree that the following conducts are not permitted within the
<i>Site</i>:</p>
<p class="indent">a. the posting, emailing or otherwise making accessible any content that is considered harmful,
illegal, abusive, vulgar, libelous, or otherwise objectionable.</p>
<p class="indent">b. the posting, emailing or otherwise making accessible any content that infringes upon any trademark,
copyright, patent or other proprietary rights of any person or entity.</p> 
<p class="indent">c. the posting, emailing or otherwise making accessible any unauthorized advertising, promotional
material or any other form of solicitation.</p>
<p class="indent">d. causing interference to the service or servers or networks connected to it.</p> 
<p class="indent">e. The contravention of any law, statutes, ordinance or regulation.</p>

<p class="pad_top"><span class="bold">2.09</span> You recognize that <i>Zigzeg</i> reserves the right
to or not to pre-screen any contents posted by <i>Zigzeg</i> or by any user on the <i>Site</i>. <i>Zigzeg</i> also
reserves the right to refuse the posting or to remove any content from the <i>Site</i>. You agree that you are
responsible for the evaluation and for the use of any content posted on the Site, including any reliance on accuracy,
completeness or usefulness of the contents. You agree that you will bear all risk associated with the usage of content
from the <i>Site</i> and that you will indemnify <i>Zigzeg</i> from any damages, financial or otherwise, due to your
usage of information or content posted on the <i>Site</i>.</p>

<p class="pad_top"><span class="bold">2.10</span> You acknowledge, consent and agree that:</p>
<p class="indent">a. in compliance with legal proceedings;</p>
<p class="indent">b. the enforcement of this <i>EuSA</i>;</p>
<p class="indent">c. in response to claims of any violation of third party rights;</p>
<p class="indent">d. in response to request for customer service by you;</p>
<p class="indent">e. to protect the property, rights or personal safety of <si>Zigzeg</i>, it’s users and  the
public;</p>

<p class="pad_top"><i>Zigzeg</i> may be allowed to access, preserve and disclose your <i>Account</i> information and
content if required to do so by law.</p>

<p class="pad_top"><span class="bold">2.11</span> You recognize that when you register an <i>Account</i> with
<i>Zigzeg</i>, use <i>Services</i> offered by <i>Zigzeg</i> and receive communications from <i>Zigzeg</i> including, but
not limited to, browsing the <i>Site</i>, email, search queries, uploading comments, and other Internet activities, that
communications initiated by you will be sent through <i>Zigzeg</i>’s computer networks which are located in various
parts of the world. You will thus acknowledge that the use of our service might result in intrastate transmission of
data.</p>

<p class="pad_top"><span class="bold">2.12</span> You agree that <i>Zigzeg</i> may, under certain conditions and
without prior notice, immediately terminate your Account and your access to <i>Zigzeg’s Services</i> if <i>Zigzeg</i>
has reasonable grounds to believe that you are in breach of Sections 2.01, 2.04, 2.05 and 2.08. Furthermore, cause for
termination of your Account shall also include, but not be limited to:</p> 

<p class="indent">a. breaches or violations of this <i>EuSA</i> or any other agreements or guidelines of <i>Zigzeg</i>
not contained within this <i>EuSA</i>.</p>
<p class="indent">b. requests by law enforcement agencies or other government agencies.</p>
<p class="indent">c. a self-initiated <i>Account</i> deletion request from you.</p>
<p class="indent">d. unexpected technical and/or security problems.</p>

<p class="pad_top"><span class="bold">2.13</span> Upon termination of your <i>Account</i>, you will no longer have to
access your <i>Account</i>, including access to any <i>Services</i> which require a valid <i>Account</i>. Any related
information, files and contents associated with your <i>Account</i> will be kept on records on an off-site server for a
period of 7 years due to statutory requirements. In addition, you agree that any terminations for cause shall be made in
<i>Zigzeg</i>’s sole discretion and that <i>Zigzeg</i> will neither be held liable to you nor any third party for the
termination of your <i>Account</i> nor for your inability to access the <i>Site</i> or its <i>Services</i>.</p>


<p class="bold underline">Section 3. Description of Service</p>
<p class="pad_top"><span class="bold">3.01</span> <i>Zigzeg</i>, a company specialized in map-based, information-driven
city
information system, develops <i>Services</i> that changes the way people get information, explore and interact with
their city by allowing them insights into the constant changes, updates, happenings & improvements that occur daily
to the city they live in. <i>Services</i> developed by <i>Zigzeg</i> are offered to <i>Users</i> on a free-to-use
basis.</p>

<p class="pad_top"><span class="bold">3.02</span> <i>Zigzeg</i> will continually development and update new and existing
<i>Services</i> within the <i>Site</i> as it sees fit. <i>Users</i> will be notified of these updates and development
via their <i>Account</i>.</p>

<p class="pad_top"><span class="bold">3.03</span>	<i>User</i> acknowledges and agrees that the information provided
on the <i>Site</i> may contain errors and that <i>Zigzeg</i> may or may not verify authenticity of said information. As
<i>Zigzeg</i> has no control over the contents posted by other <i>Users</i>, you agree that <i>Zigzeg</i> can neither be
held responsible nor liable for any contents, advertising, products or other materials made available on the <i>Site</i>
by <i>Users</i>.</p>


<p class="bold underline">Section 4. Links to External Websites & Dealings with Advertisers.</p>
<p class="pad_top"><span class="bold">4.1</span> <i>Zigzeg</i> may provide links to other World Wide Web sites and/or
resources. As <i>Zigzeg</i> has no control over the contents of such sites and resources, you agree that <i>Zigzeg</i>
can neither be held responsible nor liable for any contents, advertising, products or other materials made available on
such sites and resources. </p>
<p class="pad_top"><span class="bold">4.2</span> You agree that <i>Zigzeg</i> cannot be held liable, directly or
indirectly, for any loss or damage caused or alleged to be caused by the use or reliance on any contents, advertising,
products or material made available on such sites and resources as stated in section 4.01.</p>
<p class="pad_top"><span class="bold">4.3</span> You agree that <i>Zigzeg</i> cannot be held responsible or liable for
any loss or damage resulting from your correspondence or dealing with any advertisers found on or through the
<i>Site</i>. Any and all dealings or correspondence with the advertisers are solely between you and such
advertisers.</p>


<p class="bold underline">Section 5. Your Contribution to Us </p>
<p class="pad_top"><span class="bold">5.01</span> You recognize and agree that by submitting ideas, documents, proposals
and/or suggestions to <i>Zigzeg</i> through its suggestion or feedback pages or via email that:</p>

<p class="indent">a. <i>Zigzeg</i> shall be at liberty to make use of or disclose (or choose not to make use of or
disclose) such contributions for any purpose and in any way;</p>
<p class="indent">b. <i>Zigzeg</i> might already have something similar under development;
<p class="indent">c. <i>Zigzeg</i> does not owe you any reimbursement or compensation for your contributions under
whichever circumstances;</p>
<p class="indent">d. Your contribution becomes a property of <i>Zigzeg</i> without any obligation from <i>Zigzeg</i> to
you.</p>


<p class="bold underline">Section 6. Indemnity</p>
<p class="pad_top"><span class="bold">6.01</span> You agree to indemnify <i>Zigzeg</i> and its subsidiaries, affiliates,
employees, partners, agents & officers against any claim or demand made by any third party due to or arising out of
content submitted, posted, transmitted or otherwise made available through the <i>Site</i> (a) by you, (b) by your use
of <i>Zigzeg’s Services</i>, (c) by your violation of the <i>EuSA</i>, or (d) by your violation of any local and/or
international laws.</p>


<p class="bold underline">Section 7. Modifications to Services</p>
<p class="pad_top"><span class="bold">7.01</span> <i>Zigzeg</i> reserves the right to modify or discontinue, temporarily
or permanently, any <i>Service</i> (or part thereof) at any time and from time to time, with or without the issuance of
a notice. You agree not to hold <i>Zigzeg</i> liable for any modification, suspension or discontinuance of any
<i>Service</i>.</p>


<p class="bold underline">Section 8. Zigzeg’s Privacy Policy</p>
<p>8.01 Your registration data and other information provided by you during registration are subject to our privacy
policy.</p>


<p class="bold underline">Section 9. Intellectual Property & Copyrights of Zigzeg & other third parties</p>
<p>9.01 You agree that <i>Zigzeg</i>’s & other third parties’ products and services and any software used in connection
with the <i>Site</i> contain proprietary information that is protected by intellectual property and other applicable
laws and you further agree that such proprietary information cannot be modified, distributed, sold or used to create
derivative works based on <i>Zigzeg</i>’s & other third parties’ products and services, in whole or in part.</p>

<p>9.02 The <i>Zigzeg</i> logo, other <i>Zigzeg</i> logos, Place icon, Event icon, Offers icon, other icons, contents,
products, services & features of the <i>Site</i> are properties of <i>Zigzeg</i>. As such, you agree to refrain from
displaying, using, modifying, altering, copying or reproducing the above mentioned logos, icons, contents, products,
services & features in any manner without prior consent or permission from <i>Zigzeg</i>.</p>


<p class="bold underline">Section 10. Communications & Notices</p>
<p>10.01 <span class="bold"></span> <i>Zigzeg</i> may, from time to time, provide you with communications or notices in
regards to any changes, amendments, announcements, promotions & updates in relation to the <i>Site</i> via, but not
limited to, email, regular mail, posting on the <i>Zigzeg</i> website, or other reasonable means now known or thereafter
developed.</p>


<p class="bold underline">Section 11. Third Party Beneficiaries</p>
<p>11.01 Unless otherwise expressly stated in this <i>EuSA</i>, you agree that there shall be no third party
beneficiaries to this agreement.</p>


<p class="bold underline">Section 12. Disclaimer of Warranties</p>
<p>12.01 You acknowledge and agree that:-</p>
<p class="indent">a. Your use of <i>Services</i> developed by <i>Zigzeg</i> is at your sole discretion & risk. The
<i>Services</i> are provided on an “as is” and “as available” basis.</p> 

<p class="indent">b. No information or advice, whether through written form or given orally, obtained by you from
<i>Zigzeg</i> or through the <i>Site</i> shall create any warranty not expressly declared in the <i>EuSA</i>.</p>

<p class="indent">c. <i>Zigzeg</i> and its affiliates, employees and partners will make no guarantee that</p>
<p class="indent2">- The Services developed by <i>Zigzeg</i> will meet your requirements.</p>
<p class="indent2">- The information contained within the <i>Site</i> will be accurate or reliable.</p>
<p class="indent2">- Any software errors will be corrected.</p>
<p class="indent2">- The quality of any Services, information or other materials made available to you or purchased by
you from the <i>Site</i> will meet your requirements or your expectations.</p>
<p class="indent2">- The <i>Site</i> will be uninterrupted, secure, timely or error-free.</p>

<p class="indent">d. <i>Zigzeg</i> is not an authorized reseller, agent or dealer of any manufacturer, supplier or
distributor whose products and services are advertised or listed on the <i>Site</i>.</p>


<p class="bold underline">Section 13. Health Notice</p>
<p class="pad_top"><span class="bold">13.01</span> It is well known that a small percentage of users may experience
epileptic seizures when exposed to certain background images or light patterns displayed on a computer screen. Certain
conditions may induce previously undetected epileptic seizures even in users who have no previous history of such
seizures. If you experience the following symptoms while using the <i>Site</i>: dizziness, altered vision, loss of
awareness, involuntary movement, convulsion, eye or muscle twitches or disorientation, immediately discontinue the use
of the website and consult your physician. </p>


<p class="bold underline">Section 14. General Information</p>
<p class="pad_top"><span class="bold">14.01</span> This <i>EuSA</i> constitutes the entire agreement between
<i>Zigzeg</i> and you and governs your usage of the <i>Site</i> & the <i>Services</i> it offers.</p>

<p class="pad_top"><span class="bold">14.02</span> You agree that <i>Zigzeg</i> reserves the right to modify or update
this <i>EuSA</i> at any time and from time to time.</p>

<p class="pad_top"><span class="bold">14.03</span> The laws of the Country of Malaysia shall govern this
<i>EuSA</i>.</p>

<p class="pad_top"><span class="bold">14.04</span> You agree that your <i>Account</i> is non-transferable and any rights
you have towards your account terminate upon your death. Your <i>Account</i> will be terminated and all contents
contained within shall be deleted upon the receipt of a copy of a death certificate.</p>

<p class="pad_top"><span class="bold">14.05</span> You agree that regardless of any statute or law to the contrary, any
claim or cause of action arising out of or related to the use of the <i>Services</i> or <i>EuSA</i> must be filed within
one (1) year after such claim or cause of action arose or be barred to do so forever.</p>

<p class="pad_top"><span class="bold">14.06</span> The failure of <i>Zigzeg</i> to exercise or enforce any provision of
the <i>EuSA</i> shall not constitute a waiver of such provision.</p>

<p class="pad_top"><span class="bold">14.07</span> <i>Zigzeg</i> values your continued observance of this <i>EuSA</i>.
You
acknowledge and agree to indemnify <i>Zigzeg</i>, its employees, directors, assigns and successors against any loss or
damage that <i>Zigzeg</i> suffers from and/or incurs in connection to any infringement of the <i>EuSA</i> by you.</p>

<p class="pad_top"><span class="bold">14.08</span> The section titles within this <i>EuSA</i> have no legal or
contractual effect and are for convenience only.</p>

<p class="bold underline">Section 15. Violation of the EuSA</p>
<p class="pad_top"><span class="bold">16.01</span> If you come across any violation of this <i>EuSA</i>, please get in
touch with us.</p>
                </li>
              </ul>
             </div>
             <div id="pPolicy" class="grid_12 no_margin dispNone">
             		<ul>
                <li><p class="bold underline">Zigzeg End-user Privacy Policy </p>
<p>Here at Zigzeg, we respect your privacy & treat your personal information with the utmost diligence. We collect
information
about you and use it to facilitate and improve our services.</p>

<p>This Privacy Policy explains the type of information we collect, how we use it, who we share it with, how shared
information is
used and the tracking technologies used to collect information.</p>

<p>Zigzeg may make changes to this privacy policy from time to time. We will inform you of any changes to this policy
via the
“Zigzeg Updates” section of your Zigzeg account. If you have any questions, do send us a message.</p>

<p class="bold underline">Personal Information</p>
<p>Zigzeg collects personal information about you when you register an account for the purpose of perusing our products
& services
at Zigzeg.com (“Site”) or via our mobile applications (“Apps”). Your personal information refers to information about
you, which
is deemed private and is not available in the public domain. Registration of an account is required in order to use
certain
services and features of the Site.</p>

<p><br /><span class="bold">Personal Information collected includes:</span></p>
<p>a. Your Username<br>
b. Your Email address<br>
c. Your Date of Birth<br>
d. Your Gender</p>

<p>You may provide this information directly to us or you may choose to register using your Facebook account in which
case you
would authorize us to access certain Facebook profile information including your first name, last name, gender, birth
date and
email address. You are not required to provide any of this information to us. However, certain information is required
in order
for you to access some of the services we offer. </p>

<p><span class="bold">Username</span>: A username is collected for the purpose of identifying your account & for posting
purposes in the <i>Site</i> only.</p>

<p><span class="bold">Email Address</span>: We use your email address only to allow you to log in to your account, send
you
confirmations (of your registration, account updates, etc.), and to send you messages as part of our services. You may
choose to
stop receiving these emails by adjusting your email settings in your account’s ‘profile & settings’ section.</p>

<p><span class="bold">Date of Birth</span>: We collect your date of birth information to verify that you are of the
correct age to
register an account with Zigzeg as stipulated within our End-user Service Agreement (EuSA).</p>

<p>Zigzeg does not condone any acts of sharing, distributing, renting or selling of your personal information provided
to us in your Zigzeg account or when you log-in via Facebook. Exception is given under the following
circumstances:<br><br> 
&nbsp;&nbsp;a. In response to subpoenas, court orders, legal process, or to establish or exercise our legal rights or in
defense
against legal claims.<br><br>
&nbsp;&nbsp;b. Whenever illegal activity necessitates the sharing of information with the relevant authorities for the
investigation,
prevention or action of such activities as otherwise required by law, including the violation of our term of service</p>

<p>Zigzeg has in place physical, electronic and procedural safeguards to protect your personal information. We place
very high
importance to the integrity of your personal information within our servers and thus only employees whom we deem require
the
necessary access to your personal information will be allowed such access so as to provide you with the necessary
assistance
and/or to do their jobs.</p>

<p class="bold underline">Technical Information</p>
<p>Zigzeg automatically collects & stores technical information about your computer, mobile devices, your activities and
usage
habits when you visit our site and use our apps. Technical information collected includes:<br><br>
a. Your PC’s IP address<br>
b. Information of your PC or mobile device (type of device, web browser and operating system)<br>
c. Your mobile device’s unique ID number<br>
d. Your mobile device's geo location (specific geographic location if you've enabled collection of that information, or
general location)<br>
e. The URL of the last web page you visited before coming to our Site<br>
f. The pages you visited when on our Site<br>
g. Your searches and results you selected<br>
h. Advertisements you clicked on<br>
i. How long you visited our sites or used our apps and which services and features you used<br>
j. Your online or offline status<br> 
k. Your account activities</p>

<p>We however do not & will not collect your credit card numbers, social security numbers (SSN), bank account or other
PIN (Personal identification numbers).</p>

<p>Zigzeg uses the collected technical information for the following purposes:<br><br>
a. To improve our services & products<br>
b. To offer you a personalized browsing experience with targeted content and to provide data for internal company
research & reporting.</p>

<p>Zigzeg may share the collected technical information with other companies for various reasons. What information we
make available to other companies depends on the nature of our relationships with them.</p>
<p><span class="bold">Service Providers</span> : We may share all of the types of information we collect with vendors
who provide services (such as email and SMS messaging, and payment processing), conduct surveys, and run sweepstakes on
our behalf.</p>
<p><span class="bold">Analytics Companies</span> : We allow analytics companies to use tracking technologies to collect
information about our users' computers or mobile devices and their online activities. These companies analyze this
information to help us understand how our sites and apps are being used. Certain versions of our App permits you to opt
out of being
tracked by third party analytics companies.</p>
<p><span class="bold">Aggregated Information</span> : We may publicly disclose aggregated information about our users,
such as the total number of our users and their overall demographics.</p>

<p class="bold underline">Tracking technologies</p>
<p>We, as well as other companies, use tracking technologies to collect and store data about your computer or mobile
device and your activities on our sites and apps.</p>
<p><span class="bold">Cookies</span> : When you visit our sites, we place "cookies" (small text files) on your computer
to recognize you. We do this to store your preferences and track your use of our sites. Our cookies expire when you log out of our system. Ad companies place cookies on your computer to track your activities across various sites so
that they can display targeted ads.</p>
<p><span class="bold">Pixel tags</span> : We embed pixel tags (also called web beacons or clear GIFs) on web pages, ads,
and emails. These tiny, invisible graphics are used to access cookies and track user activities (such as how many times
a page is viewed). We use pixel tags to measure the popularity of our features and services. Ad companies use pixel tags
to measure the number of ads displayed and their performance (such as how many people clicked on an ad).</p>
<p><span class="bold">Mobile Device IDs</span>: If you're using an app, we use mobile device IDs (the unique identifier
assigned to a device by the manufacturer), instead of cookies, to recognize you. We do this to store your preferences
and track your use of our apps. Unlike cookies, device IDs cannot be deleted. Ad companies use device IDs to track your
use of the app, track the number of ads displayed, measure ad performance and display ads that are more relevant to you.
Analytics companies use device IDs to track information about app usage.</p> 

<p class="bold underline">Editing of Your Account Information & Preferences</p>
<p>Registered users may access their account to edit profile information & preference settings at any time.<br><br>
Zigzeg may, from time to time, send you communications relating to Zigzeg such as new features & services, newsletters,
site & system updates etc. You may choose not to receive updates from Zigzeg; however you may not choose to opt-out of
critical update notifications which pertain to the status of your account.<br><br>
Information pertaining to your transactions and your activities within Zigzeg will remain in our archives after the
deletion of your Zigzeg account for seven (7) years due to regulatory requirements.</p>

<p class="bold underline">Children’s privacy</p>
<p>We do not allow children under the age of 13 to register for any service in the Site, and we do not knowingly collect
any personally identifiable information from children under the age of 13.</p>
</li>

              </ul>
             </div>
             <div id="azfu" class="grid_12 no_margin dispNone">
             		&nbsp;
             </div>
         		 </div>

         </div>
         <div class="clearfix"></div>
         
				</div>
    </div>
    <!--end content-->
    <div class="clear"></div>
    </div>
    <div class="clearfix pad_top20"></div>
</div>
<!--end page_wrap-->
<div class="clearfix pad_top20"></div>