#comment_form {
  padding-top: 10px; }
  #comment_form form textarea {
    font-family: Tahoma, Arial;
    font-size: 11px;
    color: #636363; }

.comment_row {
  padding-top: 10px; }
  .comment_row .posted_by {
    color: #4a4a4a;
    font-weight: bold; }
  .comment_row div {
    margin-top: 5px;
    color: #3d3d3d; }
