body {
  -webkit-font-smoothing: antialiased;
  line-height: 18px;
  margin: 0px;
  padding: 0px;
  font: normal 12px Verdana, "lucida console", sans-serif;
  -webkit-font-smoothing: auto;
  -webkit-text-stroke-color: #3e3e3e; }

h3 {
  color: #555555; }

input[type='submit'] {
  background: #dddddd url("/images/bg-btn.gif") repeat-x 0px 0px;
  border-color: #dddddd #dddddd #cccccc;
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  color: #333333;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 25px;
  margin: 5px;
  overflow: visible;
  padding: 2px 4px;
  text-shadow: white 1px 1px 0px; }

input[type="submit"]:hover {
  background: white;
  cursor: pointer; }

#content_wrapper {
  padding: 8px;
  min-height: 400px; }

#header {
  height: 40px;
  padding: 0px;
  margin: 0px;
  background-color: #4785c2; }

.error {
  margin: auto 0px;
  padding: auto 0px;
  background-color: #ffb3c6;
  text-align: center;
  font-size: 12px;
  line-height: 35px; }

.notice {
  margin: auto 0px;
  padding: auto 0px;
  background-color: #ebebc1;
  text-align: center;
  font-size: 12px;
  line-height: 35px; }

.navigation {
  float: right;
  margin: 0px;
  padding: 0px;
  width: auto;
  display: block;
  text-align: right; }

.session_menu {
  float: right;
  width: auto;
  display: block;
  margin: 0px;
  padding: 0px;
  clear: right;
  margin-right: 10px; }
  .session_menu a {
    color: white !important;
    text-decoration: none; }
  .session_menu a:hover {
    text-decoration: underline;
    color: #006699; }

.welcome {
  margin-right: 10px;
  line-height: 1em;
  float: right;
  width: auto;
  display: block; }

#footer {
  margin-top: 15px;
  margin-bottom: 10px; }

#logo {
  float: left;
  margin: 0px;
  padding: 0px; }
  #logo a {
    margin: 0px;
    color: white;
    padding-left: 5px;
    text-decoration: none;
    font-size: 20px; }

.clear {
  clear: both; }

a {
  color: #1d3754; }

a:visited {
  color: #1d3754; }

a:hover {
  color: #3c71af; }

.span_link {
  text-decoration: underline;
  cursor: pointer;
  color: #1d3754; }

.span_link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #3c71af; }

.field_line {
  height: 20px;
  padding: 3px 0px 6px;
  margin: 0px;
  text-align: left; }

.field_label {
  color: black;
  margin-left: 20px;
  padding: 4px 10px 0px 0px;
  text-align: right;
  width: 100px;
  float: left; }

.field_box {
  float: left;
  margin: 0px;
  width: 250px; }
