#topics {
  padding: 5px;
  height: 130px;
  margin-bottom: 10px;
  overflow: auto; }

#leftpane {
  width: 15%;
  float: left;
  padding-right: 10px;
  overflow: auto;
  height: 630px; }
  #leftpane .lessons {
    padding: 5px;
    font-size: 14px;
    font-size: 12px;
    background-color: #eedcc9; }
  #leftpane .add_lesson_link {
    float: right;
    cursor: pointer;
    padding: 2px; }

#centerpane {
  width: 28%;
  float: left;
  height: 630px;
  overflow: auto; }
  #centerpane .stories {
    padding: 5px;
    font-size: 14px;
    font-size: 12px;
    background-color: #eedcc9; }
  #centerpane .add_link {
    color: #4482c5;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
    padding: 2px; }
  #centerpane .add_link:hover {
    color: #c58744; }
  #centerpane .trash {
    visibility: hidden;
    float: right; }

#rightpane {
  width: 52%;
  float: left;
  height: 630px;
  overflow: auto; }

.topics_contents {
  float: left;
  width: 200px;
  padding-left: 6px; }
  .topics_contents img {
    border-style: none; }

.topic_highlight {
  background-color: #dfbe9a; }

.topic_column {
  overflow: auto;
  width: 200px;
  height: 110px;
  background-color: #eedcc9;
  line-height: 19px;
  margin-top: 6px; }
  .topic_column a {
    padding: 5px; }

#case_details {
  padding: 5px;
  font-size: 12px; }
  #case_details .headliner {
    font-weight: bold; }
  #case_details .title {
    font-weight: bold;
    font-size: 13px;
    line-height: 25px; }
  #case_details ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    #case_details ul li {
      padding-top: 10px;
      color: #262626;
      font-size: 11px; }
      #case_details ul li .posted_by {
        color: #4a4a4a;
        font-weight: bold; }

.trash {
  visibility: hidden;
  float: right; }
