<h3> Add new event </h3>

<%= form_for :listing, :url => cms_user_listings_path(@user) do |f| %>
<table style="width: 750px">
  <tr>
    <td> Name </td>
    <td> <%= f.text_field :name %></td>
  </tr>
  <tr>
    <td> Description </td>
    <td> <%= f.text_field :description %></td>
  </tr>
  <tr>
    <td> Category </td>
    <td> <%= f.select :category_id, @category_select, :include_blank => :true %></td>
  </tr>
  <tr>
    <td> Tel no. </td>
    <td> <%= f.text_field :telephone_numbers %></td>
  </tr>
  <tr>
    <td> Fax No. </td>
    <td> <%= f.text_field :fax_numbers %></td>
  </tr>
  <tr>
    <td> Mobile No. </td>
    <td> <%= f.text_field :mobile_numbers %></td>
  </tr>
  <tr>
    <td> Website URL </td>
    <td> <%= f.text_field :website_url %></td>
  </tr>
  <tr>
    <td> Tags </td>
    <td> <%= f.text_field :tags %></td>
  </tr>

  <tr>
    <td colspan="2"> Address </td>
  </tr>
  <tr>
    <td>State:  </td>
    <td> <%= text_field_tag "state_id" %></td>
  </tr>
  <tr>
    <td>City:  </td>
    <td> <%= text_field_tag "state_id" %></td>
  </tr>
  <tr>
    <td>Section:  </td>
    <td> <%= text_field_tag "state_id" %></td>
  </tr>
  <tr>
    <td>Postal code:  </td>
    <td> <%= text_field_tag "state_id" %></td>
  </tr>

  <tr>
    <td> </td>
    <td> <%= submit_tag "Submit" %> or <%= link_to "Cancel", cms_users_path %></td>
  </tr>
</table>
<% end %>

<div class="clear"></div>
