<div id="admin-left-sidebar">
  <%= render "/cms/sidebar" %>
</div>

<div id="admin-center">
  <table>
    <tr>
      <td> Advertiser company name </td>
      <td> No. of Deals </td>
      <td> No. of Places </td>
      <td> No. of Events </td>
      <td> Announcements </td>
      <td> </td>
    </tr>

    <% @advertisers.each do |row| %>
    <tr>
      <td> <%= link_to row.advert_company_name.titleize, edit_cms_user_path(row) rescue link_to row.username, edit_cms_user_path(row) %> </td>
      <td> <%= row.deals.empty? ? "0" : (link_to row.deals.length, deals_cms_listing_path(row))  %> </td>
      <td> <%= row.places.empty? ? "0" : (link_to row.places.length, places_cms_listing_path(row))  %> </td>
      <td> <%= row.events.empty? ? "0" : (link_to row.events.length, events_cms_listing_path(row))  %> </td>
      <td> 0 </td>
      <td> <%= link_to "Edit", edit_cms_user_path(row) %>  | 
           <%= link_to "Delete", cms_listing_path(row), :confirm => "Are you sure you want to delete this?", :method => :delete %>
      </td>
    </tr>
    <% end %>
  </table>

  <div class="clear"></div>
</div>
