<div class="span3 well" style="background-color: #666">
  <h3> CONTACT US </h3>
  <br/>
  <p>Leave us a note in our <a class="white" href="https://www.facebook.com/KuatroMedya" target="_new">FACEBOOK</a> Page </p>

  <p>Alternatively, you can send us email: </p>
    <br/>
  <p>
    Edwin D. Yasis<br/>
    edwinyasis@gmail.com <br/></p>

  <p>
    Joseph T. Sebastian<br/>
    sebastian_jt@yahoo.com <br/></p>

  <p>
    Ann Coyoca <br/>
    anncoyoca@hotmail.com <br/></p>

  <p>
    Allen Pertierra<br/>
    abpertierra@yahoo.com   <br/>
  </p>
</div>
