<div id="blogs" style="width: 850px; margin: 0 auto">

  <div class="container">
    <div class="row">
      <div class="span8">      
        <% @blogs.each do |post| %>  
          <div id="blog-row">
            <h2><%= link_to post.title, "/blogs/#{post.page_code}"%></h2>

            <% unless post.assets.empty?%>
              <a href="<%= post.assets.first.file.url(:large) %>" rel="fancybox">
                <%= image_tag post.assets.first.file.url(:medium)%>
              </a>
            <% end %>
            <p><%= raw( truncate(post.contents, :length => 265, :omission => "...") )%></p>
    
            <% if post.assets.length > 100 %>
              <% post.assets[1..post.assets.length].each do |pic| %>
                <%= image_tag pic.file.url(:medium)%>
              <% end %>
            <% end%>
          </div>
        <% end %>
        <%= will_paginate @blogs, :renderer => BootstrapPagination::Rails %>
      </div>

      <%#= render "/blogs/sidebar"%>

    </div>
  </div>

</div>