              <div class="<%= current_user == msg.sender ? "user":"reply" %> row">
                  <div class="grid_2 pad_right5 bold">
<% if current_user == msg.sender %>
  Me
<% else %>
<a href="<%= msg.sender.place.profile_image.image.url(:super_thumb) rescue get_missing_image(msg.sender.place) %>" data-id="<b>Email</b><%= msg.sender.email %><b>Contact</b><%= msg.sender.place.telephone_numbers rescue '' %>" rel="<%= msg.sender.place.name rescue '' %>" name="profInfo" class="cursor" >
<%= msg.sender.name_or_email %>
</a> 
<% end %>
</div>
                  <div class="grid_8"><%= raw msg.html_contents %></div>
                  <div class="grid_1 margin_left_10"><%= formatted_date(msg.created_at, 'ddmmyyyy') %><br /><%= formatted_date(msg.created_at, 'hm') %></div>
                  <div class="clear"></div>
              </div>
