<div class="messageBox clearfix">
  <h6 class="bold">YOUR MESSAGE TO <%= truncate(@message.sender.name_or_email, :length => 50, :omission => '...') %> <%= link_to "BACK TO MESSAGE BOX", account_messages_path, :class => "blue fright cursor " %></h6>
			<div class="container_12">
      		<div class="header">
              <div class="grid_10 subject">Subject: <%= @message.subject%></div>
              <div class="grid_2">Date</div>
          </div>
          <div class="body" id="appendMsg">
test
              <% @message_threads.limit(5).each do |msg| %>
              <div class="<%= current_user == msg.sender ? "user":"reply" %> row">
                  <div class="grid_10">
                      <div class="grid_2">
<% if msg.sender.is_advertiser? %>
<a href="<%= msg.sender.place.profile_image.image.url(:super_thumb) rescue '/images/building.png' %>" data-id="<b>Email</b><%= msg.sender.email rescue '' %><b>Contact</b><%= msg.sender.place.telephone_numbers rescue '' %>" rel="<%= msg.sender.place.name rescue '' %>" name="profInfo" class="cursor" ><%= truncate(msg.sender.name_or_email, :length => 15, :omission => '...') %></a>
<% else %>
<a href="<%=
if msg.sender.avatar.exists?
 msg.sender.avatar.url(:thumb)
else
	get_missing_uimage(msg.sender.gender)
end
 %>" data-id="<b>Email</b>ricci.getuaban@gmail.com<b>Contact</b>272-5560" rel="Ricci Anthony Getuaban" name="profInfo" class="cursor" ><%= truncate(msg.sender.name_or_email, :length => 15, :omission => '...') %></a>
<% end %>

</div>
                      <div class="grid_10"><%= raw msg.html_contents %></div>
                  </div>
                  <div class="grid_2"><%= formatted_date(msg.created_at, 'ddmmyyyyhm') %></div>
                  <div class="clear"></div>
              </div>
              <% end %>
          </div><!-- end body -->
         <div class="olderMessages"></div>

         <% if @message_threads.length > 5 %>
         <h6 class="no_margin">
           <div class="msgLoader dispNone"></div>
           <a class="cursor viewOlderMessage"><h6 class="bold">view older message</h6></a>
         </h6>
         <% end %>

         <div class="compose">
           <div class="grid_12 pad_top20"><span>Type here to reply:</span></div>
           <div class="grid_12 blue">
             <textarea name="replyMsg" id="replyMsg" class="required full"></textarea>
             <input type="hidden" name="userid" value="1" />
             <%= hidden_field_tag :message_thread_id, @message.message_thread_id %>
             <%= hidden_field_tag :receiver_id, @message.sender.id %>
             <%= hidden_field_tag :message_id, @message.id %>
           </div>
           <div class="grid_9 pad_top"><label class="error dispNone" id="replyMsgError">Unable to send a reply as text field is empty</label>
              &nbsp;</div>
           <div class="grid_3 "><a class="checkButton cursor fright no_margin" id="submitMsg">Send Reply</a></div>
           <div class="body marginTop30">
           </div><!-- end 2nd body-->
         </div>
</div>
