<div class="packageBox pad_top20 pad_bot20 full">
  <div class="messageBox minHt clearfix">

<h6 class="bold grid_7">&nbsp;MESSAGE BOX &nbsp; <span class="normal">
<% if @unread_messages.length > 0 %>
	(<%= @unread_messages.length %> new message<% if @unread_messages.length > 1 %>s<% end %>)
<% end %>
</span></h6>

<div class="container_12">
  <div class="header">
    <div class="grid_7">Subject</div>
    <div class="grid_2 pad_left20">From</div>
    <div class="grid_2 width12 pad_left20">Date</div>
    <div class=""><img src="/images/del.png" title="delete" class="margin_left_10"/></div>
  </div>
  <div class="body bdMinHt bgGray">
    <% @msg_sorted.each do |m| %>
      <% msg = m.threads.first %>
      <% msg_first = m.threads.last %>
    <% span = "" %>
    <div class="row <%= m.is_viewed? ? "" : "new" %> message_row_<%= m.id%>">
      <div class="grid_7">
        <% unless m.is_viewed? %>
          <% span = content_tag(:span, "NEW! ", :class => "new") %>
        <% end %>
        <%= link_to raw("#{span}#{truncate(m.subject, :length => 255, :omission => '...')}"), business_message_path(m), :class => ((m.is_viewed?) ? "xgetDetails" : "xgetDetails bold" ), :id => m.id %>
				&nbsp;
      </div>
      <div class="grid_2 pad_left20">
<% if m.sender.is_advertiser? %>
<a href="<%= m.sender.place.profile_image.image.url(:super_thumb) rescue '/images/building.png' %>" data-id="<b>Email</b><%= m.sender.email %><b>Contact</b><%= m.sender.place.telephone_numbers rescue '' %>" rel="<%= m.sender.place.name rescue ''%>" name="profInfo" ><%= truncate((msg_first.msgtype == 'inbox') ? m.sender.name_or_email : m.receiver.name_or_email, :length => 15, :omission => '...')  %></a>&nbsp;
<% else %>
<a href="<%=
if m.sender.avatar.exists?
 m.sender.avatar.url(:thumb)
else
	get_missing_uimage(m.sender.gender)
end
 %>" data-id="<b>Email</b><%= m.sender.email rescue '' %>" rel="<%= m.sender.username rescue '' %>" name="profInfo" ><%= truncate((msg_first.msgtype == 'inbox') ? m.sender.name_or_email : m.receiver.name_or_email, :length => 15, :omission => '...')  %></a>&nbsp;
<% end %>

      </div>
      <div class="grid_2 width12 pad_left20"><%= formatted_date(m.created_at, 'ddmmyyyy') %>&nbsp;</div>
      <div class="margin_left_10"><input type="checkbox" class="fright" name="checkZig" value="<%= m.id %>" /></div>
    </div>
    
    <% end %>
  <% if @messages.empty? %>
     <div class="row center">
       Your message box is currently empty.
     </div>  
  <% end %>
  
 </div><!-- end body -->
 

<% unless @messages.empty? %>
  <div class="footer">
    <div class="grid_7 no_margin">
      <% if @messages.length > 15 %>
      <div class="my_pagination pad_top pad_left">
      
        <div class="pagination usr">
        	<% 
           curr_page = params[:page] || 1
           next_page = curr_page.to_i+1
           prev_page = curr_page.to_i-1
           i = 1
           total_pages =  @messages.length/15
           total_pages += 1 if ((@messages.length % 15) > 0)
          %>
          <% if curr_page.to_i == 1 %>
          <a class="previous_page disabled"></a>
          <% else %>
          <a href="/business/messages?page=<%= prev_page %>" rel="next" class="previous_page"></a>
          <% end %>
          <% while i <= total_pages %>
             <% if i == curr_page.to_i %>
             <em class="current"><%= i%></em>
            <% else %>
              <a class="" href="/business/messages?page=<%= i%>"><%= i %></a>
            <% end %>
          <% 
          i += 1 
          end %>
          <% if curr_page.to_i == total_pages %>
          <a class="next_page disabled"></a>
          <% else %>
          <a href="/business/messages?page=<%= next_page %>" rel="next" class="next_page"></a>
          <% end %>
           
        </div>
        </div>
      <% end %>

    </div>
      <div class="grid_4 no_margin pad_top align_right fright">
        <a class="checkButton cursor removeSelected" href="/business/messages/remove_messages">Delete</a>
      </div>
    </div>
  </div>
<% end %>

    </div>
  </div>
</div>
