

<% unless user_signed_in? %>

<div class="hero-unit">
  <h1>Welcome to Daily Time Record!</h1>
  <p>A simple tool to record your time-ins and time-outs ;)</p>
  <br/>
  <p>
    <a class="btn btn-primary btn-large" href="/users/register/cmon_let_me_in">
      Let's get started!
    </a>
  </p>
</div>

<% else%>

<%= form_tag settime_path do -%>
<div>&nbsp;</div>
<div class="container-fluid">
  <div class="row-fluid ">
    <div class="span12">
      <h3><%= Time.now.to_date.strftime("%A %b %d, %Y") %></h3>
    </div>
  </div>
  <div class="row-fluid push-top">
    <div class="span2">
      Time In
    </div>
    <div class="span3">
      Time Out
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <%= text_field_tag :timein, (current_user.current_daytime.time_in rescue ''), :class => "btn-large width"%>
    </div>
    <div class="span2">
      <%= text_field_tag :timeout, (current_user.current_daytime.time_out rescue ''), :class => "btn-large width"%>
    </div>
    <div class="span2">
      <%= submit_tag "Submit", :class => "btn btn-primary btn-large"%>
    </div>
  </div>
</div>
<% end %>


<% end%>