<script>
$(function() {
		$("#logFrm").validate({		
      submitHandler: function(form) {
        form.submit();
      }
    }); 
		
});
</script>
<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix">
    <!--start content-->
    <div class="container_12 pad_bot30">
    		<div class="grid_10 prefix_2">
        		<div class="container_12 full logPage">
        		  
        		   
            		<div class="grid_12"><h1 class="bold">Log-in to Zigzeg</h1></div>
                <div class="grid_6 pad_top">
                <%= form_tag "/sessions/normal_login", :id => "logFrm" do -%>
                 <%= hidden_field_tag :ref_url, (params[:ref_url].nil? ? request.referrer : params[:ref_url] ) %>
                  	<div class="grid_12">Email</div>
                    <div class="grid_12"><input type="text" name="username" class="required email radius5 full_width fancyinput" autocomplete="off" value="<%= params[:username] rescue ''%>"/></div>
                    <div class="grid_12 pad_top">Password</div>
                    <div class="grid_12"><input type="password" name="password" class="required radius5 full_width fancyinput"/> <% unless flash[:error].nil?%>
        		      <label class="error"> <%= flash[:error]%></label>
        		    <% end %></div>
										<div class="grid_6 pad_top">
                    		<input type="checkbox" name="rememberme" id="remMe"  /><span class="absolute">remember me</span>
                    </div>
                    <div class="grid_6 pad_top fright no_margin">
                    	<input type="submit" name="login" value="login" class="fright send radius5 cursor"/>
                    </div>
                <% end %>
                </div>
                <div class="grid_6 oLink pad_top">
                		<div class="grid_12"><span class="fb"><a href="/auth/facebook">Sign in</a> using Facebook</span></div>
                    <div class="grid_12 pd"><span class="forgot"><a href="/forgot">Forgot</a> your password?</span></div>
                    <div class="grid_12"><span class="new">New to Zigzeg?</span><br /><span><a href="/signup">Register a user account now</a></span>
                    </div>
                    <div class="grid_12"><span class="newB">Zigzeg for Business</span><br /><span><a href="/signup?signup=advert">Signup for a business account now</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end content-->
</div>
<!--end page_wrap-->
