<!--start page_wrap-->
<div id="page_wrap" class="fcontainer_12 clearfix">
    <!--start content-->
    <div class="container_12 pad_bot pad_top30">
    		<div class="grid_10 prefix_2 pad_top30">
        		<div class="container_12 full logPage ">
            		<div class="grid_10 suffix_2"><h1 class="bold pLine"><strong>Account not validated<span class="info autowidth">&nbsp;</span></strong></h1></div>

    <% unless @conf.nil? %>
                <% unless flash[:notice].nil?%>
               		<div class="grid_7 suffix_5 pad_bot lh13 pad_top20"><h5 class="bold gray">Validation email re-sent to <span class="blue"><%= @conf.confirmable.email %></span>. </h5></div>
                  
                  <div class="grid_7 suffix_5 pad_bot lh13"><%= flash[:notice] %></div>
                  <div class="grid_12 pad_top">
                      <input type="button" name="Done" value="done" class="send radius5 cursor" onclick="window.location.href ='/'"/>
                    </div>
               	<% else %>
                <div class="grid_7 suffix_4 pad_bot lh13 pad_top20">You are trying to access a registered account which has not yet been validated. You are required to validate your account before you may continue.<br /><br />

If you have not received your account registration validation email, please click on the button below to resend email. </div>
                <div class="grid_6 pad_top"> 
               
                <%= form_tag "/verify", :id => "forgotFrmx" do%>
                  	 <div class="grid_12 pad_top no_margin">
                    	<%= hidden_field_tag :token, params[:token] %>
                    	<input type="submit" name="forgot" value="Resend validation email" class="send radius5 cursor"/>
                      <input type="button" name="cancel" value="cancel" class="send fright radius5 cursor" onclick="window.location.href ='/'"/>
                    </div>
                <% end %>
                </div>
                <% end %>
    <% else %>
       <div class="grid_7 suffix_4 pad_bot lh13 pad_top20">
         <p> The requested <strong><%= request.url %></strong> was not found on this server. </p>
         <p> The requested page may no longer be available or the url address that you entered is incorrect. </p>
       </div>
    <% end %>               
                 
            </div>
        </div>
    </div>
    <!--end content-->
</div>
<!--end page_wrap-->
