		<!--start slider-->
   	<div id="slider_wrap" class="grid_12">
    	<div class="slider_overlay"></div>
       <ul id="slider2">

				<li class="panel1">
						<div class="grid_6 fleft">
							<h3 class="">exploring the</h3>
              <h1>FEATURES  1111</h1>
							<p align="justify">
              Placerat cursus in ultricies, nunc in eu magna aenean. In enim rhoncus, egestas, enim, aliquam cras, sed lacus mattis aliquet, mus! Rhoncus magna urna purus ut sed lundium! Tempor risus? Lacus turpis dapibus pellentesque phasellus parturient in egestas integer tempor natoque pulvinar, vut duis!
              <a href="">--</a>
              </p>
              
						</div>
         			<div class="grid_6 imageBoard fright" align="center">
              <ul class="headSlide">
              	<li><%= image_tag "citymapicon.png" %></li>
              	<li><%= image_tag "hotels_icon.png"%></li>
              	<li><%= image_tag "events_icon.png"%></li>
              	<li><%= image_tag "placesIcon.png"%></li>
              </ul>
              </div>
        </li>
				
				<li class="panel1">
						<div class="grid_6 fleft">
							<h3>exploring the</h3>
              <h1>FEATURES  1111</h1>
							<p align="justify">
              Placerat cursus in ultricies, nunc in eu magna aenean. In enim rhoncus, egestas, enim, aliquam cras, sed lacus mattis aliquet, mus! Rhoncus magna urna purus ut sed lundium! Tempor risus? Lacus turpis dapibus pellentesque phasellus parturient in egestas integer tempor natoque pulvinar, vut duis!
              <a href="">--</a>
              </p>
              
						</div>
         			<div class="grid_6 imageBoard fright" align="center">
              <ul class="headSlide">
              	<li><%= image_tag "citymapicon.png" %></li>
              	<li><%= image_tag "hotels_icon.png"%></li>
              	<li><%= image_tag "events_icon.png"%></li>
              	<li><%= image_tag "placesIcon.png"%></li>
              </ul>
              </div>
        </li>
			</ul>
    </div>
    <!--end slider-->
