<div class="dispNone">
  <div id="contactModal" class="pad">
    <!--contact form-->
    <div class="grid_8 alpha">
      <div id="sendmessage">Message successfully delivered to <span class="bold"><%= @place.name %></span>.</div>
      <form id="contactform" method="post" action="" class="validateform">
      <h4 class="segoe pad_v5 lh13 no_margin bgGray"><span class="inlineB pad_left">Ask a question</span></h4>
      <div class="grid_5 no_margin pad_top16"><%= image_tag(@place.profile_image.image.url(:profile), :class => "", :size => "72x72") rescue '' %>
      </div>
      <div class="grid_1 pad_top16 pad_left16"><h4 class="bold"><%= @place.name %></h4></div>
      <%= hidden_field_tag :place_id, @place.id %>
        <div id="errormessage"> </div>
        
        <ul class="cform ">
          <input type="hidden" value="<%= current_user.email unless current_user.nil? %>" name="email" id="email" class=" required email fancyinput gray_box width70"/>
          <li class="pad_top16">Subject</li>
          <li class="no_margin"><input type="text" value="" name="subject" id="subject" maxlength="50" class="required fancyinput gray_box full_width" /><br>
             <label for="subject" generated="false" class="error"></label></li>	
          <li>Message</li>
          <li  class="no_margin"><textarea rows="10" cols="62" name="message" class="required fancyinputarea gray_box" id="ask_message" ></textarea><br>
            <label for="message" generated="false" class="error"></label></li>
          <li class="pad_top">
            <input type="submit" value="Submit" class="radius5 bigbutton advertButton white simple small_shadow " name="submit"/>
        </ul>
      </form>
    </div>
    <!--end form-->
  </div>
</div>
