<script>
function zeroPad(num){
  var numZeropad = num + '';
  while(numZeropad.length < 2) {
    numZeropad = "0" + numZeropad;
  }
  return numZeropad;
}
	
function start_countdown(dateVal){
  var nowTime = new Date("<%= "#{Time.now.strftime('%B %d, %Y %H:%M:%S')}"%>");
  var targetTime = new Date(dateVal);
  var timeDiff = targetTime.valueOf() - nowTime.valueOf();
  diffSecs = Math.floor(timeDiff/1000);
  secs = diffSecs % 60;
  mins = Math.floor(diffSecs/60)%60;
  hours = Math.floor(diffSecs/60/60)%24;
  days = Math.floor(diffSecs/60/60/24);

  if (timeDiff <= 0) {
    secs = 0;
    mins = 0;
    hours = 0;
    days = 0;
  }
  timeCount = zeroPad(days)+":"+zeroPad(hours)+":"+zeroPad(mins)+":"+zeroPad(secs);
  $(function(){
    $('#counter').countdown({
      image: '/images/digits.png',
      startTime:timeCount,
    });
  });

}

$(document).ready(function(){
  $('#ieAlt').hide();
});

 start_countdown("<%= "#{compute_time(event)}"%>");
</script>

<div class="grid_12 absolute pgTimeBx">
		<div class="grid_12 no_margin">Time left to this event</div>
    <div class="clearfix"></div>
		<div class="pgTime radius10 relative" align="center">
    <!--	REMOVE THIS IF THE JAVASCRIPT IF IMPLEMENTED ON THE SCRIPT. 
    YOU CAN COPY THE JS CODE ON THE COUNTDOWN_DEAL THEY SHOULD BE SIMILAR. 
    
    <div id="dashboardEvent">
      <div id="counter"></div>
      <div id="lapTime" ></div>
      <div class="clearfix"></div>
      <div id="pgLabel">
      <div class="grid_3 black">days</div>
      <div class="grid_3 black">hours</div>
      <div class="grid_3 black no_margin">minutes</div>
      <div class="grid_3 black ">seconds</div>
      </div>
    </div> -->
    

    <div class="pgBlkBx radius10" align="center">
      <div class="dOffer bold">LIVE NOW</div>
      <div class="line z10 absolute"></div>
    </div>

    </div>
</div>&nbsp;
<!--
OLD CODE FOR REFERENCE ON THE DATAS...

<div class="fright omega pad_top30 width30">
  <div align="center" class="white dashLabel margin_left_20">Event Date & Time</div>
  <div class="colorEvents dateEventBox dateBox relative">
  <div id="dashboardEvent">
    	<div class="enclose">
			<% unless event.event_type.nil? %>
        <% case event.event_type.to_s 
           when "3", "4"
        %>
        <div class="dash days_dash dashDate" align="center">
          <div class="line"></div>

          <% if event.event_type.to_s == "3"%>
          <div class="digit long">
            <div class="label">Every <%= event.event_day.upcase%></div>
            <div class="month">of the</div> 
            <div class="year">week</div>
          </div>
          <% else%>
          <div class="digit long">
            <div class="label">Every <%= event.event_day.to_i.ordinalize%></div>
            <div class="month">of the</div> 
            <div class="year">month</div>
          </div>
          
          <% end %>    
          </div>
        </div>
       			<div class="eventsBorder"></div>
              <div class="dashDateTime">
                <% unless event.start_time.nil? %>          
                  <span class="dashTime">Time</span><label><%= "#{event.start_time}" rescue ''%> to <%= "#{event.end_time}" rescue '' %></label><br />
                <% end %>

                <% if event.pricing_type == "free" %>
                  <span class="dashTime">Price</span><label>It's free. Yay!</label>
                <% else %>
                  <% unless event.from_price.nil?%>
                    <span class="dashTime">Price</span><label>MYR <%= "#{number_with_precision(event.from_price, :precision => 2)}" rescue ''%> to MYR <%= "#{number_with_precision(event.to_price, :precision => 2)}" rescue ''%></label>
                  <% end %>
                <% end %>
                
              </div>  	
                 
         <% when "1", "2" %>
            <div class="dash days_dash dashDate" align="center">
              <% if event.event_type == "1"%>
              <div class="line"></div>
              <div class="digit"><%= event.start_date.strftime("%d") rescue '' %>
                <div class="month"><%= event.start_date.strftime("%b").upcase rescue ''%></div> 
                <div class="year"><%= event.start_date.strftime("%Y") rescue ''%></div></div>
              </div>
              <div class="dash_label fleft">TO</div>
              <div class="dash days_dash dashDate margin_left_30" align="center">
                <div class="line"></div>
                <div class="digit"><%= event.start_date.strftime("%d") %>
                  <div class="month"><%= event.start_date.strftime("%b").upcase %></div> 
                  <div class="year"><%= event.start_date.strftime("%Y") %></div></div>
                </div>
              </div>              
              <% else %>
              <div class="line"></div>
              <div class="digit"><%= event.start_date.strftime("%d") rescue '' %>
                <div class="month"><%= event.start_date.strftime("%b").upcase rescue ''%></div> 
                <div class="year"><%= event.start_date.strftime("%Y") rescue ''%></div></div>
              </div>
              <div class="dash_label fleft">TO</div>
              <div class="dash days_dash dashDate margin_left_30" align="center">
                <div class="line"></div>
                <div class="digit"><%= event.end_date.strftime("%d") %>
                  <div class="month"><%= event.end_date.strftime("%b").upcase %></div> 
                  <div class="year"><%= event.end_date.strftime("%Y") %></div></div>
                </div>
              </div>
              <% end %>
              
              <div class="eventsBorder"></div>
              <div class="dashDateTime">
                <% unless event.start_time.nil? %>          
                  <span class="dashTime">Time</span><label><%= "#{event.start_time}" rescue ''%> to <%= "#{event.end_time}" rescue '' %></label><br />
                <% end %>

                  <% if event.pricing_type == "free" %>
                    <span class="dashTime">Price</span><label>It's free. Yay!</label>
                  <% else %>
                    <% unless event.from_price.nil?%>
                      <span class="dashTime">Price</span><label>MYR <%= "#{number_with_precision(event.from_price, :precision => 2)}" rescue ''%> to MYR <%= "#{number_with_precision(event.to_price, :precision => 2)}" rescue ''%></label>
                    <% end %>
                  <% end %>
              </div>
            </div>
          <% end %>
          
          
      <% end %>
    </div>
    </div>
    </div>-->
