<!-- start breadcrumbs  -->
<div class="breadContain radius5">
  <ul id="breadcrumb" class="dpBreadEndPage">
   <% if action_name == "preview" %>
	  <li class="first"><a href="#%>">Home</a></li>
	  <li><a href="#" title="<%= object.place.name rescue '' %>">
	  <%= truncate(object.place.name, :length => 20, :omission => "...") %></a></li>
	  <% if object.class.name == 'Event' %>
	  <li><a href="#">Events</a></li>
	  <% else %>
	  <li><a href="#">Offers</a></li>
	  <% end %>
	  <li><a href="#" title="<%= object.name rescue '' %>"><%= truncate(object.name, :length => 60, :omission => "...")  %></a></li>
   <% else %>
	  <li class="first"><a href="<%= root_url %>">Home</a></li>
	  <li><a href="<%= "#{root_url}#{object.place.page_code}" %>" title="<%= object.place.name rescue '' %>">
	  <%= truncate(object.place.name, :length => 20, :omission => "...") %></a></li>
	  <% if object.class.name == 'Event' %>
	  <li><a href="<%= "#{root_url}#{object.place.page_code}#eventsTitle" %> ">Events</a></li>
	  <% else %>
	  <li><a href="<%= "#{root_url}#{object.place.page_code}#offersTitle" %> ">Offers</a></li>
	  <% end %>
	  <li><a href="<%= form_url(object) %>" title="<%= object.name rescue '' %>"><%= truncate(object.name, :length => 60, :omission => "...")  %></a></li>
   <% end %>

  </ul>
</div>
<!-- end bg gray  -->
<div class="clear"></div>
