<div id="signupDialog" class="window">
<div class="arrowTopSign"></div>
  <div id="signupList" class="fgrid_8 pad_bot20">
        	<h4 class="lgray bold">Register an account</h4>
          <div class="fullwidth">
          <a href="<%= signup_path %>">
	    <a href="<%= signup_path %>">
	      <div class="half portfolio fleft opacityHover">
              <h2 class="bold blue">&nbsp;</h2>
                  <p>Sign up for a free user account & find out on what's happening in your city and much more! </p>
              </div>
              </a>
             <a href="<%= signup_path(:signup => 'advert') %>">
          
              <div class="half portfolio fleft opacityHover">
              <h2 class="bold yellow">&nbsp;</h2>
                 <p>Sign up for a business account & let others know what your business is all about!</p>
              </div>
              </a>
          </div>
            </div>

</div>
