
  <!-- START FORGOT PW MODAL VIEW  -->
  <div id="forgotDialog" class="window">
 <div class="pad">
		<h2 class="lgray">Forgotten your password?</h2>
		<form id="forgotFrm" method="post" action="" class="">
		  <div class="dispNone">
		    <p class="lgray bold">Instructions on how to change your password has been sent to you via email. Please check your email to continue.</p>
		    <br/>
		    <input type="button" name="cancel" class="fancybutton simple small_shadow close" value="close" id="forgotFrmCancel">
		  </div>
        			<ul class="cform"> 
              <li><div class="txtForgot" style="">In order to reset your password, type the email address that you used to sign in to your Zigzeg account below. Check your email and follow the instructions provided within to reset your password.</div></li>
	      <li><input type="text" name="email" class="required email fancyinput full_width" placeholder="Email" />
	       <label for="email" generated="false" id="forget_password_email" class="error"></label>
	      </li>
              <li><input type="submit" name="submit"  class="fancybutton simple small_shadow" value="submit"/>&nbsp;<input type="button" name="cancel"  class="fancybutton simple small_shadow close"  value="cancel"/></li>
              </ul>
              
               </form>
             
            </div>
</div> 
	<!-- START FORGOT PW MODAL VIEW  -->
