<div id="updatesListing" class="window radius0 white">
  <%# unless @unread_updates.nil? %>
    <%# if @unread_updates.length > 0 %>
    <a href="<%=  account_path %>" ><h6 class="black bold">New Ziglist Updates</h6></a>
    <div class="contain">
      <div class="list" id="ziglist_updates">
      <% unless @unread_updates.nil? %>
        <% @unread_updates.take(6).each do |upd| %>
          <%
          unless upd.updateable.nil?
            class_name = case upd.updateable_type
            when "Place"
              "places"
            when "Deal"
              "offers"
            when "Event"
              "events"
            when "Shout"
              if upd.updateable.shoutable.class.name == "Event"
                "events"
              elsif upd.updateable.shoutable.class.name == "Deal"
                "offers"
              else
                "places"
              end
            else
              "places"
            end
          %>
          <% if upd.updateable.class.name == "Shout" %>
          <% unless upd.updateable.shoutable.nil? %>
          <a title="<%= upd.updateable.shoutable.name%>" href="<%= form_url(upd.updateable.shoutable, { :lupt => upd.id }) %>" class="<%= class_name %>">
            <div onclick="location.href='<%= form_url(upd.updateable.shoutable, { :lupt => upd.id }) %>'"><%= custom_description(upd) %> <span></span></div></a>
          <% end %>
          <% else %>
          <a title="<%= upd.updateable.name %>" href="<%= form_url(upd.updateable, { :lupt => upd.id }) %>" class="<%= class_name %>">
            <div onclick="location.href='<%= form_url(upd.updateable, { :lupt => upd.id }) %>'"><%= custom_description(upd) %> <span></span></div></a>
          <% end %>
        <% end %>
        <% end %>
      <% end %>
      </div>

      <% unless @unread_updates.nil? %> 
        <% if @unread_updates.length > 6 %>
        <div align="center"><a href="/account"><h6 class="blue hoverBlack">More Updates</h6></a></div>
        <% end %>
      <% end %>
  </div>
    <%# end %>
  <%# end %>
</div>
