<!-- START SEARCH FORM -->
<form action="/maps" method="get" > 

<div class="fcontainer_12 pad_top pad_bot">
			<div class="container_12 fright">
            <div class="grid_12 no_margin full">
            		
                <div class="grid_10 searchCon">
                  	<div class="searchWrap radius5">
                      <input type="text" name="search" class="full_width no_shadow no_rad"  id="search"  autocomplete="off" value="<%= params[:search] || params[:tag]%>" placeholder="Search...">
                       <div class="grid_12 fullS no_margin">
                          <div id="acContainer"></div>
                       </div> 
       							<div id="aSearchContainer" class="white">
												<div id="advanceArea">
                              <div class="advanceButtons">
                                 <% Category.where("code <> 'others' AND parent_id IS NULL").order("name ASC").each do |cat| %>
                         <div><%= cat.name.titleize %><input type="checkbox" class="chkBx" name="category[]" value="<%= cat.id %>"></div>
                                 <% end %>
                              </div>
                       </div>
     							<div class="grid_12 gray" align="center">(Select one or more categories to filter your search.)</div>
    
  	 </div> 
     <a class="gray aSearchLink cursor" id="advanceSearchBtn">Categories</a>
                </div><!-- end  searchWrap -->
                
                </div><!-- end  searchCon -->
            		<div class="grid_2 btnSerCon pad_top">
                			<input type="submit" name="btnSearch" class="fancybutton btnSearch  orangeButton radius5" value="search">
                </div>
            </div>
        </div>
			
</div>
</form>
<!-- END SEARCH FORM-->
<script>
$(function(){
  obj = $("#search");
  obj.select();
  obj.focus();

});
</script>

