<!-- START SEARCH FORM -->
<form action="/" method="get" > 

<div class="fcontainer_12 pad_top pad_bot">
	<!--start header-->
    <div id="header" class="fgrid_12 clearfix">
        
        <% if ["account", "messages"].include?(controller_name) %>
        <div id="logow" class="grid_3 alpha push_3">
            <a href="/"><div>&nbsp;</div></a>      	
        </div>
        <% else %>
          <!--start logo-->
          <div id="logo" class="grid_3 alpha push_3">
            <a href="<%= root_url %>"><div>&nbsp;</div></a>      	
          </div>
          <!--end logo-->
        <% end %>


        <div class="container_12 fright">
            <div class="grid_12 no_margin full fright">
            		
                <div class="grid_9 prefix_1 searchCon">
                  <div class="searchWrap radius5">
                      <input type="text" name="search" class="full_width no_shadow no_rad"  id="search" autocomplete="off" value="<%= params[:search] || params[:tag]%>" placeholder="Search...">
                     <div class="grid_12 fullS no_margin">
                      <div id="acContainer"></div>
                     </div> 
       <div id="aSearchContainer" class="white">
									
       <div id="advanceArea">
            <div class="advanceButtons">
               <% Category.where("code <> 'others' AND parent_id IS NULL").order("name ASC").each do |cat| %>
                 <div><%= cat.name.titleize %><input type="checkbox" class="chkBx" name="category[]" value="<%= cat.id %>"></div>
               <% end %>
            </div>
     </div>
     <div class="grid_12 gray" align="center">(Select one or more categories to filter your search.)</div>
     
  	 </div>
     <a class="gray aSearchLink cursor" id="advanceSearchBtn">Categories</a>
                </div><!-- end  searchWrap -->
                
                </div><!-- end  searchCon -->
            		<div class="grid_2 btnSerCon pad_top">
                	<% if ["account", "messages"].include?(controller_name) %>
                			<input type="submit" name="btnSearch" class="fancybutton btnSearch  radius5" value="search">
                  <% else %>
                  		<input type="submit" name="btnSearch" class="fancybutton btnSearch   radius5" value="search">
                  <% end %>
                </div>
            </div>
        </div>
        

    </div>
</div>
<div class="clearfix"></div>

</form>
<!-- END SEARCH FORM-->

<script>
$(function(){
  obj = $("#search");
  obj.select();
  obj.focus();

});
</script>

