<%
if post.use_place_address?
  lat = post.map_address.lat
  lng = post.map_address.lng
  address = post.place.address.complete_address
else
  lat = post.address.latitude rescue 3.13
  lng = post.address.longitude rescue 101.62
  address = post.address.complete_address
end
zoom = 14

if post.class.name.downcase == "event" 
 image = Yetting.domain + '/images/events_64s.png' 
else 
 image = Yetting.domain + '/images/deals_64s.png'
end 

%>
<div id="sidebar" class="page pgSide sidebar pg<%= post.class.name.downcase rescue '' %>">
		<div class="sidebar-widget">
    		<div class="container_12 fullS pdT16">
            <!-- AddThis Button BEGIN -->
            <div class="grid_12 fullS no_margin addTop">
            	<div class="emptyBg full pad_top30 pad_bot absolute z15"></div>
              <% unless current_user.nil?%>
              <% if @place.user_id == current_user.id %>	
              			<div class="fleft pgZig noHover"><div class="bold">zigged</div></div>
              <% else %>
              
              			<% unless post.nil? %>
                    <% if (show_zigged_class(post)=='zigged') %>
                      <div class="fleft pgZig noHover"><div class="bold">zigged</div></div>
                    <% else %>
                      <a id="zigMe" class="cursor" data-id="<%=post.id rescue ''%>">
                        <div class="fleft pgZig"><div class="bold">zig this</div></div>
                      </a>
                    <% end %>		
                    <% else %>
                    <a id="zigMe" class="cursor" data-id="<%=post.id rescue ''%>">
                        <div class="fleft pgZig"><div class="bold">zig this</div></div>
                      </a>
                    <% end %>
              <% end %>
              <% else %>
              			<a href="#loginMessage" id="zigMessagePop" name="modal" class="absolute lft0"></a>
              			<a id="zigMe" class="cursor" data-id="<%=post.id rescue ''%>">
                        <div class="fleft pgZig"><div class="bold">zig this</div></div>
                    </a>
              <% end %>
              <div class="addthis_toolbox addthis_default_style top fullS" >
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_facebook_like autowidth fright" fb:like:layout="button_count"></a>
                <a class="addthis_button_google_plusone fright" g:plusone:size="medium"></a>
              </div><!-- AddThis Button END -->
              <span id="msgZigAdd" class="normal dispNone">added to ziglist</span>
            </div>
            <div class="clearfix"></div>
            
              <div class="clearfix"></div>
            <div id="pgSideHt" class="pad_top5">
            <% unless post.description.nil? %>
            <h5 class="pad_top bld7 inlineB no_margin">
            <% if post.class.name.downcase == 'event' %>
            What's Happening?
            <% else %>
            What's on offer?
            <% end %>
            </h5>
            <div class="grid_12 fullS pad_top18 no_margin inlineB"><p class="pre lh135" align="justify"><%= post.description %></p></div>
						<% end %>
            <div class="clearfix"></div>
            <% unless post.extra_info.nil? %>
            <h5 class="pad_top18 bld7 inlineB no_margin">How to get this offer?</h5>
            <div class="grid_12 pad_top18 fullS no_margin inlineB"><p class="pre lh135" align="justify"><%= post.extra_info %></p></div>
						<% end %>
            </div>
            <script>$(function() {if($('#pgSideHt').height() > 420){$('#pgSideHt').jScrollPane();}})</script>
        		<div class="clearfix pad_bot20"></div>
            <div class="emptyBg full pad_top30 pad_bot30 absolute z15"></div>
            <a target="_blank" class="pgLocMap cursor ">
            		<div align="center" class="fullS bld7 radius10 ">
                <% if  post.class.name.downcase == 'event' %>
                LOCATE EVENT ON MAP
                <% else %>
                LOCATE OFFER ON MAP
                <% end %>
                </div>
            </a>
            <div class="clearfix"></div>
            <h5 class="bld7 pdT24">
            <% if  post.class.name.downcase == 'event' %>EVENT INFO
            <% else %>BUSINESS INFO <% end %> >></h5>
            <div class="container_12 no_margin inlineB">
            	<div class="pgContact pad_top">
              <div class="grid_2 no_margin"><% if post.class.name.downcase == 'event' %>Venue<% else %>Address<% end %></div>
              <div class="grid_9">
              <div class="clearfix lh135"><%= address rescue '' %></div></div>
              <div class="clearfix"></div>
              <div class="clearfix pad_top18"></div>
              <% if post.class.name.downcase == 'event' %>
              	<% unless @post.event_type.nil? %>
                  <div class="grid_2 no_margin">Date</div>
                  <div class="grid_9">
                      <% case @post.event_type.to_s 
                         when "3", "4"
                      %>
                          <% if @post.event_type.to_s == "3"%>
                          		Every <%= @post.event_day.upcase%> of the week
                          <% else %>
                          		Every <%= @post.event_day.to_i.ordinalize%> of the month
                          <% end %>
                      <% when "1", "2" %>
                          <% if @post.event_type.to_s == "1"%>
                          		<%= formatted_date(@post.start_date,'dmyyyy') %>
                          <% else %>
                          		<%= formatted_date(@post.start_date,'dmyyyy') %> to <%= formatted_date(@post.end_date,'dmyyyy') %>
                          <% end %>
                      <% end %>
                  </div>
                <% end %>
								<% unless @post.start_time.nil? %>
                  <div class="grid_2 no_margin">Time</div>
                  <div class="grid_9"><%= "#{@post.start_time}" rescue ''%> to <%= "#{@post.end_time}" rescue '' %></div>
                <% end %>
                <div class="grid_2 no_margin">Price</div>
                <div class="grid_9">
                <% if @post.pricing_type == "free" %>
                			It's free. Yay!
                <% else %>
                			MYR <%= "#{number_with_precision(@post.from_price, :precision => 2)}" rescue ''%> to MYR <%= "#{number_with_precision(@post.to_price, :precision => 2)}" rescue ''%>
                <% end %>
                </div>                
              <div class="clearfix"></div>
              <div class="clearfix pdT16"></div>
              <% end %>
              <% if post.website.length > 0 %>
              <div class="grid_2 no_margin">Website</div>
              <div class="grid_9">
              <%= post.website.gsub(/^(http):\/\//, '') %>
              </div>
              <% end %>
              <% if post.facebook.length > 0 %>
              <div class="grid_2 no_margin">Facebook</div>
              <div class="grid_9">
              <%= post.facebook.gsub(/^(http):\/\/|www.|facebook|.com|\//, '') %>
              </div>
              <% end %>
              <% if post.twitter.length > 0 %>
              <div class="grid_2 no_margin">Twitter</div>
              <div class="grid_9">
              <%= post.twitter.gsub(/^(http):\/\/|www.|twitter|.com|\//, '') %>
              </div>
              <% end %>
              </div><div class="clearfix"></div>
              <div class="pdT16 pgContact">
              <% if post.telno.length > 0 %>
                <div class="grid_2 no_margin">Phone</div>
                <div class="grid_9"><%= post.telno %></div>
              <% end %>              
              <% if post.faxno.length > 0 %>
                <div class="grid_2 no_margin">Fax</div>
                <div class="grid_9"><%= post.faxno %></div>
              <% end %>
              <% if post.email.length > 0 %>
              <div class="grid_2 no_margin">Email</div>
              <div class="grid_9"><%= post.email %></div>
              <% end %>
              </div><div class="clearfix"></div>
              <div class="pdT16 pgContact">
              <% unless post.category.nil? %>
              	<div class="grid_2 no_margin">Category</div>
              	<div class="grid_9"><%= post.category.name rescue ''%></div>
                <div class="clearfix"></div>
                <% unless @post.place.sub_category.nil? %>
                  <% sub_ids = @post.place.sub_category.split(",")
                     subcategory = Category.find(sub_ids) %>
                  <% subcategory.each do |subc| %>
                    <% if subcategory.index(subc) == 0 %>
                      <div class="grid_2 no_margin">Subcategory</div>
                    <% else %>
                      <div class="grid_2 no_margin">&nbsp;</div>
                    <% end %>

                    <div class="grid_9"><%= " #{subc.name} " %></div>
                  <% end %>
                <% end %>
            </div>
        <% end %>  
							</div>            
            </div>
        <div class="pgHr marginTop"></div>
            <div class="pdT12">
                <h5 class="bld7">Rate us <span class="fright pgRate gray normal" id="listing_total_rates"> <%= show_rates_number(post) %></span></h5>
              <div class="pad_bot">
                <div class="width90 fleft relative">
                  <%= render :partial => "/events/rating_preview", :locals => { :listing => post } %>
                  <a href="#loginMessage" id="ratingMessagePop" class="opacity0" name="modal"></a>
                </div>
              </div>
       </div>
     				<div class="clearfix"></div>
          	<div class="clearfix pdT28"></div>
            <% if post.user == current_user %><script>$(function() { preview_only = true; });</script><% modal = "" %>
            <% else %><% modal = "modal" %><% end %>          
            <div class="bgGray pad_top pad_bot" align="center">
        		<!--SOCIAL AddThis Button BEGIN -->
            <div class="emptyBg full pad_top30 pad_bot30 absolute z15"></div>
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style pad_top5 pLft7" align="center">
              <a class="addthis_button_facebook first"></a>
              <a class="addthis_button_twitter"></a>
              <a class="addthis_button_tumblr"></a>
              <a class="addthis_button_linkedin"></a>
              <a  class="addthis_button_google_plusone" g:plusone:count="false"></a>
              <a class="addthis_button_email"></a>
              <a class="addthis_button fleft" id="noHoverF" href="http://www.addthis.com/bookmark.php?v=250&amp;username=quickbutton">
                  <img src="/images/share_more.png" width="32" height="32" border="0" alt="Share" />
              </a>
            </div>
           <div class="clearfix pad_top5"></div>
           <div class="sidehr no_margin"></div>
           <div class="container_12 sideContact pgW75">
              <div class="emptyBg full pad_top30 pad_bot30 absolute z15"></div>
              <% unless current_user.nil?%>
              <% if current_user.is_advertiser? && current_user.id == @place.user_id %>
              	<div class="pad fullS absolute emptyBg z10">&nbsp;</div>
              <% end %>          
              <% end %> 
              <div class="grid_6">
                <a href="#loginMessage" id="contactPop" name="modal"></a><a id="contact_form_link" href="#contactModal"></a>
                <a id="contactM" href="" title="Ask a question" class="sideReport bold">ASK A QUESTION</a>
              </div>
              <div class="grid_6 divide">
                <a class="cursor sideReport" href="#reportDialog" id="reportPage" name="<%= modal %>">REPORT<br />THIS PAGE</a>
              </div>     
            </div>
    </div>
</div>
<!--start sidebar-->
