<div class="fcontainer_12">  
  <div class="container_12 clearfix pad_top30 relative ">
     <!--start slider-->
   	<div id="slides" class="relative ">
		<div id="cover" style="height:98%; width:100%; background:#ECECEC; position:absolute; z-index:10;">&nbsp;</div>
    <div class="slides_container">
			<div class="full">
          <div class="container_12 inlineB full_width">
              <div class="grid_5">
                    <h3 class="no_margin">exploring the</h3>
                    <h1 class="bold">FEATURES </h1>
                    <p align="justify" class="width90">
                    Placerat cursus in ultricies, nunc in eu magna aenean. In enim rhoncus, egestas, enim, aliquam cras, sed lacus mattis aliquet, mus! Rhoncus magna urna purus ut sed lundium! Tempor risus? Lacus turpis dapibus pellentesque phasellus parturient in egestas integer tempor natoque pulvinar, vut duis!
                    <a href=""></a>
                    </p>
              </div>
              <div class="grid_7 pull_1 imageBoard"> <ul class="headSlide">
                    <li><a href=""><%= image_tag "citymapicon.png"%><span>city map</span></a></li>
                    <li><a href=""><%= image_tag "hotels_icon.png"%><span>hot offers</span></a></li>
                    <li><a href=""><%= image_tag "events_icon.png"%><span>events</span></a></li>
                    <li><a href=""><%= image_tag "placesIcon.png"%><span>places</span></a></li>
                    
                  </ul>
              </div>
          </div>
      </div>
      <div class="full">
          <div class="container_12 inlineB">
              <div class="grid_5">
                    <h3 class="no_margin">exploring the</h3>
                    <h1 class="bold">FEATURES </h1>
                    <p align="justify" class="width90">
                    Placerat cursus in ultricies, nunc in eu magna aenean. In enim rhoncus, egestas, enim, aliquam cras, sed lacus mattis aliquet, mus! Rhoncus magna urna purus ut sed lundium! Tempor risus? Lacus turpis dapibus pellentesque phasellus parturient in egestas integer tempor natoque pulvinar, vut duis!
                    <a href=""></a>
                    </p>
              </div>
              <div class="grid_7 pull_1 imageBoard"> <ul class="headSlide">
                    <li><a href=""><%= image_tag "citymapicon.png"%><span>city map</span></a></li>
                    <li><a href=""><%= image_tag "hotels_icon.png"%><span>hot offers</span></a></li>
                    <li><a href=""><%= image_tag "events_icon.png"%><span>events</span></a></li>
                    <li><a href=""><%= image_tag "placesIcon.png"%><span>places</span></a></li>
                    
                  </ul>
              </div>
          </div>
      </div>
      
      
		</div>
	</div>
   	
	<!--end slider-->

  </div>
</div>
