<%
unless listing.nil?
  post = listing.listable
end
%>
<div class="clearfix"></div>
<div class="alpha pdT4">
<div class="pgHr"></div>
  <!--blog header-->    
  <% unless post.tags.nil? %>
  <% if post.tags.length > 0 %>
  	<div class="tag-links inlineB">
    <% post.tags.gsub(',','').split(" ").each do |tag| %>
      <% if action_name == "preview" %>
        <%= link_to tag, "#" %>
      <% else %>
        <%= link_to tag, "/?search=#{tag}&btnSearch=search" %>
      <% end %>
    <% end %> 
    </div>
  <% end %>
  <% end %>
</div>