<div class="messageBox clearfix"> 
<h6 class="bold grid_7">ADMINISTRATOR LIST</h6><a  href="appends/adminProfile.html" class="checkButton cursor removeSelected fright createData">Create Administrator</a>
			<div class="container_12">
          <div class="header">
              <div class="grid_4">Admin Names</div>
              <div class="grid_3">Admin Email</div>
              <div class="grid_3">Type</div>
              <div class="grid_2">Date created</div>
              <div class="">&nbsp;</div>
          </div>
          <div class="body">
          <div class="row new">
              <div class="grid_4"><a href="appends/adminProfile.html" data-id="1" class="getDetails">Administrator 1</a></div>
              <div class="grid_3"><a>admin1@zigzeg.com</a></div>
              <div class="grid_3">Master Admin</div>
              <div class="grid_2" >30/10/2011</div>
              <div class="grid_1"><input type="checkbox" name="checkZig" value="1" /></div>
          </div>
          <div class="row new">
              <div class="grid_4"><a href="appends/adminProfile.html" data-id="2" class="getDetails">Administrator 2</a></div>
              <div class="grid_3"><a>admin2@zigzeg.com</a></div>
              <div class="grid_3">Master Admin</div>
              <div class="grid_2" >30/10/2011</div>
              <div class="grid_1"><input type="checkbox" name="checkZig" value="2" /></div>
          </div>
          <div class="row new">
              <div class="grid_4"><a href="appends/adminProfile.html" data-id="3" class="getDetails">Administrator 3</a></div>
              <div class="grid_3"><a>admin3@zigzeg.com</a></div>
              <div class="grid_3">Master Admin</div>
              <div class="grid_2" >30/10/2011</div>
              <div class="grid_1"><input type="checkbox" name="checkZig" value="3" /></div>
          </div>
          <div class="row">
              <div class="grid_4"><a href="appends/adminProfile.html" data-id="4" class="getDetails">Administrator 4</a></div>
              <div class="grid_3"><a>admin4@zigzeg.com</a></div>
              <div class="grid_3">Master Admin</div>
              <div class="grid_2" >30/10/2011</div>
              <div class="grid_1"><input type="checkbox" name="checkZig" value="4" /></div>
          </div>
          <div class="row">
              <div class="grid_4"><a href="appends/adminProfile.html" data-id="5" class="getDetails">Administrator 5</a></div>
              <div class="grid_3"><a>admin5@zigzeg.com</a></div>
              <div class="grid_3">Master Admin</div>
              <div class="grid_2" >30/10/2011</div>
              <div class="grid_1"><input type="checkbox" name="checkZig" value="1" /></div>
          </div>
          <div class="row">
              <div class="grid_4"><a href="appends/adminProfile.html" data-id="6" class="getDetails">Administrator 6</a></div>
              <div class="grid_3"><a>admin6@zigzeg.com</a></div>
              <div class="grid_3">Master Admin</div>
              <div class="grid_2" >30/10/2011</div>
              <div class="grid_1"><input type="checkbox" name="checkZig" value="6" /></div>
          </div>
          <div class="row">
              <div class="grid_4"><a href="appends/adminProfile.html" data-id="7" class="getDetails">Administrator 7</a></div>
              <div class="grid_3"><a>admin7@zigzeg.com</a></div>
              <div class="grid_3">Master Admin</div>
              <div class="grid_2" >30/10/2011</div>
              <div class="grid_1"><input type="checkbox" name="checkZig" value="7" /></div>
          </div>
          </div><!-- end body -->
          <div class="footer">
              <div class="grid_7"><span>Page</span>
              				<ul class="pagination"><li><a>1</a></li>
                      <li><a href=""  class="selected">2</a></li>
                      <li><a href="">3</a></li>
                      </ul></div>
              <div class="grid_4 align_right fright"><a href="path_to_update" class="checkButton cursor removeSelected">Delete messages</a></div>
          </div>
      </div>
</div>
</div>

