          <script type="text/javascript">
          $(document).ready(function() {
						$("#announcementFrm").validate({
								submitHandler: function(form) {
									//alert('for submission');
								} 
						});
						str = "";	
						function createUploader(){  
          	          var uploader = new qq.FileUploader({
                          element: document.getElementById('imageUploader'),
          								allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'], 
          								onSubmit: function(id, fileName){
														$('#uploadBtn .grayLoader').css('display','block');
													},
													//this is use for additional paramater like the userid
 	params: {
authenticity_token: $("meta[name=csrf-token]").attr("content"),
			id: '<%= @place.id %>',
          								},
          								onProgress: function(id, fileName, loaded, total){
													str+=id+",";
													if(loaded==total)
														str = str.split(id+',').join("")
													else
														$('#uploadBtn .grayLoader').css('display','block');
													},
          								onComplete: function(id, fileName, responseJSON){
          					if ( responseJSON != "" && responseJSON.error == undefined) {
                      html = responseJSON.html.replace("&lt;", "<");
                      html = html.replace(/&lt;/g, '<');
                      html = html.replace(/&gt;/g, '>'); 
                      $(".galleryImages").append(html).fadeIn();
                      $("#image_counter").text(responseJSON.remaining);
											if($.browser.msie)
																$('#uploadBtn .grayLoader').css('display','none');
										}
													if(str=="")
														$('#uploadBtn .grayLoader').css('display','none');
													else
														$('#uploadBtn .grayLoader').css('display','block');
										<% if !current_user.premium_subscriber? %>
													if( parseInt(responseJSON.remaining) < 1 ) {
															$('#imageUploader,#overlay').remove();
															$('#boxClick').show();
													}
													if($('#galErr.msgErr').css('display')=='none'){
															if ( responseJSON.success == "full"){
																 $('#galErr.msgErr').fadeIn(300);
																 $('#imageUploader').remove();
																 $('#boxClick').show();
															}
													}
										<% end %>														
														//$('.qq-upload-list').empty();
														$('.qq-upload-list').append('<li class="bold center">Image uploaded</li>').fadeOut(300);

														if ( responseJSON.success == "true") {
															$(".bubble").empty();
														  $(".bubble").append(responseJSON.remaining);
															
														
													  }
if (responseJSON.error != undefined) {
  $('#uploadBtn .grayLoader').css('display','none');
}
          								},
                          action: '/business/upload_images_place',
                          sizeLimit: 4194304,
                          multiple: true,
                messages: {
                  sizeError: "{file} is too large, maximum file size is 4MB."
                }

                      });           
                  }
						<% if current_user.place_remaining_images  > 0 || current_user.premium_subscriber? %>
							createUploader();
						<% end %>				
            $(".galDesc").live('mouseover',function(){							
									$(this).fancybox({
									'titlePosition'		: 'outside',
									'transitionIn'		: 'none',
									'transitionOut'		: 'none',
									'titleShow'				: false
									});
						});
						$("#galform").validate({
						 submitHandler: function(form) {
							 //alert('submit data')
						 }
						});
						$('#galErr a').click(function(e) {$('#galErr').hide();});
						$('#boxClick').click(function(e) {
              	if($('#imageUploader').length){
									$('#imageUploader input').click();
								}else{
									if($('#galErr.msgErr').css('display')=='none')
										$('#galErr.msgErr').fadeIn(300);
								}
            });
						if ( !$.browser.msie ) {
							$('#overlay').show();
							$('#overlay').click(function(e) {
                $('#imageUploader input').click();
              });
						}
					});
          </script>
        	<form id="deleteForm">
        	  <%= hidden_field_tag "place_id", @place.id %>
         			<div class="packageBox pad_top20 pad_bot20 full">

                 <%= render("breadcrumbs") %>
		<div class="container_12 galleryImages">
                  <div class="grid_8 bold">
                      <% if !current_user.premium_subscriber?%>
                        You have  <span id="image_counter"><%= current_user.place_remaining_images %></span>  images remaining <a class="blue example cursor desc" name="help" href="#galleryInfo">&nbsp;</a> 
                      <% end%>
                    &nbsp;
                  </div>
									<div class="grid_4 pad_bot" align="right"><a href="" class="selectAllCB">Select all</a>
                  <a href="" class="margin_left_20 delImgLnk dispNone" data-id="place">Delete images</a></div>
                  <div class="full borderBot"></div>
                 	<div class="msgErr radius15 shadow dispNone" id="galErr">
                  <div class="container_12">
                  		<div class="grid_12 bold">IMAGE LIMIT EXCEEDED</div>
                      <div class="grid_12 pad_top" align="justify">You have exceeded the image gallery limit allowed for your account type. To upload more images, you can upgrade to a basic or premium account which provides more features.<br /><br />
											
                      <a class="button bgGray close">Continue</a>
                    </div>
                  </div>
                  </div>
                  
                    <div class="grid_12 clearfix pad_top20"></div> 
                    <div class="grid_3 empty" title="Add new photo">
                       <% if current_user.place_remaining_images  > 0 || current_user.premium_subscriber? %>
                       <div id="overlay" class="imageContain absolute cursor dispNone">&nbsp;</div>
                         <div id="imageUploader" class="imageContain"></div>
                         <div id="boxClick" class="imageContain dispNone">&nbsp;</div>
                         
                       <% else %>
                       		<div id="boxClick" class="imageContain">&nbsp;</div>
                       <% end %>
<!--                       <div class="imageContain fleft" id="boxClick" align="center"></div> -->
                       <div class="imageText" id="uploadBtn"> <div class="grayLoader full no_margin">Uploading image...</div></div>
                      
                    </div>
                     

                   <% @place.pictures.each do |pic|%>
                     <%= render :partial => "picture", :locals => { :picture => pic }%>
                   <% end %>
                </div>
                <div class="container_12 pad_top">
                	<div class="full borderBot"></div>
                   <div class="grid_8 autowidth no_margin pad_top pad_bot"><p>* Please note that images larger than 4MB are not allowed.<br /> * Only images in JPEG, PNG & GIF formats are allowed.<br />* Upload an image of 650px by 650px for optimum view. <a class="blue example cursor"  name="helpInfo" href="#imgRec" title="click to view more information..." data-id="<h6>Image size explanation</h6>Minimum image dimension required for an optimized view is 650px either in width or height of an image.<br /><br />
To check an image dimension, right-click on an image, select ‘Properties’, then select ‘Details’. For Mac, control + click on an image, select ‘Get info’, then select ‘More info’ to get image dimension information.  ">View an example</a></p></div>
                   <div class="grid_4 pad_top" align="right"><a href="" class="selectAllCB">Select all</a>
                  <a href="" class="margin_left_20 delImgLnk dispNone" data-id="place">Delete images</a></div>
                </div>
                <div class="container_12 inputs">
          		<div class="grid_10  "> 		  
                 <input type="button" name="preview" class="radius5 userButton white margin_left_10 cursor fleft p_side20" value="Done" onclick="location.replace('/business')" >
                 <input type="button" name="submit_preview" class="radius5 bgGray margin_left_10 white hoverBlack cursor p_side20" id="userSubmitBtn" value="View My Place" onclick="window.open('<%= form_url(@place) %>','_new')">
                <input type="button" name="submit_preview" class="radius5 bgGray margin_left_10 white hoverBlack cursor p_side20" id="userSubmitBtn" value="Back" onclick="location.replace('/business/myplace?t=location')">

              </div>
            </div>	

	</div>
          </form>
         
</div>
