<form id="announcementFrm">
  <div class="packageBox pad_top20 pad_bot20 full">
    <%= render("breadcrumbs") %>
    <div class="full_width borderBot"></div>
 		<div class="container_12 inputs pad_top20">

		  <div class="grid_8 prefix_3 ">
		    <% if @place.is_published? %>
		      You place has already been published. <br/><br>
  		    <input type="button" name="submit_publish" class="radius5 userButton white cursor fleft width30" id="userSubmitBtn" value="Re-Publish"  onClick="location.replace('<%= publish_business_url(:id => @place.id) %>')">

		    <% else%>
		    <input type="button" name="submit_publish" class="radius5 userButton white cursor fleft width30" id="userSubmitBtn" value="Publish"  onClick="location.replace('<%= publish_business_url(:id => @place.id) %>')">
		    <% end%>
      </div>

    </div>
  </div>
</form>
         
