		<div class="packageBox pad_bot20 full">
	  <div class="container_12 pad_bot accountOverview">

      <% unless current_user.latest_subscription.nil? %>
	<div class="grid_12 pad_bot numberMsg"><h6 class="bold no_margin half fleft">ACCOUNT OVERVIEW</h6></div>
        <div class="rowAlt"><div class="grid_4">Account Type</div>
        <div class="grid_8"><span>Zigzeg for Business <%= @package.package_name.upcase %></span></div></div>
        <div class="rowAlt"><div class="grid_4">Price</div>
        <div class="grid_8">
          <span>
            <% if @package.package_code.include?("monthly")%>
              RM<%= number_to_currency(@package.price_per_month, :unit => '')%> (per month)
            <% elsif @package.package_code.include?("yearly")%>
              RM<%= number_to_currency(@package.price_per_year, :unit => '')%> (per year)
            <% else%>
              N/A
            <% end %>

          </span></div></div>
        <div class="rowAlt"><div class="grid_4">Government Sales Tax (6%)</div>
        <div class="grid_8"><span>
          <% if @package.package_code.include?("monthly")%>
            RM<%= @package.sales_tax %> (per month)
          <% elsif @package.package_code.include?("yearly")%>
            RM<%= @package.sales_tax%> (per year)
          <% else%>
            N/A
          <% end %>
          </span></div></div>
        <div class="rowAlt"><div class="grid_4">Payment Period</div>
        <div class="grid_8"><span>
        <% period = case @package.package_code
           when "free"
             "N/A"
           when "premium_yearly", "basic_yearly"
             "Fully payment"
           when "basic_monthly", "premium_monthly"
             "12-monthly payments"
           end
        %>
        <%= period %>
        </span></div></div>
        <div class="rowAlt"><div class="grid_4">Payment Method</div>
        <div class="grid_8"><span><%= (current_user.last_payment.payment_method.blank?) ? 'N/A' : (current_user.last_payment.payment_method rescue 'N/A')  %></span></div></div>
        <div class="rowAlt"><div class="grid_4">Contract Length</div>
        <div class="grid_8"><span>12 months</span></div></div>
        <div class="rowAlt"><div class="grid_4">Contract Period</div>
        <div class="grid_8"><span>From <%= formatted_date(current_user.activated_at) %> to <%= formatted_date(current_user.activated_at + 1.year) %></span></div></div>
        
        <div class="grid_12 pad_bot numberMsg">
          <h6 class="bold no_margin half fleft"><%= @package.package_code.include?("basic") ? "BASIC" : "PREMIUM" %> ACCOUNT FEATURES</h6>
        </div>
        <div class="rowAlt"><div class="grid_4">Image Gallery</div>
        <div class="grid_8"><span>
        <% case @package.package_code 
        when "free" %>
          Limited to <%= @package.allowed_images %> images
        <% when "basic_monthly", "basic_yearly" %>
          <a class="gray" title="<h6 class='lgray bold'>Offers Listing</h6> <p>Zigzeg’s Offers Listing allows you to create and let others know of the promotions and discounts your business is offering to it’s customers.</p><p>Your basic account allows you to post <%= @package.allowed_images %> combined Events & Offers listing for the duration of your contract. For unlimited postings, a premium account is required.</p>" href="#galDialog" name="modal">Limited to <%= @package.allowed_images %> images</a>
        <% when "premium_monthly", "premium_yearly" %>
          Unlimited
        <% end %>

        </span></div></div>


        <div class="rowAlt">
          <div class="grid_4">Zigzeg Offers</div>
          <div class="grid_8"><span>

         <% case @package.package_code
         when "free" %>
            Limited to <%= @package.allowed_events %> listings a year
         <% when "basic_monthly", "basic_yearly" %>
<a class="gray" title="<h6 class='lgray bold'>Offers Listing</h6> <p>Zigzeg’s Offers Listing allows you to create and let others know of the promotions and discounts your business is offering to it’s customers.</p><p>Your basic account allows you to post <%= @package.allowed_events %> combined Events & Offers listing for the duration of your contract. For unlimited postings, a premium account is required.</p>" href="#galDialog" name="modal">
         Limited to combined <%= @package.allowed_events %> listings a year with Zigzeg Offers</a>
         <% when "premium_monthly", "premium_yearly" %>
           Unlimited
         <% end %>
        </span></div>
        </div>

        <div class="rowAlt"><div class="grid_4">Zigzeg Events</div>
        <div class="grid_8"><span>

         <% case @package.package_code
         when "free" %>
           N/A
         <% when "basic_monthly", "basic_yearly" %>
<a class="gray" title="<h6 class='lgray bold'>Offers Listing</h6> <p>Zigzeg’s Offers Listing allows you to create and let others know of the promotions and discounts your business is offering to it’s customers.</p><p>Your basic account allows you to post <%= @package.allowed_events %> combined Events & Offers listing for the duration of your contract. For unlimited postings, a premium account is required.</p>" href="#galDialog" name="modal">         Limited to combined <%= @package.allowed_events %> listings a year with Zigzeg Offers</a>
         <% when "premium_monthly", "premium_yearly" %>
           Unlimited
         <% end %>

        </span></div></div>


        <div class="rowAlt"><div class="grid_4">Zigzeg End-user Statistics (ZEUS)</div>
        <div class="grid_8"><span><%= @package.package_code.include?("free") ? "Basic" : "Advanced" %></span></div></div>
        <div class="rowAlt"><div class="grid_4">Full Data Service</div>
        <div class="grid_8"><span>
        <% full_data = case @package.customer_service.to_s
        when "true"
          "Yes"
        when "false"
          "N/A"
        else
          "N/A"
        end
        %>
        <%= full_data %>

        </span></div></div>
        <div class="rowAlt"><div class="grid_4">Premium Customer Care</div>
        <div class="grid_8"><span>
        <% care = case @package.customer_service.to_s
        when "true"
          "Yes"
        when "false"
          "N/A"
        else
          "N/A"
        end
        %>
         <%= care %>
         </span></div></div>

        <% if current_user.latest_subscription.package_code != 'free' %>
        <div class="rowAlt">
          <div class="grid_4">Assigned Customer Care Officer</div>
          <div class="grid_8"><span>N/A</span></div>
        </div>
        <% end %>
       

        <% else%>
        Free Account
        <% end %>
   </div>
   </div>
 
<% unless current_user.latest_subscription.nil? %>
  <% if current_user.latest_subscription.package_code != 'free' %>
  <div class="packageBox quicklinks pad_bot20 clearfix full">
    <div class="container_12 pad_bot paymentHistory">
      <div class="grid_12 pad_bot numberMsg"><h6 class="bold no_margin half fleft">PAYMENT HISTORY</h6>
        <% if current_user.payments.length > 3 %>
          <a class="cursor fright blue">view all</a>
        <% end %>
      </div>
      <div class="head">
        <div class="grid_4">Payment Description</div>
        <div class="grid_2">Invoice no.</div>
        <div class="grid_2">Type</div>
        <div class="grid_2 no_margin">Amount</div>
        <div class="grid_1">Dated</div>
        <div class="grid_1 fright" align="center">Status</div>
        <div></div>
      </div>
      <% current_user.payments.each do |payment|%>
        <div class="row">
          <div class="grid_4"><a class="gray"> <%= payment.package.package_name %></a>&nbsp;</div>
          <div class="grid_2"><%= payment.invoice_no %>&nbsp;</div>
          <div class="grid_2"><%= payment.payment_method %>&nbsp;</div>
          <div class="grid_2 no_margin">RM <%= payment.amount %>&nbsp;</div>
          <div class="grid_1"><%= formatted_date(payment.created_at, 'ddmmyy')%>&nbsp;</div>
          <div class="grid_1 fright"><%= payment.status%>&nbsp;</div>
        </div>
      <% end %>

      <% if @current_user.payments.empty? %>
        <div class="row center">
          Your payment history is currently empty.
          </div>
        </div><!-- end body -->
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>