<%

if params[:new] || @deal.status == "details"
  telno = current_user.places.first.telephone_numbers
  faxno = current_user.places.first.fax_numbers
  email = current_user.places.first.email
  website = current_user.places.first.website_url
  facebook = current_user.places.first.facebook
  twitter = current_user.places.first.twitter
else
  telno = @deal.telno
  faxno = @deal.faxno
  email = @deal.email
  website = @deal.website
  facebook = @deal.facebook
  twitter = @deal.twitter
end

unless @deal.address.nil?
  unless @deal.address.lat.nil?
    lat = @deal.address.lat
    lng = @deal.address.lng
  else
    lat = 3.11
    lng = 101.59
  end
else
  lat = current_user.places.first.address.lat
  lng = current_user.places.first.address.lng
end

details_class = "dispNone"
checked = ""
unless @deal.address.nil?
  unless @deal.address.map_address.nil?
    details_class = "dispNone"
    checked = ""
  else
    details_class = ""
    checked = "checked"
  end
end

%>

<script type="text/javascript">

  <% unless @deal.place.nil? %>
    default_lat = <%= @deal.place.map_address.lat %>;
    default_lng = <%= @deal.place.map_address.lng %>;
  <% end %>

  var geocoder;
  var map;
  var markersArray = [];
  geocoder = new google.maps.Geocoder();
  var image = '/images/deals_32.png';

  function clearOverlays() {
    if (markersArray) {
      for (i in markersArray) {
        markersArray[i].setMap(null);
      }
      markersArray = [];
    }
  }


</script>

<script>

  function update_map(lat, lng, draggable) {
    if (draggable){
      $("#lock_marker").text("Lock Marker");
    }else{
      $("#lock_marker").text("Unlock Marker");
    }
    markersArray[0].draggable = draggable;
    markersArray[0].setMap(map);
  }

  function lockmarker(draggable){
    if (draggable){
      $("#lock_marker").text("Unlock Marker");
    }else{
      $("#lock_marker").text("Lock Marker");
    }

    lat = "'" + $("#address_lat").val() + "'";
    lng = "'" + $("#address_lng").val() + "'";
    update_map(lat, lng, draggable);
  }


$(function() {

  $("#lock_marker").live("click", function() {
    text = $(this).text();
    if (text == "Lock Marker"){
      $(this).text("Unlock Marker");
      draggable = false;
    }else{
      $(this).text("Lock Marker");
      draggable = true;
    }

    lat = $("#address_lat").val();
    lng = $("#address_lng").val();
    update_map(lat, lng, draggable);

  });
  
  $("#locationFrm").validate({
    submitHandler: function(form) {
      $('.grayLoader').show();
      form.submit();
    },
		rules:{
			"address[street]": {
					required: function(element) {
						return $("#dontuse_place_address").is(':checked');
					}
    	},"address[postcode]": {
					required: function(element) {
						return $("#dontuse_place_address").is(':checked');
					}
    	},"address[city_name]": {
					required: function(element) {
						return $("#dontuse_place_address").is(':checked');
					}
    	},"address[state_name]": {
					required: function(element) {
						return $("#dontuse_place_address").is(':checked');
					}
    	},"address[country_name]": {
					required: function(element) {
						return $("#dontuse_place_address").is(':checked');
					}
    	},"offer[telno]": {
					required: function(element) {
						return $("#dont_use_place_info").is(':checked');
					}
    	},"offer[website]": {
					complete_url: function(element) {
						return $("#dont_use_place_info").is(':checked');
					}
    	}
		},
    messages:{
      "map_error": {
        required: "There seems to be some errors in your address. Please check.",
      },
      "valid_state": {
        required: "Please verify your state.",
      },
      "address_lat": {
        required: ""
      },
      "address_lng": {
        required: ""
      }
      
    }
		

  });

/*
  $("#lot_number, #street, #building_name, #section_name, #postcode, #city_name, #state_name, #country_name").live("keyup", function() {
    locateAddress();
  }); */

  $("#lot_number, #street, #building_name, #section_name, #postcode, #city_name, #state_name, #country_name").live("change", function() {
    locateAddress();
  });
  

  $("#section_name").autocomplete("/business/search_section", {
    width: 150,
    selectFirst: false,
  });

  $("#section_name").result(function(event, data, formatted) {
    if (data) {
      $("#section_name").val(data[1]);
      $("#postcode").val(data[2]);
      $("#city_name").val(data[3]);
      $("#state_name").val(data[4]);
      $("#country_name").val(data[5]);
      update_address();
//      locateAddress();
    }
  });


  $("#city_name").autocomplete("/business/search_city", {
    width: 150,
    selectFirst: false,
  });

  $("#city_name").result(function(event, data, formatted) {
    if (data) {
      $("#city_name").val(data[1]);
      $("#state_name").val(data[2]);
      $("#country_name").val(data[3]);
      update_address();
      locateAddress();
    }
  });


  $("#postcode").autocomplete("/business/search_postcode", {
    width: 150,
    selectFirst: false,
  });

  $("#postcode").result(function(event, data, formatted) {
    if (data) {
      $("#postcode").val(data[1]);
      $("#city_name").val(data[2]);
      $("#state_name").val(data[3]);
      $("#country_name").val(data[4]);
      update_address();
      locateAddress();
    }
  });

  $("#state_name").autocomplete("/business/search_state_autocomplete", {
    width: 150,
    selectFirst: false
  });  
  $("#state_name").result(function(event, data, formatted) {
    if (data) {
      $("#state_name").val(data[1]);
      $("#country_name").val(data[2]);
      update_address();
      locateAddress();
    }
  });

  $("#country_name").autocomplete("/business/search_country_autocomplete", {
    width: 150,
    selectFirst: false,
  });
  $("#country_name").result(function(event, data, formatted) {
    if (data) {
      $("#country_name").val(data[0]);
      update_address();
      locateAddress();
    }
  });

  
  $("#building_name").autocomplete("/business/search_building", {
    width: 150,
    selectFirst: false,
  });

  $("#building_name").result(function(event, data, formatted) {
    if (data) {
      $("#notfound").attr('checked', false);


      $("#street").val(data[2]);
      $("#map_address_id").val(data[1]);

      $("#street").val(data[2]);
      $("#section_name").val(data[3]);
      $("#postcode").val(data[4]);
      $("#city_name").val(data[5]);
      $("#state_name").val(data[6]);
      $("#country_name").val(data[7]);
      update_address();
//      locateAddress();
    }
  });

  $("#street").autocomplete("/business/searchaddress", {
    width: 150,
    selectFirst: false,
  });
  
  $("#street").result(function(event, data, formatted) {
    if (data) {
      $("#notfound").attr('checked', false);
      $("#street").val(data[2]);

      $("#street").val(data[2]);
      $("#section_name").val(data[3]);
      $("#postcode").val(data[4]);
      $("#city_name").val(data[5]);
      $("#state_name").val(data[6]);
      $("#country_name").val(data[7]);
      update_address();

      if (data[8] != "" && data[9] != "") {
        $("#map_address_id").val(data[1]);
        showMapLatLng(data[8], data[9]);
      }else{
//        locateAddress();
        $("#map_address_id").val(data[1]);
      }
    }
  });
  

});

function useDefaultAddress()
{

  showMapLatLng(default_lat, default_lng);

  $("#map_address_id").val('<%= current_user.places.first.address.map_address_id %>');
  $("#address_lat").val('<%= lat %>');
  $("#address_lng").val('<%= lng %>');
  $("#your_address").text('<%= @deal.place.address.complete_address rescue '' %>');
}

function useOwnAddress()
{
  <% unless @deal.address.nil? %>
    showMapLatLng('<%= lat rescue 0 %>', '<%= lng rescue 0 %>');
    $("#address_lat").val('<%= lat%>');
    $("#address_lng").val('<%= lng %>');
    $("#your_address").text("<%= @deal.address.complete_address rescue '' %>");
  <% else %>
    $("#address_lat").val('');
    $("#address_lng").val('');
  <% end %>
}

function toggleAddressDetails()
{
  if ( $("#notfound").is(':checked') ) {
  }else{
  }
}

function update_address()
{
  var fulladdress = "";
  
  if ($("#lot_number").val() != "") 
    fulladdress += $("#lot_number").val() + ", ";
  if ($("#building_name").val() != "")
    fulladdress += $("#building_name").val() + ", ";
  if ($("#street").val() != "")
    fulladdress += $("#street").val() + ", ";
  if ($("#section_name").val() != "")
    fulladdress += $("#section_name").val() + ", ";
  if ($("#postcode").val() != "")
    fulladdress += $("#postcode").val() + " ";
  if ($("#city_name").val() != "")
    fulladdress += $("#city_name").val() + ", ";
  if ($("#state_name").val() != "")
    fulladdress += $("#state_name").val() + ", ";
  if ($("#country_name").val() != "")
    fulladdress += $("#country_name").val();

  $("#your_address").text(fulladdress);
}


function locateAddress(map)
{
  var fulladdress = "";
  
  $("#lot_number").val($("#lot_number").val().replace(/^[,\s]+|[,\s]+$/g,""));
	$("#building_name").val($("#building_name").val().replace(/^[,\s]+|[,\s]+$/g,""));
	$("#street").val($("#street").val().replace(/^[,\s]+|[,\s]+$/g,""));
	$("#section_name").val($("#section_name").val().replace(/^[,\s]+|[,\s]+$/g,""));
	$("#postcode").val($("#postcode").val().replace(/^[,\s]+|[,\s]+$/g,""));
	$("#city_name").val($("#city_name").val().replace(/^[,\s]+|[,\s]+$/g,""));
	$("#state_name").val($("#state_name").val().replace(/^[,\s]+|[,\s]+$/g,""));
	$("#country_name").val($("#country_name").val().replace(/^[,\s]+|[,\s]+$/g,""));
	
   if ($("#lot_number").val() != "") 
    fulladdress += $("#lot_number").val() + ", ";
  if ($("#building_name").val() != "")
    fulladdress += $("#building_name").val() + ", ";
  if ($("#street").val() != "")
    fulladdress += $("#street").val() + ", ";
  if ($("#section_name").val() != "")
    fulladdress += $("#section_name").val() + ", ";
  if ($("#postcode").val() != "")
    fulladdress += $("#postcode").val() + " ";
  if ($("#city_name").val() != "")
    fulladdress += $("#city_name").val() + ", ";
  if ($("#state_name").val() != "")
    fulladdress += $("#state_name").val() + ", ";
  if ($("#country_name").val() != "")
    fulladdress += $("#country_name").val();

  if ($("#use_place_address").is(':checked'))
    $("#your_address").text("<%= current_user.places.first.address.complete_address%>");
  else
    $("#your_address").text(fulladdress);
  
  if(map == undefined) {
    showMapAddress(fulladdress);
  }
  
}


  function showMapAddress(address) {
    $("#map_error").val('none');
    clearOverlays();
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        
        var image = '/images/deals_32.png';
        var marker = new google.maps.Marker({
          map: map, 
          icon: image,
          position: results[0].geometry.location,
          draggable: true,
          animation: google.maps.Animation.DROP
        });

        $("#address_lat").val(marker.getPosition().lat());
        $("#address_lng").val(marker.getPosition().lng());

        if ($("#state_name").val() != "") {
  				$.ajax({
  				  type: "GET",
  				  url: "/business/search_state?s=" + $("#state_name").val(),
  				  success:function(data){
  				    if (data == "true"){
  				      $("label[for=valid_state]").hide();
  				      $("#valid_state").val("valid");
  				    }else{
  				      $("#valid_state").val("valid");
				      }
  				  }
  				});
        }
        

        markersArray.push(marker);
        google.maps.event.addListener(marker, 'dragend', function() {
          var position = marker.getPosition();
          $("#address_lat").val(marker.getPosition().lat());
          $("#address_lng").val(marker.getPosition().lng());
        });

      } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS ) {
        $("#address_lat").val('');
        $("#address_lng").val('');
        $("#map_error").val('');
        if ($("#state_name").val() != "") {
  				$.ajax({
  				  type: "GET",
  				  url: "/business/search_state?s=" + $("#state_name").val(),
  				  success:function(data){
  				    if (data == "true"){
  				      $("label[for=valid_state]").hide();
  				      $("#valid_state").val("valid");
  				    }else{
  				      $("#valid_state").val("valid");
				      }
  				  }
  				});
        }
        
      } else {
        $("#map_error").val('');
//        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }


  function showMapLatLng(lat, lng) {
    $("#map_error").val('none');
    clearOverlays();
    var pinkParksStyles = [{featureType: "poi", stylers: [{ saturation: -80 }, { visibility: "off"}]}, {featureType: "all", stylers: [{ saturation: -80 }]} ];
    var pinkMapType = new google.maps.StyledMapType(pinkParksStyles, {name: "Map"});
    var myLatlng = new google.maps.LatLng(lat, lng);
    var myOptions = {
      zoom: 14,
      center: myLatlng,
      panControl: false,
        zoomControl: true,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.SMALL,
					position: google.maps.ControlPosition.TOP_RIGHT
				}, 
				mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById('mapcanvas'), myOptions);

    map.mapTypes.set('pink_parks', pinkMapType);
    map.setMapTypeId('pink_parks');
    var image = '/images/deals_32.png';    
    var marker = new google.maps.Marker({
        position: myLatlng, 
        map: map,
        <% if @deal.use_place_address %>
        draggable: false,
        <% else %>
        draggable: true,
        <% end %>
        icon: image,
        animation: google.maps.Animation.DROP
    }); 

    if ($("#use_place_address").is(':checked'))
      marker.draggable = false

    markersArray.push(marker);
    google.maps.event.addListener(marker, 'dragend', function() {
      var position = marker.getPosition();
      $("#address_lat").val(marker.getPosition().lat());
      $("#address_lng").val(marker.getPosition().lng());
     });

  }


</script>

<div class="packageBox pad_top20 pad_bot20 full">
					
<%= form_for @deal, :url => business_offer_path(@deal), :html => { :id => "locationFrm", :method => :put } do |f| %>
<%= hidden_field_tag :steps, "location"%>
				<div class="container_12">

									  <% if @deal.is_complete? || @deal.is_published? %>
  										<div class="grid_9 numberMsg">
                      <ul class="advertBc no_margin">
                      		<li><h6 class="bold">EDIT OFFER</h6></li>
                      		<li><h6 class="bold"><%= truncate(@deal.name, :length => 50, :omission => "...") %></h6></li>
                      </ul>
                      </div>

                      <div class="grid_3 pad_top fright no_margin">
                      &nbsp;
                      </div>									  
									  <% else %>
  										<div class="grid_9 numberMsg">
                      <ul class="advertBc">
                      		<li><h6 class="bold">CREATE OFFER</h6></li>
                          <li><h6 class="bold">STEP <div class="bubble"> 02 </div></h6></li>
                      </ul>
                      </div>

                    
                    <% end %>
                    
                    
                </div>
               <div class="full stepBar relative" style="">
                  <ul class="stepBarUL">
		  <% if @deal.is_complete? || @deal.is_published? %>
                      <li class=""><div class="absolute border_bar" id="border_bar"></div><a  class="menuBar" href="<%= edit_business_offer_path(@deal) %>">OFFER DETAILS</a><div class="right_arrow"></div></li>
                      <li class="selected"><a class="menuBar" href="<%= locations_business_offer_path(@deal) %>">OFFER LOCATION</a><div class="right_arrow"></div></li>
                      <li class=""><a  class="menuBar" href="<%= gallery_business_offer_path(@deal) %>">GALLERY</a><div class="right_arrow"></div></li>
                    <% else%>
                      <li class=""><div class="absolute border_bar" id="border_bar"></div><a  class="menuBar noCursor noDecor">OFFER DETAILS</a><div class="right_arrow"></div></li>
                      <li class="selected"><a class="menuBar noCursor noDecor">OFFER LOCATION</a><div class="right_arrow"></div></li>
                      <li class=""><a  class="menuBar noCursor noDecor">GALLERY</a><div class="right_arrow"></div></li>
                    <% end %>
                  </ul>
                </div>



                <div class="full_width borderBot"></div>
                <div class="container_12 inputs pad_top20 pad_bot">

                  <div class="grid_3 align_right marginTop5 lineHeight10 "><label>ADDRESS</label></div>
                  <div class="grid_9">
                    <input type="radio" name="use_place_address" id="use_place_address" value="1" > Use my default business address
                  </div>

                  <div class="grid_3 align_right marginTop5 lineHeight10 ">&nbsp;</div>
                  <div class="grid_9">
                    <input type="radio" name="use_place_address" id="dontuse_place_address" value="0" > Allow me to input a different address
                  </div>

                  <div class="clearfix"></div>
                  
                  <div id="address_details_1" class="pad_top">                  
                    <div class="grid_3 align_right pad_top7 lineHeight10"><label>Unit number</label><br />(optional)</div>
                    <div class="grid_9">
                      <input type="text" class="radius5 fancyinput" value="<%= @deal.address.address_lot_number rescue '' %>" id="lot_number" name="address[address_lot_number]" ><br>
                      <label for="lot_number" generated="false" class="error" ></label>
                    </div>
                  	<div class="clearfix"></div>
                    <div class="grid_3 align_right lineHeight10 padToCenter"><label>Building name</label><br />(optional)</div>
                    <div class="grid_9 pad_top">
                      <input type="text" class="radius5 fancyinput" value="<%= @deal.address.building_name rescue '' %>" id="building_name" name="address[building_name]" ><br>
                      <label for="building_name" generated="false" class="error" ></label>
                    </div>
                  
                    <div class="grid_3 align_right padToCenter lineHeight10"><label>Street</label></div>
                    <div class="grid_9 pad_top">
                      <input type="text" class="radius5 fancyinput" value="<%= @deal.address.street rescue '' %>" id="street" name="address[street]" ><br>
                      <label for="street" generated="false" class="error" ></label>
                    </div>
                    
                    <div class="grid_3 align_right lineHeight10 padToCenter"><label>Section</label><br />(optional)</div>
                    <div class="grid_9 pad_top">
                      <input type="text" class="radius5 fancyinput" id="section_name" name="address[section_name]" value="<%= @deal.address.section_name rescue '' %>"><br>
                      <label for="section_name" generated="false" class="error" ></label>
                    </div>

                    <div class="grid_3 align_right lineHeight10 padToCenter"><label>Postcode</label></div>
                    <div class="grid_9 pad_top">
                      <input type="text" class="radius5 fancyinput" id="postcode" name="address[postcode]" value="<%= @deal.address.postcode rescue '' %>"><br>
                      <label for="postcode" generated="false" class="error" ></label>
                    </div>

                    <div class="grid_3 align_right lineHeight10 padToCenter"><label>City</label></div>
                    <div class="grid_9 pad_top">
                      <%= text_field_tag "address[city_name]", (@address.city_name rescue '') , :id => "city_name", :class => "radius5 fancyinput" %><br>
                      <label for="city_name" generated="false" class="error" ></label>
                    </div>

                    <div class="grid_3 align_right lineHeight10 padToCenter"><label>State/Region</label></div>
                    <div class="grid_9 pad_top">
                      <%= text_field_tag "address[state_name]", (@address.state_name rescue ''), :id => "state_name", :class => "radius5 fancyinput" %><br>
                      <%= hidden_field_tag "valid_state", 'valid', :class => "required"  %>
                      <label for="state_name" generated="false" class="error" ></label>

                       <label for="address_lat" generated="false" class="error" ></label>
                      <%= hidden_field_tag "address_lat", lat, :class => "required"  %>
                      <%= hidden_field_tag "address_lng", lng, :class => "required"  %>
                      
                    </div>

                    <div class="grid_3 align_right lineHeight10 padToCenter"><label>Country</label></div>
                    <div class="grid_9 pad_top">
                      <%= text_field_tag "address[country_name]", (@address.country_name rescue ''), :id => "country_name", :class => "radius5 fancyinput" %><br>
                      <label for="country_name" generated="false" class="error" ></label>
                    </div>
                  

                    <div class="clearfix"></div>
                  </div>



                <div class="grid_3 align_right marginTop5 lineHeight10 pad_top20"><label>Your Address</label></div>
                <div class="grid_7 suffix_2 inlineB pad_top">
                  <span id="your_address" class="bgGray inlineB radius5 pad10 width90 bold">
                    <% if @deal.use_place_address? %>
                      <%= @deal.place.address.complete_address %>
                    <% else %>
                     &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <% end %>
                  </span><br/>
                </div>
                		</div>
                  <div class="container_12 inputs pad_bot">
                    <div class="grid_3 align_right marginTop5"><label>Location</label></div>
                      <div class="grid_9">


                      <div id="mapcanvas" style="width:330px; height:245px"></div>
                      <div id="message"></div>
                    </div>
                    <div class="grid_7 suffix_2 prefix_3 inlineB" id="moved_marker_text">
                   <span class="inlineB radius5 width90 lh13">You may position the marker in the map above to the precise location you
desire. Do check that the marker is positioned at a location which corresponds to the address displayed above.</span></div>
                    
                </div> 
               	<div class="full_width borderBot pad_top20"></div>
       		<div class="container_12 inputs pad_top">

		    <div class="grid_3 align_right marginTop5 pad_top7"><label>CONTACT INFO</label></div>
                    <div class="grid_9 pad_top pad_bot">
                      <input type="radio" name="use_place_info" <%= @deal.use_place_info ? 'checked="checked"':'' %> id="use_place_info" value="1" > Use my default business information <br/>
                      <input type="radio" name="use_place_info"  <%= @deal.use_place_info ? '':'checked="checked"' %> id="dont_use_place_info" value="0" > Allow me to input new information
                    </div>
										<div id="placeContactI" class="<%= @deal.use_place_info ? '' : 'dispNone' %>">
                      <div class="grid_3 align_right">
                        <div class="pad_top"><label>Telephone no</label></div>
                        <div class="pad_top5"><label>Fax no</label></div>
                        <div class="pad_top5"><label>Email Address</label></div>
                        <div class="pad_top5"><label>Web URL</label></div>
                      </div>
                      <div class="grid_7">
                        <div class="bgGray inlineB radius5 pad10 width90 bold">
                          <div class=""><%= @deal.place.telephone_numbers rescue '' %>&nbsp;</div>
                          <div class="pad_top5"><%= @deal.place.fax_numbers rescue '' %>&nbsp;</div>
                          <div class="pad_top5"><%= @deal.place.email rescue '' %>&nbsp;</div>
                          <div class="pad_top5"><%= @deal.place.website_url rescue '' %>&nbsp;</div>
                        </div>
                      </div> 
                    </div>                   
       							<div id="own_info" class="<%= @deal.use_place_info ? 'dispNone' : '' %>">
                      <div class="grid_3 align_right pad_top7"><label>Telephone no</label></div>
                      <div class="grid_9">
                        <input type="text" class="radius5 fancyinput required validTelno" id="tel_no" name="offer[telno]" value="<%= telno %>">
                        <br />e.g.: +06-03-12345678
                        <label for="tel_no" generated="false" class="error" ></label>
                      </div>

                      <div class="grid_3 align_right marginTop5 pad_top lh1"><label>Fax no</label><br />(optional)</div>
                      <div class="grid_9 pad_top"><input type="text" class="radius5 fancyinput validTelno" id="fax_no" name="offer[faxno]" value="<%= faxno %>"><br />e.g.: +06-03-12345678
                        <label for="fax_no" generated="false" class="error" ></label>
                      </div>

                      <div class="grid_3 align_right marginTop5 pad_top"><label>Email Address</label></div>
                      <div class="grid_9 pad_top"><input type="text" class="radius5 fancyinput required email" id="email_add" name="offer[email]" value="<%= email %>"><br />
                        <label for="email_add" generated="false" class="error" ></label>
                      </div>

                      <div class="grid_3 align_right marginTop5 pad_top lh1"><label>Web URL</label><br />(optional)</div>
                      <div class="grid_9 pad_top"><input type="text" class="radius5 fancyinput complete_url" id="web_url" name="offer[website]" value="<%= website %>"><br />
                        <label for="web_url" generated="false" class="error" ></label>
                      </div>
                    </div>

                </div> 
                <div class="clearfix pad_bot"></div>
                	 <div class="full_width borderBot pad_top20"></div>
               		<div class="container_12 inputs pad_top">
										<div class="grid_3 align_right marginTop5 pad_top lh1"><label>Facebook page</label><br />(optional)</div>
                    <div class="grid_9 pad_top"><input type="text" value="<%= facebook %>" name="offer[facebook]"  id="fb_url" class="radius5 fancyinput complete_url"><img class="margin_left_10" src="/images/fb.jpg"><br>
                    <label class="error" generated="false" for="fb_url"></label>
                    </div>
                    <div class="grid_3 align_right marginTop5 pad_top lh1"><label>Twitter page</label><br />(optional)</div>
                    <div class="grid_9 pad_top"><input type="text" value="<%= twitter %>" name="offer[twitter]" id="twitter_url" class="radius5 fancyinput complete_url"><img class="margin_left_10" src="/images/twitter.jpg"><br>
                    <label class="error" generated="false" for="twitter_url"></label>
                    </div>

                    <div class="grid_3 align_right marginTop5 pad_top"></div>
                    <div class="grid_9 pad_top">
                     <%= hidden_field_tag "map_error", 'none', :class => "required" %>
                     <label for="map_error" generated="false" class="error"></label>
                    </div>

                </div> 

                	<div class="container_12 inputs pad_top20">
			<div class="grid_6 prefix_3 ">
										 
                      <input type="submit" value="Save and Next" id="userSubmitBtn" class="radius5 userButton white cursor fleft half" name="submit_next">
                      <input type="button" name="submit_back" class="radius5 bgGray margin_left_10 gray cursor fleft width30" id="userSubmitBtn" value="Back" onClick="location.replace('<%= edit_business_offer_path(@deal) %>')">
                    </div>
                    <div class="grid_3">
                      <div class="grayLoader fright">Saving data</div>&nbsp;
                    </div>
                  </div>

  <% end %>
</div>

<script>
$(function() {

  $("#dont_use_place_info").click(function() {
    $("#lock_marker").show();
    $("#placeContactI").hide();
		$('#own_info').show();
  });
  $("#use_place_info").click(function() {
    useDefaultAddress();
    $("#lock_marker").hide();
    $("#placeContactI").show();
		$('#own_info').hide();
  });
  $("#dont_use_place_info").live("change", function() {
    $("#tel_no,#fax_no,#email_add,#web_url").val('');
  });

  

  $("#dontuse_place_address").live("change", function() {
    locateAddress();
      $("#lock_marker").show();
      useOwnAddress();
      $("#address_details_1").show();
      $("#moved_marker_text").show();
      //$("#address_lat").val('');
      //$("#address_lng").val('');
  });

  $("#use_place_address").live("change",function () {
    $("#lock_marker").hide();
      useDefaultAddress();
      $("#address_details_1").hide();
      $("#address_lat").val('<%= lat %>');
      $("#address_lng").val('<%= lng %>');
      $("#moved_marker_text").hide();
  });

  <% if @deal.use_place_address? %>
      useDefaultAddress();
      $("#address_details_1").hide();
      $("#address_lat").val('<%= lat %>');
      $("#address_lng").val('<%= lng %>');      
      $("#use_place_address").attr('checked', true)
      $("#moved_marker_text").hide();
  <% else %>
    $("#dontuse_place_address").attr('checked', true)
    useOwnAddress();
    $("#address_details_1").show();
    $("#moved_marker_text").show();
  <% end %>
  

});

</script>
