<script>
$(function() {
  
  $("#locationFrm").validate({});

	var dates = $("#start_date,#end_date").datepicker({
				dateFormat:'dd/mm/yy',
				minDate: 0,
				ampm: true,
				onSelect: function( selectedDate ) {
					var option = this.id == "start_date" ? "minDate" : "maxDate",
						instance = $( this ).data( "datepicker" ),
						date = $.datepicker.parseDate(
							instance.settings.dateFormat ||
							$.datepicker._defaults.dateFormat,
							selectedDate, instance.settings );
					dates.not( this ).datepicker( "option", option, date );
				}
			}
		);
		$('#start_icon').live('click',function(){$("#start_date").datepicker( "show" );});
		$('#end_icon').live('click',function(){$("#end_date").datepicker( "show" )});
//		$('#start_time').timepicker({});$('#end_time').timepicker({});
});
</script>

<div class="packageBox pad_top20 pad_bot20 full">

<%= form_for @deal, :url => business_offer_path(@deal), :html => { :id => "locationFrm", :method => :put, :class => "packageFrm", :name => "locationFrm" } do |f| %>          
  <%= hidden_field_tag :steps, "pricing" %>
									<div class="container_12 pad_bot20">
									  
									  <% if @deal.is_complete? %>
  										<div class="grid_9 numberMsg">
                      <ul class="advertBc">
                      		<li><h6 class="bold">EDIT OFFER</h6></li>
                          <li><h6 class="bold"><%= @deal.name rescue ''%></h6></li>
                      </ul>
                      </div>									  
                    <% else %>
  										<div class="grid_9 numberMsg">
                      <ul class="advertBc">
                      		<li><h6 class="bold">CREATE OFFER</h6></li>
                          <li><h6 class="bold">STEP <div class="bubble"> 03 </div></h6></li>
                      </ul>
                      </div>

                    <% end %>
                    
                </div>
                 <div class="full stepBar relative" style="">
                  <ul class="stepBarUL">
                    <% if ["pricing", "complete"].include?(@deal.status)%>
                   		<li class=""><div class="absolute border_bar" id="border_bar"></div><a class="menuBar" href="<%= edit_business_offer_path(@deal) %>">OFFER DETAILS</a><div class="right_arrow"></div></li>
                       <li class=""><a class="menuBar" href="<%= locations_business_offer_path(@deal) %>">OFFER LOCATION</a><div class="right_arrow"></div></li>
                       <li class="selected"><a  class="menuBar" href="#">DATE</a><div class="right_arrow"></div></li>
                       <li class=""><a  class="menuBar" href="#">GALLERY</a><div class="right_arrow"></div></li>                    
                    <% else%>
                  		<li class=""><div class="absolute border_bar" id="border_bar"></div><a class="menuBar" href="#">OFFER DETAILS</a><div class="right_arrow"></div></li>
                      <li class=""><a class="menuBar" href="#">OFFER LOCATION</a><div class="right_arrow"></div></li>
                      <li class="selected"><a  class="menuBar" href="#">DATE</a><div class="right_arrow"></div></li>
                      <li class=""><a  class="menuBar" href="#">GALLERY</a><div class="right_arrow"></div></li>
                   <% end %>

                  </ul>
                </div>
                	<div class="full_width borderBot"></div>
                	<div class="container_12 inputs pad_top">
										<div class="grid_3 align_right marginTop5 pad_top"><label>Start Date:</label></div>
                    <div class="grid_9 pad_top"><input type="text" class="required text-input fancyinput narrower" id="start_date" name="offer[start]" readonly="readonly" value="<%= formatted_date(@deal.start, 'yyyymmdd') %>"><span class="margin_left_10"><img src="/images/cal.gif" id="start_icon"/> </span><br />
                    <label for="start_date" generated="false" class="error" ></label>
                    </div>
                    <div class="grid_3">&nbsp;</div>
                    <div class="grid_9">
                      <input type="checkbox" class="text-input fancyinput" name="offer[ongoing]" value="1" <%= @deal.ongoing? ? "checked" : nil %>><span class="absolute">&nbsp;This offer never ends...</span>
                      <br />
                      <label for="start_time" generated="false" class="error" ></label>
                    </div>
                    <div class="grid_3 align_right marginTop5 pad_top"><label>End Date:</label></div>
                    <div class="grid_9 pad_top"><input type="text" class="required text-input fancyinput narrower" id="end_date" name="offer[end]" readonly="readonly" value="<%= formatted_date(@deal.end, 'yyyymmdd') %>"><span class="margin_left_10"><img src="/images/cal.gif" id="end_icon"/> </span><br />
                    <label for="end_date" generated="false" class="error" ></label>
                    </div>
                    
                </div> 
                	<div class="full_width borderBot pad_top20"></div>
                </div> 
                
                
                	<div class="full_width borderBot pad_top20"></div>

                
                	<div class="full_width borderBot pad_top20"></div>
               		<div class="container_12 inputs pad_top20">
                		<div class="grid_8 prefix_3 ">
                		  <input type="submit" name="submit_save" class="radius5 userButton white cursor fleft width30" id="userSubmitBtn" value="Save and Next">
                    </div><div class="grid_1"><div class="grayLoader fright">Saving data</div>&nbsp;</div>
                </div>

<% end %>
</div>
