PassengerEnabled on
PassengerAppRoot /home/mgimenac/bitbucket/kuatro

RewriteRule ^$ index.html [QSA]
 RewriteRule ^([^.]+)$ $1.html [QSA]
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteRule ^(.*)$ dispatch.cgi [QSA,L]

#<Files 403.shtml>
#order allow,deny
#allow from all
#</Files>
