<ul style="list-style-type: none">
  <% @messages.each do |msg| %>
    <li> 
      <span><%= show_profile_image(current_user) %> </span>
      <span> 
        <%=  link_to "Michael Gimena", message_path(msg) %>
      <span>
      </span> September 22 </span>
    </li>
  <% end %>
</ul>
