<h3><%= @message.receiver.firstname.titleize %></h3>

<div id="messages_threads">
<% @message_threads.each do |msg| %>
  <%= render :partial => "thread_row", :locals => { :msg => msg }  %>
<% end %>
</div>

<%= form_for :message, :url => messages_path, :html => { :id => "message-form"} do |f| %>
  <%= hidden_field_tag "receiver_id", @message.receiver.id %>
  <%= hidden_field_tag "thread_id", @message.message_thread_id %>
  <%= text_area_tag :contents, nil, :cols => 50, :rows => 5, :class => "message_contents", :placeholder => "Type your message here" %>
  <br/>
  <%= submit_tag "Send" %>
  <%= show_loader("message") %>
<% end %>

<script>

$(document).ready(function () {
  $("#message-form").bind("submit", function() {
    $('#loader_message').show();

    $.ajax({
      url: "/messages",
      type: 'POST',
      data: $(this).serializeArray(),
      success: function(data){
        $("#messages_threads").append(data);
        $(".message_contents").val('');
        $("#loader_message").hide();
      }
    });

    return false;
  });
});

</script>
