<div id="admin-left-sidebar">
  <%= render "messages/sidebar" %>
</div>

<div id="admin-center">
  <%= render "messages/index" %>
</div>

<div id="admin-right">
  <%= render "dashboards/sidebar_right" %>
</div>
