@font-face {
    font-family: "Bickham";
    src: url("fonts/BickhamScriptPro-Semibold.otf");
}
.bickham {
    font-family: "Bickham", 'Times New Roman', Arial;
    font-size: 290%;
    font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirLTStd-Light.otf");
}

@font-face {
  font-family: "Avenir Medium";
  src: url("fonts/AvenirLTStd-Medium.otf");
}

.avenir {
    font-family: "Avenir";
    font-size: 100%;
}


#wrapper {
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 840px;
  padding: 3px;
  background-color: #e6eef0;
  min-height: 440px;
  vertical-align: middle;
}
#maincontent {
  text-align: left;
  margin: 0 auto;
  padding: 1px;
  background-color: #333333;
}

#content {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 776px;
  padding: 0px;
  min-height: 300px;
  background-color: #333333;
  
}

#logo {background-image: url(/images/logo.png); background-repeat: no-repeat; height: 142px; width: 273px; position: relative; top: 0px; z-index: 2; background-size:273px 142px;}
#header {height: 201px; z-index: 1}
#sociallinks { position: absolute; top: 90px; margin-left: 625px}
#sociallinks img { padding-right: 6px;}
#menu {height: 41px; background-image: url(/images/lightblue-line.jpg); background-repeat: repeat-x; margin-top: -5px; z-index: 100}
#menu ul { height: 40px; list-style-type: none; display: list-item; float:right; position: relative; height: 36px;}
#menu ul li { height:40px; display: inline-block; background-image: url(/images/lightblue-verfical.jpg); background-repeat: repeat-y; padding: 0px 10px 0px 10px; width: 85px; text-align: center }
#menu ul li.first {height: 40px; display: inline-block; background-image: none !important; }
#menu ul li a {color: gray; font-size: 12px; font-family: "Avenir", arial, helvetica}
#menu ul li a:hover { color: #3f7987; text-decoration: none; font-size: 12px; font-family: "Avenir", arial, helvetica; font-weight: bold}
#menu ul li a.selected { color: #3f7987; text-decoration: none; font-weight: bold; font-size: 12px; font-family: "Avenir", arial, helvetica}
#content { padding: 20px 0px 20px 0px }
.thumb-label {position: relative; top: 10px; font-family: "Bickham", arial, helvetica; font-size: 1.8em; color: #3f7987; letter-spacing:1px; font-weight: normal; line-height: 16px}
.clip { background-image: url(/images/clip.png); background-repeat: no-repeat; background-position: right top; width: 40px; height: 35px; position: relative; top: -157px; left: 122px}
#blog-row  { padding-bottom: 20px; }
#blog-row h2 { font-family: "Bickham", arial, helvetica; color: #3f7987; font-size: 3em; margin-bottom: 20px;}
#blog-row h2 a { font-family: "Bickham", arial, helvetica; }
#blog-row h2 a:hover { font-family: "Bickham", arial, helvetica; color: #559DAF }
.photos a img { margin-bottom: 25px;}
#aboutus p { line-height: 20px }
.teal { color: #367588}
a.white { color: #e6e6e6}
.white {color: #e6e6e6}
