<div class="messageBox clearfix">
  <h6 class="bold">MESSAGE BOX <a class="blue normal"><%= @unread_messages.length > 1 ? "(#{unread_messages.length} new messages)" : "" %></a></h6>
  <div class="container_12">
    <div class="header">
      <div class="grid_7">Message Title</div>
      <div class="grid_3">Sender</div>
      <div class="grid_2">Date</div>
      <div class="">&nbsp;</div>
    </div>
    <div class="body">

      <div class="row new">
        <div class="grid_7"><a href="appends/createMessages.html" class="new">New!</a> <a href="appends/createMessages.html" id="1" class="getMessage">Re: What other products do you carry?</a></div>
        <div class="grid_3"><a>Nike Malaysia</a></div>
        <div class="grid_2">30/10/2011</div>
        <div class=""><input type="checkbox" name="checkZig" value="1" /></div>
      </div>

      <div class="row new">
              <div class="grid_7" title="Re: This is a sample of long question when it exceeded the text field 
and the full text will only shown in the tool tips when mouse over."><a class="new">New!</a> <a href="appends/createMessages.html" id="2" class="getMessage">Re: This is a sample of long question when it exceeded...</a></div>
              <div class="grid_3"><a>ZigZeg Admin</a></div>
              <div class="grid_2">30/10/2011</div>
              <div class=""><input type="checkbox" name="checkZig" value="2" /></div>
          </div>
          <div class="row">
              <div class="grid_7"><a href="appends/createMessages.html" id="3" class="getMessage">Re: How to apply for business page</a></div>
              <div class="grid_3"><a>ABC Sdn Bhd</a></div>
              <div class="grid_2">30/10/2011</div>
              <div class=""><input type="checkbox" name="checkZig" value="3" /></div>
          </div>
          <div class="row">
              <div class="grid_7"><a href="appends/createMessages.html" id="4" class="getMessage">Re: What other products do you carry?</a></div>
              <div class="grid_3"><a>ZigZeg Admin</a></div>
              <div class="grid_2">30/10/2011</div>
              <div class=""><input type="checkbox" name="checkZig" value="4" /></div>
          </div>
          <div class="row">
              <div class="grid_7" title="Re: This is a sample of long question when it exceeded the text field 
and the full text will only shown in the tool tips when mouse over."><a href="appends/createMessages.html" id="5" class="getMessage">Re: This is a sample of long question when it exceeded...</a></div>
              <div class="grid_3"><a>Nike Malaysia</a></div>
              <div class="grid_2">30/10/2011</div>
              <div class=""><input type="checkbox" name="checkZig" value="5"/></div>
          </div>
           <div class="row">
              <div class="grid_7"><a href="appends/createMessages.html" id="6" class="getMessage">Re: What other products do you carry?</a></div>
              <div class="grid_3"><a>ZigZeg Admin</a></div>
              <div class="grid_2">30/10/2011</div>
              <div class=""><input type="checkbox" name="checkZig" value="4" /></div>
          </div>
           <div class="row">
              <div class="grid_7"><a href="appends/createMessages.html" id="7" class="getMessage">Re: What other products do you carry?</a></div>
              <div class="grid_3"><a>ZigZeg Admin</a></div>
              <div class="grid_2">30/10/2011</div>
              <div class=""><input type="checkbox" name="checkZig" value="4" /></div>
          </div>
           <div class="row">
              <div class="grid_7"><a href="appends/createMessages.html" id="8" class="getMessage">Re: What other products do you carry?</a></div>
              <div class="grid_3"><a>ZigZeg Admin</a></div>
              <div class="grid_2">30/10/2011</div>
              <div class=""><input type="checkbox" name="checkZig" value="4" /></div>
          </div>
          </div><!-- end body -->
          <div class="footer">
              <div class="grid_7"><span>Page</span>
              				<ul class="pagination"><li><a>1</a></li>
                      <li><a href=""  class="selected">2</a></li>
                      <li><a href="">3</a></li>
                      </ul></div>
              <div class="grid_4 align_right fright"><a class="checkButton cursor removeSelected">Removed the selected conversations</a></div>
          </div>
      </div>
</div>
