<!--start page post-->
<article class="clearfix">
  <%= render :partial => "/globals/header_photos", :locals => { :post => @post, :listing => nil} %>
  <div class="alpha relative leftContent marginSide">

  <!--blog header-->

    <div class="relative">
      <div class="imageLoader aboutLoader posRight dispNone"></div> 
      <h3 class="segoe">ABOUT THIS OFFER</h3>
      
    </div>
    <div class=" hr"></div>
    <!--page description-->
    <p id="aboutOffer" class="AboutP limit" align="justify"><%= @post.description %>&nbsp;</p>
    <div class="clearfix pad_top30"></div>
    <div class="relative">
      <div class="imageLoader aboutLoader posRight dispNone"></div> 
      <h3 class="segoe no_margin">HOW TO GET THIS OFFER</h3> 
	  </div>
    <div class=" hr"></div>
    <!--page description-->
    <p id="getOffer" class="AboutP limit" align="justify"><%= @post.extra_info %>&nbsp;</p>
    <div class="pad_top30">
      <div class="imageLoader aboutLoader posRight dispNone"></div> 
      <h3 class="segoe">OFFERED BY</h3>
    </div>
    <div class=" hr"></div>
    <div class="container_12 full no_margin pad_bot pad_top">
   	 <% unless @post.place.profile_image.nil?%>
    	<div class="img fleft">
        <img src="<%= @post.place.profile_image.image.url(:super_thumb) rescue get_missing_image(@post.place)%>" align="left"> 
    	</div>
    <% end %>
    <div class=" no_margin"><p class="AboutPd limitOff">
    <strong><a href="<%= form_url(@post.place) %>" class="black hoverBlue"><%= truncate((@post.place.name.titleize  rescue '') ,:length => 70, :omission => "..." )%></a></strong> <br />
    <%= truncate((@post.place.description rescue '') ,:length => 280, :omission => "..." )%></p></div>     
    </div>
    <p id="aboutAppend" class="AboutP no_margin" align="justify"></p>
    <%= render :partial =>  "/globals/tags", :locals => { :post => @post, :listing => nil } %>
  </div>
 
</article>
<!--end blog post 1-->
