<section id="content" class="grid_12">
  <input type="hidden" name="pageNumber" id="pageNumber" value="1"/>

  <div id="depSlideContainer">
    <div id="depWrapper">
      <div id="depSlide">
        <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" >
        <img src="images/buttonbar.png"</a>
      </div>

      <div>
        <ul>
          <li class="latest grid_3" id="liLatest"><span>Latest <div class="bubble latest">1</div></span></li>
          <li class="places grid_3" id="liPlaces"><span>Places<div class="bubble places">999</div></span></li>
          <li class="deals grid_3" id="liDeals"><span>Deals<div class="bubble deals">21</div></span></li>
          <li class="events grid_3" id="liEvents"><span>Events<div class="bubble events">3</div></span></li>   
        </ul>
      </div>

    </div>
  </div>
        
  <div align="right" class="pad_bot20 pad_top20 pad_right">
    <a class="switch_thumb">&nbsp;</a> 
  </div>

  <div>
    <div id="tabs" class="mainTabContainer">
      <ul id="tabHeader">
        <li><a href="#tabAll">all</a></li>
        <li><a href="places.html">places</a></li>
      	<li><a href="deals.html">deals</a></li>
        <li><a href="events.html">events</a></li>
        </ul>
      <div class="imageLoader dispNone"></div>

      <div id="tabAll">
        <div class="selecterContent">
	  <ul class="listview imglist" id="allView">
	    <%= render :partial => "listing", :collection => @listings %>
          </ul>
        </div>
      </div>    
    </div>     
  
  </section>
  <!--end content-->

  <div align="center"><h4><a id="showMore" class="cursor">show more</a></h4></div>
  <div class="imageLoader dispNone"></div>
