<!DOCTYPE HTML>
<html lang="en" >
<head>
<meta charset="utf-8" />
<title>Zigzeg</title>
<meta name="robots" content="index, follow">
<meta name="keywords" content="">
<meta name="description" content="">

<!-- favicon -->
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
<link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<link rel="stylesheet" href="js/themes/base/jquery.ui.tabs.css">
	<script src="js/jquery-1.6.2.js"></script>
	<script src="js/ui/jquery.ui.core.js"></script>
	<script src="js/ui/jquery.ui.widget.js"></script>
	<script src="js/ui/jquery.ui.tabs.js"></script>
	<script>
	$(function() {
		$( "#tabs11" ).tabs();
	});
	</script>
</head>

<body>
<div class=" cat-links" id="top"  style="">
<div class=" grid_1 align_left"><a href="" class="cat-links">Map View</a></div>
<div class=" grid_0 align_right pad_right"><a href="#signupList" id="signup-user">Signup</a>&nbsp;&nbsp;<a  href="#userLogin" id="user-login">User Login</a></div>
</div>
<div class="fcontainer_12 pad_top">
	<!--start header-->
    <header id="header" class="fgrid_12 clearfix">
        
    	<!--start logo-->
			<div id="logo" class="grid_3 alpha">
        	<a href="<%= root_url %>"><div>&nbsp;</div></a>      	
    	</div>
        <!--end logo-->
        
        <!--start navigation-->
        <div id="nav" class="grid_9 omega" style="width:100%; float:right" align="right">
        	<form>
          <input type="text" name="search" style="width:70%;" class="fancyinput"  id="search" placeholder="search"> 
          <input type="button" name="btnSearch" class="fancybutton simple small_shadow" value="Search">            </form>
        </div>
        <!--end navigation-->
    
    </header>
    <!--end header-->
</div>

<!--start page_wrap-->
<div id="page_wrap" class="container_12 clearfix top">
    
    <div class="clear"></div>
    
    <!--start intro text-->
    <section id="intro" class="grid_12">
    <div class="grid_8 alpha">
        	<div class="grid_3">
<%= image_tag "slider1.jpg", :alt => "slider", :title => "#htmlcaption", :height => "100" %>
          </div>
          <div class="grid_5 pad_left">
         		<h1> Starbucks Malaysia</h1>
          </div>
          
        </div>
       <div class="grid_4 omega">
        	<div class="depBox pad colorDeals">
          	10
            <br>DEALS
          </div>
          <div class="depBox pad colorEvents">
          		21
              <br>EVENTS
          </div>
          <div class="depBox pad colorBranches">
          		32
              <br>BRANCHES
          </div>
        </div>         
    </section>
    <!--end intro text-->
    
    <div class="clear"></div>
    
    
    <!--start content-->
    <section id="content" class="grid_12 clearfix">
    		<div id="main" class="grid_9 alpha">
        
        <!--start page post-->
        <article class="clearfix">
        	        
        	<div class="alpha gray_box">
             <!--blog header-->    
        		<h3><a href="/about">About Us</a></h3>  
            <hr>                            
                <!--page description-->
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.

Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.

Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.

Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.

                </p>
                
         		
        	</div>
          <hr><!--horizontal line-->
          <div id="tabs11" class="">
	<ul class="tabs">
		<li><a href="#tabs-1" class="">Product</a></li>
		<li><a href="#tabs-2">Services</a></li>
		<li><a href="#tabs-3">Brand</a></li>
	</ul>
  <div class="panes">
	<div id="tabs-1" class="pad">
		<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
	</div>
	<div id="tabs-2" class="pad">
		<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
	</div>
	<div id="tabs-3" class="pad">
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
		<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
	</div>
  </div>
</div>
					<hr><!--horizontal line-->
        	<div class=" alpha gray_box">
             <!--blog header-->    
        		<h3><a href="/">Other Branches</a></h3>  
            <hr>                            
                <!--page description-->
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
               </p>
                
         		
        	</div>
          <hr><!--horizontal line-->
          <div class=" alpha gray_box fleft full_width">
             <!--blog header-->    
        		<h3><a href="/">Tags</a></h3>  
            <hr>                            
            <!--start tags-footer-->
         		<footer class="entry-meta">       		
                    <span class="tag-links">
                    <span class="tag-links-title">Tags</span> <a href="#">zigZeg</a>, <a href="#">coffee</a>, <a href="#">tea</a>
                	</span>               
                </footer>
                <!--end blog footer-->
        	</div>
          
       	</article>
        <!--end blog post 1-->
        
                       
        </div>
        <!--end main-->
        
        <!--start sidebar-->
        <aside id="" class=" grid_3 omega clearfix">
        	
            <!--sidebar widget-->
            <div class="sidebar-widget gray_box">
        		<h5>Map</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        		</div>
            
            <hr><!--horizontal line-->
            
            <!--sidebar widget-->
            <div class="sidebar-widget gray_box">
        		<h5>Contact Us</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        		</div>
            <hr><!--horizontal line-->
            
            <!--sidebar widget-->
            <div class="sidebar-widget gray_box">
        		<h5>User Rating</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        		</div>
            
            <hr><!--horizontal line-->
            
            <!--sidebar widget-->
            <div class="sidebar-widget gray_box">
        		<h5>Sales & Promotion</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        		</div>
            
            <hr><!--horizontal line-->
             <!--sidebar widget-->
            <div class="sidebar-widget gray_box">
        		<h5>Announcements</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        		</div>
            
            <hr><!--horizontal line-->
             <!--sidebar widget-->
            <div class="sidebar-widget gray_box omega">
        		<h5>Share to friend</h5>
             <ul class="social">
            	<li style="opacity: 1;"><a href="#"><img width="24" height="24" alt="facebook" src="images/square_facebook_24.png"></a></li>
                <li style="opacity: 1;"><a href="#"><img width="24" height="24" alt="flickr" src="images/square_flickr_24.png"></a></li>
                <li style="opacity: 1;"><a href="#"><img width="24" height="24" alt="linkedin" src="images/square_linkedin_24.png"></a></li>
                <li><a href="#"><img width="24" height="24" alt="twitter" src="images/square_twitter_24.png"></a></li>
                <li><a href="#"><img width="24" height="24" alt="rss" src="images/square_rss_24.png"></a></li>
            </ul>
        		</div>
            
            <hr><!--horizontal line-->
            
        </aside>
        <!--end sidebar-->
        
  	</section>
    <!--end content-->
   
   <!--start footer-->
   <footer id="footer" class="grid_12">
   		
        <div class="grid_6 alpha">	
   			<p>&copy; Copyright <%= Time.now.year %> Zigzeg.com</p>
   		</div>
        
        <div class="grid_6 omega align_right">
        	<p><a href="#top">Back to Top</a></p>
        </div>
   </footer>
   <!--end footer-->
   
   <div class="clear"></div>
    
</div>
<!--end page_wrap-->

</body>
</html>
