<div id="main" class="width70 alpha pgGal pg<%= @listing.listing_type rescue '' %>">
<%= render :partial => "/globals/header_photos", :locals => { :listing => listing } %>
<% if listing.listable.shouts.length > 0%>
<div class="clearfix pdT16"></div>
<div class="container_12 fullS bgGray inlineB">
    	<div class="grid_12">        
        <div class="grid_12 pad_top18"><div class="grid_12"><h5 class="bld7 no_margin">SHOUT!</h5></div></div>
          <div class="grid_12">
            <div id="divShoutCon">
                  <ul id="shoutContent" class="contentList grid_12">
                    <!-- IF ONLY ONE LISTING ADD 'noBorder' class -->
                    <% listing.listable.shouts.order('created_at desc').take(3).each do |shout|%>
                    <%= render :partial => "/places/shout", :locals => { :shout => shout, :listing => listing }%>
                  <% end %>
                </ul>
            </div>
          </div>
			</div>     
</div>
<% end %> 
<% unless current_user.nil?%>
  <% if current_user.is_advertiser? && current_user.id == listing.listable.user_id && !listing.listable.expired? && !listing.listable.is_deleted?%>
    <% if listing.listable.shouts.length == 0%>
        <div class="clearfix pdT16"></div>
        <div class="container_12 fullS bgGray inlineB">
    <% else %>
     <div class="container_12 fullS bgGray inlineB pad_top5" style="margin-top:-6px;">
    <% end %>
        <div class="grid_12">
        <% if listing.listable.shouts.length == 0%>
            <div class="grid_12 pad_top18"><div class="grid_12"><h5 class="bld7 no_margin">POST SHOUT</h5></div></div>
        <% end %>
        <div class="grid_12">
                <script>$(document).ready(function(e) {$('#shoutFrm').validate({submitHandler: function(form) {form.submit();}});});</script>
                <div class="container_12 bgGray inlineB full radius5">
                  <%= form_tag "/listings/create_shout",  :id => "shoutFrm" do%>
                  <%= hidden_field_tag :ref_url, request.url%>
                  <%= hidden_field_tag :id, listing.id%>
                  <div class="grid_12"><textarea name="content" rows="2" id="shoutTxt" class="full_width fancyinput radius5 required"></textarea></div>
                     <div class="grid_11 full_width"><div id="shoutChar">remaining characters: <span id="countChar">250</span></div>
                      </div> 
                    <div class="grid_12 pad_top2">
                      <input type="submit" value="Post a shout" class="radius5 shout white bld7 hoverBlack cursor fleft width20" name="submit21">
                      <div class="grayLoader">Saving data</div>
                      <div class="grid_7 pad_top5">
                        <div class="grid_4 bld7 autowidth">Share on :</div>
                        <div class="grid_8 no_margin socShout">
                          <div class="grid_4 fb" title="Share on Facebook"><input type="checkbox" /></div>
                          <div class="grid_4 twit" title="Share on Twitter"><input type="checkbox" /></div>
                          <div class="grid_4 google" title="Share on Google+"><input type="checkbox" /></div>                 
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="clearfix"></div>
                <br/>
        </div>
        </div>
  </div>
  <% end %>
<% end %>

<div class="container_12 fullS inlineB">
      <h5 class="bld7 pdT14">This event is organized by</h5>      
      <div class="grid_12 pgList">
        <div class="grid_1 pgImg">
        <% unless listing.listable.place.profile_image.nil?%>
    	  <%= image_tag(listing.listable.place.profile_image.image.url(:profile), :class => "", :size => "64x64") rescue get_missing_image(listing.listable.place) %>
    		<% end %>
        </div>
        <div class="grid_9">
          <div class="grid_12 bld7 black pad_top5">
          <a href="<%= form_url(@place) %>" title="<%= @place.name.titleize rescue ''%>"><%= @place.name.titleize %></a></div>
          <div class="grid_12 lh13"><%= truncate(@place.description, :length => 115, :omission => "...") rescue '' %></div>
        </div>
      </div>
      <%= render :partial => "/globals/tags_place", :locals => { :listing => @listing } %>
      <% if @place.listing.related_listings.length > 0  %>
  <h5 class="bld7 pdT16 ">See also:</h5>
  <% end %>      
  <% @place.listing.related_listings.each do |l| %>
            	 <div class="grid_12 pgList <%= l.listing_type%>s">
                <div class="grid_1 pgImg"><a href="<%= form_url(l) %>" title="<%= l.name.titleize rescue ''%>"><%= image_tag(l.listable.pictures.first.image.url(:thumb), :class => "", :size => "64x64") rescue image_tag(get_missing_image_pg(l.listable.class.name,'t'), :class => "", :size => "64x64") %></a></div>
                <div class="grid_9">
                  <div class="grid_12 bld7 black pad_top5">
                    <a href="<%= form_url(l) %>" title="<%= l.name.titleize rescue ''%>">
                    <%= l.name.titleize %></a>
                  </div>
                  <div class="grid_12 lh13"> <%= truncate(l.description, :length => 115, :omission => "...") rescue '' %></div>
                </div>
              </div>                         
  <% end %>  
  </div>

</div><!-- pgGal -->