<% if listing.listable.user == current_user %>
<form>
  <input class="hover-star" type="radio" name="star" value="1" title="1 | Awful" disabled='disabled' <%= (listing.rating > 0) ? " checked='checked'":""  %>
  />
  <input class="hover-star" type="radio" name="star" value="2" title="2 | Really Really Bad" <%= (listing.rating == 2) ? "checked='checked'":""  %> disabled='disabled'/>
  <input class="hover-star" type="radio" name="star" value="3" title="3 | Pretty Bad" <%= (listing.rating == 3) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="4" title="4 | Not so good" <%= (listing.rating == 4) ? "checked='checked'":""  %> />
  <input class="hover-star" type="radio" name="star" value="5" title="5 | Average" <%= (listing.rating == 5) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="6" title="6 | Better than average" <%= (listing.rating == 6) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="7" title="7 | Good" <%= (listing.rating == 7) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="8" title="8 | Pretty Good" <%= (listing.rating == 8) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="9" title="9 | Really Really Good" <%= (listing.rating == 9) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="10" title="10 | Heavenly" <%= (listing.rating == 10) ? "checked='checked'":""  %>/>
</form>

<% else %>
<form>
  <input class="hover-star" type="radio" name="star" value="1" title="1 | Awful" 
  <%= (cookies["#{(current_user.id rescue '')}_rated_listing_#{listing.id}"].blank? || current_user.nil? ) ? "" : "disabled='disabled'" %>
  <%= (listing.rating > 0) ? " checked='checked'":""  %>
  />
  <input class="hover-star" type="radio" name="star" value="2" title="2 | Really Really Bad" <%= (listing.rating == 2) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="3" title="3 | Pretty Bad" <%= (listing.rating == 3) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="4" title="4 | Not so good" <%= (listing.rating == 4) ? "checked='checked'":""  %> />
  <input class="hover-star" type="radio" name="star" value="5" title="5 | Average" <%= (listing.rating == 5) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="6" title="6 | Better than average" <%= (listing.rating == 6) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="7" title="7 | Good" <%= (listing.rating == 7) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="8" title="8 | Pretty Good" <%= (listing.rating == 8) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="9" title="9 | Really Really Good" <%= (listing.rating == 9) ? "checked='checked'":""  %>/>
  <input class="hover-star" type="radio" name="star" value="10" title="10 | Heavenly" <%= (listing.rating == 10) ? "checked='checked'":""  %>/>
</form>
<% end %>

<p id="star_value"><%= listing.rating %>/10</p>
