<ul style="float: left">
  <li><%= link_to "General Information", general_dashboards_path %></li>
  <li><%= link_to "Personal Information", personal_dashboards_path %></li>
  <li><%= link_to "Profile Picture", picture_dashboards_path %></li>
  <li><%= link_to "Education and Work", education_dashboards_path %></li>
  <li><%= link_to "Contact Information", contact_dashboards_path %></li>
</ul>
