<h3>Edit post</h3>

<%= form_for(@blog, :url => admins_blog_path(@blog), :html => {:class => "well", :multipart => true}) do |f|%>
  <%= render "common/error_messages", :target => @blog unless @blog.nil? %>

  <label> Title </label>
  <%= f.text_field :title, :class => "input-xxlarge"%>
  <label> Contents </label>
  <%= f.text_area :contents, :class => "input-xxlarge" %>
  <p>&nbsp;</p>
  <label class="radio">
    <%= f.radio_button :status, 'publish', :checked => "checked" %> Publish
  </label>
  
  <label class="radio">
    <%= f.radio_button :status, 'draft'%> Draft
  </label>

  <label> Upload more images </label>
  <%= file_field_tag "images[]"%><br/>
  <%= file_field_tag "images[]"%><br/>
  <%= file_field_tag "images[]"%><br/>
  
  <label> Images </label>

  <ul class="thumbnails">
    <% @blog.assets.each do |img| %>
    <li class="span3">
      <div class="thumbnail">
        <img src="<%= img.file.url(:medium) %>" alt="">
        <p><%= link_to "Delete", "#" %></p>
      </div>
    </li>
    <% end %>

  </ul>
    
  <br/>
  <%= submit_tag "Publish", :class => "btn"%>
<% end%>