<ul style="float: left; list-style-type: none">
  <li><%= link_to "Recent", histories_path %></li>
  <li><%= link_to "Two weeks ago", histories_path(:f => "weeks_ago") %></li>
  <li><%= link_to "Month ago", histories_path(:f => "month_ago") %></li>
</ul>
