<div style="height:100px">
  <div style="background-color: #ccc">
    <h3>Our Recommendation</h3>
  </div>
  <div class='clear'></div>

  <div>
    <ul>
      <% @recommendations.each do |r| %>
        <li> <%= r.name.titleize %> </li>
      <% end %>
    </ul>
  </div>

</div>
<div style='clear:both'></div>
