<% unless @newpost.nil? %>
<div style="height:100px">
  <div style="background-color: #ccc">
    <h3>What's new</h3>
  </div>
  <div>
    <span> <%= @newpost.name.titleize %> </title>
    <br/>
    <span> <%= @newpost.short_description %></span>
  </div>
</div>
<% end %>
