<h2> Compost Message </h2> 

<%= form_for :message, :url => cms_communications_path, :html => { :id => "message-form"} do |f| %>
      <%= hidden_field_tag "msgtype", "inbox" %>
      <div id="text"> </div>
      <div><select name="receiver" id="receiver" style="display: none">
            </select>
      </div>
      <div> <%= text_field_tag :subject, nil, :placeholder => "Subject", :style => "width: 500px" %></div>
      <%= text_area_tag :contents, nil, :cols => 70, :rows => 15, :class => "message_contents", :placeholder => "Type your message here" %>
      <br/>
      <%= submit_tag "Send" %> or <%= link_to "<< Back", cms_communications_path %>
      <%= show_loader("message") %>
    <% end %>

<script>
  $(document).ready(function(){   
    $("#receiver").fcbkcomplete({
      json_url: "/cms/communications/ajax_fetch_user.json?type=<%= params[:tab] %>",
      cache: true,
      addontab: true,
      maxitems: 10,
      height: 10
    });
  });
</script>
