<h2> Compose new announcement </h2>
<%= form_for :message, :url => create_announcement_cms_communications_path, :html => { :id => "message-form", :multipart => true} do |f| %>
  <%= hidden_field_tag "msgtype", "inbox" %>
  <table>
    <tr>
      <td width="150"> Upload the banner:  </td>
      <td> 
         <%= file_field "banner", nil %>
      </td>
    </tr>
    <tr>
      <td> Landing page/url:  </td>
      <td> 
        <%= text_field_tag "ad[landing_url]", nil, :style => "width:400px" %>
      </td>
    </tr>
    <tr>
      <td> Advertiser/Business name:  </td>
      <td> 
        <%= select_tag "ad[advertiser_id]", options_for_select(User.get_users('advertiser', {:activated => true}).collect{|u| [u.advert_company_name, u.id]} ) , :include_blank => true %>
      </td>
    </tr>
    
    <tr>
      <td colspan="2" height="10"> </td>
    </tr>
    <tr>
      <td>People to notify:  </td>
      <td>
        <%= radio_button_tag "receiver", "advertiser", :style => "width:10px" %> All advertisers 
        <%= radio_button_tag "receiver", "regular" %> All regular users
        <%= radio_button_tag "receiver", "*" %> Both 
      </td>
    </tr>
    <tr>
      <td> Subject:  </td>
      <td> 
         <%= text_field_tag :subject, nil, :placeholder => "Subject" %>
      </td>
    </tr>
    <tr>
      <td> Select email template:  </td>
      <td> 
        <div> 
          <%= select_tag :email_templates, options_for_select(EmailTemplate.all.collect{|et| [et.name, et.id] }), :include_blank => true %>
          [ <%= link_to "View template", "#", :onclick => "view_template();" %> |
          <%= link_to "Add", "/templates/new" %> ]
        </div>
      </td>
    </tr>
    <tr>
      <td> Enter message:  </td>
      <td> 
        <%= text_area_tag "msg_contents", nil, :cols => 70, :rows => 15, :class => "message_contents", :placeholder => "Type your message here" %>
      </td>
    </tr>
    <tr>
      <td>  </td>
      <td> 
        <%= submit_tag "Send" %> or <%= link_to "<< Back", cms_communications_path %>
        <%= show_loader("message") %>
      </td>
    </tr>
  </table>

<% end %>

<script>

  function view_template() {
    var et = $("#email_templates").val();
    if (et != "") {
      window.open("/template_viewer?id=" + et);
    }else{
      alert("Please select a template");
    }
  }

  $("#email_templates").change(function() {
    var et = $("#email_templates").val();

    if (et == ""){
      $("#msg_contents").show();
    }else{
      $("#msg_contents").hide();
    }
  });

</script>
